<div class="table-responsive">
  <table *ngIf="requis.length > 0 else NotRequis" class="table table-hover table-striped">
    <thead>
      <tr>
        
        <th class="text-center text-info">FOLIO</th>
        <th class="text-center text-info">VACANTE</th>
        <th class="text-center text-info">RECLUTADOR</th>
        <th class="text-center text-info">MOTIVO</th>
        <th class="text-center text-info">FECHA REPORTE</th>
        <th class="text-center text-info">ESTATUS</th>
        <th class="text-center text-info">DESCRIPCI&Oacute;N REPORTE</th>
        <th class="text-center text-info">RESULTADO REPORTE</th>
        <th class="text-center text-info"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of requis; let rowIndex = index" [class.selected]="row.selected">
        <td class="text-center"> {{row.folio}}</td>
        <td class="text-center"> {{row.vBtra}}</td>
        <td class="text-center"> {{row.reclutador}}</td>
        <td class="text-center">{{row.comentarioReclutador.motivo}}</td>
        <td class="text-center"> {{row.comentarioReclutador.fecha | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{row.estatus}}</td>
        <td class="text-center"> {{row.comentarioReclutador.comentario}}</td>
<td class="text-center">

  <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-respuesta'] = true;" *ngIf="!editing[rowIndex + '-respuesta']" >
      {{row.comentarioReclutador.respuesta}}
    </span>
    <input [(ngModel)]="comentario" class="form-control-sm" autofocus (blur)="updateValue($event, 'respuesta', rowIndex);" *ngIf="editing[rowIndex + '-respuesta']" type="text" [value]="row.comentarioReclutador.respuesta"
    />
    
        </td>
        <td class="text-center">
            <button [disabled]="!row.activar && !loading" [ngClass]="!row.activar && loading ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-success'"  type="button" (click)="AddComentario(row, rowIndex)"  container="body" placement="bottom" tooltip="Cambiar Estatus">
                <em class="fa fa-check"></em>
            </button>
        </td>
        
      </tr>
    </tbody>
  </table>

  <div *ngIf="loading" >
      <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
  </div>
</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotRequis>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con requisiciones en pausa.
          </alert>
    </div>
  </div>
</ng-template>

<!-- <toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container> -->