<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <em class="fa fa-legal"></em>
      </mat-panel-title>
      <mat-panel-description>
        Prestaciones de Ley
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row"><!--Agregar la información que ira en el panel-->
      <ol>
        <li *ngFor="let x of prestacionesLey"><small>{{x.prestacionLey}}</small></li>
      </ol>
    </div>
  </mat-expansion-panel>
</mat-accordion>
