<form [formGroup]="ObservacionesArray">
  <section class="d-flex justify-content-between">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong class="text-warning">Observaciones de tipo confidencial, requisitos de cliente no publicables: (<small>Para consulta exclusiva del reclutador</small>)
      <i *ngIf="ObservacionesNew.length == 0" class="text-danger fa fa-exclamation-circle ml-3" 
      container="body" placement="right" tooltip="Campo requerido"></i>
    </strong>
    <button class="btn btn-xs btn-primary mr-1 mb-1 mat-elevation-z8"
    (click)="AddObservacion()" container="body" placement="top" tooltip="Agregar observaciones"><i class="fa fa-plus"></i></button>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div *ngIf="ObservacionesArray['controls'].observacion['controls'].length > 0" class="card card-body mt-1">
    <div *ngFor="let observacion of ObservacionesArray['controls'].observacion['controls']; let i=index">
      <div formArrayName="observacion">
        <form [formGroupName]="i">
          <app-observaciones-p [IdFormato]="IdFormato" [observacion]="ObservacionesArray.controls.observacion.controls[i]" [index]="i"
            (Add)="Agregar($event)" (remove)="removeObservacion($event)" (Registros)="getRegistros($event)">
          </app-observaciones-p>
        </form>
      </div>
    </div>
  </div>
  </section>
</form>

