<div class="container-fluid d-flex justify-content-around">
<div class="card">
  <div class="card-body mat-elevation-z8">

          <h5 class="text-info float-left">FOLIOS ACTIVOS</h5> 
<hr>
      <div>
      <canvas  id="canvas" ></canvas>
      </div>
      <hr>
      <div class="text-muted float-right">
          TOTAL DE FOLIOS ACTIVOS {{totalActivos}}
      </div>
  </div>

</div>
<div class="card">
    <div class="card-body mat-elevation-z8">
  
            <h5 class="text-info float-left">POSICIONES</h5> 
  <hr>
        <div>
        <canvas  id="canvas2" ></canvas>
        </div>
        <hr>
        <div class="text-muted float-right">
            TOTAL DE POSICIONES {{totalPos}}
        </div>
    </div>
  
  </div>
<div class="card">
    <div class="card-body mat-elevation-z8">
  
            <h5 class="text-info float-left">FOLIOS CUBIERTOS</h5> 
  <hr>
        <div>
        <canvas  id="canvas3" ></canvas>
        </div>
        <hr>
        <div class="text-muted float-right">
            TOTAL DE FOLIOS CUBIERTOS {{total}}
        </div>
    </div>
  
  </div>
</div>
