<div class="d-flex justify-content-around">
<div class="card bg-warning-dark text-white">
  <div class="card-header">FOLIOS ACTIVOS</div>
  <div class="card-wrapper">
  <div class="card-body bg-warning">
      <div class="text-white">
      <canvas  id="canvas" ></canvas>
      </div>     
  </div>
</div>
<div class="card-footer text-right">
    TOTAL DE FOLIOS ACTIVOS <small class="badge badge-pill badge-info">{{totalActivos}}</small>
</div>

</div>
<div class="card bg-primary-dark">
  <div class="card-header">POSICIONES</div>
    <div class="card-wrapper">
      <div class="card-body bg-primary">
        <div>
        <canvas  id="canvas2" ></canvas>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
        TOTAL DE POSICIONES <small class="badge badge-pill badge-info">{{totalPos}}</small>
    </div>
  </div>
<div class="card bg-success-dark">
    <div class="card-header">FOLIOS CUBIERTOS</div> 
    <div class="card-wrapper">
    <div class="card-body bg-success">
        <div>
        <canvas  id="canvas3" ></canvas>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
        TOTAL DE FOLIOS CUBIERTOS <small class="badge badge-pill badge-info">{{total}}</small>
    </div>
  </div>
</div>
