ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }

  .long
  {
      height: 300px;
  }

  .ilong
  {
      width: 350px;
  }