<h3 class="text-danger text-center" mat-dialog-title> Eliminar Requisici&oacute;n {{folio}}</h3>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">
      <strong class="text-primary">Cliente: </strong>
      <p>{{data.cliente}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">

      <strong class="text-primary">Puesto: </strong>
      <p>{{data.vBtra}}</p>
    </div>
    <div class="col-md-4 col-sm-4">

      <strong class="text-primary">Sueldo M&iacute;nimo: </strong>
      <p>{{data.sueldoMinimo | moneda: '$'}}</p>
    </div>
    <div class="col-md-4 col-sm-4">

      <strong class="text-primary">Tipo Reclutamiento: </strong>
      <p>{{data.tipoReclutamiento}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <strong class="text-primary">Fecha Creacion: </strong>
      <p>{{data.fch_Creacion | date:'dd/MM/yyyy HH:mm'}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions>
  <form>
    <button type="button" class="btn btn-xs btn-sm btn-labeled btn-danger mb-1 margen mat-elevation-z8" (click)="onCloseDialog()">
      <span class="btn-label">
        <i class="fa fa-times"></i>
      </span> Cancelar
    </button>
    <button type="button" class="btn btn-xs btn-labeled btn-success mb-1 margen mat-elevation-z8" (click)="deleteRequisicion()">
      <span class="btn-label">
        <i class="fa fa-check"></i>
      </span> Aceptar
    </button>
    <img *ngIf="loading" class="loading-position" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </form>
</mat-dialog-actions>
