<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<div class="content-heading">
  <div>
    Requisiciones
    <span class="text-sm d-none d-sm-block">Visualizaci&oacute;n de Requisici&oacute;n.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/requisicion']">Requisici&oacute;n</a>
    </li>
    <li class="breadcrumb-item active">Vista requisici&oacute;n</li>
  </ol>
</div>
<!-- Botones superiores Izquierdos -->
<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <button id="update" chkPrivilegiosButtons class="mr-1 btn btn-xs btn-acciones mat-elevation-z8" [disabled]="estatusId != 4"
        [ngClass]="(estatusId != 4) ? 'disabled' : 'btn-primary'" container="body" placement="bottom" tooltip="Editar"
        (click)="editRequi()">
        <em class="icon-pencil"></em></button>
      <!-- <button id="view" chkPrivilegiosButtons (click)="lgModal.show()" class="mb-1 btn btn-acciones btn-dark"
        container="body" placement="bottom" tooltip="Comentarios"><em class="fa fa-comments-o"></em></button> -->
      <button container="body" placement="bottom" tooltip="Regresar" class="mr-1 btn btn-xs btn-warning mat-elevation-z8" type="button" [routerLink]="['/ventas/requisicion']">
        <em class="icon-action-undo"></em>
      </button>
    </div>
  </div>
</div>
<br />
<app-view-info-requi [Folios]="Folio" (EstatusId)="getEstatusRequi($event)"></app-view-info-requi>
<app-view-cuerpo-requi [Requisicion]="RequisicionId" [ShowRequi]="true"></app-view-cuerpo-requi>
<!-- Modal para comentarios de la requisicion -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Vacante: {{Vacante}} {{Folio}}</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <comentario-vacante [RequisicionId]="RequisicionId"></comentario-vacante>
      </div>
      <div class="modal-footer">
        <button type="button" class="md-1 btn btn-success mat-elevation-z8" (click)="lgModal.hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
