.margen
{
    margin-left: 10px;
}

.modal-lg
{
    max-width: 60% !important;
}

.card .card-body
{
    max-height: 500px !important;
    overflow: auto;
}

.mat-input-element:disabled{
  color: orangered !important;
  font-size: initial !important;
}
.mat-input-element{
  font-size: initial !important;
  color: orangered !important;
}

.important-element.mat-selected {
  color: orangered !important;
}

:host /deep/ .mat-select-value-text {
  color: orangered !important;
}

.ng-star-inserted {
  font-size: initial !important;
}


