<div class="card card-body">
    <div *ngIf="loading" class="d-flex align-items-center justify-content-center">
        <div class="ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
      </div>
<div class="d-flex justify-content-between align-items-center p-1 bg-info-light">
  <span>EDITAR INFORMACI&Oacute;N PRINCIPAL</span>
</div>
<form [formGroup]="formRequi">
  <!-- <mat-card> -->
    <div class="d-flex justify-content-between align-items-center p-1 mt-3">
        <mat-form-field>
          <input matInput formControlName="folio" placeholder="No. FOLIO: " class="color: orange;" required>
        </mat-form-field>
        <mat-slide-toggle class="text-warning" [color]="warn" formControlName="confidencial">
          Vacante Confidencial
        </mat-slide-toggle>
    </div>
    <div class="d-flex justify-content-between align-items-center p-1 mt-3">
        <mat-form-field>
          <input matInput [matDatepicker]="solicitud" placeholder="Fecha Solicitud" formControlName="fch_Solicitud">
          <mat-datepicker-toggle matSuffix [for]="solicitud"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #solicitud></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="limite" placeholder="Fecha Limite" formControlName="fch_Limite">
          <mat-datepicker-toggle matSuffix [for]="limite"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #limite></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Prioridad" formControlName="prioridad" required>
            <mat-option *ngFor="let x of Prioridades" [value]="x.id">
              {{x.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="cumplimiento" placeholder="Fecha Cumplimiento"
            formControlName="fch_Cumplimiento" required>
          <mat-datepicker-toggle matSuffix [for]="cumplimiento"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #cumplimiento></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Estatus" formControlName="estatus" required>
            <mat-option class="important-element" *ngFor="let x of Estatus" [value]="x.id">
              {{x.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <br>
    <!-- *ngIf="estatusId != 43" -->
    <div class="row p-1 mt-2">
      <div class="col-lg-12">
      <app-asignar-requisicion #asginaciones [placeHolder]='placeHolderSelect' (Asignacion)='getAsignacion($event)'>
      </app-asignar-requisicion>
    </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <small class="text-warning"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Debe agregar n&uacute;mero de vacantes y asignar coordinador
        </small>
  
        <button *ngIf="formRequi.valid" [disabled]="NumeroVacantes == 0 || asignadosRequi.length == 0"
          class="btn btn-success btn-labeled float-right mat-elevation-z8" container="body" placement="bottom"
          tooltip="Actualizar" (click)="Save()">
          <span class="btn-label"><i class="fa fa-save"></i></span>GUARDAR
        </button>
      </div>
    </div>
    <br>
  <!-- </mat-card> -->
</form>
</div>
<!--modal asignar examen-->
<div *ngIf="verExamen" [config]="{ show: true, ignoreBackdropClick: true }" bsModal #lgModal3="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title text-info"><em class="fa fa-pencil"></em> ASIGNAR EX&Aacute;MEN</h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right"
          (click)="lgModal3.hide();CloseModal()"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <div *ngIf="examenRequi.length == 0 else NotRequi">
          <div class="form-group">
            <label class="text-primary">TIPO DE EX&Aacute;MEN</label>
            <div class="input-group">
              <select class="form-control form-control-sm" [(ngModel)]="tipoId" (ngModelChange)="GetExamenes();">
                <option value="0">SELECCIONAR TIPO DE EX&Aacute;MEN</option>
                <option *ngFor="let c of catalogo" value="{{c.id}}">{{c.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="text-primary">EX&Aacute;MEN</label>
            <div class="input-group">
              <select [(ngModel)]="examenId" class="form-control form-control-sm"
                (ngModelChange)="GetExamen(examenId);">
                <option value="0">SELECCIONAR EX&Aacute;MEN</option>
                <option *ngFor="let e of examenes" value="{{e.id}}">{{e.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="examenId == 0" type="button" (click)="AgregarExamen()" class="mat-elevation-z8"
              [ngClass]="examenId == 0 ? 'btn enabled float-right' : 'btn btn-success float-right'">
              <em class="fa fa-check"></em>
            </button>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div *ngIf="examen.length > 0" class="card">
          <div class="card-body mat-elevation-z8">
            <h5 class="card-title text-muted">VISUALIZAR EX&Aacute;MEN {{examen[0].nombre | uppercase}}</h5>
            <hr>
            <ng-container *ngFor="let p of examen; let ind = index">
              <em class="list-group">{{( ind + 1) + '.- ' + p.pregunta}}</em>
              <ul class="respStyle">
                <li [ngClass]="r.value == 1 ? 'text-success' : 'text-warning'" *ngFor="let r of p.respuestas">{{r.resp}}
                </li>
              </ul>
            </ng-container>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotRequi>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <alert type="info">
        <strong>Oops!</strong> La requisición ya cuenta con un examen asignado.
      </alert>
    </div>
  </div>
</ng-template>
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>