<mat-form-field class="fieldautocomplete-full-width">
  <input  matInput placeholder="Municipio" aria-label="Municipio" [matAutocomplete]="auto" [formControl]="MunicipioCtrl" (blur)="SendIdMunicipio()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let municipio of filteredMunicipio | async" [value]="municipio.municipio">
        <div class="row">
          <div class="col-md-4">
            <small>{{ municipio.municipio }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
