<section #HorariosSt class="row">
  <div class="col-12">
    <app-perfil-horarios [IdFormato]="IdFormato" [Horarios]="Horarios" (HorariosEmt)="getHorarios($event)">
    </app-perfil-horarios>
  </div>
</section>
<br>
<section #ActividadesSt class="row">
  <div class="col-6">
    <app-perfil-actividades [IdFormato]="IdFormato" [Actividades]="Actividades"
      (ActividadesEmt)="getActividades($event)">
    </app-perfil-actividades>
  </div>
  <div class="col-6">
    <app-perfil-observaciones [IdFormato]="IdFormato" [Observaciones]="Observaciones"
      (ObservacionesEmt)="getObservaciones($event)">
    </app-perfil-observaciones>
  </div>
</section>
<br>
<section #PsicometriasDamsa class="row">
  <div class="col-6">
    <app-perfil-pst-damsa [IdFormato]="IdFormato" [Psicometrias]="PsicometriasD"
      (PsicometriasEmt)="getPstDamsa($event)">
    </app-perfil-pst-damsa>
  </div>
  <div class="col-6">
    <app-perfil-pst-cliente [IdFormato]="IdFormato" [Psicometrias]="PsicometriasC"
      (PsicometriasEmt)="getPstCliente($event)">
    </app-perfil-pst-cliente>
  </div>
</section>
<br>
<section #BeneficiosSt class="row">
  <div class="col-6">
    <app-perfil-beneficios [IdFormato]="IdFormato" [Beneficios]="Beneficios" (BeneficiosEmt)="getBeneficios($event)">
    </app-perfil-beneficios>
  </div>
  <div class="col-6">
    <app-perfil-doc-cliente [IdFormato]="IdFormato" [Documentos]="Documentos" (DocumentosEmt)="getDocumento($event)">
    </app-perfil-doc-cliente>
  </div>
</section>
<br>
<section #ProcesosSt class="row">
  <div class="col-6">
    <app-perfil-procesos [IdFormato]="IdFormato" [Procesos]="Procesos" (ProcesosEmt)="getProceso($event)">
    </app-perfil-procesos>
  </div>
  <div class="col-6">
    <app-perfil-prestaciones [IdFormato]="IdFormato" [Prestaciones]="Prestaciones"
      (PrestacionesEmt)="getPrestacion($event)">
    </app-perfil-prestaciones>
  </div>
</section>
<br>
<section #CompetenciasSt class="row">
  <div class="col-4">
    <app-perfil-cardinales [IdFormato]="IdFormato" [Competencias]="Cardinales" (CompetenciaEmt)="getCardinales($event)">
    </app-perfil-cardinales>
  </div>
  <div class="col-4">
    <app-perfil-areas [IdFormato]="IdFormato" [Competencias]="Areas" (CompetenciaEmt)="getAreas($event)">
    </app-perfil-areas>
  </div>
  <div class="col-4">
    <app-perfil-gerenciales [IdFormato]="IdFormato" [Competencias]="Gerenciales"
      (CompetenciaEmt)="getGerenciales($event)">
    </app-perfil-gerenciales>
  </div>
</section>
<br>
<section #ArteFormatoSt>
  <div class="row">
    <div class="col-12">
      <strong class="text-warning">Arte Recomendada.</strong>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-labeled btn-info mt-3" (click)="openDialogBG()">
            <span class="btn-label"><i class="fa fa-picture-o" aria-hidden="true"></i></span>SELECCIONAR ARTE</button>
      <!-- <mat-form-field>
        <mat-select placeholder="Selecciona un Arte" [(ngModel)]="Arte" required>
          <mat-option *ngFor="let x of Artes" [value]="x.value">
            {{x.value | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="col-8 d-flex justify-content-left">
      <div class="card box">
        <div class="card-body">
          <img [src]="bg" alt="Random slide" style="width: 450px; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</section>
