.longSelect
{
    width: 400px !important;
}

.list-group
{
    width: 80%;
}

ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }