<div class="row">
    <div class="col clearfix">
      <h4 class="text-primary float-left"> <em class="fa fa-file-text-o mr-1"></em>INFORME FACTURA</h4>
      <button type="button" class="btn btn-xs btn-danger btn-circle float-right mb-2" mat-dialog-close>
        <i class="fa fa-times"></i>
      </button>

    </div>
  </div>
  <mat-divider></mat-divider>
<br/>

<div class="card text-center">
  <div class="card-header text-warning">
        {{data.cliente | uppercase}}
  </div>
  <div class= "card-body">
    <ul class="list-group mx-auto" *ngFor="let r of data.examenes[0]">
        <li class="list-group-item d-flex justify-content-between align-items-center text-muted">
          <span>{{r.examen | uppercase}}</span><span>$ {{r.costo}}</span>
        </li>
    </ul>
    <br/>
    <mat-divider></mat-divider>
  <div class="card-footer text-info d-flex justify-content-between align-items-center">
    <span>TOTAL CANDIDATOS: {{data.candidatos}}</span><span>TOTAL FACTURAR: $ {{total}}</span>
  </div>
</div>