<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="infoCnd === 0" (opened)="setInfoCnd(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="text-primary">supervisor_account</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        <label class="text-primary">Resultado de Candidatos</label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Tabal con los resultados de candidatos -->
    <tabset [justified]="true">
      <tab heading="Resultados de Busqueda" id="resultBusqueda">
        <div *ngIf="candidatos else NotResult">
          <app-dt-busqueda-candidatos [Candidatos]="candidatos" (CandidatoId)="vercandidato($event)" *ngIf="candidatos">
          </app-dt-busqueda-candidatos>
        </div>
        <ng-template #NotResult>
          <alert type="info">
            <strong>Oops!</strong> Realice una busqueda para mostrar candidatos...
          </alert>
        </ng-template>
      </tab>
      <tab heading="Mis Candidatos" id="misCandidatos">
          <app-dt-mis-candidatos (CandidatoId)="vercandidato($event)"></app-dt-mis-candidatos>
      </tab>
    </tabset>
    <!-- Tabla con los resultados de los candidatos apartas -->
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="showCandidato" class="example-headers-align">
  <mat-expansion-panel [expanded]="infoCnd === 1" (opened)="setInfoCnd(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="text-primary">account_circle</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        <label class="text-primary">Detalle de candidato.</label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Empieza el detalle del candidato.-->
    <app-info-candidato [IdCandidato]="idCandidato"></app-info-candidato>
  </mat-expansion-panel>
</mat-accordion>

<!-- <div class="panel-body">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div> -->
