<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="infoCnd === 0" (opened)="setInfoCnd(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="text-primary">supervisor_account</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        <label class="text-primary">Resultado de Candidatos</label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <div class="example-container mat-elevation-z8"> -->
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrado">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Candidato Column -->
      <ng-container matColumnDef="Candidato">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let candidatos"> {{candidatos.nombre}} {{candidatos.apellidoPaterno}} {{candidatos.apellidoMaterno}} </mat-cell>
      </ng-container>

      <!-- Codigo Postal Column -->
      <ng-container matColumnDef="Experiencias">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Area experiencia </mat-header-cell>
        <mat-cell *matCellDef="let candidatos"> {{candidatos?.acercademi[0]?.areaExperiencia?.areaExperiencia}} </mat-cell>
      </ng-container>

      <!-- Curp Column -->
      <ng-container matColumnDef="Curp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Curp </mat-header-cell>
        <mat-cell *matCellDef="let candidatos"> {{candidatos.curp}} </mat-cell>
      </ng-container>

      <!-- Rfc Column -->
      <ng-container matColumnDef="Rfc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rfc </mat-header-cell>
        <mat-cell *matCellDef="let candidatos"> {{candidatos.rfc}} </mat-cell>
      </ng-container>

      <!-- Nss Column -->
      <ng-container matColumnDef="AreaInteres">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Area de interes </mat-header-cell>
        <mat-cell *matCellDef="let candidatos"> {{candidatos?.acercademi[0]?.areaInteres?.areaInteres}} </mat-cell>
      </ng-container>

      <!-- Accion -->
      <ng-container matColumnDef="accion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </mat-header-cell>
        <mat-cell *matCellDef="let candidatos">
          <btn-view (click)="vercandidato(candidatos.idCandidato)" matTooltip="Ver detalles">
          </btn-view>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [showFirstLastButtons]="true" [length]="TotalRecords" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = paginate($event)">
    </mat-paginator>
    <!-- </div> -->
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion *ngIf="candidatodtl" class="example-headers-align">
  <mat-expansion-panel [expanded]="infoCnd === 1" (opened)="setInfoCnd(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="text-primary">account_circle</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        <label class="text-primary">Detalle de candidato.</label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- Empieza el detalle del candidato.-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-default">
          <div class="card-header">
          </div>
          <div class="card-body text-center">
            <div class="py-4">
              <img class="img-fluid rounded-circle img-thumbnail thumb96" src="{{fotoCandidato}}" alt="Contact" />
            </div>
            <h4 class="m-0 text-bold">{{candidatodtl[0]?.candidato?.nombre}} {{candidatodtl[0]?.candidato?.apellidoPaterno}} {{candidatodtl[0]?.candidato?.apellidoMaterno}}</h4>
            <div class="my-3 text-left">
              <p>{{candidatodtl[0]?.aboutMe[0]?.acercaDeMi}}</p>
            </div>
            <div class="col-md-12">
              <strong>G&eacute;nero: </strong> {{candidatodtl[0]?.candidato?.genero?.genero}}
            </div>
            <div *ngIf="Status == 0 || Usuario == Reclutador">
              <div class="my-3" *ngFor="let correo of candidatodtl[0].candidato.emails">
                <strong>Correos:</strong>
                <strong class="text-success">{{correo?.email}}</strong>
              </div>
              <div class="my-3" *ngFor="let tel of candidatodtl[0].candidato.telefonos">
                <strong>Telefonos:</strong>
                <strong class="text-success">{{tel?.telefono}}</strong>
              </div>
            </div>
          </div>
          <div class="card-footer bg-gray-dark">
            <div class="row">
              <div class="col-md-2 text-center">
                <em *ngIf="Status == 0" class="fa fa-unlock m-0 " style="color: white;"></em>
                <em *ngIf="!Status == 0" class="fa fa-lock m-0" style="color: white;"></em>
              </div>
              <div class="col-md-10">
                <h5 *ngIf="!Status == 0" class="m-0">Apartado por: {{Reclutador}}</h5>
                <h5 *ngIf="Status == 0">{{Reclutador}}</h5>
                <p *ngIf="!Status == 0"></p>
                <!-- <p *ngIf="!Status == 0" >Te restan {{timerest}} hrs.</p> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Seccion de comentarios -->
        <br>
        <div class="col-xl-12">

        </div>
        <br>
        <!-- Seccion Postulaciones -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="text-primary">assignment_turned_in</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <label class="text-primary">Postulaciones ({{NumPostulaciones}})</label>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-table #table [dataSource]="dataSourcep">

              <!-- Vacante Column -->
              <ng-container matColumnDef="Vacante">
                <mat-header-cell *matHeaderCellDef> Vacante </mat-header-cell>
                <mat-cell *matCellDef="let postulaciones"> {{postulaciones.vBtra}} </mat-cell>
              </ng-container>

              <!-- Estatus Column -->
              <ng-container matColumnDef="Estatus">
                <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
                <mat-cell *matCellDef="let postulaciones"> {{postulaciones.status}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsp"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsp;"></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </div>
      <div class="col-lg-8">
        <!-- Comienza tabla de vacantes. -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="text-primary">assignment</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <label class="text-primary">Mis vacantes ({{NumVacantes}})</label>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilterv($event.target.value)" placeholder="Filtrar">
              </mat-form-field>
            </div>
            <mat-table #table [dataSource]="dataSourcev">

              <ng-container matColumnDef="Folio">
                <mat-header-cell *matHeaderCellDef> Folio </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.folio}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Vacante">
                <mat-header-cell *matHeaderCellDef> Vacante </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.vBtra}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="FechaCreacion">
                <mat-header-cell *matHeaderCellDef> Fecha creación </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.fch_Creacion | date:"dd/MM/yyyy"}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Cliente">
                <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.cliente?.nombrecomercial}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Reclutamiento">
                <mat-header-cell *matHeaderCellDef> Reclutamiento </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.claseReclutamiento?.clasesReclutamiento}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Area">
                <mat-header-cell *matHeaderCellDef> Area experiencia </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <h5>
                    <small [ngClass]="{'badge badge-info': vacantes.id == requisicionId && Status != 0}">{{vacantes?.area?.nombre}}</small>
                  </h5>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let vacantes">
                  <btn-view matTooltip="Detalle" [xs]="true" (click)="OpenDtl(vacantes.id)"></btn-view>
                  <button 
                    [disabled]="vacantes.id != requisicionId && Status != 0"
                    [ngClass]="( Status == 0 || vacantes.id == requisicionId) ? 'mb-1 btn-xs btn btn-outline-success':'mb-1 btn-xs btn btn-outline-secondary'"
                    matTooltip="Apartar" 
                    (click)="Apartar(vacantes.id)">
                    <em class="fa fa-thumbs-o-up"></em>
                  </button>
                  <button 
                    [disabled]="vacantes.id != requisicionId && Status != 0"
                    [ngClass]="( Status == 0 || vacantes.id == requisicionId) ? 'mb-1 btn-xs btn btn-outline-danger':'mb-1 btn-xs btn btn-outline-secondary'"
                    matTooltip="Desapartar"
                    (click)="Liberar(vacantes.id)">
                    <em class="fa fa-thumbs-o-down"></em>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsVacantes"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsVacantes;"></mat-row>
            </mat-table>
            <mat-paginator [showFirstLastButtons]="true" [length]="TotalRecordsv" [pageSize]="pageSizev" [pageSizeOptions]="pageSizeOptionsv"
              (page)="pageEventv = paginatev($event)">
            </mat-paginator>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <!-- Comienza sección de información del candidato -->
        <!-- <div class="card mb-4">
         <div class="card-body">
            <h2 class="card-title">Información del candidato.</h2>
            <hr> -->
        <!-- Seccion de Acerca de mi -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Acerca de Mí.
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon style="color: #2874A6;">account_circle
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Fecha de nacimiento: </strong> {{candidatodtl[0]?.candidato?.fechaNacimiento | date: 'dd/MM/yy'}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Lugar de nacimiento: </strong> {{candidatodtl[0]?.candidato?.municipioNacimiento?.municipio}}, {{candidatodtl[0]?.candidato?.estadoNacimiento?.estado}},
                {{candidatodtl[0]?.candidato?.paisNacimiento?.pais}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Estado civil: </strong> {{candidatodtl[0]?.candidato?.estadoCivil?.estadoCivil}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Puede viajar: </strong>
                <strong *ngIf="candidatodtl[0]?.candidato.puedeViajar">SI</strong>
                <strong *ngIf="!candidatodtl[0]?.candidato.puedeViajar">NO</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Discapacidad: </strong>
                <strong *ngIf="candidatodtl[0]?.candidato.esDiscapacitado">SI</strong>
                <strong *ngIf="!candidatodtl[0]?.candidato.esDiscapacitado">NO</strong>
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Tipo de discapacidad: </strong> {{candidatodtl[0]?.candidato?.tipoDiscapacidad?.tipoDiscapacidad}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Licencia de conducir: </strong>
                <strong *ngIf="candidatodtl[0]?.candidato.tieneLicenciaConducir">SI</strong>
                <strong *ngIf="!candidatodtl[0]?.candidato.tieneLicenciaConducir">NO</strong>
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Tipo de licencia: </strong> {{candidatodtl[0]?.candidato?.tipoLicencia?.tipoLicencia}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Puesto deseado:</strong> {{candidatodtl[0]?.aboutMe[0]?.puestoDeseado}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Salario aceptable:</strong> {{candidatodtl[0]?.aboutMe[0]?.salarioAceptable | currency:'CAD':'Mxn':'4.2-2'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Salario deseado:</strong> {{candidatodtl[0]?.aboutMe[0]?.salarioDeseado | currency:'CAD':'Mxn':'4.2-2'}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">&Aacute;rea de experiencia:</strong> {{candidatodtl[0]?.aboutMe[0]?.areaExperiencia?.areaExperiencia}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Intereses:</strong> {{candidatodtl[0]?.aboutMe[0]?.areaInteres?.areaInteres}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Perfil:</strong> {{candidatodtl[0]?.aboutMe[0]?.perfilExperiencia?.perfilExperiencia}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Sitio Web: </strong> {{candidatodtl[0]?.aboutMe[0]?.sitioWeb}}
              </div>
              <div class="col-md-6 text-muted">
                <strong class="text-primary">Vehículo propio: </strong>
                <strong *ngIf="candidatodtl[0]?.candidato.tieneVehiculoPropio">SI</strong>
                <strong *ngIf="!candidatodtl[0]?.candidato.tieneVehiculoPropio">NO</strong>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de direccion -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dirección
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-home" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let direccion of candidatodtl[0]?.candidato.direcciones">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Calle: </strong> {{direccion?.calle}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Num. Ext/Int: </strong> {{direccion?.numeroExterior}} - {{direccion?.numeroInterior}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Colonia: </strong> {{direccion?.colonia?.colonia}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Código postal: </strong> {{direccion?.codigoPostal}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Localidad: </strong> {{direccion?.municipio?.municipio}}, {{direccion?.estado?.estado}}, {{direccion?.pais?.pais}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Tipo de dirección: </strong> {{direccion?.tipoDireccion?.tipoDireccion}}
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de Identificaciones -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Identificaciones
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-credit-card" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4 text-muted">
                <strong class="text-primary">CURP: </strong> {{candidatodtl[0]?.candidato?.curp}}
              </div>
              <div class="col-md-4 text-muted">
                <strong class="text-primary">RFC: </strong> {{candidatodtl[0]?.candidato?.rfc}}
              </div>
              <div class="col-md-4 text-muted">
                <strong class="text-primary">NSS: </strong> {{candidatodtl[0]?.candidato?.nss}}
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de Redes sociales -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Redes Sociales
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-facebook" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de experiencia profesional -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Experiencia Profesional
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-suitcase" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let exp of candidatodtl[0]?.experiencias">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Empresa: </strong> {{exp?.empresa}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Giro: </strong> {{exp?.giroEmpresa}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Cargo asignado: </strong> {{exp?.cargoAsignado}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Tareas: </strong> {{exp?.descripcion}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">&Aacute;rea: </strong> {{exp?.area?.nombre}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Salario: </strong> {{exp?.salario | currency:'CAD':'Mxn':'4.2-2'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de inicio: </strong> {{exp?.monthInicio?.month}}-{{exp?.yearInicio?.year}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de término: </strong> {{exp?.monthTermino?.month}}-{{exp?.yearTermino?.year}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Trabajo actual: </strong>
                  <strong *ngIf="exp.trabajoActual">SI</strong>
                  <strong *ngIf="!exp.trabajoActual">NO</strong>
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de formacion -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Formación
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-university" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let formacion of candidatodtl[0]?.formaciones">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Carrera: </strong> {{formacion?.carrera?.carrera}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Institución : </strong> {{formacion?.institucionEducativa?.institucionEducativa}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Grado estudio: </strong> {{formacion?.gradosEstudio?.gradoEstudio}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Estado estudio : </strong> {{formacion?.estadoEstudio?.estadoEstudio}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de inicio: </strong> {{formacion?.monthInicio?.month}}-{{formacion?.yearInicio?.year}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de término: </strong> {{formacion?.monthTermino?.month}}-{{formacion?.yearTermino?.year}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-muted">
                  <strong class="text-primary">Documento validador: </strong> {{formacion?.documentoValidador}}
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de Certificaciones -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Certificaciones
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-certificate" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let certificacion of candidatodtl[0]?.certificaciones">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Certificación: </strong> {{certificacion?.certificacion}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Licencia: </strong> {{certificacion?.licencia}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Autoridad emisora: </strong> {{certificacion?.autoridadEmisora}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Sin vencimiento: </strong>
                  <strong *ngIf="certificacion.noVence">SI</strong>
                  <strong *ngIf="!certificacion.noVence">NO</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de inicio: </strong> {{certificacion?.monthInicio?.month}}-{{certificacion?.yearInicio?.year}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de término: </strong> {{certificacion?.monthTermino?.month}}-{{certificacion?.yearTermino?.year}}
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de idiomas -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Idiomas
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-language" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let idioma of candidatodtl[0]?.idiomas">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Idioma: </strong> {{idioma?.idioma?.idioma}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Nivel escrito:</strong> {{idioma?.nivelEscrito?.nivel}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-muted">
                  <strong class="text-primary">Nivel hablado:</strong> {{idioma?.nivelHablado?.nivel}}
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de cursos -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cursos
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-graduation-cap" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let curso of candidatodtl[0]?.cursos">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Curso: </strong> {{curso?.curso}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Institución: </strong> {{curso?.institucionEducativa?.institucionEducativa}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de inicio: </strong> {{curso?.monthInicio?.month}}-{{curso?.yearInicio?.year}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Fecha de término: </strong> {{curso?.monthTermino?.month}}-{{curso?.yearTermino?.year}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-muted">
                  <strong class="text-primary">Horas: </strong> {{curso?.horas}}
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Seccion de conocimientos y habilidades -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Conocimientos y habilidades
              </mat-panel-title>
              <mat-panel-description>
                Detalles
                <mat-icon>
                  <em class="fa fa-magic" style="color: #2874A6;"></em>
                </mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" *ngFor="let conocimiento of candidatodtl[0]?.conocimientos">
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Conocimiento: </strong> {{conocimiento?.conocimiento}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Institución educativa:</strong> {{conocimiento?.institucionEducativa?.institucionEducativa}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Herramienta: </strong> {{conocimiento?.herramienta}}
                </div>
                <div class="col-md-6 text-muted">
                  <strong class="text-primary">Nivel:</strong> {{conocimiento?.nivel?.nivel}}
                </div>
              </div>
              <br>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="SiguienteStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- <hr>
            <p class="card-text">
               <span class="text-sm text-muted">Actualizado hace 3 minutos.</span>
            </p>
         </div>
        </div> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="text-info">comment</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <strong class="text-info">Comentarios</strong>
                <span class="px-2 mr-2 text-right float-right badge badge-success">{{CountComent}}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <br>
            <div class="card">
              <div class="card-body" *ngFor="let coment of this.comentarios">
                <div class="media">
                  <img class="mr-3 rounded-circle thumb64" [src]="coment.usuario.foto" alt="Image">
                  <div class="media-body mb-3">
                    <strong class="text-primary">
                      <!-- <span class="circle bg-success circle-lg text-left"></span> -->
                      <span>{{coment.usuario.nombre}}</span>
                      <p>
                        <small class="text-muted ml-2"> {{coment?.requisicion?.vBtra}}</small>
                        <small *ngIf="coment?.requisicion?.folio" class="text-muted ml-2">Folio: {{coment?.requisicion?.folio}}</small>
                      </p>
                    </strong>
                    <p class="text-muted md-2">{{coment.comentario}}</p>
                  </div>
                </div>
                <div class="ml-auto">
                  <small class="text-muted ml-2">{{coment.fchComentario | date:'hh:mm:ss'}}</small>
                  <small class="text-muted ml-2">{{coment.fchComentario | date:'dd/MM/yyyy'}}</small>
                  <div class="car-body">
                    <!-- +12 <btn-like></btn-like>
                    -13 <btn-dislike></btn-dislike> -->
                    <button class="mb-1 btn btn-secondary" matTooltip="Responder Comentario" (click)="ShowMessage(coment)" type="button">
                      <em class="icon icon-action-redo"></em></button>
                  </div>
                  
                </div>
                <hr/>
              </div>
            </div>
            <div class="container">
              <mat-form-field>
                <textarea matInput #message maxlength="500" placeholder="Comentario" rows="4" [(ngModel)]="comentario"></textarea>
                <mat-hint align="start">
                  <strong>Ingrese el comentario del candidato.</strong>
                </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
              </mat-form-field>
              <mat-divider></mat-divider>
              <br>
              <div class="text-right">
                <btn-send (click)="AddComentario()" *ngIf="comentario"></btn-send>
              </div>
            </div>
            <div *ngIf="msgError" role="alert" class="alert alert-danger">
              <small>Error al guardar comentario intente de nuevo.</small>
            </div>
            <div *ngIf="msgSuccess" role="alert" class="alert alert-success">
              <small>Comentario guardo con exito.</small>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!-- Termina el detalle del candidato. -->
  </mat-expansion-panel>
</mat-accordion>

<div class="panel-body">
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>
