
<div class="content-heading">
    <div>
       Sistema de preguntas frecuentes
        <span class="text-sm d-none d-sm-block">Administraci&oacute;n de preguntas frecuentes.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
        <li class="breadcrumb-item active">Preguntas frecuentes</li>
    </ol>
  </div>


<div class="row">
    
      
        <div class="col-xl-5">
            <input class="form-control" id="addPregunta" type="text" placeholder="Escriba la pregunta">
         </div>
         <div class="col-xl-5">
           <input class="form-control" id="addRepuesta" type="text" placeholder="Escriba la repuesta">
        </div>
        <div class="col-xl-2">
            <button title="Agregar pregunta" style="margin-right: 20px" class="mb-1 btn btn-sm btn-outline-success" (click)="Agregar()" type="button"   >
                <em _ngcontent-c34="" class="fa fa-plus"></em>
              </button>
       
       </div>
     
 



<!-- 
<table class="table table-striped" style="margin-top: 20px">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">pregunta</th>
      <th scope="col">respuesta</th>
      <th scope="col">activo</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Pregunta">
     
      <td><textarea class="ancho">{{item.pregunta}}</textarea> </td>
      <td><textarea class="ancho">{{item.respuesta}}</textarea></td>
      <td>{{this.activo}}</td>
      <td><button class="btn btn-primary">Guardar</button></td>
    </tr>
   
  </tbody>
</table>
</div> -->




<div class="dtDamfo-container mat-elevation-z8 " style="margin-top: 20px">
    <div class="dtDamfo-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
    <div  class="table table-hover table-bordered ">
  
    </div>
    <mat-table #table [dataSource]="dataSource" >
      <!-- Cliente <Razon Social> Column -->
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container> -->
      <!-- Puesto a cubrir Column -->
      <ng-container matColumnDef="pregunta">
        <mat-header-cell *matHeaderCellDef> Pregunta </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="Ocultar(element?.id)"(click)="PEditar(element?.id)" >
            <div id="Pres_{{element?.id}}"> {{element?.pregunta}} </div>
            <textarea id="Ptex_{{element?.id}}"  class="ocultar ancho">{{element.pregunta}}</textarea>
         </mat-cell>
      </ng-container>
  
      <!-- Giro Empresas <Experiencia Solicitada> Column -->
      <ng-container matColumnDef="respuesta">
        <mat-header-cell *matHeaderCellDef> Respuesta</mat-header-cell>
        <mat-cell *matCellDef="let element"  (click)="POcultar(element?.id)" (click)="Editar(element?.id)">
          <div id="res_{{element?.id}}"> {{element?.respuesta}} </div>
          <textarea id="tex_{{element?.id}}"  class="ocultar ancho">{{element.respuesta}}</textarea>
        </mat-cell>
      </ng-container>
  
      <!-- Actividad Empresas <Area Nombre> Column -->
      <ng-container matColumnDef="activo">
        <mat-header-cell *matHeaderCellDef> Activo</mat-header-cell>
        <mat-cell  *matCellDef="let element" (click)="Ocultar(element?.id)" (click)="POcultar(element?.id)">
            <mat-checkbox id="checkbox-{{element.id}}"  style="margin: 20px" *ngIf="element.activo" checked="1" >Activa o Desactiva!</mat-checkbox>
            <mat-checkbox id="checkbox-{{element.id}}" style="margin: 20px" *ngIf="!element.activo" checked="0">Activa o Desactiva!</mat-checkbox>
          <!-- <input type="checkbox" class="mat-checkbox" checked="{{element?.activo}}">   -->
        </mat-cell>
      </ng-container>
  
  
      <!-- Accion -->
      <ng-container matColumnDef="accion">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="Ocultar(element?.id)" (click)="POcultar(element?.id)">
              
              <button title="Guardar pregunta" style="margin-right: 20px" class="mb-1 btn btn-sm btn-outline-success" (click)="Guardar(element.id,$event)" type="button"   >
                  <em _ngcontent-c34="" class="fa fa-save"></em>
                </button>
            <button title="Eliminar pregunta" class="mb-1 btn btn-sm btn-outline-danger" (click)="Eliminar(element.id)" type="button"  >
                <em _ngcontent-c34="" class="fa fa-trash"></em>
            </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

