<div class="content-heading">
  <div>
    Usuarios
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de usuarios.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Usuarios</li>
  </ol>
</div>
<div class="card">
  <div class="card-body">
    <div class="row p-2 mb-1 bg-light">
      <div class="col">
          <button id='update' chkPrivilegiosButtons [disabled]="rowAux.length == 0" [ngClass]="rowAux.length == 0 ? 'disable' : 'btn-success'" class="btn btn-xs mat-elevation-z8 float-left mr-1" (click)="Actualizar(true)" container="body" placement="bottom"
          tooltip="Activar Usuario">
          <em class="fa fa-check"></em></button>
          <button id='update' chkPrivilegiosButtons [disabled]="rowAux.length == 0" [ngClass]="rowAux.length == 0 ? 'disable' : 'btn-danger'" class="btn btn-xs mat-elevation-z8 float-left mr-1" (click)="Actualizar(false)" container="body" placement="bottom"
          tooltip="Desactivar Usuario">
          <em class="fa fa-ban"></em>
        </button>
        <button id='special' chkPrivilegiosButtons [disabled]="rowAux.length == 0" [ngClass]="rowAux.length == 0 ? 'disable' : 'btn-purple'" class="btn btn-xs mat-elevation-z8 float-left mr-1" (click)="SendEmail(p)" container="body" placement="bottom"
        tooltip="Enviar Correo">
        <em class="fa fa-envelope"></em></button>

          <button *ngIf="tipoUsuario == '1'" [disabled]="rowAux.length == 0" [ngClass]="rowAux.length == 0 ? 'disable' : 'btn-danger'" class="btn btn-xs mat-elevation-z8 float-left" (click)="Borrar(p)" container="body" placement="bottom"
          tooltip="Borrar Usuario">
          <em class="fa fa-trash"></em>
        </button>

        <button type="button" class="btn btn-xs btn-success mat-elevation-z8 float-right mr-1" (click)="refreshTable()" container="body"
          placement="bottom" tooltip="Actualizar" container="body">
          <em class="icon-refresh"></em>
        </button>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" container="body" class="mr-1 btn btn-xs mat-elevation-z8 float-right"
          [disabled]="!clearFilter" [ngClass]="(!clearFilter) ? 'disabled':'btn-primary'">
          <em class="fa fa-eraser"></em>
        </button>
        <span class="text-muted font-weight-bold float-right text-uppercase mr-4 ">Total de Usuarios
          <span class="badge badge-pill badge-success">{{Users.length}}</span>
        </span>
      </div>
    </div>
    <table id="UsersDataTable" ngClass={{config.className}} class="table" style="width:100%">
        <thead>
          <tr>
            <th style="width:70px;"></th>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
            </th>
            <th class="action-width"></th>
          </tr>
          <tr>
            <th><input  class="form-control form-control-sm" id="foto" disabled></th>
            <th *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control form-control-sm" id="{{column.name}}">
            </th>
          </tr>
        </thead>
        <tbody>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
              [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
        
          <tr (click)="onCellClick(p)" *ngFor="let p of rows; let rowIndex = index" [class.bg-info]="p.selected">
            <td style="width:70px">
              <div class="media">
                 <a> <img class="img-fluid circle thumb32" [src]="p.foto" alt="Avatar" (error)="errorImg(p.entidadId)" /></a>
              </div>
              <ng-template #popTemplate>
                  <div class="media">
                      <img class="img-fluid circle thumb64" [src]="p.foto" alt="Avatar" (error)="errorImg(p.entidadId)" />
                   </div>
                </ng-template>
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-clave'] = true" *ngIf="!editing[rowIndex + '-clave']">
                {{p.clave}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'clave', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-clave']"
                type="text" [value]=p.clave />
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-usuario'] = true" *ngIf="!editing[rowIndex + '-usuario']">
                {{p.usuario}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'usuario', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-usuario']"
                type="text" [value]=p.usuario />
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-nombre'] = true" *ngIf="!editing[rowIndex + '-nombre']">
                {{p.nombre}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'nombre', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-nombre']"
                type="text" [value]=p.nombre />
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-apellidoPaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoPaterno']">
                {{p.apellidoPaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'apellidoPaterno', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-apellidoPaterno']" type="text" [value]=p.apellidoPaterno />
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-apellidoMaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoMaterno']">
                {{p.apellidoMaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'apellidoMaterno', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-apellidoMaterno']" type="text" [value]=p.apellidoMaterno />
            </td>
            <td class="text-center" *ngIf="p.email.length > 0">
              {{p.email}}
              <!-- <tr *ngFor="let e of p.email" class="text-center" >{{e.email}}</tr> -->
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-departamento'] = true" *ngIf="!editing[rowIndex + '-departamento']">
                {{p.departamento}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'departamentoId', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-departamento']">
                <option [value]=0>Seleccionar Departamento</option>
                <option *ngFor="let d of ListDepas" [value]='d.id'>{{d.nombre}}</option>
              </select>
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-tipoUsuario'] = true" *ngIf="!editing[rowIndex + '-tipoUsuario']">
                {{p.tipoUsuario}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'tipoUsuarioId', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-tipoUsuario']">
                <option [value]=0>Seleccionar Tipo Usuario</option>
                <option *ngFor="let t of ListTipos" [value]='t.id'>{{t.tipo}}</option>
              </select>
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-lider'] = true" *ngIf="!editing[rowIndex + '-lider']">
                {{p.nombreLider}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'lider', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-lider']">
                <option [value]=0>Seleccionar Lider</option>
                <option *ngFor="let t of Lideres" [value]='t.liderId'>{{t.nombreLider | uppercase}}</option>
              </select>
            </td>
            <td class="text-center">
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-oficina'] = true" *ngIf="!editing[rowIndex + '-oficina']">
                {{p.oficina}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'oficina', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-oficina']">
                <option [value]=0>Seleccionar Oficina</option>
                <option *ngFor="let o of Oficina" [value]='o.id'>{{o.nombre | uppercase}}</option>
              </select>
            </td>
            <td class="text-center">
                <i class="fa" [ngClass]="p.activo == 1 ? 'text-success fa-user' : 'text-muted fa-user-o'" aria-hidden="true"></i>
              <!-- <label class="switch"> -->
                <!-- <input type="checkbox" [checked]="p.activo" disabled/> -->
                <!-- <span></span>
              </label> -->
            </td>
            <td class="action-width">
  
          <button id='update' chkPrivilegiosButtons class="mr-1 btn btn-xs btn-warning float-right mat-elevation-z8" (click)="updateUser(p, rowIndex)" container="body"
            placement="bottom" tooltip="Guardar Cambios">
            <em class="fa fa-floppy-o"></em>
          </button>
            </td>
          </tr>
    
          </ng-scrollbar>
        </tbody>
      </table>
  </div>
  <div>
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>

      <!-- <pre *ngIf="config.paging" class="text-muted float-right"><small>P&aacute;gina: {{page}} / {{numPages}} Registros: {{registros}}</small></pre> -->
    </div>
</div>

<toaster-container toaster-options="{'toaster-id': 2 }" [toasterconfig]="toasterconfig"></toaster-container>
<!-- <div *ngIf="verMsj">
              <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div> -->



<!-- Modal  -->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Actualizar Foto de Perfil</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-upload-imgs #uploadImg [maxFileSize]="1*1024*1024"
              [accept]="['image/png', 'image/jpeg', 'image/jpg', 'image/bmp']"
              [errorMessageMaxSize]="'File size great than 1MB'" [name]="name">
            </app-upload-imgs>
          </div>
        </div>
        <!-- <div class="modal-footer">
               <btn-closed data-dismiss="modal" (click)="staticModal.hide()"></btn-closed>
             </div>
         </div> -->
      </div>
    </div>
  </div>
</div>
