<div class="content-heading">
  <div>
    Usuarios
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de usuarios.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Usuarios</li>
  </ol>
</div>

<!-- <div *ngIf="verMsj">
    <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
<br/> -->
<div class="dt-container mat-elevation-z8">
  <div class="dt-header">
    <!-- <div class="input-group">
      <mat-form-field>
        <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering"
          (tableChanged)="onChangeTable(config)" id="filterGeneral">
      </mat-form-field>
    </div> -->
    <div class="row justify-content-between">
      <div>
        <span class="text-muted font-weight-bold float-right text-uppercase mb-3 ">Total de Usuarios
          <span class="badge badge-pill badge-success">{{Users.length}}</span>
        </span>
      </div>
      <div>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" container="body"
          class="margen mr-2 btn btn-xs mat-elevation-z8" [disabled]="!clearFilter"
          [ngClass]="(!clearFilter) ? 'disabled':'btn-primary'">
          <em class="fa fa-eraser"></em>
        </button>
        <button type="button" class="margen mr-2 btn btn-xs btn-success mat-elevation-z8" (click)="refreshTable()" container="body"
          placement="bottom" tooltip="Actualizar" container="body">
          <em class="icon-refresh"></em>
        </button>
      </div>
    </div>
  </div>
  <div class="card card-default">
    <div #TablaUsers>
      <table id="UsersDataTable" ngClass={{config.className}} class="table" rol="grid" style="width:100%">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
              <!-- <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"> -->
              <!-- </i> -->
            </th>
            <th class="action-width"></th>
          </tr>
          <tr *ngIf="showFilterRow">
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control form-control-sm" id="{{column.name}}">
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of rows; let rowIndex = index">
            <td>
              <div class="media">
                <a container="body" style="margin:auto;">
                  <!-- placement="bottom" tooltip="Click para editar" data-toggle="modal"
                  data-target="#staticModal" (click)="rowAux = rowIndex; CrearURL(p.entidadId); staticModal.show();" -->
                  <img class="img-fluid circle thumb32" [src]="p.foto" alt="Avatar" (error)="errorImg(p.entidadId)" />
                </a>
              </div>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-clave'] = true" *ngIf="!editing[rowIndex + '-clave']">
                {{p.clave}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'clave', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-clave']"
                type="text" [value]=p.clave />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-usuario'] = true" *ngIf="!editing[rowIndex + '-usuario']">
                {{p.usuario}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'usuario', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-usuario']"
                type="text" [value]=p.usuario />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-nombre'] = true" *ngIf="!editing[rowIndex + '-nombre']">
                {{p.nombre}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'nombre', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-nombre']"
                type="text" [value]=p.nombre />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-apellidoPaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoPaterno']">
                {{p.apellidoPaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'apellidoPaterno', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-apellidoPaterno']" type="text" [value]=p.apellidoPaterno />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-apellidoMaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoMaterno']">
                {{p.apellidoMaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus
                (blur)="updateValue($event, 'apellidoMaterno', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-apellidoMaterno']" type="text" [value]=p.apellidoMaterno />
            </td>
            <td *ngIf="p.email.length > 0">
              {{p.email}}
              <!-- <tr *ngFor="let e of p.email" class="text-center" >{{e.email}}</tr> -->
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-departamento'] = true" *ngIf="!editing[rowIndex + '-departamento']">
                {{p.departamento}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'departamentoId', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-departamento']">
                <option [value]=0>Seleccionar Departamento</option>
                <option *ngFor="let d of ListDepas" [value]='d.id'>{{d.nombre}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-tipoUsuario'] = true" *ngIf="!editing[rowIndex + '-tipoUsuario']">
                {{p.tipoUsuario}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'tipoUsuarioId', rowIndex, p.entidadId)"
                *ngIf="editing[rowIndex + '-tipoUsuario']">
                <option [value]=0>Seleccionar Tipo Usuario</option>
                <option *ngFor="let t of ListTipos" [value]='t.id'>{{t.tipo}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-lider'] = true" *ngIf="!editing[rowIndex + '-lider']">
                {{p.nombreLider}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'lider', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-lider']">
                <option [value]=0>Seleccionar Lider</option>
                <option *ngFor="let t of Lideres" [value]='t.liderId'>{{t.nombreLider | uppercase}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar"
                (dblclick)="editing[rowIndex + '-oficina'] = true" *ngIf="!editing[rowIndex + '-oficina']">
                {{p.oficina}}
              </span>
              <select class="form-control-sm form-control"
                (change)="updateValue($event, 'oficina', rowIndex, p.entidadId)" *ngIf="editing[rowIndex + '-oficina']">
                <option [value]=0>Seleccionar Oficina</option>
                <option *ngFor="let o of Oficina" [value]='o.id'>{{o.nombre | uppercase}}</option>
              </select>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [checked]="p.activo" (change)="Actualizar($event, p.entidadId)" />
                <span></span>
              </label>
            </td>
            <td class="action-width">
              <button id='update' chkPrivilegiosButtons class="margin-butto
                  mb-1 btn btn-xs btn-success float-right mat-elevation-z8" (click)="updateUser(p, rowIndex)" container="body"
                placement="bottom" tooltip="Guardar Cambios">
                <em class="fa fa-check"></em>
              </button>
              <button id='email' chkPrivilegiosButtons class="margin-butto
                  ms-1 btn btn-xs btn-warning mat-elevation-z8" (click)="SendEmail(p)" container="body" placement="bottom"
                tooltip="Enviar Correo">
                <em class="fa fa-envelope"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'toaster-id': 2 }" [toasterconfig]="toasterconfig"></toaster-container>
<!-- <div *ngIf="verMsj">
              <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div> -->



<!-- Modal  -->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Actualizar Foto de Perfil</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-upload-imgs #uploadImg [maxFileSize]="1*1024*1024"
              [accept]="['image/png', 'image/jpeg', 'image/jpg', 'image/bmp']"
              [errorMessageMaxSize]="'File size great than 1MB'" [name]="name">
            </app-upload-imgs>
          </div>
        </div>
        <!-- <div class="modal-footer">
               <btn-closed data-dismiss="modal" (click)="staticModal.hide()"></btn-closed>
             </div>
         </div> -->
      </div>
    </div>
  </div>
</div>
