.margin-button
{
    margin-left: 2px;

}

tr.selected td {
    background-color:  #5d9cec !important;
    color: white;
  }
  
// .panel
// {
//     max-width: 1110px;
//     overflow: hidden;
// }

// .panel .table
// {
//     max-width: 1100px;
// }