<div class="content-heading">
  <div>
    Usuarios
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de usuarios.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Usuarios</li>
  </ol>
</div>

<!-- <div *ngIf="verMsj">
    <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
<br/> -->
<div class="card">

  <div class="card-body">
    <br />
    <div class="col-md-4">
      <div class="input-group">
        <input (input)="Search($event)" class="form-control form-control-sm" type="text" placeholder="Filtrar" />
        <div class="input-group-append">
          <span class="input-group-text text-info"><em class="fa fa-search"></em></span>
        </div>
      </div>
    </div>
    <br />
    <div class="mat-elevation-z8">


      <!-- <div class="col-md-4 float-right">
        
                <btn-check class="float-right margin-button" id='update' chkPrivilegiosButtons [xs]="true" (click)="updateUser($event, rowIndex)"  container="body" container="body" placement="bottom" tooltip="Guardar Cambios"></btn-check>
   

                <btn-email class="float-right" id='create' chkPrivilegiosButtons [xs]="true"  container="body" container="body" placement="bottom" tooltip="Enviar Correo"></btn-email>
         
            </div> -->
      <table class="table">
        <thead>
          <tr>
            <th class="text-center"></th>
            <th class="text-center">CLAVE</th>
            <th class="text-center">ALIAS</th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">APELLIDO PATERNO</th>
            <th class="text-center">APELLIDO MATERNO</th>
            <th class="text-center">EMAIL</th>
            <th class="text-center">DEPARTAMENTO</th>
            <th class="text-center">TIPO USUARIO</th>
            <th class="text-center">ASIGNADO A</th>
            <th class="text-center">OFC / SUC</th>
            <th class="text-center">ACTIVAR</th>
            <th class="text-center"></th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let p of Users; let rowIndex = index" (click)="onSelect(p, rowIndex)">
            <td class="text-center">
              <div class="media">
                <a container="body" placement="bottom" tooltip="Click para editar" data-toggle="modal" data-target="#staticModal"
                  (click)="rowAux = rowIndex; CrearURL(p.entidadId); staticModal.show();">
                  <img class="img-fluid circle thumb32" src="{{p.fotoAux}}" alt="Image" />
                </a>
              </div>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-clave'] = true"
                *ngIf="!editing[rowIndex + '-clave']">
                {{p.clave}}
              </span>
              <input class="form-control-sm form-control" autofocus (blur)="updateValue($event, 'clave', rowIndex)" *ngIf="editing[rowIndex + '-clave']"
                type="text" [value]=p.clave />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-usuario'] = true"
                *ngIf="!editing[rowIndex + '-usuario']">
                {{p.usuario}}
              </span>
              <input class="form-control-sm form-control" autofocus (blur)="updateValue($event, 'usuario', rowIndex)" *ngIf="editing[rowIndex + '-usuario']"
                type="text" [value]=p.usuario />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-nombre'] = true"
                *ngIf="!editing[rowIndex + '-nombre']">
                {{p.nombre}}
              </span>
              <input class="form-control-sm form-control" autofocus (blur)="updateValue($event, 'nombre', rowIndex)" *ngIf="editing[rowIndex + '-nombre']"
                type="text" [value]=p.nombre />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-apellidoPaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoPaterno']">
                {{p.apellidoPaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus (blur)="updateValue($event, 'apellidoPaterno', rowIndex)" *ngIf="editing[rowIndex + '-apellidoPaterno']"
                type="text" [value]=p.apellidoPaterno />
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-apellidoMaterno'] = true"
                *ngIf="!editing[rowIndex + '-apellidoMaterno']">
                {{p.apellidoMaterno}}
              </span>
              <input class="form-control-sm form-control" autofocus (blur)="updateValue($event, 'apellidoMaterno', rowIndex)" *ngIf="editing[rowIndex + '-apellidoMaterno']"
                type="text" [value]=p.apellidoMaterno />
            </td>
            <td *ngIf="p.email.length > 0">{{p.email[0].email}}
              <!-- <tr *ngFor="let e of p.email" class="text-center" >{{e.email}}</tr> -->
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-departamento'] = true"
                *ngIf="!editing[rowIndex + '-departamento']">
                {{p.departamento}}
              </span>
              <select class="form-control-sm form-control" (change)="updateValue($event, 'departamentoId', rowIndex)" *ngIf="editing[rowIndex + '-departamento']">
                <option [value]=0>Seleccionar Departamento</option>
                <option *ngFor="let d of ListDepas" [value]='d.id'>{{d.nombre}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-tipoUsuario'] = true"
                *ngIf="!editing[rowIndex + '-tipoUsuario']">
                {{p.tipoUsuario}}
              </span>
              <select class="form-control-sm form-control" (change)="updateValue($event, 'tipoUsuarioId', rowIndex)" *ngIf="editing[rowIndex + '-tipoUsuario']">
                <option [value]=0>Seleccionar Tipo Usuario</option>
                <option *ngFor="let t of ListTipos" [value]='t.id'>{{t.tipo}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-lider'] = true"
                *ngIf="!editing[rowIndex + '-lider']">
                {{p.nombreLider}}
              </span>
              <select class="form-control-sm form-control" (change)="updateValue($event, 'lider', rowIndex)" *ngIf="editing[rowIndex + '-lider']">
                <option [value]=0>Seleccionar Lider</option>
                <option *ngFor="let t of Lideres" [value]='t.liderId'>{{t.nombreLider | uppercase}}</option>
              </select>
            </td>
            <td>
              <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-oficina'] = true"
                *ngIf="!editing[rowIndex + '-oficina']">
                {{p.oficina}}
              </span>
              <select class="form-control-sm form-control" (change)="updateValue($event, 'oficina', rowIndex)" *ngIf="editing[rowIndex + '-oficina']">
                <option [value]=0>Seleccionar Oficina</option>
                <option *ngFor="let o of Oficina" [value]='o.id'>{{o.nombre | uppercase}}</option>
              </select>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [checked]="p.activo" (change)="Actualizar($event, p.entidadId)" />
                <span></span>
              </label>
            </td>
            <td>
              <button id='update' chkPrivilegiosButtons class="mb-1  btn btn-xs btn-outline-success" (click)="updateUser(p, rowIndex)"
                container="body" placement="bottom" tooltip="Guardar Cambios">
                <em class="fa fa-check"></em>
              </button>
              <button id='create' chkPrivilegiosButtons class="margin-button" (click)="SendEmail(p)" class="ms-1 btn btn-xs btn-outline-warning"
                container="body" placement="bottom" tooltip="Enviar Correo">
                <em class="fa fa-envelope"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pre class="card card-block card-header float-right">Total Registros: {{Users.length}}</pre>
  </div>
</div>

<toaster-container toaster-options="{'toaster-id': 2 }" [toasterconfig]="toasterconfig"></toaster-container>
<!-- <div *ngIf="verMsj">
              <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div> -->



<!-- Modal  -->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Actualizar Foto de Perfil</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-upload-imgs #uploadImg [maxFileSize]="1*1024*1024" [accept]="['image/png', 'image/jpeg', 'image/jpg', 'image/bmp']"
              [errorMessageMaxSize]="'File size great than 1MB'" [name]="name" (onItemChanged)="updateFoto()"></app-upload-imgs>
          </div>
        </div>
        <!-- <div class="modal-footer">
               <btn-closed data-dismiss="modal" (click)="staticModal.hide()"></btn-closed>
             </div>
         </div> -->
      </div>
    </div>
  </div>
</div>
