<div class="content-heading">
  <div>
    Directorio Empresarial.
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n Prospectos / Clientes</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Directorio Empresarial</li>
  </ol>
</div>


<div class="row">
  <div class="col-xl-3 col-lg-6">
    <!-- START card-->
    <div class="card bg-primary border-0">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3">
            <em class="fa fa-users fa-5x"></em>
          </div>
          <div class="col-9 text-right">
            <div class="text-lg">{{CountProspectos}}</div>
            <p class="m-0">Prospectos</p>
          </div>
        </div>
      </div>
      <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" [routerLink]="['/ventas/prospectos']">
        <span>Ver Prospectos</span>
        <span class="ml-auto">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
      <!-- END card-->
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <!-- START card-->
    <div class="card bg-green border-0">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3">
            <em class="fa fa-handshake-o fa-5x"></em>
          </div>
          <div class="col-9 text-right">
            <div class="text-lg">{{CountClientes}}</div>
            <p class="m-0">Clientes</p>
          </div>
        </div>
      </div>
      <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" [routerLink]="['/ventas/clientes']">
        <span>Ver Clientes</span>
        <span class="ml-auto">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
  </div>

  <!-- <div class="col-xl-3 col-lg-6">
    <div class="card bg-warning border-0">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3">
            <em class="fa fa-shopping-cart fa-5x"></em>
          </div>
          <div class="col-9 text-right">
            <div class="text-lg">124</div>
            <p class="m-0">New Orders!</p>
          </div>
        </div>
      </div>
      <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
        <span>View Details</span>
        <span class="ml-auto">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card bg-danger border-0">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3">
            <em class="fa fa-support fa-5x"></em>
          </div>
          <div class="col-9 text-right">
            <div class="text-lg">13</div>
            <p class="m-0">Support Tickets!</p>
          </div>
        </div>
      </div>
      <a class="card-footer bg-gray-dark bt0 clearfix btn-block d-flex" href="#">
        <span>View Details</span>
        <span class="ml-auto">
          <em class="fa fa-chevron-circle-right"></em>
        </span>
      </a>
    </div>
  </div> -->
</div>
<!-- END row-->
