<div class="content-heading">
  <div>
    Directorio Empresarial.
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n Prospectos / Clientes</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Directorio Empresarial</li>
  </ol>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <button type="button" class="btn btn-lg btn-block" [ngClass]="viewProspectos ? 'btn-primary mat-elevation-z8' : 'btn-secondary'" (click)="selectProspectos()">
      <div class="row">
        <div class="col-md-4"><i class=" fa fa-users fa-3x"></i></div>
        <div class="col-md-4"><h3 class="text-button">PROSPECTOS</h3></div>
        <div class="col-md-4"><h3 class="text-button float-right"><span class="badge badge-pill badge-warning">{{CountProspectos | numerico}}</span></h3></div>
      </div>
    </button>
  </div>
  <div class="col.md-6 col-sm-6">
    <button type="button" class="btn btn-lg btn-block" [ngClass]="!viewProspectos ? 'btn-success mat-elevation-z8' : 'btn-secondary'" (click)="selectClientes()">
        <div class="row">
            <div class="col-md-4"><i class=" fa fa-handshake-o fa-3x "></i></div>
            <div class="col-md-4"><h3 class="text-button">CLIENTES</h3></div>
            <div class="col-md-4"><h3 class="text-button float-right"><span class="badge badge-pill badge-warning">{{CountClientes | numerico}}</span></h3></div>
          </div>
    </button>
  </div>
  <br>
</div>
<br>
<mat-divider></mat-divider>

<div class="row">
  <div *ngIf="viewProspectos">
    <app-dt-prospectos></app-dt-prospectos>
  </div>
  <div *ngIf="!viewProspectos">
      <app-dt-clientes></app-dt-clientes>
  </div>
</div>
