<div class="card">
  <div class="card-body mat-elevation-z8 text-uppercase">
      <div class="d-flex justify-content-between align-items-center p-1 bg-warning fontRoboto">
      <span>Candidatos</span> <em class="icon-refresh"
        (click)="updateChart()"></em>
    </div>
    <br>
    <div id="CandidatoEstais">
      <canvas id="canvasCandidatos"></canvas>
      <br>
      <div class="d-flex mt-2"></div>
      <mat-divider></mat-divider>
      <small class="float-right mt-1">Total Candidatos<span
            class="badge badge-info m-1">{{RegistrosT}}</span></small>
    </div>
  </div>
</div>
