<div class="dt-container mat-elevation-z8">
    <div class="title-headre-view d-flex justify-content-between">
      <h4>Horarios</h4>
      <btn-edit id="update" [xs]="true" *ngIf="ruta != 'Formato 290'"  (click)="openDialogEdit()" chkPrivilegiosButtons  matTooltip="Editar Requisición"></btn-edit>
    </div>
    <!-- <div class="card card-default"> -->
      <div class="table-responsive" #tableContainer>
        <table id="tablaHorarios"  ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
          <thead>
            <tr>
              <th *ngFor="let column of columns" class="{{column.className || ''}}">{{column.title}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="onCellClick(row)" *ngFor="let row of rows">
              <td class="text-center"> {{row.nombre}} </td>
              <td class="text-center"> {{row.deDia?.diaSemana}}</td>
              <td class="text-center"> {{row.aDia.diaSemana}}</td>
              <td class="text-center"> {{row.deHora | date:"HH:mm"}}</td>
              <td class="text-center"> {{row.aHora | date:"HH:mm"}}</td>
              <td class="text-center"> {{row.numeroVacantes}}</td>
              <td class="text-center"> {{row.especificaciones}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>
