<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="text-info">comment</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            <strong class="text-info">Comentarios</strong>
            <span class="text-info"> ({{CountComent}})</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <div class="container-coments" #container_coments>
          <div class="card">
            <div class="card-body" *ngFor="let coment of Comentarios">
              <div class="media">
                <img class="mr-3 rounded-circle thumb64" [src]="coment.usuario.foto" alt="Image">
                <div class="media-body mb-3">
                  <strong class="text-primary">
                    <!-- <span class="circle bg-success circle-lg text-left"></span> -->
                    <span>{{coment.usuario.nombre}}</span>
                    <p>
                      <small *ngIf="coment?.requisicion?.vBtra" class="text-muted ml-2">Vacante:
                        {{coment?.requisicion?.vBtra}}</small>
                      <small *ngIf="coment?.requisicion?.folio" class="text-muted ml-2">Folio:
                        {{coment?.requisicion?.folio}}</small>
                    </p>
                  </strong>
                  <p class="text-muted md-2">{{coment.comentario}}</p>
                </div>
              </div>
              <div class="ml-auto">
                <small class="text-warning ml-2">{{coment.fchComentario | date:'hh:mm:ss'}}</small>
                <small class="text-warning ml-2">{{coment.fchComentario | date:'dd/MM/yyyy'}}</small>
                <!-- <div class="car-body">
                      <button class="mb-1 btn btn-secondary"  placement="bottom" tooltip="Responder Comentario" (click)="ShowMessage(coment)" type="button">
                        <em class="icon icon-action-redo"></em></button>
                    </div> -->
              </div>
              <hr />
            </div>
          </div>
        </div>
        <div class="container">
          <mat-form-field>
            <textarea matInput #message maxlength="500" placeholder="Comentario" rows="4" [(ngModel)]="comentario"></textarea>
            <mat-hint align="start">
              <strong>Ingrese el comentario del candidato.</strong>
            </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
          </mat-form-field>
          <mat-divider></mat-divider>
          <br>
          <div class="text-right">
            <btn-send (click)="addComentario()" *ngIf="comentario"></btn-send>
          </div>
        </div>
        <div *ngIf="msgError" role="alert" class="alert alert-danger">
          <small>Error al guardar comentario intente de nuevo.</small>
        </div>
        <div *ngIf="msgSuccess" role="alert" class="alert alert-success">
          <small>Comentario guardo con exito.</small>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
