<form novalidate #f="ngForm">
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-6">
        <div class="form-group">
            <label class="text-muted" for="nombre">NOMBRE</label>
            <input type="text" class="form-control form-control-sm" placeholder="Nombre(s) *" [(ngModel)]="nom" name="nombre" ngModel required [class.requerido]="nom.length == 0" [class.valido]="nom.length > 1"/>
        </div>
        <div class="form-group">
            <label class="text-muted" for="ap">APELLIDO PATERNO</label>
            <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno *" [(ngModel)]="ap" name="ap" ngModel required [class.requerido]="ap.length == 0" [class.valido]="ap.length > 1"/>
        </div>
        <div class="form-group">
          <label class="text-muted" for="ap">APELLIDO MATERNO</label>
          <input type="text" class="form-control form-control-sm" placeholder="Apellido Materno *" [(ngModel)]="am" name="am" ngModel required [class.requerido]="am.length == 0" [class.valido]="am.length > 1" />
        </div>
        <div class="mb-1 long">
        <mat-form-field >
                <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" name="edad" [(ngModel)]="date" (dateChange)="validarFecha($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <small *ngIf="edad >= 18" class="text-info">Edad {{edad}}</small>
                <small *ngIf="edad < 18" class="text-danger">El usuario debe ser mayor de edad</small>
              </mat-form-field>
              
            </div>

        <div class="form-group">
                <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbM" id="inlineRadio1" [(ngModel)]="rbS" value="2">
                        <label class="form-check-label" for="inlineRadio1">MUJER</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbH" id="inlineRadio2" [(ngModel)]="rbS" value="1">
                        <label class="form-check-label" for="inlineRadio2">HOMBRE</label>
                      </div>
        </div>
   
   </div>
    <div class="col-sm-6 col-md-6">
            <div class="form-group">
                <label class="text-muted">LUGAR DE NACIMIENTO</label>
                    <select [disabled]="extranjero" class="form-control form-control-sm" name="estado" ngModel required [(ngModel)]="estadoId" (change)="GenerarCurp()" [class.requerido]="estadoId == 0 && !extranjero" [class.valido]="estadoId > 0">
                        <option [value]=0 selected disabled>Selecciona Estado de Nacimiento</option>
                        <option *ngFor="let e of estados" [value]=e.id>{{e.estado | uppercase}}</option>
                    </select>
                </div>
                <!-- <div class="form-group">
                        <label></label>
                  <select [disabled]="extranjero" class="form-control form-control-sm" name="municipio" [(ngModel)]="municipioId" ngModel required [class.requerido]="municipioId == 0 && !extranjero" [class.valido]="municipioId > 0">
                      <option [value]=0 selected disabled>Selecciona Municipio de Nacimiento</option>
                      <option *ngFor="let m of municipios" [value]=m.id>{{m.municipio | uppercase}}</option>
                  </select>
              </div> -->
              <div class="form-group">
                <label class="text-muted">CURP</label>
                 <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="*" name="curp" [(ngModel)]="curp" ngModel required
                        [class.requerido]="curp.length == 0" [class.valido]="curp.length >= 16" minlength="16" maxlength=18 />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-xs btn-info" (click)="GenerarCurp()"  container="body" placement="top" tooltip="Generar CURP">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
            </div>
        <div class="form-group">
            <label class="text-muted" for="email">EMAIL</label>
            <div class="input-group">
            <input type="email" class="form-control form-control-sm" (blur)="ValidarEmail(email)" placeholder="Email *" value="" name="email" [(ngModel)]="email" ngModel required [class.requerido]="email.length < 7" [class.valido]="email.length >= 7"/>
            <div class="input-group-append">
                <div class="input-group-text" tooltip="Registrar con Email" placement="top" container="body">
                <input type="radio" [(ngModel)]="opcRegistro1" name="opc1" value="1" (click)="valOpcionReg(1);">
                </div>
              </div>
            </div>
            <small class="text-danger">{{valEmail}}</small>
        </div>
        <div class="d-flex justify-content-start">
            <div class="form-group mr-1">
                <label class="text-muted" for="txtLada">LADA</label>
                <div class="input-group">
                    <input type="text" minlength="2" maxlength="3" name="txtLada" ngModel required class="form-control form-control-sm ladaLong"
                        placeholder="Lada *" [(ngModel)]="txtLada" [class.requerido]="txtLada.length < 2" [class.valido]="txtLada.length >= 2"/>
                </div>
            </div>
            <div class="form-group">
                <label class="text-muted" for="txtPhone">TEL&Eacute;FONO</label>
                <div class="input-group">
                    <input (blur)="ValidarTelefono()" type="text" minlength="7" maxlength="8" name="txtPhone" ngModel required class="form-control form-control-sm" placeholder="Tel&eacute;fono *"
                        [(ngModel)]="txtPhone" [class.requerido]="txtPhone.length < 7" [class.valido]="txtPhone.length > 6"
                    />
                    <div class="input-group-append">
                        <div class="input-group-text" tooltip="Registrar con Tel&eacute;fono" placement="top" container="body">
                            <input type="radio" [(ngModel)]="opcRegistro2" name="opc2" value="2" (click)="valOpcionReg(2);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <small class="text-danger">{{valTel}}</small>
        <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-lg btn-warning mr-2 btnRegister mat-elevation-z8" [disabled]="loading" (click)="BorrarCampos()">BORRAR CAMPOS</button>
        <button type="submit" class="btn btn-lg btnRegister mat-elevation-z8" [disabled]="f.invalid || edad < 18 || (opcRegistro1 == 0 && opcRegistro2 == 0) || loading" [ngClass]="f.invalid || edad < 18 || (opcRegistro1 == 0 && opcRegistro2 == 0) ? 'disable' : 'btn-success'" (click)="registrar()">REGISTRAR</button>
      </div>
      <div class="mt-2">
      <img class="float-right mr-2" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
    </div>

  </div>
</div>
</form>
