<form novalidate #f="ngForm">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="text-muted" for="nombre">NOMBRE</label>
            <input type="text" class="form-control form-control-sm" placeholder="Nombre(s) *" [(ngModel)]="nom" name="nombre" ngModel required [class.requerido]="nom.length == 0" [class.valido]="nom.length > 1">
            <!-- <small *ngIf="nom.length == 0" class="text-danger">
               El campo nombre es requerido
            </small> -->
        </div>
        <div class="form-group">
            <label class="text-muted" for="ap">APELLIDO PATERNO</label>
            <input type="text" class="form-control form-control-sm" placeholder="Apellido Paterno *" [(ngModel)]="ap" name="ap" ngModel required [class.requerido]="ap.length == 0" [class.valido]="ap.length > 1"/>
        </div>
        <div class="form-group">
          <label class="text-muted" for="ap">APELLIDO MATERNO</label>
          <input type="text" class="form-control form-control-sm" placeholder="Apellido Materno *" [(ngModel)]="am" name="am" ngModel required [class.requerido]="am.length == 0" [class.valido]="am.length > 1" />
        </div>
        <div class="mb-1">
        <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" name="edad" (dateChange)="validarFecha($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <small *ngIf="edad >= 18" class="text-info">Edad {{edad}}</small>
                <small *ngIf="edad < 18" class="text-danger">El usuario debe ser mayor de edad</small>
              </mat-form-field>
              
            </div>

        <div class="form-group">
                <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbM" id="inlineRadio1" [(ngModel)]="rbM" value="1">
                        <label class="form-check-label" for="inlineRadio1">MUJER</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rbH" id="inlineRadio2" [(ngModel)]="rbM" value="2">
                        <label class="form-check-label" for="inlineRadio2">HOMBRE</label>
                      </div>
        </div>
   
   </div>
    <div class="col-md-6">
            <div class="form-group">
                <label>LUGAR DE NACIMIENTO</label>
                    <select class="form-control form-control-sm" name="estado" ngModel required (change)="GetMunicipio($event)">
                        <option [value]=0 selected disabled>Selecciona Estado de Nacimiento</option>
                        <option *ngFor="let e of estados" [value]=e.id>{{e.estado | uppercase}}</option>
                    </select>
                </div>
                <div class="form-group">
                        <label></label>
                  <select class="form-control form-control-sm" name="municipio" ngModel required >
                      <option class="hidden" [value]=0 selected disabled>Selecciona Municipio de Nacimiento</option>
                      <option *ngFor="let m of municipios" [value]='m.id'>{{m.municipio | uppercase}}</option>
                  </select>
              </div>

        <div class="form-group">
            <label class="text-muted" for="email">EMAIL</label>
            <input type="email" class="form-control form-control-sm" placeholder="Email *" value="" name="email" [(ngModel)]="email" ngModel required [class.requerido]="email.length == 0" [class.valido]="email.length >= 1"/>
        </div>
        <div class="form-group">
            <label class="text-muted" for="txtPhone">TELEFONO</label>
            <input type="text" minlength="10" maxlength="10" name="txtPhone" class="form-control form-control-sm" placeholder="Telefono *" [(ngModel)]="txtPhone" value="" ngModel required [class.requerido]="txtPhone.length < 10" [class.valido]="txtPhone.length == 10"/>
        </div>
        <!-- <div class="form-group">
                <label class="text-muted" for="txtPhone">CONTRASEÑA</label>
            <input type="password" class="form-control form-control-sm" placeholder="Contraseña *" value="" name="pass" ngModel required />
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-sm" placeholder="Confirmar Contraseña *" value="" name="conpass" ngModel required/>
        </div> -->

        <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-lg btn-warning mr-2 btnRegister" (click)="BorrarCampos()">BORRAR CAMPOS</button>
        <button type="submit" [disabled]="f.invalid && edad < 18" class="btn btn-lg btn-success btnRegister">REGISTRAR</button>
      </div>
    </div>

  </div>
</form>

6