<div class="d-flex justify-content-end"><button type="button" class="btn btn-xs btn-danger btn-circle mr-1"  mat-dialog-close>
    <i class="fa fa-times"></i></button></div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label for="image-input" class="file-upload">
            <button class="btn btn-info">
                <i class="fa fa-upload mr-2"></i>SUBIR ARCHIVO</button>
            <input id="image-input" type="file" #fileInput (change)="fileChangeListener($event)"
                   [accept]="['image/jpg']">
        </label>
        <br />
      <div class="card">
        <div class="card-body mat-elevation-z8">
        <strong class="text-muted">ARCHIVOS</strong>
        <div class="list-group">
            <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0">
                <span class="circle bg-white mr-2"></span>
                <span>TOTAL DE ARCHIVOS</span>
                <span class="ml-auto badge">{{cont_image}}</span>
            </a>
        </div>
    </div>
</div>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown"
        [disableOnBreakpoints]="false" [disabled]="disabled">
    <div class="longScroll">
        <div class="row">
            <ng-container *ngFor="let t of files">
                <div class="col-lg-4 col-md-6">
                    <div class="card" data-filter-group="img">
                        <div class="card-body text-center mat-elevation-z8">
                            <div class="d-flex justify-content-between">
                               <div>
                                  <a class="text-muted mr-1" (click)="downloadFile(t)" title="Download">
                                     <em class="fa fa-download fa-fw"></em>
                                  </a>
                                </div>
                                <!-- <div class="ml-auto">
                                    <a class="text-muted" (click)="deleteFile(t)" title="Borrar archivo">
                                           <em class="fa fa-trash-o fa-fw"></em>
                                    </a>
                                </div> -->
                            </div>
                            <a class="px-4" (click)="SeleccionarBG(t)">
                                <img class="img-fluid img-thumbnail mx-auto d-block" src={{t.icon}} alt="" />
                            </a>
                            <p><small class="text-dark">{{t.nom}}</small></p>
                            <div class="d-flex m-0 text-muted">
                                    <small>{{t.size}}KB</small>
                                    <small class="ml-auto">{{t.fc}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-scrollbar>
    </div>
    </div>