<!-- <div class="content-heading">
  <div>
    Usuario - Grupo
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de Usuario - Grupo.</span>
  </div>

  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Usuario - Grupo</li>
  </ol>
</div> -->


<form [formGroup]="formAdmin" novalidate>
<div class="row">
    <div class="col-md-6">
      <div class="panel panel-default panel-flat mat-elevation-z8 mt-3">
        <div class="panel-heading d-flex justify-content-between "><span class="text-muted">USUARIOS</span>
          <div class="input-group input-group-sm ilong"> 
            <input formControlName="filterInput" (input)="Search($event)" class="form-control form-control-sm" type="text" placeholder="Filtrar"
            />
            <div class="input-group-append">
              <span class="input-group-text text-info"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <br/>
        <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
        [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
        <div class="panel-body" dnd-sortable-container [dropZones]="['demo1']" [sortableData]="ListEntidades">
          <div *ngFor="let p of ListEntidades; let i = index" class="panel panel-defaul" dnd-sortable [sortableIndex]="i" dnd-draggable [dragData]="p" [dragEnabled]="draggable" >
            <div class="media">
              <img class="float-left img-fluid circle thumb48 marginimg" src="{{p.foto}}" (error)="errorImg(p.entidadId, p)" />
              <div class="media-body">
                <div class="float-right badge badge-info mr-2">{{p.departamento}}</div>
                <h4>{{p.nombre + ' ' + p.apellidoPaterno + ' ' + p.apellidoMaterno }}</h4>
                <p *ngIf="p.clave != '' && p.clave != null">Clave: {{ p.clave }}</p>
                <p *ngIf="p.usuario != '' && p.usuario != null">Álias: {{ p.usuario }}</p>
                <p *ngIf="p.emails != '' && p.emails != null">Email: {{p.emails}} </p>
                <p *ngIf="p.descripcion != '' && p.descripcion != null">{{ p.descripcion }}</p>
                <p *ngIf="p.grupos.length > 0">Grupo: {{p.grupos.length}}
                  <span *ngFor="let g of p.grupos">
                    <div class="row">
                    <div class="col-md-2"><span class="text-center">{{g.grupo}}</span></div>
                      <button type="button" class="close float-right" aria-label="Close" (click)="DeleteUsers(g.id, p.entidadId)"  container="body" placement="bottom" tooltip="Quitar Grupo">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </span>
                </p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        </ng-scrollbar>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-flat mat-elevation-z8 mt-3">
        <div class="panel-heading d-flex justify-content-between">
          <!-- <span class="text-muted mt-1 mr-1">GRUPOS</span> -->
          <select class="form-control form-control-sm width-mio" #slcGrupo formControlName="slcGrupo" (change)="flag = true; draggable = true; IdGrupo = $event.target.value; GetUserByGroup($event.target.value); ">
            <option [value]="0">SELECCIONAR GRUPO</option>
            <option *ngFor="let grupos of listGrupos" [value]="grupos.id">{{grupos.nombre}}</option>
          </select>
          <span class="text-danger" *ngIf="formAdmin.controls['slcGrupo'].hasError('required')">Debe seleccionar un Grupo</span>
         <div class="float-right">
          <button id='create' type="button" class="btn btn-xs mat-elevation-z8 float-right" [disabled]="!draggable" [ngClass]="!draggable ? 'disable': 'btn-success'" chkPrivilegiosButtons 
           container="body" placement="bottom" tooltip="Guardar Cambios" (click)="addUsuarioGrupo(IdGrupo)"><i class="fa fa-check" aria-hidden="true"></i></button>
            <!-- <btn-delete  container="body" placement="bottom" tooltip="Vaciar Lista" (click)="resetBasket()"></btn-delete> -->
          </div>
        </div>
        <!--   -->
        <!-- dnd-droppable (onDropSuccess)="addToGroups($event)" [dropZones]="['demo1']" dnd-sortable-container [dropZones]="['demo1']" [sortableData]="ListaPG" dnd-sortable [sortableIndex]="i" -->
        <div class="panel-body" dnd-sortable-container [dropZones]="['demo1']" [sortableData]="ListaPG"> 
          <p [hidden]="ListaPG.length > 0">{{msj}}</p>
          <div *ngFor="let pg of ListaPG; let i = index" class="panel panel-default panel-flat" dnd-sortable [sortableIndex]="i" (onDropSuccess)="addToGroups($event, IdGrupo)">
            <button type="button" class="close pull-right" aria-label="Close" (click)="PopUsers(pg.entidadId)"  container="body" placement="bottom" tooltip="Quitar de la lista">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="media">
              <img class="float-left img-fluid circle thumb32 marginimg" src="{{pg.foto}}" alt="" (error)="errorImg(pg.entidadId, pg)" />
              <div class="media-body">
                  <div class="float-right badge badge-info tituloPuesto2 mr-2">{{pg.departamento}}</div>
                  <h4 class="margintextthumb">{{pg.nombre + ' ' + pg.apellidoPaterno + ' ' + pg.apellidoMaterno }}</h4>
                     <!--   <p *ngIf="pg.grupos.length > 0">Grupo:
                        <span *ngFor="let g of pg.grupos">{{g.grupo}}, </span>
                      </p>  -->
                
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!-- drag para eleiminar de grupo
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Grupo: {{grupo}}
            <button class="mb-sm btn btn-sm btn-danger btn-outline pull-right"  container="body" placement="bottom" tooltip="Vaciar Lista" (click)="resetBasket()">
              <em class="fa fa-trash-o"></em>
            </button>
          </div>
          <div class="panel-body" dnd-sortable-container [dropZones]="['demo1']" [sortableData]="ListaBorrar">
            <p [hidden]="ListaBorrar.length > 0">{{alert}}</p>
            <div *ngFor="let lb of ListaBorrar; let i = index" class="panel panel-default mat-elevation-z8 media-heading margintextthumb"
              dnd-sortable [sortableIndex]="i">
              <img class="pull-left media img-responsive img-circle thumb48 marginimg" src="{{lb.foto}}" alt="" />
              <div class="media-body">
                <div class="media-heading margintextthumb">
                  <h4>{{lb.nombre + ' ' + lb.apellidoPaterno }}</h4>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
</form>
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>