.some {
  width: 100%;
  height: 100%;
}

.some-css {
  overflow: hidden;
}
/******************** Estlos Propios **************************/

/*Estilos paraa las Tablas dt-Material*/
.dt-container {
  display: flex !important;
  flex-direction: column !important;
  min-width: 100% !important;
  font-size: 12px !important;
}

.dt-header {
  min-height: 64px !important;
  padding: 8px 24px 0 !important;
  font-size: 12px !important;
}

.mat-form-field {
  font-size: 12px !important;
  width: 100% !important;
}

/* ---------------------------------------------------------------------- */
/*  Estados en Grid
/* ---------------------------------------------------------------------- */

tr.selected td {
  background-color:  #5d9cec !important;
  color: white !important;
  box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 7px 10px 0 rgba(60,64,67,.3), 0 2px 2px 1px rgb(60,64,67,.15) !important;
  
}

tr.confident td {
  background-color:  #fcffdd;
  color: black;  
}
tr.cancel td {
  background-color:  #ffc7c7;
  color: black;  
}


/* ---------------------------------------------------------------------- */
/*  Table response
/* ---------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}

/* ---------------------------------------------------------------------- */
/*  Encabezados de vistas de tablas Views
/* ---------------------------------------------------------------------- */

.title-headre-view{
  padding: 8px 25px 0 !important;
}


div.card-header em{
  margin-right: 10px;
} 