.some {
  width: 100%;
  height: 100%;
}

.some-css {
  overflow: hidden;
}
/******************** Estlos Propios **************************/

/*Estilos paraa las Tablas dt-Material*/
.dt-container {
  padding: 10px 10px 20px !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 100% !important;
  font-size: 12px !important;
}

.dt-header {
  min-height: 64px !important;
  padding: 8px 24px 0 !important;
  font-size: 12px !important;
}

.mat-form-field {
  font-size: 12px !important;
  width: 100% !important;
}

/* ---------------------------------------------------------------------- */
/*  Estados en Grid
/* ---------------------------------------------------------------------- */

tr td
{
  cursor: pointer;
}
tr.selected td {
  background-color:  #5d9cec !important;
  color: white !important;
  box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 7px 10px 0 rgba(60,64,67,.3), 0 2px 2px 1px rgb(60,64,67,.15) !important;
  
}

tr.filter-colum td {
  box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 7px 10px 0 rgba(60,64,67,.3), 0 2px 2px 1px rgb(60,64,67,.15) !important;
}

tr.confident td {
  background-color:  #fcffdd;
  color: black;  
}
tr.cancel td {
  background-color:  #ffc7c7;
  color: black;  
}
tr.enProceso td{
  background-color: rgb(247, 215, 145); 
  box-shadow:inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 7px 10px 0 rgba(60,64,67,.3), 0 2px 2px 1px rgb(60,64,67,.15) !important;
}
tr.cubierta td{
  background-color: rgb(175, 245, 178);
}

/* ---------------------------------------------------------------------- */
/*  Table response
/* ---------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  table {
      width:100% !important;
  }
  thead {
      display: none !important;
  }
  tr:nth-of-type(2n) {
      background-color: inherit !important;
  }
  tr td:first-child {
      background: #f0f0f0 !important;
      font-weight:bold !important;
      font-size:1.3em !important;
  }
  tbody td {
      display: block !important;
      text-align:center !important;
  }
  tbody td:before {
      content: attr(data-th) !important;
      display: block !important;
      text-align:center !important;
  }
}

/* ---------------------------------------------------------------------- */
/*  Encabezados de vistas de tablas Views
/* ---------------------------------------------------------------------- */

.title-headre-view{
  padding: 8px 25px 0 !important;
}


div.card-header em{
  margin-right: 10px;
} 

#toast-container {
  margin-bottom: 35px;
}

