
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body bg-light border fontRoboto">
            <h5 class="bg-warning-light p-1"><i class="fa fa-globe mr-1" aria-hidden="true"></i>UNIDADES DE NEGOCIO</h5>
            <hr>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="unId" (change)="GetDtosReclutadoresByUnidad()">
              <mat-radio-button [checked]="true" [value]="0">TODAS</mat-radio-button>
              <mat-radio-button *ngFor="let u of unidadesnegocios" [value]="u.id">{{u.descripcion}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center p-1 mb-2">
        <div class="input-group input-group-sm float-left mt-1 mb-1 with-focus longInput">
          <input (input)="onChangeTable($event)" class="form-control form-control-sm border-right-0 " type="text"
            placeholder="Filtrar por nombre" />
          <div class="input-group-append">
            <span class="input-group-text fa fa-search text-info bg-transparent border-left-0"></span>
          </div>
        </div>
        <div class="float-right"><span
            class="text-muted text-uppercase">Total de Registros <span
              class="badge badge-pill badge-success ml-1">{{totalReclutadores}}</span></span></div>
      </div>
    <ng-container *ngFor="let r of rows">
      <ng-container *ngIf="r.reclutadores.length > 0">
        <h5 class="p-1 bg-info-light"><i class="fa fa-building-o mr-2" aria-hidden="true"></i>{{r.oficina | uppercase}}
          <span class="float-right">TOTAL RECLUTADORES<span
              class="badge badge-pill badge-success ml-2">{{r.reclutadores.length}}</span></span>
        </h5>
        <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown"
          [disableOnBreakpoints]="false" [disabled]="disabled">
          <div style="height: 200px;">
            <div id="accordion">
              <div class="card" *ngFor="let row of r.reclutadores; let rowIndex = index">
                <div class="card-header" [class.bg-info]="row.verRow">

                  <a (click)="GoVacantes(row)">
                    <h5 class="text-muted d-flex justify-content-between align-items-center">
                      <span>
                        <i class="text-info fa fa-user mr-2"></i>{{ row.nombre | uppercase }}
                      </span>
                      <small>VACANTES <span class="badge badge-pill badge-warning ml-1">{{row.requis}}</span></small>
                    </h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </ng-container>
    </ng-container>
  </div>
</div>