.bgMio
{
    background-color: rgb(115, 182, 249);
}
.fontMio
{
  font-family: 'Lato', sans-serif;

}

.text-info
{
    color: rgb(11, 83, 149) !important;
}
.text-muted
{
    color:rgb(83,83,83) !important;
}

.card
{
    width: 600px !important;
    height: 427px;
    
}
.carousel-caption
{
    width: 600px;
    right: 0%;
    top: 90%;
    bottom: 0px;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 0px;

}

.carousel-control-prev-icon, .carousel-control-next-icon {

    background-color: black !important;
}