.bgMio
{
    background-color: rgb(115, 182, 249);
}
.fontMio
{
  font-family: 'Lato', sans-serif;

}

.text-info
{
    color: rgb(11, 83, 149) !important;
}
.text-muted
{
    color:rgb(83,83,83) !important;
}

.card
{
    width: 700px !important;
    height: 500px;
    
}
.carousel-caption
{
    width: 700px;
    right: 0%;
    top: 90%;
    bottom: 2px;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 0px;

}

.btn-label
{
    width: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn
{
    border-radius: 25px;
}

.btn-postulate {
  
   width: 40%;
height: 35px;
  
 }

