.bgMio
{
    background-color: rgb(115, 182, 249);
}
.fontMio
{
  font-family: 'Lato', sans-serif;

}

.text-info
{
    color: rgb(11, 83, 149) !important;
}
.text-muted
{
    color:rgb(83,83,83) !important;
}