tr.select {
    background-color:  #5d9cec !important;
    color: white;
  }
  tr.unselectable,
  tr.unselectable td {
    cursor: not-allowed;
}

  tbody {
    display: block;
    height: 350px;
  }
  
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
  }
  
  table thead {
    width: calc(100% - 1em)
  }
  
  table {
    width: 100%;
  }

  tbody tr:hover
{
//   transform:scale(0.999,0.9);
//   transform-origin:center;
    font-size: 15px;
  box-shadow:1px 2px 6px rgba(0,0,0,.23);
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}