<!-- <div class="dt-container mat-elevation-z8">-->

  <span class="d-flex justify-content-start align-items-center fontLato text-warning">
    <i class="fa fa-phone mr-1"></i>TEL&Eacute;FONOS</span>

<!-- <div class="card card-default"> -->
<div *ngIf="(rows || []).length > 0" #tableContainer>
  <table id="resultDataTable" class="table" style="width: 100%;">
    <thead>
      <tr>
        <th *ngFor="let column of columns" class="{{column.className || ''}}">
          <small>{{column.title | uppercase}}</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr  class="text-muted" *ngFor="let row of rows" [class.selected]="row.selected" (click)="onCellClick(row)">
        <td class="text-center">{{row.calle | uppercase}}</td>
        <td class="text-center"> {{row.tipo | uppercase}}</td>
        <td class="text-center"> {{row.clavePais}} - {{row.claveLada}} - {{row.telefono}}</td>
        <td class="text-center"> {{row.extension}}</td>
        <td class="text-center">
          <span *ngIf="row.activo">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.activo">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
        <td class="text-center">
          <span *ngIf="row.esPrincipal">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.esPrincipal">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div> -->
<div *ngIf="(rows || []).length == 0" class="alert alert-primary" role="alert">
    <strong>¡Oops!</strong> No se encontraron telefonos ...
 </div>
