<div class="dt-container mat-elevation-z8">
    <div class="title-headre-view">
      <h4>Tel&eacute;fonos</h4>
    </div>
    <!-- <div class="card card-default"> -->
      <div class="table-responsive" #tableContainer>
        <table id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
          <thead>
            <tr>
              <th *ngFor="let column of columns" class="{{column.className || ''}}">{{column.title}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td class="text-center"> {{row.tipoTelefono?.tipo}}</td>
              <td class="text-center"> {{row.clavePais}} - {{row.claveLada}} - {{row.telefono}}</td>
              <td class="text-center"> {{row.extension}}</td>
              <td class="text-center">
                <span *ngIf="row.activo">
                  <em class="fa fa-check-square-o"></em>
                </span>
                <span *ngIf="!row.activo">
                  <em class="fa fa-square-o"></em>
                </span>
              </td>
              <td class="text-center">
                <span *ngIf="row.esPrincipal">
                  <em class="fa fa-check-square-o"></em>
                </span>
                <span *ngIf="!row.esPrincipal">
                  <em class="fa fa-square-o"></em>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>