.wd-xl
{
  width: 700px !important;
}

a:hover
{
    text-decoration: none;
}

.bg-info
{
    background-color: #23B7E5;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
