<h3 class="text-primary text-center" mat-dialog-title>Asignar Requisición folio: {{data?.folio}}</h3>
<mat-divider></mat-divider>
<ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact"
  [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <app-asignar-requisicion-lider #asginaciones [Asignados]='data.asignados' [placeHolder]='placeHolderSelect'
          (Asignacion)='getAsignacion($event)'></app-asignar-requisicion-lider>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <strong class="text-primary">EMPRESA: </strong>
        <p>{{data?.cliente | uppercase}}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <strong class="text-primary">PUESTO: </strong>
        <p>{{data?.vBtra | uppercase}}</p>
      </div>
      <div class="col-md-4">
        <strong class="text-primary">SUELDO: </strong>
        <p>De ${{data?.sueldoMinimo | currency: 'MXN'}} a ${{data?.sueldoMaximo | currency:'MXN'}}</p>
      </div>
    </div>
    <br>
    <form [formGroup]="formAsignaciones">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="cumplimiento" placeholder="Fecha Cumplimiento"
              formControlName="fch_Cumplimiento" required>
            <mat-datepicker-toggle matSuffix [for]="cumplimiento"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #cumplimiento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput max="20" min="1" placeholder="Días habiles envío al cliente"
              formControlName="diasEnvio" required>
              <mat-hint align="start">
                  <strong class="text-info">Seleccione de 1 - 20 d&iacute;as</strong>
                </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="Ponderación" formControlName="Ponderacion">
              <mat-option *ngFor="let x of Ponderacion" [value]="x.Id">
                {{x.Ponderacion}}
              </mat-option>
            </mat-select>
            <mat-hint align="start">
              <strong class="text-info">Verificar que la Ponderación sea la correcta</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row" *ngIf="!data.confidencial">
      <div class="col-md-12">
        <mat-checkbox #publicRD [(ngModel)]="redesSociales">Publicar en Redes Sociales ? </mat-checkbox>
        <form [formGroup]="formRS">
          <div #SecciponRd *ngIf="redesSociales">
            <mat-form-field class="example-full-width">
              <input #oficio matInput placeholder="Oficio Requisición (Nombre de Publicacion de Vacante)" formControlName="Oficio" required>
              <mat-hint align="end">{{oficio.value.length}} / 100</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput #message maxlength="500" placeholder="Comentario (Formacion Adicional a publcar ¿Que necesitas?)" rows="8"
                formControlName="Comentario"></textarea>
              <mat-hint align="start">
                <strong>Comentario adicional para la publicación</strong>
              </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="row" #MessageAlert>
      <span>
        <small [ngClass]="alertAssing ? 'text-danger': 'text-success'">
          <em *ngIf="alertAssing" class="fa fa-close"></em>
          <em *ngIf="!alertAssing" class="fa fa-check"></em>
          Seleccione por lo menos a un Reclutador o usted mismo para continuar.
        </small>
      </span>
    </div>
  </div>
</ng-scrollbar>
<mat-divider></mat-divider>
<mat-dialog-actions>

  <button type="button" class="btn btn-xs btn-labeled btn-danger mb-1 margen float-right mat-elevation-z8"
    (click)="onCloseDialog()">
    <span class="btn-label">
      <i class="fa fa-times"></i>
    </span> Cancelar
  </button>
  <button type="button" [disabled]="!formAsignaciones.valid || loading ||  alertAssing"
    *ngIf="!redesSociales && !loading" class="btn btn-xs btn-labeled btn-success mb-1 margen float-right mat-elevation-z8"
    (click)="Save()">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
  <button type="button" [disabled]="!formAsignaciones.valid || !formRS.valid ||  alertAssing"
    *ngIf="redesSociales && !loading" class="btn btn-xs btn-labeled btn-success mb-1 margen float-right mat-elevation-z8"
    (click)="Save()">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
  <img class="loading-position" *ngIf="loading"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
</mat-dialog-actions>
