.margen
{
    margin-right: 10px;
}

.loading-position{
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-left: 0px;
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}
