<h3 class="text-primary text-center" mat-dialog-title>Asignar Requisición folio: {{data?.folio}}</h3>
<mat-divider></mat-divider>
<br>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <app-asignar-requisicion-lider #asginaciones [Asignados]='data.asignados' [placeHolder]='placeHolderSelect'
        (Asignacion)='getAsignacion($event)'></app-asignar-requisicion-lider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <strong class="text-primary">EMPRESA: </strong>
      <p>{{data?.cliente}}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <strong class="text-primary">PUESTO: </strong>
      <p>{{data?.vBtra}}</p>
    </div>
    <div class="col-md-4">
      <strong class="text-primary">SUELDO: </strong>
      <p>De {{data?.sueldoMinimo | currency:"$"}} a {{data?.sueldoMaximo | currency:"$"}}</p>
    </div>
  </div>
  <br>
  <form [formGroup]="formAsignaciones">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput [matDatepicker]="cumplimiento" placeholder="Fecha Cumplimiento" formControlName="fch_Cumplimiento"
            required>
          <mat-datepicker-toggle matSuffix [for]="cumplimiento"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #cumplimiento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-">
        <mat-form-field>
          <input type="number" matInput max="20" min="1" placeholder="Días habiles envío al cliente" formControlName="diasEnvio"
            required>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button type="button" class="btn btn-xs btn-labeled btn-outline-danger mb-1 margen" (click)="onCloseDialog()">
        <span class="btn-label">
          <i class="fa fa-times"></i>
        </span> Cancelar
      </button>
      <button type="button" [disabled]="!formAsignaciones.valid || loading" class="btn btn-xs btn-labeled btn-outline-success mb-1 margen"
        (click)="Save()">
        <span class="btn-label">
          <i class="fa fa-check"></i>
        </span> Aceptar
      </button>
      <img class="loading-position" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
</mat-dialog-actions>
