<!-- START date widget-->
<div class="card flex-row align-items-center align-items-stretch border-0">
  <div class="col-4 d-flex align-items-center bg-green justify-content-center rounded-left">
    <div class="text-center">
      <div class="text-sm" now format="MMMM">{{date | date:'MMMM' : format: taimezone-es}}</div>
      <br>
      <div class="h2 mt-0" now format="D">{{date | date:'dd'}}</div>
    </div>
  </div>
  <div class="col-8 py-3 rounded-right">
    <div class="text-uppercase" now format="dddd">{{date | date:'EEEE'}}</div>
    <br>
    <div class="h2 mt-0" now format="h:mm">{{date | date: 'h:mm'}}</div>
    <div class="text-muted text-sm" now format="a"> {{date | date: 'a'}}</div>
  </div>
</div>
<!-- END date widget-->
