<div class="card media">
  <div class="card-body mat-elevation-z8">
    <div class="row">
      <div class="col-sm-12 col-md-12 clearfix p-2 bg-light">
        <button id="add" #add class="margen mr-1 btn btn-xs btn-primary btn-acciones mat-elevation-z8" type="button"
          [routerLink]="['/ventas/nuevoProspecto', 2]" container="body" placement="bottom" tooltip="Agregar Prospecto">
          <em class="fa fa-plus"></em>
        </button>
        <em class="vl"></em>
        <button id="view" #view class="margen mr-1 btn btn-xs btn-acciones mat-elevation-z8"
          (click)="visualizarProspecto()" placement="bottom" tooltip="Ver Cliente" [disabled]="!element"
          [ngClass]="(!element) ? 'disabled':'btn-warning'">
          <em class="fa fa-eye"></em></button>
        <button id="edit" #edit class="margen mr-1 btn btn-xs btn-acciones mat-elevation-z8" chkPrivilegiosButtons
          (click)="editarProspecto()" [disabled]="!element" [ngClass]="(!element) ? 'disabled' : 'btn-info'"
          container="body" placement="bottom" tooltip="Editar"><em class="fa fa-pencil"></em></button>
        <em class="vl"></em>
        <button id="hacerCliente" #hacerCliente class="margen mr-1 btn btn-xs btn-acciones mat-elevation-z8"
          chkPrivilegiosButtons (click)="HacerClienteModal.show()" [disabled]="!element"
          [ngClass]="(!element) ? 'disabled' : 'btn-success'" container="body" placement="bottom"
          tooltip="Hacer Cliente">
          <em class="fa  fa fa-handshake-o"></em></button>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" container="body"
          class="margen mr-1 btn btn-xs btn-acciones float-right mat-elevation-z8" [disabled]="!clearFilter"
          [ngClass]="(!clearFilter) ? 'disabled':'btn-primary'">
          <em class="fa fa-eraser"></em>
        </button>
        <button type="button" class="margen mr-1 btn btn-xs btn-acciones btn-success float-right mat-elevation-z8"
          (click)="refreshTable()" container="body" placement="bottom" tooltip="Actualizar" container="body">
          <em class="icon-refresh"></em>
        </button>
      </div>
    </div>

    <div class="row" #tableContainer>
      <div class="col-sm-12 col-md-12 table-responsive clearfix">
        <div>
            <span class="text-muted font-weight-bold float-right text-uppercase mt-2">Total de Registros <span
              class="badge badge-pill badge-success ml-1">{{dataSource.length  | numerico}}</span></span>
        </div>
        <table id="prospectosDataTable" ngClass="{{config.className || ''}}" class="table" role="grid"
          style="width: 100%;">
          <thead>
            <tr>
              <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                <span>{{column.title | uppercase}}</span>
                <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)"
                  [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                </i>
              </th>
            </tr>
            <tr *ngIf="showFilterRow">
              <td *ngFor="let column of columns">
                <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                  [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                  class="form-control form-control-sm" id="{{column.name}}">
              </td>
            </tr>
          </thead>
          <tbody>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
              [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
              <div *ngIf="!Loading else SpinnerLoading">
                <tr *ngFor="let row of rows; let i=index" (click)="onCellClick(row)" [class.selected]="row.selected">
                  <td class="text-center">
                    <span *ngIf="row.nombrecomercial.length < 50 else toLength">
                      {{row.nombrecomercial}}
                    </span>
                    <ng-template #toLength>
                      <span placement="bottom" tooltip="{{row.nombrecomercial}}"> {{row.nombrecomercial | slice:0:15 |
                        uppercase }} ...
                      </span>
                    </ng-template>
                  </td>
                  <td class="text-center">{{row.giroEmpresa}}</td>
                  <td class="text-center">{{row.actividadEmpresa}}</td>
                  <td class="text-center">{{row.tamanoEmpresa}}</td>
                  <td class="text-center"> {{row.numeroEmpleados}}</td>
                  <td class="text-center">
                    <span *ngIf="row.clasificacion == 1" class="color-star">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="row.clasificacion == 2" class="color-star">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span *ngIf="row.clasificacion == 3" class="color-star">
                      <i class="fa fa-star" aria-hidden="true"> </i>
                      <i class="fa fa-star" aria-hidden="true"> </i>
                      <i class="fa fa-star" aria-hidden="true"> </i>
                    </span>
                  </td>
                  <td class="text-center">{{row.tipoEmpresa}}</td>
                </tr>
              </div>
              <ng-template #SpinnerLoading>
                <div class="card-body d-flex align-items-center justify-content-center">
                  <img
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                </div>
              </ng-template>
            </ng-scrollbar>
          </tbody>
        </table>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <pagination *ngIf="config.paging" class="pagination-sm float-right" [(ngModel)]="page" [totalItems]="length"
          [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
          (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>

      </div>
    </div>
  </div>
</div>



<!-- Elenetos visuales -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>

<!-- MODAL PARA HACER CLIENTE -->
<div bsModal #HacerClienteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{ show: false, ignoreBackdropClick: true, keyboard: false }" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title text-center">{{element?.nombrecomercial}}</h4>
        <button type="button" class="close pull-right" (click)="HacerClienteModal.hide(); formCliente.reset()"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCliente">
          <div class="card-body">
            <mat-form-field>
              <input matInput placeholder="Razón Social" formControlName="RazonSocial" name="RazonSocial"
                maxlength="100" maxlength="100" required="" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="RFC" formControlName="RFC" name="RFC" minlength="12" maxlength="13"
                required="" />
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="ValidarRFC" name="ValidarRFC" placeholder="Validar RFC" minlength="12"
                maxlength="13" />
              <mat-hint align="start">
                <strong *ngIf="formCliente.controls.ValidarRFC.errors?.MachRFC" class="text-danger">Los datos
                  ingresados no coinciden, favor de verificar la informaci&oacute;n</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
          (click)="HacerClienteModal.hide(); formCliente.reset()">Cancelar
        </button>
        <button type="button" class="md-1 btn btn-xs mat-elevation-z8" [disabled]="!formCliente.valid"
          [ngClass]="!formCliente.valid ? 'disabled' : 'btn-success'"
          (click)="HacerClienteModal.hide(); createCliente(); formCliente.reset()">Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
