<mat-card class="example-card">
    <!-- Header Card -->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <h3>{{ titulo }}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{ descripcion }}</mat-card-subtitle>
    </mat-card-header>
    <!-- Contenido Card -->
    <mat-card-content>
        <!-- Panel expandible -->
        <mat-accordion class="example-headers-align">
            <!-- Filtros -->
            <mat-expansion-panel *ngIf="idCatalogo == 3 || idCatalogo == 4" [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    Filtros
                </mat-expansion-panel-header>
                <app-filtros [IdCat]="idCatalogo" [Estados]="estados" [Municipios]="municipios" (Parametros)="Filtros($event)"></app-filtros>
            </mat-expansion-panel>
            <!-- Tabla de registros -->
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Registros de {{ titulo }}
                    </mat-panel-title>
                    <mat-icon>list</mat-icon>
                </mat-expansion-panel-header>
                <div class="container-12">
                    <app-table [tableHeads]="HeadTable" [tableDatas]="DataTable" (IdRegistro)="LoadIdReg($event)"></app-table>
                </div>
            </mat-expansion-panel>
            <!-- Formulario de catalogo -->
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Formulario de {{ titulo }}
                    </mat-panel-title>
                    <mat-icon *ngIf="idCatalogo == 1 || idCatalogo == 2">map</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 3 || idCatalogo == 4">place</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 6">phone</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 41">account_circle</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 7">book</mat-icon>
                </mat-expansion-panel-header>
                <!-- Componentes -->
                <!-- Sistema -->
                <app-paises *ngIf="idCatalogo == 1" [Log]="log" [SelectedPais]="selectedId" (UpPaises)="Refresh($event)"></app-paises>
                <app-estados *ngIf="idCatalogo == 2" [Log]="log" [Paises]="paises" [SelectedEstado]="selectedId" (UpEstados)="Refresh($event)"></app-estados>
                <app-municipios *ngIf="idCatalogo == 3" [Log]="log" [Estados]="estados" [SelectedMunicipio]="selectedId" (UpMunicipios)="Refresh($event)"></app-municipios>
                <app-colonias *ngIf="idCatalogo == 4" [Log]="log" [Paises]="paises" [Estados]="estados" [Municipios]="municipios" [SelectedColonia]="selectedId" (UpColonia)="Refresh($event)"></app-colonias>
                <app-tipo-telefono *ngIf="idCatalogo == 6" [Log]="log" [SelectedTipoTelefono]="selectedId" (UpTpTelefono)="Refresh($event)"></app-tipo-telefono>
                <app-tipo-usuario *ngIf="idCatalogo == 41" [Log]="log" [SelectedTipoUsuario]="selectedId" (UpTpUsuario)="Refresh($event)"></app-tipo-usuario>
                <app-estado-civil *ngIf="idCatalogo == 7" [Log]="log" [SelectedEstadoCivil]="selectedId" (UpEstadoCivil)="Refresh($event)"></app-estado-civil>
                <app-departamentos *ngIf="idCatalogo == 42" [Log]="log" [Areas]="areas" [SelectedDepartamento]="selectedId" (UpDepartamentos)="Refresh($event)"></app-departamentos>
                <app-areas *ngIf="idCatalogo == 43" [Log]="log" [SelectedArea]="selectedId" (UpAreas)="Refresh($event)"></app-areas>
                <!-- Reclutamiento -->
                <app-escolaridades *ngIf="idCatalogo == 34" [SelectedEscolaridad]="selectedId" [Log]="log" (UpEscolaridad)="Refresh($event)"></app-escolaridades>
                <app-nivelestudios *ngIf="idCatalogo == 35" [SelectedNivel]="selectedId" (UpNivel)="Refresh($event)"></app-nivelestudios>
                <app-nivelestudios *ngIf="idCatalogo == 35" [SelectedNivel]="selectedId" [Log]="log" (UpNivel)="Refresh($event)"></app-nivelestudios>
                <app-mediovacante *ngIf="idCatalogo == 36" [SelectedMedio]="selectedId" [Log]="log" (UpMedios)="Refresh($event)"></app-mediovacante>
                <app-idiomas *ngIf="idCatalogo == 37" [SelectedIdioma]="selectedId" [Log]="log" (UpIdioma)="Refresh($event)"></app-idiomas>
                <app-discapacidades *ngIf="idCatalogo == 38" [SelectedDiscapacidad]="selectedId" [Log]="log" (UpDiscapacidad)="Refresh($event)"></app-discapacidades>
                <app-tipolicencia *ngIf="idCatalogo == 39" [SelectedTpLicencia]="selectedId" [Log]="log" (UpTpLicencia)="Refresh($event)"></app-tipolicencia>
                <app-tipoexamen *ngIf="idCatalogo == 40" [SelectedTpExamen]="selectedId" [Log]="log" (UpTpExamen)="Refresh($event)"></app-tipoexamen>
                <!-- Ventas -->
                <app-giro-empresa *ngIf="idCatalogo == 8" [SelectedGiro]="selectedId" [Log]="log" (UpGiro)="Refresh($event)"></app-giro-empresa>
                <app-actividad-empresa *ngIf="idCatalogo == 9" [SelectedActividad]="selectedId" [Giros]="giros" [Log]="log" (UpActividad)="Refresh($event)"></app-actividad-empresa>
                <app-tamano-empresa *ngIf="idCatalogo == 10" [SelectedTamano]="selectedId" [Log]="log" (UpTamano)="Refresh($event)"></app-tamano-empresa>
                <app-tipo-base *ngIf="idCatalogo == 11" [SelectedTipoBase]="selectedId" [Log]="log" (UpTipoBase)="Refresh($event)"></app-tipo-base>
                <app-perfil-exp *ngIf="idCatalogo == 16" [SelectedPerfil]="selectedId" [Log]="log" (UpPerfil)="Refresh($event)"></app-perfil-exp>
                <app-aptitud *ngIf="idCatalogo == 17" [SelectedAptitud]="selectedId" [Log]="log" (UpAptitud)="Refresh($event)"></app-aptitud>
                <app-area-exp *ngIf="idCatalogo == 18" [SelectedAreaExp]="selectedId" [Log]="log" (UpAreaExp)="Refresh($event)"></app-area-exp>
                <app-area-interes *ngIf="idCatalogo == 19" [SelectedAreaInteres]="selectedId" [areaExp]="areaExp" [Log]="log" (UpAreaInteres)="Refresh($event)"></app-area-interes>
                <app-jornada-laboral *ngIf="idCatalogo == 20" [SelectedJornada]="selectedId" [Log]="log" (UpJornada)="Refresh($event)"></app-jornada-laboral>
                <app-modalidad *ngIf="idCatalogo == 21" [SelectedModalidad]="selectedId" [Log]="log" (UpModalidad)="Refresh($event)"></app-modalidad>
                <app-tp-psicometria *ngIf="idCatalogo == 22" [SelectedPsicometria]="selectedId" [Log]="log" (UpPsicometria)="Refresh($event)"></app-tp-psicometria>
                <app-tp-nomina *ngIf="idCatalogo == 24" [SelectedNomina]="selectedId" [Log]="log" (UpNomina)="Refresh($event)"></app-tp-nomina>
                <app-periodo-pago *ngIf="idCatalogo == 26" [SelectedPeriodo]="selectedId" [Log]="log" (UpPeriodo)="Refresh($event)"></app-periodo-pago>
                <app-dia-semana *ngIf="idCatalogo == 23" [SelectedDia]="selectedId" [Log]="log" (UpDias)="Refresh($event)"></app-dia-semana>
                <app-tipo-beneficio *ngIf="idCatalogo == 27" [SelectedBeneficio]="selectedId" [Log]="log" (UpBeneficio)="Refresh($event)"></app-tipo-beneficio>
                <app-tipo-contrato *ngIf="idCatalogo == 28" [SelectedTpContrato]="selectedId" [Log]="log" (UpTpContrato)="Refresh($event)"></app-tipo-contrato>
                <app-tiempo-contrato *ngIf="idCatalogo == 29" [SelectedTiempoContrato]="selectedId" [Log]="log" (UpTiempoCont)="Refresh($event)"></app-tiempo-contrato>
                <app-doc-damsa *ngIf="idCatalogo == 31" [SelectedDocDamsa]="selectedId" [Log]="log" (UpDocDamsa)="Refresh($event)"></app-doc-damsa>
                <app-prest-ley *ngIf="idCatalogo == 32" [SelectedPrestLey]="selectedId" [Log]="log" (UpPrestLey)="Refresh($event)"></app-prest-ley>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>