<mat-card class="example-card">
    <!-- Header Card -->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <h3>{{ titulo }}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{ descripcion }}</mat-card-subtitle>
    </mat-card-header>
    <!-- Contenido Card -->
    <mat-card-content>
        <!-- Panel expandible -->
        <mat-accordion class="example-headers-align">
            <!-- Filtros -->
            <mat-expansion-panel *ngIf="idCatalogo == 3 || idCatalogo == 4" [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    Filtros
                </mat-expansion-panel-header>
                <app-filtros [IdCat]="idCatalogo" [Estados]="estados" [Municipios]="municipios" (Parametros)="Filtros($event)"></app-filtros>
            </mat-expansion-panel>
            <!-- Tabla de registros -->
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Registros de {{ titulo }}
                    </mat-panel-title>
                    <mat-icon>list</mat-icon>
                </mat-expansion-panel-header>
                <div class="container-12">
                    <app-table [tableHeads]="HeadTable" [tableDatas]="DataTable" (IdRegistro)="LoadIdReg($event)"></app-table>
                </div>
            </mat-expansion-panel>
            <!-- Formulario de catalogo -->
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Formulario de {{ titulo }}
                    </mat-panel-title>
                    <mat-icon *ngIf="idCatalogo == 1 || idCatalogo == 2">map</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 3 || idCatalogo == 4">place</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 6">phone</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 41">account_circle</mat-icon>
                    <mat-icon *ngIf="idCatalogo == 7">book</mat-icon>
                </mat-expansion-panel-header>
                <!-- Componentes -->
                <!-- Sistema -->
                <app-paises *ngIf="idCatalogo == 1" [SelectedPais]="selectedId" (UpPaises)="Refresh($event)"></app-paises>
                <app-estados *ngIf="idCatalogo == 2" [Paises]="paises" [SelectedEstado]="selectedId" (UpEstados)="Refresh($event)"></app-estados>
                <app-municipios *ngIf="idCatalogo == 3" [Estados]="estados" [SelectedMunicipio]="selectedId" (UpMunicipios)="Refresh($event)"></app-municipios>
                <app-colonias *ngIf="idCatalogo == 4" [Paises]="paises" [Estados]="estados" [Municipios]="municipios" [SelectedColonia]="selectedId" (UpColonia)="Refresh($event)"></app-colonias>
                <app-tipo-telefono *ngIf="idCatalogo == 6" [SelectedTipoTelefono]="selectedId" (UpTpTelefono)="Refresh($event)"></app-tipo-telefono>
                <app-tipo-usuario *ngIf="idCatalogo == 41" [SelectedTipoUsuario]="selectedId" (UpTpUsuario)="Refresh($event)"></app-tipo-usuario>
                <app-estado-civil *ngIf="idCatalogo == 7" [SelectedEstadoCivil]="selectedId" (UpEstadoCivil)="Refresh($event)"></app-estado-civil>
                <!-- Reclutamiento -->
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>