.longSelect
{
    width: 60% !important;
}

.longInput
{
  width: 30%;
}

.estilo
{
  list-style: none;
}

table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 50px;

  /*text-align: left;*/
}

tbody {
  height: 600px;
  overflow-y: auto;
}

thead {
  /* fallback */
}


tbody td, thead th {
  width: 19.5%;
  float: left;
}
 
tr:hover
{
//   transform:scale(0.999,0.9);
//   transform-origin:center;
    font-size: 15px;
  box-shadow:1px 2px 6px rgba(0,0,0,.23);
}
