<div class="content-heading">
    <div>
      Examenes
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n Examenes Psicom&eacute;tricos.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Examenes</li>
    </ol>
  </div>


<div class="card">
    <div class="card-header justify-content-between text-warning">
        <h5><em class="fa fa-key"></em>RESULTADOS DE CLAVES PSICOM&Eacute;TRICAS</h5>
        <hr>
    </div>
    <div class="card-body">

       <div class="input-group longInput">
        <input (input)="Search($event)" class="form-control form-control-sm" type="text" placeholder="Filtrar por clave" />
        <div class="input-group-append">
            <span class="input-group-text text-info"><em class="fa fa-search"></em></span>
          </div>
      </div>
      <br/>
        <div class="table-responsive mat-elevation-z8">
         <table class="table">
          <thead>
              <tr class="text-primary">
                <th class="text-center text-success">CLAVE</th>
                <th class="text-center">NOMBRE</th>
                <th class="text-center">PSICOM&Eacute;TRICO</th>
                <th class="text-center">RESULTADO</th>
                <th class="text-center">GUARDAR</th>
              </tr>
            </thead>
          <tbody>
              <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact" [shown]="shown"
              [disableOnBreakpoints]="false" [disabled]="disabled">
              <div>
            <tr *ngFor="let row of rows">
              <td class="text-center text-success">{{row.clave | uppercase}}</td>
              <td class="text-center text-muted">{{row.nombre | uppercase}} {{row.apellidoPaterno | uppercase}} {{row.apellidoMaterno | uppercase}}</td>
              <td class="text-center text-muted">
                <ul>
                  <li class="estilo text-muted" *ngFor="let r of row.psicometricos">{{r.nombre | uppercase}}</li>
                </ul></td>
              <td class="text-center">
                  <span *ngIf="row.resultado != 'SIN RESULTADO'" class="text-muted">
                      {{row.resultado | uppercase}}
                  </span>
                  <mat-form-field class="longSelect" *ngIf="row.resultado == 'SIN RESULTADO'">
                      <mat-select placeholder="Seleccionar Resultado">
                        <mat-option *ngFor="let c of catalogo" [value]="c" (click)="row.resultado = c; row.resVal = true;">
                          {{c}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </td>
              <td class="text-center">
                  <button [disabled]="!row.resVal" [ngClass]="!row.resVal ? 'btn btn-xs enabled' : 'btn btn-xs btn-success mat-elevation-z8'" type="button" (click)="AgregarResultado(row)">
                      <em class="fa fa-check"></em>
                  </button>
              </td>

            </tr>
          </div>
          </ng-scrollbar>
          </tbody>
       </table>
       </div>
     </div>
     <div class="text-right">

        <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
        <pre class="card card-block card-header text-muted">Total Registros: {{candidatos.length}}</pre>

    </div>

  </div>

  <ng-template #NotCandidatos>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <alert type="info">
                <strong>Oops!</strong> A&uacute;n no cuentas con examenes para revisar.
                </alert>

        </div>
      </div>
    </ng-template>


  <toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
