<!--  -->


<div class="card">
    <div class="card-header justify-content-between text-warning">
        <h5><em class="fa fa-key"></em>RESULTADOS DE CLAVES PSICOM&Eacute;TRICAS</h5>
        <hr>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-start mb-3">
            <button class="btn btn-xs btn-success mat-elevation-z8" placement="right" tooltip="Generar Claves" (click)="GenerarClaves()"><i class="fa fa-plus"></i></button>
          </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
              <div class="input-group input-group-sm float-left mt-1 mb-1 with-focus longInput">

                  <input (input)="Search($event)" class="form-control form-control-sm border-right-0 " type="text" placeholder="Filtrar por Clave" />
                  <div class="input-group-append">
                    <span class="input-group-text fa fa-search text-info bg-transparent border-left-0"></span>
                  </div>
                </div>
          </div>
          <div class="col-sm-6 col-md-6">
      <span class="text-muted font-weight-bold float-right text-uppercase mb-3 mr-3">Total de Registros <span
        class="badge badge-pill badge-success ml-1">{{candidatos.length  | numerico}}</span></span>
      </div>
    </div>
      <br/>
        <div class="table-responsive mat-elevation-z8">
         <table class="table">
          <thead>
              <tr class="text-primary">
                <th class="text-center text-success">CLAVE</th>
                <th class="text-center">NOMBRE</th>
                <th class="text-center">PSICOM&Eacute;TRICO</th>
                <th class="text-center">RESULTADO</th>
                <th class="text-center">GUARDAR</th>
              </tr>
            </thead>
          <tbody>
              <ng-scrollbar #scrollable    
              track="all" [disabled]="disabled">
              <div>
            <tr *ngFor="let row of rows">
              <td class="text-center text-success">{{row.clave | uppercase}}</td>
              <td class="text-center text-muted">{{row.nombre | uppercase}} {{row.apellidoPaterno | uppercase}} {{row.apellidoMaterno | uppercase}}</td>
              <td class="text-center text-muted">
                <ul>
                  <li class="estilo text-muted" *ngFor="let r of row.psicometricos">{{r.nombre | uppercase}}</li>
                </ul></td>
              <td class="text-center">
                  <span *ngIf="row.resultado != 'SIN RESULTADO'" class="text-muted">
                      {{row.resultado | uppercase}}
                  </span>
                  <mat-form-field class="longSelect" *ngIf="row.resultado == 'SIN RESULTADO'">
                      <mat-select placeholder="Seleccionar Resultado">
                        <mat-option *ngFor="let c of catalogo" [value]="c" (click)="row.resultado = c; row.resVal = true;">
                          {{c}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </td>
              <td class="text-center">
                  <button [disabled]="!row.resVal" [ngClass]="!row.resVal ? 'btn btn-xs enabled' : 'btn btn-xs btn-success mat-elevation-z8'" type="button" (click)="AgregarResultado(row)">
                      <em class="fa fa-check"></em>
                  </button>
              </td>

            </tr>
          </div>
          </ng-scrollbar>
          </tbody>
       </table>
       </div>
     </div>
     <div class="d-flex justify-content-end mr-3">

        <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>

    </div>

  </div>

  <ng-template #NotCandidatos>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <alert type="info">
                <strong>Oops!</strong> A&uacute;n no cuentas con examenes para revisar.
                </alert>

        </div>
      </div>
    </ng-template>


  <toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
