<div class="content-heading">
    <div>
      Examenes
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n Examenes Psicom&eacute;tricos.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Examenes</li>
    </ol>
  </div>

<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-header justify-content-between text-info">
              <h5><em class="fa fa-file-text-o"></em>PERFILES DISPONIBLES</h5>
              <hr>
          </div>
          <div class="card-body mat-elevation-z8">
               <table class="table">
                  <thead>
                      <tr>

                        <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                          <small>{{column.title | uppercase}}</small>

                        </th>
                      </tr>
                      <tr>
                        <th *ngFor="let column of columns">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                            class="form-control form-control-sm" id="{{column.name}}">
                        </th>

                      </tr>
                    </thead>
                <tbody>
                    <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                    [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                    <div>
                  <tr *ngFor="let row of rows;" container="body" placement="bottom" tooltip="click para seleccionar" [class.selected]="row.selected" (click)="onSelect(row)">
                    <td class="text-center text-success">{{row.folio}}</td>
                    <td class="text-center text-muted">{{row.vBtra | uppercase}}</td>
                    <td class="text-muted">
                      <ul>
                        <li class="estilo text-muted" *ngFor="let r of row.psicometricos">{{r.nombre | uppercase}}</li>
                      </ul></td>
                    <td class="text-center">
                        <button [disabled]="row.claves == 0" [ngClass]="(row.claves === 0) ? 'btn btn-xs enabled' : 'btn btn-xs btn-warning'" class=" mat-elevation-z8" type="button"  (click)="GetClaves(row);verClaves=true;requi = row.vBtra">
                            {{row.claves}}
                        </button>
                    </td>
                  </tr>
                  </div>
                  </ng-scrollbar>
                </tbody>
             </table>
           </div>
           <br/>
           <div class="text-right">

                  <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
                  </pagination>
                  <pre class="card card-block card-header text-muted">Total Registros: {{requisiciones.length}}</pre>

              </div>

        </div>

  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-header justify-content-between text-info">
              <h5><em class="fa fa-key"></em>GENERAR CLAVES</h5>
              <hr>
          </div>
          <div class="card-body">
              <small *ngIf="seleccionados.length == 0" class="form-text text-muted text-danger">Debe seleccionar perfil</small>
              <h5 class="text-success" *ngIf="seleccionados.length > 0"><em class="fa fa-file-text-o"></em> {{seleccionados[0].folio}} {{seleccionados[0].vBtra | uppercase}}
            </h5>
            <hr>
              <label class="text-warning">CLAVE</label>
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="clave" name="claves" (keydown.enter)="AgregarClave(clave)" minlength="16" maxlength="16">
                <div class="input-group-append">
                  <button [disabled]="clave.length < 16" class="btn btn-xs btn-success  mat-elevation-z8" type="button"  (click)="AgregarClave(clave)">
                    <em class="fa fa-plus"></em>
                  </button>
                </div>
              </div>
              <small class="form-text text-muted text-danger" *ngIf="clave.length < 16">clave debe contener 16 caracteres ser alfanum&eacute;ricos y las claves no deben repetirse</small>
              <br/>
              <div class="justify-content-between">
              <ul class="list-group long">
                  <li *ngFor="let item of listClaves; let ind = index;" class="list-group-item">
                      <span class="text-success">{{ind + 1}}. {{item}}
                          <button class="btn btn-xs btn-danger float-right mat-elevation-z8" type="button" (click)="PopClave(item)">
                              <em class="fa fa-times"></em>
                          </button>

                        </span>
                  </li>
              </ul>


                    <button *ngIf="seleccionados.length > 0" [disabled]="spinner" class="btn btn-xs btn-success float-right mat-elevation-z8" type="button"  (click)="Agregar()" container="body" placement="bottom" tooltip="Asignar Claves">
                      <em *ngIf="!spinner" class="fa fa-check"></em>
                      <span *ngIf="spinner">
                          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                      </span>
                    </button>

            </div>
            <br/>

              <!-- <div class="margin">
                  <p class="list-group text-warning" *ngFor="let r of seleccionados"><em class="fa fa-file-text-o">  {{r.folio}} - {{r.vBtra | uppercase}}</em></p>
                </div>
              -->
           </div>
        </div>
  </div>

</div>

<!--modal ver claves-->
<div *ngIf="verClaves" [config]="{ show: true, ignoreBackdropClick: true }" bsModal #lgModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="pull-left text-warning"><em class="fa fa-key"></em> CLAVES GENERADAS - {{ requi | uppercase}}</h5>
          <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="lgModal3.hide();CloseModal()" ><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body">
          <ul class="scroll">
            <li [ngClass]="(c.activo === 0) ? 'text-success' : 'text-muted'" class="text-muted list-group-item" *ngFor="let c of clavesRequi[0].claves; let ind = index;">{{c.clave | uppercase}}</li>
          </ul>
        </div>
        <div class="modal-footer">
            <div class="text-right">

                <pre class="card card-block card-header text-muted">Total Claves: {{clavesRequi[0].claves.length}}</pre>
                </div>

        </div>
      </div>
    </div>
  </div>


<!-- <ng-container *ngFor="let row of requisiciones; let ind = index">

    <div class="margin">
      <p *ngIf="requisiciones.length > 0 else NotRequi" class="list-group text-warning"><em class="fa fa-file-text-o">  {{row.folio}} - {{row.vBtra | uppercase}}</em></p>
    </div>

      <ul *ngIf="row.postulados.length > 0 else NotCandidatos" class="list-group">
        <li container="body" placement="bottom" tooltip="click para seleccionar" [class.selected]="r.selected" class="list-group-item rowHover text-muted long" *ngFor="let r of row.postulados; let rowIndex = index" (click)="onSelect(r)">
          <em class="fa fa-user-circle-o text-success"></em> {{r.curp | uppercase}} {{r.nombre | uppercase}} {{r.apellidoPaterno | uppercase}} {{r.apellidoMaterno | uppercase}} </li>
      </ul>
      <hr>
    </ng-container> -->

  <!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">

              <strong>Oops!</strong> A&uacute;n no cuentas con candidatos postulados.

      </div>
    </div>
  </ng-template>

    <!--mensaje cuando esta vacio la tabla-->
<ng-template #NotRequi>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <alert type="info">
              <strong>Oops!</strong> A&uacute;n no cuentas con requisiciones nuevas.
            </alert>
      </div>
    </div>
  </ng-template>

  <toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
