<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
      <div class="brand-logo">
        <img class="img-responsive" src="assets/img/damsa/logo.png" alt="App Logo" />
      </div>
      <div class="brand-logo-collapsed">
        <img class="img-fluid" src="assets/img/damsa/logo.png" alt="App Logo" />
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Left navbar-->
  <ul class="navbar-nav mr-auto flex-row">
    <li class="nav-item">
      <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops -->
      <a class="nav-link d-none d-md-block d-lg-block d-xl-block" trigger-resize="" (click)="toggleCollapsedSideabar()"
        *ngIf="!isCollapsedText()">
        <em class="fa fa-navicon"></em>
      </a>
      <!-- Button to show/hide the sidebar on mobile. Visible on mobile only. -->
      <a class="nav-link sidebar-toggle d-md-none"
        (click)="settings.layout.asideToggled =! settings.layout.asideToggled; $event.stopPropagation(); settings.layout.viewChevron = !settings.layout.viewChevron">
        <em class="fa fa-navicon"></em>
      </a>
    </li>
    <!-- START User avatar toggle-->
    <li class="nav-item d-none d-md-block">
      <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
      <a class="nav-link" title="Ocultar perfil" (click)="toggleUserBlock($event)">
        <em class="icon-user"></em>
      </a>
    </li>
    <!-- END User avatar toggle-->
    <!-- START lock screen-->
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" title="Cerrar sesi&oacute;n" [routerLink]="'/login'">
        <em class="icon-lock"></em>
      </a>
    </li>

    <!-- START sistema tickets-->
    <li class="nav-item d-none d-md-block">
      <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
      <a class="nav-link" title="Sistema de turnos" [routerLink]="'/Tickets'">
        <em class="fa fa-ticket"></em>
      </a>
    </li>
    <!-- END sistema tickets-->

    <!--Start Mostrar Calendario -->
    <li class="nav-item d-none d-md-block">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a class="nav-link" title="Calendario" [routerLink]="['/home/Calendario']">
          <em class="fa fa-calendar"></em>
        </a>
      </li>
    
       <!--Start Mostrar requis pendientes factura -->
    <li class="nav-item d-none d-md-block">
        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
        <a class="nav-link" title="Enviar a factura" [routerLink]="['/reclutamiento/autorizarRequi']">
          <em class="fa fa-check"></em>
        </a>
      </li>
    <!-- End Mostrar Calendario -->
    <li class="nav-item d-none d-md-block">
      <a href="#" (click)="openModal(acercaDe)" title="Actualizaci&oacute;n" class="nav-link">
        <em class="fa fa-question-circle-o"></em>
      </a>
    </li>
    <!-- END lock screen-->
  </ul>
  <!-- END Left navbar-->
  <!-- START Right Navbar-->
  <ul class="navbar-nav flex-row">
    <!-- Search icon-->
    <!-- <li class="nav-item">
            <a class="nav-link" (click)="openNavSearch($event)">
                <em class="icon-magnifier"></em>
            </a>
        </li> -->
    <li *ngIf="admin == '1'" class="nav-item">
      <a class="nav-link" title="Jobs" [routerLink]="'/admin/jobPause'">
        <em class="fa fa-bolt"></em>
      </a>
    </li>

    <!-- START Alert menu-->
    <li class="nav-item dropdown dropdown-list" dropdown>
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" dropdownToggle>
        <em class="icon-bell alertPosition"></em>
        <span *ngIf="NotRead.length > 0 else AlertOk" class="badge badge-danger alertPosition">{{NotRead.length}}</span>
        <ng-template #AlertOk>
          <span class="badge alertOk"><em class="fa fa-check alertPosition"></em></span>
        </ng-template>
      </a>
      <!-- START Dropdown menu-->
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right animated flipInX" style="max-width: 200px;">
        <div class="dropdown-item">
          <div class=" d-flex justify-content-between">
            <a href="#" (click)="openModal(template); getAllAlertStm();">
              <p class="text-info text-left action">Mostrar todo</p>
            </a>
            <a href="#" (click)="leidoTodo()" *ngIf="NotRead.length > 0">
              <p class="text-info text-right action">Marcar todo como leido</p>
            </a>
          </div>
          <div class="list-group">
            <div class="list-group-item list-group-item-action" *ngFor="let item of alertMessage">
              <div class="media">
                <div class="align-self-start mr-2">
                  <em class="{{item.icon}} text-info"></em>
                  <p class="m-0 text-muted text-sm float-rigth">
                    <em (click)="leido(item)" *ngIf="item.activo" class="fa fa-envelope-o envelope action"
                      placement="bottom" tooltip="Marcar como leido"></em>
                    <em *ngIf="!item.activo" class="fa fa-envelope-open-o envelope-open "></em>
                  </p>
                </div>
                <div class="media-body">
                  <!-- <p class="text-justify">{{item.alert}}</p> -->
                  <p *ngIf="item.alert.length <= 60 else toLength" class="m-0">{{item.alert}}</p>
                  <ng-template #toLength>
                    <p clas="m-0" placement="bottom" tooltip="{{item.alert}}"> {{item.alert | slice:0:60 }}...</p>
                  </ng-template>
                  <p class="m-0 text-muted text-sm">{{item.creacion | date: 'dd/MM/yyyy hh:mm'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!-- Fullscreen (only desktops)-->
    <!-- <li class="nav-item d-none d-md-block">
            <a class="nav-link" #fsbutton (click)="toggleFullScreen($event)">
                <em class="fa fa-expand"></em>
            </a>
        </li> -->
    <!-- END Alert menu-->
    <!-- START Offsidebar button-->
    <!-- <li class="nav-item">
      <a class="nav-link" (click)="toggleOffsidebar(); $event.stopPropagation()">
        <em class="icon-notebook"></em>
      </a>
    </li> -->
    <!-- END Offsidebar menu-->
  </ul>

  <!-- END Right Navbar-->

  <!-- <app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch> -->

</nav>
<!-- END Top Navbar-->
<!-- Modal Para ver todas las Alertas  -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title text-center">Mis alertas</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="text-danger">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <div class="list-group-item list-group-item-action" *ngFor="let item of allAlertMessage">
        <div class="media">
          <div class="align-self-start mr-2">
            <em class="{{item.icon}} text-info"></em>
            <p class="m-0 text-muted text-sm float-rigth">
              <em (click)="leido(item)" *ngIf="item.activo" class="fa fa-envelope-o envelope action" placement="bottom"
                tooltip="Marcar como leido"></em>
              <em *ngIf="!item.activo" class="fa fa-envelope-open-o envelope-open "></em>
            </p>
          </div>
          <div class="media-body">
            <!-- <p class="text-justify">{{item.alert}}</p> -->
            <p *ngIf="item.alert.length <= 60 else toLength" class="m-0">{{item.alert}}</p>
            <ng-template #toLength>
              <p clas="m-0" placement="bottom" tooltip="{{item.alert}}"> {{item.alert | slice:0:60 }}...</p>
            </ng-template>
            <p class="m-0 text-muted text-sm">{{item.creacion | date: 'dd/MM/yyyy hh:mm'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="md-1 btn btn-xs btn-outline-danger" (click)="modalRef.hide()">Cerrar</button>
  </div>
</ng-template>

<ng-template #acercaDe>
  <div class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title text-success">Actualizaciones del Sistema {{settings.app.vertion}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="text-danger">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="contenAcerDe">
        <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [compact]="compact"
          [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">

          <div class="content-acercaDe" [innerHTML]="text"></div>

        </ng-scrollbar>

        <div style="margin-top: 2em"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="md-1 btn btn-xs btn-outline-danger" (click)="modalRef.hide()">Cerrar</button>
    </div>
  </div>
</ng-template>
