.envelope-open {
  color: #0ff608;
}

.envelope {
  color: rgb(253, 180, 84)
}

.action {
  cursor: pointer;
}

.alertOk {
  color: #0ff608;
}

.alertPosition {
  margin-right: 15px;
}

.dropdown-list .dropdown-menu {
  padding: 0;
  min-width: fit-content;
}

.modal-lg {
  max-width: 100% !important;
  max-height: 50% !important;
}
.contenAcerDe{
    width: 100%;
    height: 400px;
}

.content-acercaDe{
  padding: 0;
  min-width: fit-content;
}

.modal-md {
  max-width: 100% !important;
  max-height: 50% !important;
}

.footer-modl-sistem{
  background-color: #119FF1;
    width: 100%;
    height: 40px;
    padding: 10px 0px 0px 0px;
    color: white;
}

.img-logo{
  max-width: 60%;
  display: block;
  margin: auto;
  padding: 25px 0 0 0;
}

.text-info-modal{
  font-size: 25px;
    font-family: monospace;
}

