.envelope-open {
  color: #0ff608;
}

.envelope {
  color: rgb(253, 180, 84)
}
.action{
    cursor: pointer;
}

.alertOk{
    color: #0ff608;
}

.alertPosition{
    margin-right: 15px;
}

.dropdown-list  .dropdown-menu {
    padding: 0;
    min-width: fit-content;
}
