<div class="row">
  <h5 class="text-center p-2 bg-light"><i class="fa fa-hourglass-half mr-1" aria-hidden="true"></i>EN ESPERA</h5>
  <div class="col-sm-2 col-md-2">
    <app-fila-tickets [cita]=2></app-fila-tickets>   
  </div>
  <div class="col-sm-2 col-md-2">
      <app-fila-tickets [cita]=1></app-fila-tickets>   
  </div>
  <div class="col-sm-8 col-md-8">
  <h1 class="p-2 bg-light text-success text-center">VACANTES DISPONIBLES</h1>
  <hr>
  <app-carrusel-vacantes></app-carrusel-vacantes>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <app-en-atencion></app-en-atencion>
  </div>
</div>