

  <!-- <div class="col-sm-4 col-md-4">

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-body" style="height: 125px;">
            <h1 class="text-center mt-2">SINCITA-05</h1>
            <h3 class="text-center">PUERTA 3</h3>
          </div>
        </div>
      </div>
    </div>

    <h5 class="text-center text-warning p-2 bg-light">
      <i class="fa fa-hourglass-half mr-1" aria-hidden="true"></i>EN ESPERA</h5>
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-sm-6 col-md-6">
            <app-fila-tickets [cita]=2></app-fila-tickets>
          </div>
          <div class="col-sm-6 col-md-6">
            <app-fila-tickets [cita]=1></app-fila-tickets>
          </div>

        </div>
      </div>
    </div>

  </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <app-en-atencion></app-en-atencion>
      </div>
</div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <!-- <h3 class="p-1 bg-light text-success text-center">
          <i class="fa fa-users mr-2" aria-hidden="true"></i>VACANTES DISPONIBLES</h3> -->
          <div class="card">
            <div class="card-body mat-elevation-z8">
              <div class="d-flex flex-row justify-content-between">
              <div>
                  <app-carrusel-arte-vacantes></app-carrusel-arte-vacantes>
              </div>
              <!-- <div class="ml-1" style="width: 500px;">
                  <app-carrusel-vacantes></app-carrusel-vacantes>
                 
              </div> -->
            </div>
            </div>
          </div>
        
      </div>
    </div>
