<form [formGroup]="DocumentosArray">
    <section class="col-12">
      <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
      <strong class="text-warning">Documentos adicionales a petici&oacute;n del cliente</strong>
      <span class="fa fa-plus em-button text-primary float-right"
        (click)="AddDocumento()"></span>
      <mat-divider></mat-divider>
    </section>
    <section>
      <div *ngFor="let documento of DocumentosArray['controls'].documento['controls']; let i=index">
        <div formArrayName="documento">
          <form [formGroupName]="i">
            <app-doc-cliente [IdFormato]="IdFormato" [documento]="DocumentosArray.controls.documento.controls[i]" [index]="i"
              (Add)="Agregar($event)" (remove)="removeDocumento($event)" (Registros)="getRegistros($event)">
            </app-doc-cliente>
          </form>
        </div>
      </div>
    </section>
  </form>
