<!-- <div class="dt-container mat-elevation-z8"> -->
  <div class="title-headre-view d-flex justify-content-between">
    <h4>Rutas de Camiones</h4>
    <div *ngIf="DireccionId">
      <button id="update" class="mb-1 btn btn-xs btn-success margen mat-elevation-z8" (click)="agregarRutasCamion()"
        chkPrivilegiosButtons tooltip="Agregar Ruta" placement="bottom">
        <em class="fa fa-plus"></em>
      </button>
      <button id="update" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!ruta" (click)="updateRutasCamion()"
        chkPrivilegiosButtons tooltip="Editar Ruta" placement="bottom" [ngClass]="(!ruta) ? 'disabled' : 'btn-info'">
        <em class="icon-pencil"></em>
      </button>
      <button id="update" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!ruta" (click)="sweetalertDeleteRuta()"
        chkPrivilegiosButtons tooltip="Eliminar Ruta" placement="bottom" [ngClass]="(!ruta) ? 'disabled' : 'btn-danger'">
        <em class="icon-trash"></em>
      </button>
    </div>
  </div>
  <div *ngIf="DireccionId">
    <div class="table-responsive" #tableContainer *ngIf="!TableDisable else NotResult">
      <table id="tablaHorarios" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" class="{{column.className || ''}}">{{column.title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
            <td class="text-center"> {{row.ruta | uppercase}} </td>
            <td class="text-center"> {{row.via | uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #NotResult>
      <alert type="info">
        <strong>Oops!</strong> Esta direcci&oacute;n no cuenta con rutas registradas...
      </alert>
    </ng-template>
  </div>
  <div *ngIf="DAMFO290Id">
    <div class="table-responsive" #tableContainer *ngIf="rows.length > 0 else NotResult">
      <table id="tablaHorarios" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columnsD" class="{{column.className || ''}}">{{column.title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
            <td class="text-center"> {{row.direccion | uppercase}}</td>
            <td class="text-center"> {{row.ruta | uppercase}} </td>
            <td class="text-center"> {{row.via | uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #NotResult>
      <alert type="info">
        <strong>Oops!</strong> Esta direcci&oacute;n no cuenta con rutas registradas...
      </alert>
    </ng-template>
  </div>

  <!-- </div> -->
<!-- </div> -->

<!-- Mensajes Toast -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
