label
{
    font-size: 10px;
}
.btnRegister{
    display: flex;
     justify-content: center;
     align-items: center;
    border-radius: 25px;
    width: 38%;
    height: 25px;
     font-size: 10px;
     padding: 0;
}

// input:focus{
//     border-color: red;
// }

// ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: red;
//     opacity: 1; /* Firefox */
// text-align: end;
//   }
  
//   :-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: red;
//     text-align: end;
//   }
  
//   ::-ms-input-placeholder { /* Microsoft Edge */
//     color: red;
//     text-align: end;
//   }

.valido
{
    border-color:rgb(76, 248, 76);
    background-color: rgb(232, 240, 254);
}

.btn-labeled
{
  height: 30px;

}
.btn-labeled > span
{
  display: flex;
  align-self: center;
}
.btn-label
{
  height: 30px;
  display: flex;
  align-self: center;
}
// .long
// {
//     width: 250px;
//     height: 80px;
// }

tbody {
    display: block;
    height: 350px;
  }
  
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
  }
  
  table thead {
    width: calc(100% - 1em)
  }
  
  table {
    width: 100%;
  }

  .long
  {
      width:260px;
 
  }
  .ladaLong
  {
      width: 60px;

  }
  .form-control
  {
      height: 25px !important;
  }
  .input-group-text
  {
    height: 25px !important;
  }
//   select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) {
//     height: 20px;
// }
  .dateLong
  {
      width: 200px;
  }
ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }
  