<div class="content-heading">
    <span>REGISTRO MASIVO</span>
    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item">
            <a class="text-info" (click)="Regresar()" style="cursor: pointer;">VACANTES RECLUTADOR</a>
        </li>
        <li class="breadcrumb-item active text-muted">REGISTRO CANDIDATOS</li>
    </ol>
</div>
<div class="card">
    <h5 class="card-header d-flex justify-content-between align-items-center p-1 bg-info">PERFIL {{data.vacante | uppercase}} <span>RECLUTADOR {{data.reclutador | uppercase}}</span>
    </h5>
    <div class="card-body fontLato">
        <form [formGroup]="formRegister" (ngSubmit)="ValidarFormaRegistro()" novalidate>
            <div class="d-flex justify-content-between">
                <mat-form-field class="mr-3">
                    <input matInput (change)="GenerarCurp(null)" type="text" placeholder="NOMBRE"
                        formControlName="name">
                </mat-form-field>
                <mat-form-field class="mr-3">
                    <input matInput (change)="GenerarCurp(null)" type="text" placeholder="APELLIDO PATERNO"
                        formControlName="apellidoP" />
                </mat-form-field>
                <mat-form-field class="mr-3">
                    <input matInput (change)="GenerarCurp(null)" type="text" placeholder="APELLIDO MATERNO"
                        formControlName="apellidoM" />
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-3">
                <div class="col-sm-3 col-md-3">
                    <!--GENERO-->
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <mat-label>GENERO</mat-label>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button (change)="GenerarCurp(null)" value="2"><small>MUJER</small>
                            </mat-radio-button>
                            <mat-radio-button (change)="GenerarCurp(null)" value="1" class="ml-2"><small>HOMBRE</small>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <mat-form-field>
                        <mat-label>FECHA DE NACIMIENTO</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateBirth"
                            (dateChange)="validarFecha($event.value);GenerarCurp(null);">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <small *ngIf="edad >= 18" class="text-info">Edad {{edad}}</small>
                    </mat-form-field>
                    <!-- <small *ngIf="edad < 18" class="text-danger">El usuario debe ser mayor de edad</small> -->
                </div>
                <div class="col-sm-3 col-md-3">
                    <mat-form-field>
                        <mat-label>LUGAR DE NACIMIENTO</mat-label>
                        <mat-select formControlName="estado" (selectionChange)="GenerarCurp($event.value)">
                            <mat-option *ngFor="let e of estados" [value]=e.clave>
                                {{e.estado | uppercase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 col-md-3">
                    <mat-form-field>
                        <input matInput type="text" placeholder="CURP" formControlName="curp" minlength="16"
                            maxlength=18 />
                        <em matSuffix class="fa fa-refresh text-info em-button" container="body" placement="top"
                            tooltip="Generar CURP" (click)="GenerarCurp(formRegister.get('estado').value)"></em>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-3">
                <div class="col-sm-6 col-md-6">
                    <mat-radio-group formControlName="registro">
                        <mat-radio-button (change)="formaRegistro(1)" value="1">
                            <mat-form-field class="longEmail">
                                <input matInput type="email" placeholder="EMAIL" formControlName="email" />
                            </mat-form-field>
                        </mat-radio-button>
                        <mat-radio-button (change)="formaRegistro(2)" value="2" class="ml-3">
                            <mat-form-field class="ladaLong">
                                <input matInput type="tel" minlength="2" maxlength="3" placeholder="LADA"
                                    formControlName="lada" />
                            </mat-form-field>
                            <mat-form-field class="longTel ml-3">
                                <input matInput type="tel" minlength="7" maxlength="8" placeholder="TELEFONO"
                                    formControlName="telefono" />
                            </mat-form-field>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-sm-3 col-md-3">
                    <mat-form-field>
                        <mat-label>HORARIOS VACANTE</mat-label>
                        <mat-select formControlName="horariosCtrl">
                            <mat-option *ngFor="let h of horarios" [value]="h.id">
                                {{h.nombre | uppercase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 col-md-3">
                    <mat-form-field>
                        <mat-label>FUENTE DE RECLUTAMIENTO</mat-label>
                        <mat-select formControlName="submedios">
                            <mat-optgroup *ngFor="let m of medios" [label]="m.nombre | uppercase"
                                [disabled]="m.disabled">
                                <mat-option *ngFor="let sub of m.medios" [value]="sub.tipoMediosId">
                                    {{sub.tipoNombre | uppercase}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="formRegister.get('telefono').errors">
                <p *ngIf="formRegister.get('telefono').hasError('invalidNumber')">
                    El valor debe ser num&eacute;rico.
                </p>
                <p *ngIf="formRegister.get('telefono').hasError('existNumber')">
                    El n&uacute;mero de telefono ya se encuentra registrado
                </p>
                <p *ngIf="formRegister.get('telefono').hasError('sameNumber')">
                    El n&uacute;mero de telefono no se debe repetir
                </p>
            </div>
            <div *ngIf="formRegister.get('email').errors">
                <p *ngIf="formRegister.get('email').hasError('email')">
                    El email no tiene un formato v&aacute;lido
                </p>
                <p *ngIf="formRegister.get('email').hasError('existEmail')">
                    El email proporcionado ya se encuentra registrado
                </p>
                <p *ngIf="formRegister.get('email').hasError('sameEmail')">
                    El email proporcionado esta repetido
                </p>
            </div>
            <div class="d-flex justify-content-end align-items-center bg-light p-1 mt-4">
                <button type="button" [disabled]="rowIndex < 0" [ngClass]="rowIndex < 0 ? 'disabled' : 'btn-danger'"
                    class="btn btn-labeled d-flex justify-content-between align-items-center mat-elevation-z8"
                    (click)="BorrarCampos()">
                    <i class="fa fa-trash btn-label" aria-hidden="true"></i>
                    <span class="font-weight-bold mb-1">BORRAR CAMPOS</span>
                </button>
                <button container="body" placement="bottom" tooltip="Guardar cambios"
                    [disabled]="!formRegister.valid || !editar" type="submit"
                    [ngClass]="!formRegister.valid || !editar ? 'disabled' : 'btn-warning'"
                    class="btn btn-labeled d-flex justify-content-between align-items-center mat-elevation-z8 ml-3">
                    <i class="fa fa-floppy-o btn-label" aria-hidden="true"></i>
                    <span class="font-weight-bold mb-1">GUARDAR CAMBIOS</span>
                </button>
                <button type="submit" placement="bottom" tooltip="Agregar" [disabled]="!formRegister.valid || editar"
                    [ngClass]="!formRegister.valid || editar ? 'disabled' : 'btn-success'"
                    class="btn btn-labeled d-flex justify-content-between align-items-center mat-elevation-z8 ml-3">
                    <i class="fa fa-plus btn-label"></i>
                    <span class="font-weight-bold mb-1">AGREGAR</span>
                </button>
            </div>
        </form>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="d-flex justify-content-start">
            <div class="card card-body mat-elevation-z8">
                <div *ngIf="spinner" class="spinner">
                    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
                    </mat-progress-spinner>
                </div>
                <div class="row">
                    <div class="col">
                        <button *ngIf="tipoUsuario != 15" type="button" [disabled]="dataSource.length == 0"
                            [ngClass]="dataSource.length == 0 ? 'disabled' : 'btn-success'"
                            class="btn btn-labeled mat-elevation-z8 mt-1 d-flex justify-content-between"
                            (click)="cubrirCandidatos()">
                            <i class="fa fa-user-circle btn-label align-self-center"></i><span
                                class="font-weight-bold mb-1">Cubrir Candidatos</span></button>
                        <small *ngIf="data.contratados + this.dataSource.length == data.nv" class="text-warning"><i
                                class="fa fa-exclamation-triangle mr-1" aria-hidden="true"></i>El total de
                            candidatos apartados es el mismo al total de vacantes disponibles</small>
                        <small *ngIf="alertaVacantes" class="text-warning"><i class="fa fa-exclamation-triangle mr-1"
                                aria-hidden="true"></i>El total de
                            candidatos apartados es el mayor o igual al total de vacantes disponibles</small>
                        <button *ngIf="dataSource.length > 0" (click)="clearfilters()" container="body"
                            placement="bottom" tooltip="Limpiar Filtros"
                            class="btn btn-xs btn-info float-right mat-elevation-z8 mb-1">
                            <em class="fa fa-eraser"></em>
                        </button>
                        <span class="text-muted font-weight-bold float-right text-uppercase mr-4 mb-1">Total de
                            Candidatos
                            <span class="badge badge-pill badge-success ml-1">{{dataSource.length}}</span>
                        </span>
                        <span
                            class="text-muted font-weight-bold float-right text-uppercase mr-2 mb-1">Cubiertos/Vacantes
                            <span class="badge badge-pill badge-success ml-1">{{data.contratados}} /
                                {{data.nv}}</span>
                        </span>
                    </div>
                </div>
                <table *ngIf="dataSource.length > 0 else NotCandidatos" class="table border-top">
                    <thead>
                        <tr>
                            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                                <small>{{column.title | uppercase}}</small>
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let column of columns">
                                <input *ngIf="column.filtering" [ngTableFiltering]="column.filtering"
                                    (tableChanged)="onChangeTable(config)"
                                    placeholder="{{column.filtering.placeholder}}" class="form-control form-control-sm"
                                    id="{{column.name}}">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact"
                            [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                            <div style="height: 300px;">
                                <tr *ngFor="let row of rows; let rowIndex = index"
                                    (dblclick)="onCellClick(row, rowIndex,f)" container="body" placement="bottom"
                                    tooltip="doble click para editar" [class.bg-info]="row.selected">
                                    <td class="text-center">{{row.horario}}</td>
                                    <td class="text-center">{{row.curp}}</td>
                                    <td class="text-center">{{row.nombre | uppercase}}</td>
                                    <td class="text-center">{{row.apellidoPaterno | uppercase}}</td>
                                    <td class="text-center">{{row.apellidoMaterno | uppercase}}</td>
                                    <td class="text-center">{{row.fechaNac | date:'dd/MM/yyyy'}}</td>
                                    <td class="text-center">{{row.genero | uppercase}}</td>
                                    <td class="text-center">{{row.estadoNacimiento | uppercase}}</td>
                                    <td class="text-center">{{row.email}}</td>
                                    <td class="text-center">{{row.lada + row.telefono}}</td>
                                    <td class="text-center"><span *ngIf="row.estatus.length <= 10 else toLength"
                                            class='mr-1 badge badge-pill badge-info'
                                            [class.badge-warning]="row.estatusId === 42"
                                            [class.badge-danger]="row.estatusId == 28">
                                            <span *ngIf="row.estatusId != 28"> {{row.estatus | uppercase }}</span>
                                            <span *ngIf="row.estatusId == 28">POSTULADO</span>
                                        </span></td>
                                    <ng-template #toLength>
                                        <span class='px-1 mr-1 badge badge-pill badge-info'
                                            [class.badge-warning]="row.estatusId === 42"
                                            [class.badge-danger]="row.estatusId == 28" placement="bottom"
                                            tooltip="{{row.estatus | uppercase}}"
                                            container="body">{{row.estatus | slice:0:6 | uppercase }} ... </span>
                                    </ng-template>
                                </tr>
                            </div>
                        </ng-scrollbar>
                    </tbody>
                </table>
                <div *ngIf="dataSource.length > 0" class="d-flex justify-content-end">
                    <pagination *ngIf="config.paging" class="pagination-sm mr-2" [(ngModel)]="page"
                        [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true"
                        [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <alert type="info">
                <strong>Oops!</strong> A&uacute;n no cuentas con candidatos para registro.
            </alert>
        </div>
    </div>
</ng-template>