.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3931af), color-stop(100%, #00c6ff));
    background: -o-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: -ms-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: linear-gradient(to right, #3931af 0%, #00c6ff 100%);
    padding: 3%;

}

.register-left{
    text-align: center;
    color: #fff;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    height: 480px;
}


.round
{
    max-width: 180px;
    max-height: 28px;
    border-radius: 25px;

}

.input-group > .input-group-prepend > .input-group-text
{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color:#fff;
    border: 1px solid #dde6e9;
}

.input-group > .input-group-append > .input-group-text
{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 95%;
    background-color: #fff;
}

.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 90%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.register-left .inputLogin
{
    max-width: 180px;
    max-height: 35px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.register-left p{
    font-weight: lighter;
    padding: 9%;
    margin-top: -9%;
}
.register-left .card{
 
    margin-top: -9%;
    align-items: center;

}

.btn
{
    border-radius: 25px;
}

 .btn-lateral
 {
    width: 230px;
    height: 25px;
     display: flex;
     justify-content: space-between;

 }
 .btn-lateral .btn-label
{
    display: flex;
    align-self: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn-iniciar
{
  align-self: center;
  width: 50%;
  height: 20px;
  font-size: 10px;
}

.btn-iniciar > .btn-label
{
  padding: 0.3rem 0.7rem;
  width: 30px;
}
.btn-lg
{
    width: 280px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.btn-lg > .btn-label
 {
     width: 50px;
     height: 30px;
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
     display: flex;
     align-self: center;
}

.carouselLong > .card-body
{
    width: 600px !important;
    height: 400px;
}

.carousel-caption
{
    width: 700px;
    right: 0%;
    top: 80%;
    bottom: 2px;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 0px;

}
.btn-postulate {
  
    width: 40%;
 height: 30px;
   
  }