<div class="row register h-100">
  <div class="col-lg-12 my-auto">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="register-left">
          <img src="assets/img/damsa/logo.png" alt="" />
          <h3>BIENVENIDO</h3>
          <h4 *ngIf="logeado">Melina Morales Cordova</h4>
          <p>¡Estas a 1 minuto de encontrar tu empleo ideal!</p>
          <p *ngIf="verLogin">¡Solo inicia sesión!</p>
          <div *ngIf="verLogin" class="card bg-transparent">
            <div class="card-body">
              <div>
                <div class="input-group input-group-sm with-focus mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-warning border-right-0 fa fa-user"></span>
                  </div>
                  <input type="text" class="form-control form-control-sm border-left-0 inputLogin" placeholder="Usuario">
                </div>
                <div class="input-group input-group-sm with-focus mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-warning border-right-0 fa fa-key"></span>
                  </div>
                  <input type="password" class="form-control form-control-sm border-left-0 inputLogin" placeholder="Contraseña">
                </div>
                <button type="button" class="btn btn-labeled btn-success mat-elevation-z8 btn-iniciar align-self-end mr-2" (click)="logeado = true; verLogin=false;">
                  <span class="btn-label fa fa-play">
                  </span>INICIAR</button>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button *ngIf="!verLogin" type="button" class="btn btn-labeled btn-danger btn-lateral mat-elevation-z8" tabindex="-1" (click)="logeado = false; verLogin=true;">
              <span class="btn-label">
                <i class="fa fa-times"></i>
              </span>
              <span class="font-weight-bold mt-1">SALIR</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-9 register-right">
        <div class="row">
          <div class="col mt-2">
            <div class="input-group input-group-sm with-focus d-flex justify-content-end">
              <input type="text" class="form-control form-control-sm border-right-0 round" placeholder="Buscar por palabra clave">
              <div class="input-group-append">
                <span class="input-group-text fa fa-search text-info bg-transparent border-left-0"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column float-right">
              <button type="button" class="btn btn-labeled btn-secondary btn-lg btn-block mat-elevation-z8" (click)="FiltrarCategoria(0, myCarousel)">
                <span class="btn-label fa fa-eye text-warning mr-auto"></span>
                <span class="align-self-center text-warning font-weight-bold">Ver todas</span>
              </button>
              <ng-container *ngFor="let r of categorias">
                <button *ngIf="r.id != 0" type="button" [class.btn-success]="r.color == 1" [class.btn-info]="r.color == 2" [class.btn-danger]="r.color == 3"
                  [class.btn-primary]="r.color == 4" [class.btn-purple]="r.color == 5" [class.btn-warning]="r.color == 6" [class.btn-dark]="r.color == 7"
                  class="btn btn-labeled btn-success btn-lg btn-block mat-elevation-z8" (click)="FiltrarCategoria(r.id,myCarousel);myCarousel.cycle();">
                  <span class="btn-label mr-auto">
                    <i class="{{r.icono}}"></i>
                  </span>
                  <span class="align-self-center mr-auto">{{r.categoria}}</span>
                </button>
              </ng-container>
            </div>
            <ngb-carousel #myCarousel="ngbCarousel" *ngIf="vacantes.length > 0" [activeId]="activeId" [showNavigationArrows]="showNavigationArrows"
              [showNavigationIndicators]="showNavigationIndicators">
              <ng-template ngbSlide *ngFor="let v of vacantes">
                <div class="media ml-1" *ngIf="v.image">
                  <img class="align-self-center mr-3" [src]="v.image" alt="Random slide" style="width: 600px; height: 400px;">
                </div>
                <div *ngIf="!v.image" class="card carouselLong ml-1">
                  <div class="card-body bg-light fontMio mat-elevation-z8">
                    <div class="d-flex flex-column justify-content-between fontMio">
                      <h4 class="text-info mt-2 ml-1">
                        <i class="fa fa-chevron-right text-warning mr-1" aria-hidden="true"></i>{{v.vBtra}}</h4>
                      <h5 class="text-justify text-muted font-weight-bold ml-1">Escolaridad {{v.requisitos}}</h5>
                      <p class="text-justify ml-1">{{v.experiencia}}</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-caption d-flex justify-content-center">

                  <button *ngIf="logeado" class="btn btn-success btn-postulate mat-elevation-z8">
                    <span class="align-self-center font-weight-bold">POST&Uacute;LATE</span>
                    <em class="fa fa-thumbs-o-up ml-3"></em>
                  </button>

                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>