<div class="init-info">
  <div>
    <h3>Vista de Requisición {{folio}}</h3>
  </div>
  <br>
  <mat-divider></mat-divider>
  <!-- <button id="view" class="margen" chkPrivilegiosButtons (click)="lgModal.show()" class="mb-1 btn btn-acciones btn-outline-dark"
    matTooltip="Comentarios"><em class="fa fa-comments-o"></em></button> -->
  <app-view-info-requi [Folios]="folio"></app-view-info-requi>
  <br>
  <app-view-cuerpo-requi [Requisicion]="id"></app-view-cuerpo-requi>
  <br>
  <mat-divider></mat-divider>
  <div class="modal-footer">
    <btn-closed class="pull-right" [text]="textBtnCerrar" (click)="onCloseDialog()"></btn-closed>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Vacante: {{vacante}} {{folio}}</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <comentario-vacante [RequisicionId]="id"></comentario-vacante>
      </div>
      <div class="modal-footer">
        <button type="button" class="md-1 btn btn-outline-success" (click)="lgModal.hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
