<div class="content-heading">
  <div>
    Sistema Administrativo de Gestión Avanzada
    <span class="text-sm d-none d-sm-block">SAGA</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item active">Inicio</li>
  </ol>
</div>
<!-- Calendario -->
<!-- <div #calendar>
  <div class="calendar-app">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <clock></clock>
        <div class="card card-default">
          <div class="card-header">Full Calendar</div>
          <div class="card-body">
            <p>A JavaScript event calendar. Customizable and open source.</p>
            <p>FullCalendar is a drag-n-drop jQuery plugin for displaying events on a full-sized calendar.</p>
            <p>
              <strong>A JavaScript event calendar. Customizable and open source.</strong>
            </p>
          </div>
        </div>
        <div *ngIf="selectedEvent">
          <p>Selected:</p>
          <div class="box-placeholder">{{selectedEvent | json}}</div>
        </div>
        <div *ngIf="!selectedEvent">
          <p>Click calendar to show information</p>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="card card-default">
         
          <div class="card-body">
            <div #fullcalendar class="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->

<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ingrese un nuevo evento</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Elementos del componente .....
    <button type="button" class="btn btn-primary">Aceptar</button>
  </div>
</ng-template> -->

<app-asignar-requisicion></app-asignar-requisicion>
