<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <app-indicador-perfiles></app-indicador-perfiles>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <app-indicador-folios [UpdateFolios]="UpdateFolios"></app-indicador-folios>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <app-indicador-posiciones [UpdatePosiciones]="UpdatePosiciones"></app-indicador-posiciones>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <app-indicador-candidatos></app-indicador-candidatos>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center p-1 bg-info-light">
  <span>INDICADORES</span>
  <button id="read" chkPrivilegiosButtons (click)="open = !open"  class="btn btn-xs btn-circle btn-purple mat-elevation-z8" tooltip="Ver mapa" placement="top">
    <i *ngIf="!open" class="fa fa-globe fa-2x" aria-hidden="true"></i>
    <i *ngIf="open" class="fa fa-times fa-2x text-danger"></i>
  </button>
</div>
<div *ngIf="open" class="card mt-2" >
  <div class="card-body">
<app-mapa-reporte></app-mapa-reporte>
</div>
</div>
<div *ngIf="isGerenteOrAudito" class="row mt-2">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-indicador-und-negocio-mty></app-indicador-und-negocio-mty>
  </div>
  <div class="col-lg-4 col-md-4 col-sm 12">
    <app-indicador-und-negocio-gdl></app-indicador-und-negocio-gdl>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-indicador-und-negocio-mx></app-indicador-und-negocio-mx>
  </div>
</div>

<div class="row mt-2">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-grafica-vacantes-pie (ChangeFolios)="changeFolios($event)"></app-grafica-vacantes-pie>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-indicador-posiciones-activas (ChangePosiciones)="changePosiciones($event)"></app-indicador-posiciones-activas>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <app-indicador-candidatos-estatus></app-indicador-candidatos-estatus>
  </div>
</div>
