<div class="card">
  <div class="card-header">3 Comments</div>
  <div class="card-body">
      <div class="media">
          <img class="mr-3 rounded-circle thumb64" src="assets/img/user/01.jpg" />
          <div class="media-body">
              <h4 id="media-heading">
                  <a href="">Susan Grant</a>
                  <small>10 min</small>
              </h4>
              <p>Donec ac massa tortor. In hac habitasse platea dictumst. Nam blandit fringilla faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisi eget metus semper congue.</p>
              <p>Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</p>
          </div>
      </div>
      <hr/>
      <div class="media">
          <img class="mr-3 rounded-circle thumb64" src="assets/img/user/03.jpg" />
          <div class="media-body mb-3">
              <h4 id="media-heading">
                  <a href="">Dustin Dunn</a>
                  <small>20 min</small>
              </h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              <hr/>
              <div class="media">
                  <img class="mr-3 rounded-circle thumb64" src="assets/img/user/06.jpg" />
                  <div class="media-body">
                      <h4 id="nested-media-heading">
                          <a href="">Marcus Gomez</a>
                          <small>1 hour</small>
                      </h4>Integer ac nisl et urna gravida malesuada. Vivamus fermentum libero vel felis aliquet interdum.</div>
              </div>
          </div>
      </div>
  </div>
</div>