thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

em {
  cursor: pointer;
}

em .emhover:hover {
  color: #ec2121 !important;
}

.btn-labeled {
  width: 120px !important;
}