table
{
    width: 100%;
}

table tbody {
    display: block;
  
  }
  
  table tbody
  {
      font-size: 12px;
      font-family: 'Lato', sans-serif;
  }
  table thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  table thead {
    width: calc(100% - 1em)
  }

  
table tbody div
{
  height: 300px;
}

table tbody tr:hover{
  font-size: 14px;
  box-shadow:1px 20px 60px rgba(0,0,0,.23);
}

tr.unselectable,
tr.unselectable td {
  cursor: not-allowed;
}
ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}
.spinner {
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  z-index: 9999;
}