<div class="table-responsive">
  <table *ngIf="candidatos.length > 0 else NotCandidatos" class="table">
    <thead>
      <tr>
        <th class="text-center text-info">FOLIO</th>
        <th class="text-center text-info">NOMBRE SOLICITANTE</th>
        <th class="text-center text-info">MOTIVO</th>
        <th class="text-center text-info">FECHA INCIDENCIA</th>
        <th class="text-center text-info">NOMBRE CANDIDATO</th>
        <!-- <th class="text-center text-info">DATOS CANDIDATO</th> -->
        <th class="text-center text-info">ESTATUS</th>
        <th class="text-center text-info">DESCRIPCIÓN INCIDENCIA</th>
        <th class="text-center text-info">RESULTADO INCIDENCIA</th>
        <th width="10%" class="text-center text-info"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of candidatos; let rowIndex = index" [class.selected]="row.selected">
        <td class="text-center"> {{row.folio}}</td>
        <td class="text-center"> {{row.reclutador}}</td>
        <td class="text-center"> {{row.motivo}}</td>
        <td class="text-center">{{row.fecha | date:'dd/MM/yyyy'}}</td>
        <td class="text-center"> {{row.candidato}}</td>
        <!-- <td class="text-center">{{row.direccion}}</td> -->
        <td class="text-center"> 
          <span *ngIf="row.estatus === 'NR'">POSIBLE {{row.estatus}}</span>
          <span *ngIf="row.estatus !== 'NR'">{{row.estatus}}</span>
        </td>
        <td class="text-center"> {{row.comentario}}</td>
        <td class="text-center">
          <ng-container *ngIf="!editing[rowIndex + '-respuesta']" >
          <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-respuesta'] = true;" *ngIf="row.respuesta.length > 0 else cadenavacia" >
            {{row.respuesta}}
          </span>
          <ng-template #cadenavacia>
            <span container="body" placement="bottom" tooltip="Doble click para editar" (dblclick)="editing[rowIndex + '-respuesta'] = true;" >
             SIN ASIGNAR
            </span>
          </ng-template>
        </ng-container>
          <textarea [(ngModel)]="comentario" class="form-control-sm" autofocus (blur)="updateValue($event, 'respuesta', rowIndex);" *ngIf="editing[rowIndex + '-respuesta']" rows="4" cols="50" [value]="row.respuesta"></textarea>
    
        </td>
       
        <td width="10%" class="text-center">
            <button [disabled]="!row.activar" [ngClass]="!row.activar ? 'btn btn-xs disabled' : 'btn btn-xs btn-outline-warning'"  (click)="Confirmar(row, 28, 1)" type="button" container="body" placement="bottom" tooltip="Incidencia v&aacute;lida">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
            <button [disabled]="!row.activar" [ngClass]="!row.activar ? 'ml-1 btn btn-xs disabled' : 'ml-1 btn btn-xs btn-outline-info'" (click)="Confirmar(row, 27, 2)"  type="button" container="body" placement="bottom" tooltip="Incidencia no v&aacute;lida">
              <em class="fa fa-times"></em>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con incidencias.
          </alert>
    </div>
  </div>
</ng-template>
<!-- 


<div *ngIf="confirmar" [config]="{ show: true, ignoreBackdropClick: true }" class="modal fade" bsModal #lgModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-warning text-left">CONFIRMAR</h4>
        <span class="float-right text-warning"><i class="fa fa-question-circle-o fa-5x" aria-hidden="true"></i></span>
      </div>
      <div class="modal-body">
        <span class="text-muted font-weight-bold">EL CANDIDATO QUEDARA COMO NR. ¿ESTAS SEGURO?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" id="modal-btn-si" (click)="AddComentario(rowAux, estatusAux)">SI</button>
        <button type="button" class="btn btn-primary" id="modal-btn-no" (click)="confirmar = false;">NO</button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="confirmar2" [config]="{ show: true, ignoreBackdropClick: true }" class="modal fade" bsModal #lgModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-warning text-left" id="myModalLabel">CONFIRMAR</h4>
          <span class="float-right text-warning"><i class="fa fa-question-circle-o fa-5x" aria-hidden="true"></i></span>
        </div>
        <div class="modal-body">
          <p class="text-muted font-weight-bold">EL CANDIDATO QUEDARA COMO LIBERADO. ¿ESTAS SEGURO? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="modal-btn-si" (click)="AddComentario(rowAux, estatusAux)">SI</button>
          <button type="button" class="btn btn-primary" id="modal-btn-no" (click)="confirmar2 = false;">NO</button>
        </div>
      </div>
    </div>
  </div> -->

<div class="alert" role="alert" id="result"></div>

