a {
    box-shadow:1px 20px 60px rgba(0,0,0,.23);
    cursor: pointer;
}
.bg {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #3931af), color-stop(100%, #00c6ff));
    background: -o-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: -ms-linear-gradient(left, #3931af 0%, #00c6ff 100%);
    background: linear-gradient(to right, #3931af 0%, #00c6ff 100%);
    padding: 2%;
    height: 100%;
  
  }
  .sizeBarra {
    width: 100% !important;
    height: 10% !important;
  }

  .sizeDamsa {
      width: 15% !important;
  }
  .titulo {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
  }
  .bg-stripes {
    background-image: linear-gradient(45deg, #F5F7FA 41.67%, #eeeeee 41.67%, #eeeeee 50%, #F5F7FA 50%, #F5F7FA 91.67%, #eeeeee 91.67%, #eeeeee 100%);
    background-size: 8.49px 8.49px;
  }