ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }

  .long
  {
      height: 500px;
  }

  .ilong
  {
      width: 350px;
  }
li{
    cursor: pointer;
}
  li:hover
  {

    font-size: 12.5px;
    box-shadow: 1px 20px 60px rgba(0, 0, 0, .23);
  }