<div class="content-heading">
  <div>
    DAM-FO-290
    <span class="text-sm d-none d-sm-block">Administraci&oacute; de DAM-FO-290</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">DAM-FO-290</li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <span>Da clic
      <a (click)=goToDamfo() matTooltip="Ctrl + clic para venta nueva ">aquí</a> para continuar..... </span>
  </div>
</div>
