
<!-- <div class="content-heading">
    <div>
       Indicadores
        <span class="text-sm d-none d-sm-block">informe de indicadores.</span>
    </div>

    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
        <li class="breadcrumb-item active">Indicadores</li>
    </ol>
  </div> -->

  <ngx-spinner
  bdColor="rgba(198,195,195,0.8)"
  size="medium"
  color="#90daff"
  type="square-jelly-box"
  ></ngx-spinner>


<div  class="row">
    <div  class="col-xl-3 col-md-6">
        <div  class="card flex-row align-items-center align-items-stretch border-0">
            <div  class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em  class="fa fa-file-text fa-3x"></em>
            </div>
            <div  class="col-8 py-3 bg-primary rounded-right">
                <div  class="h2 mt-0">{{totalFolio}}</div>
                <div  class="text-uppercase">Folios</div>
            </div>
        </div>
    </div>
    <div  class="col-xl-3 col-md-6">
        <div  class="card flex-row align-items-center align-items-stretch border-0">
            <div  class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                <em  class="fa fa-briefcase fa-3x"></em>
            </div>
            <div  class="col-8 py-3 bg-purple rounded-right">
                <div  class="h2 mt-0">{{totalPos}}
                </div>
                <div  class="text-uppercase">Posiciones</div>
            </div>
        </div>
    </div>
    <div  class="col-xl-3  col-md-6">
        <div  class="card flex-row align-items-center align-items-stretch border-0">
            <div  class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em  class="fa fa-user fa-3x"></em>
            </div>
            <div  class="col-8 py-3 bg-green rounded-right">
                <div  class="h2 mt-0">{{cubierto}}</div>
                <div  class="text-uppercase">Cubiertas</div>
            </div>
        </div>
    </div>
    <div  class="col-xl-3  col-md-6">
            <div  class="card flex-row align-items-center align-items-stretch border-0">
                <div  class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                    <em  class="fa fa-user-o fa-3x"></em>
                </div>
                <div  class="col-8 py-3 bg-green rounded-right">
                    <div  class="h2 mt-0">{{faltante}}</div>
                    <div class="text-uppercase">Faltantes</div>
                </div>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="col-xl-4" style="float: left;">
            <div class="form-group ">
                <app-grafica-vacante-activa></app-grafica-vacante-activa>
            </div>
        </div>
        <div class="col-xl-4 " style="float: left;">
            <div class="form-group ">
                    <app-grafica-coordinacion></app-grafica-coordinacion>
                <!-- <app-grafica-vacante-cubierta></app-grafica-vacante-cubierta> -->
            </div>
        </div>
        <div class="col-xl-4 " style="float: left;">
            <div class="form-group ">
                <app-indicador-posiciones-activas></app-indicador-posiciones-activas>
                <!-- <app-grafica-vacante-porvenc></app-grafica-vacante-porvenc> -->
            </div>
        </div>

    </div>

    <div class="col-xl-6 " style="margin-top: 30px">
            <app-grafica-vacante-cubierta></app-grafica-vacante-cubierta>
        </div>

        <div class="col-xl-6 " style="margin-top: 30px">
                <app-grafica-captado-contratado></app-grafica-captado-contratado>
           
            </div>

            <!-- <div class="col-xl-12 sombra" style="margin-top: 30px">
                <app-grafica-productividad></app-grafica-productividad>
                </div> -->

    <!-- <div class="col-xl-6 sombra" style="margin-top: 30px">
                <app-grafica-resumen></app-grafica-resumen>
    </div>
    <div class="col-xl-6 sombra" style="margin-top: 30px">
        <div class="col-xl-12">
                <div class="col-xl-4" style="float:left">
                    <p>Entrevista</p>
                        <div _ngcontent-c10=""  class="radial-bar radial-bar-{{Entrevistadopor}} radial-bar-lg radial-bar-danger" >
                                <span class="centrar">{{Entrevistado}}</span>
                        </div>
                    </div>
                <div class="col-xl-4" style="float:left">
                        <p>Finalista</p>
                        <div _ngcontent-c10=""  class="radial-bar radial-bar-{{Finalistapor}} radial-bar-lg " >
                                <span class="centrar">{{Finalista}}</span>
                        </div>
                    </div>
                <div class="col-xl-4" style="float:left">
                        <p>Enviado</p>
                        <div _ngcontent-c10=""  class="radial-bar radial-bar-{{Enviadopor}} radial-bar-lg radial-bar-success">
                                <span class="centrar">{{Enviado}}</span>
                        </div>
                    </div>
        </div>
        <div class="col-xl-12">
                <div class="col-xl-4" style="float:left">
                        <p>Rechazado</p>
                        <div _ngcontent-c10="" class="radial-bar radial-bar-{{Rechazadopor}} radial-bar-lg radial-bar-danger" >
                                <span class="centrar">{{Rechazado}}</span>
                        </div>
                    </div>
                <div class="col-xl-4" style="float:left">
                        <p>Aceptado</p>
                        <div _ngcontent-c10="" class="radial-bar radial-bar-{{Aceptadopor}} radial-bar-lg " >
                                <span class="centrar">{{Aceptado}}</span>
                        </div>
                    </div>
                <div class="col-xl-4" style="float:left">
                        <p>Cubierto</p>
                        <div _ngcontent-c10="" class="radial-bar radial-bar-{{Contratadopor}} radial-bar-lg radial-bar-success"   >
                           <span class="centrar">{{Contratado}}</span>
                        </div>
                    </div>
        </div>
    </div> -->
</div>


<div class="col-xl-6 margen left letra">
        <div class="row">
                <div class="col-xl-3 col-md-6 dimen">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                            <em class="fa fa-file-text fa-3x"></em>
                        </div>
                        <div class="col-8 py-1 bg-primary rounded-right">
                            <div class="h2 mt-0">{{apartado}}</div>
                            <div class="text-uppercase">Candidato Apartados</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 dimen">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                            <em class="fa fa-briefcase fa-3x"></em>
                        </div>
                        <div class="col-8 py-1 bg-primary rounded-right">
                            <div class="h2 mt-0">{{cita}}
                            </div>
                            <div class="text-uppercase">Candidato Cita</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 dimen">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                            <em class="fa fa-user fa-3x"></em>
                        </div>
                        <div class="col-8 py-1 bg-green rounded-right">
                            <div class="h2 mt-0">{{entrevista}}</div>
                            <div class="text-uppercase">entrevista Recluta..</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 dimen">
                    <div class="card flex-row align-items-center align-items-stretch border-0">
                        <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                            <em class="fa fa-user-o fa-3x"></em>
                        </div>
                        <div class="col-8 py-1 bg-green rounded-right">
                            <div class="h2 mt-0">{{evaluacion}}</div>
                            <div class="text-uppercase">Evaluación recluta..</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 left margen letra">
                <div class="row">
                        <div class="col-xl-3 col-md-6 dimen">
                            <div class="card flex-row align-items-center align-items-stretch border-0">
                                <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                                    <em class="fa fa-file-text fa-3x"></em>
                                </div>
                                <div class="col-8 py-1 bg-green rounded-right">
                                    <div class="h2 mt-0">{{finalist}}</div>
                                    <div class="text-uppercase">Finalista recluta..</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 dimen">
                            <div class="card flex-row align-items-center align-items-stretch border-0">
                                <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                                    <em class="fa fa-briefcase fa-3x"></em>
                                </div>
                                <div class="col-8 py-1 bg-danger rounded-right">
                                    <div class="h2 mt-0">{{entrecliente}}
                                    </div>
                                    <div class="text-uppercase">Entrevista Cliente</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-md-6 dimen">
                            <div class="card flex-row align-items-center align-items-stretch border-0">
                                <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                                    <em class="fa fa-user fa-3x"></em>
                                </div>
                                <div class="col-8 py-1 bg-danger rounded-right">
                                    <div class="h2 mt-0">{{fincliente}}</div>
                                    <div class="text-uppercase">Finalista Cliente</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3  col-md-6 dimen">
                            <div class="card flex-row align-items-center align-items-stretch border-0">
                                <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                                    <em class="fa fa-user-o fa-3x"></em>
                                </div>
                                <div class="col-8 py-1 bg-purple rounded-right">
                                    <div class="h2 mt-0">{{faltante}}</div>
                                    <div class="text-uppercase">Total de Posiciones</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




