<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>

<div class="row">
    <div (click)="llamar2('Folios')" class="col-xl-3 col-md-6">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-file-text fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">{{totalFolio|numerico}}</div>
                <div class="text-uppercase">Folios</div>
            </div>
        </div>
    </div>
    <div (click)="llamar2('Posiciones')" class="col-xl-3 col-md-6">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                <em class="fa fa-briefcase fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-purple rounded-right">
                <div class="h2 mt-0">{{totalPos|numerico}}
                </div>
                <div class="text-uppercase">Posiciones</div>
            </div>
        </div>
    </div>
    <div (click)="llamar2('Cubiertas')" class="col-xl-3  col-md-6">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="fa fa-user fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">{{cubierto|numerico}}</div>
                <div class="text-uppercase">Cubiertas</div>
            </div>
        </div>
    </div>
    <div (click)="llamar2('Faltantes')" class="col-xl-3  col-md-6">
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="fa fa-user-o fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">{{faltante|numerico}}</div>
                <div class="text-uppercase">Faltantes</div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body">
    <div class="d-flex justify-content-start align-items-center p-1 bg-info-light fontRoboto">
        <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i>FOLIOS ACTIVOS
    </div>
    <div class="row mt-2">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <app-grafica-vacante-activa></app-grafica-vacante-activa>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <app-grafica-coordinacion></app-grafica-coordinacion>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <app-indicador-posiciones-activas></app-indicador-posiciones-activas>
        </div>
    </div>
</div>
<div class="card card-body">
    <div class="d-flex justify-content-start align-items-center p-1 bg-info-light fontRoboto">
        <i class="fa fa-line-chart mr-1"></i>SEGUIMIENTO
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <app-grafica-vacante-cubierta></app-grafica-vacante-cubierta>
        </div>
        <div class="col-md-6">
            <app-grafica-captado-contratado></app-grafica-captado-contratado>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-start align-items-center p-1 bg-info-light fontRoboto mt-2">
            <i class="fa fa-cogs mr-1"></i>CANDIDATOS EN PROCESO
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2 fontLato">
            <div class="mb-1">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-warning-dark justify-content-center rounded-left">
                        <i class="fa fa-lock fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-warning rounded-right">
                        <div class="h2 mt-0">{{apartado|numerico}}</div>
                    </div>
                    <br>
                </div>
                <p><small class="d-flex justify-content-center text-uppercase text-center text-muted">Apartados</small>
                </p>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-warning-dark justify-content-center rounded-left">
                        <i class="fa fa-calendar-check-o fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-warning rounded-right">
                        <div class="h2 mt-0">{{cita|numerico}}
                        </div>
                    </div>
                </div>
                <small class="d-flex align-items-center text-uppercase text-muted text-center">cita
                    reclutamiento</small>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-warning-dark justify-content-center rounded-left">
                        <i class="fa fa-handshake-o fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-warning rounded-right">
                        <div class="h2 mt-0">{{entrevista|numerico}}</div>
                        <!-- <div class="text-uppercase">entrevista Recluta..</div> -->
                    </div>
                </div>
                <small class="d-flex text-uppercase text-muted text-center">entrevista reclutamiento</small>
            </div>
            <div class="mb-1">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-8 py-1 bg-primary rounded-right">
                        <div class="h2 mt-0">{{evaluacion|numerico}}</div>
                    </div>
                </div>
                <p><small class="d-flex justify-content-center text-uppercase text-muted text-center">evaluacion</small>
                </p>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-green rounded-right">
                        <div class="h2 mt-0">{{finalist|numerico}}</div>
                    </div>
                </div>
                <small class="d-flex text-uppercase text-muted text-center">finalista reclutamiento</small>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                        <i class="fa fa-handshake-o fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-green rounded-right">
                        <div class="h2 mt-0">{{entrecliente|numerico}}
                        </div>
                        <!-- <div class="text-uppercase">Entrevista Cliente</div> -->
                    </div>
                </div>
                <small class="d-flex text-uppercase text-muted text-center">entrevista cliente</small>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-green rounded-right">
                        <div class="h2 mt-0">{{fincliente|numerico}}</div>
                        <!-- <div class="text-uppercase">Finalista Cliente</div> -->
                    </div>
                </div>
                <small class="d-flex text-uppercase text-muted text-center">finalista cliente</small>
            </div>
            <div class="w-40">
                <div class="card flex-row align-items-center align-items-stretch border-0">
                    <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                        <i class="fa fa-user-circle fa-2x"></i>
                    </div>
                    <div class="col-8 py-1 bg-success rounded-right">
                        <div class="h2 mt-0">{{cubierto|numerico}}</div>
                        <!-- <div class="text-uppercase">Posiciones Cubiertas</div> -->
                    </div>
                </div>
                <small class="d-flex text-uppercase text-muted text-center">posiciones cubiertas</small>
            </div>
        </div>
        <br>
    </div>
</div>




<!-- Modal para visualizar vacantes seleccionadas -->
<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal
    #MessageModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-lg reporteMod">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="float-left text-warning"><em class="fa fa-file-text-o mr-2"></em>Informaci&oacute;n de
                    Vacantes {{EstadoVacante}} </h4>
                <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
                        class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <app-dt-vacantes-grafica-pa [EstadoVacante]="EstadoVacante"></app-dt-vacantes-grafica-pa>
            </div>
        </div>
    </div>
</div>