<form [formGroup]="EscolaridadArray">
  <section class="col-12">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong>Escolaridad</strong> <span class="fa fa-plus em-button text-primary float-right"
      (click)="AddEscolaridad()"></span>
    <mat-divider></mat-divider>
  </section>
  <div class="container">
    <div *ngFor="let escolaridad of EscolaridadArray['controls'].escolaridad['controls']; let i=index">
      <div formArrayName="escolaridad">
        <form [formGroupName]="i">
          <escolaridades [IdFormato]="IdFormato" [group]="EscolaridadArray.controls.escolaridad.controls[i]" [Index]="i" (Add)="Agregar($event)"
            (Remove)="removeEscolaridad($event)" (Registros)="getRegistros($event)" >
          </escolaridades>
        </form>
      </div>
    </div>
  </div>
</form>
