<form [formGroup]="EscolaridadArray" (keydown.control.alt.n)="AddEscolaridad()">
  <section class="col-12">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <span class="text-warning text-uppercase fontRoboto">Escolaridad</span> <span class="fa fa-plus em-button text-primary float-right"
      (click)="AddEscolaridad()" ></span>
    <mat-divider></mat-divider>
  </section>
  <div *ngIf="EscolaridadArray['controls'].escolaridad['controls'].length > 0" class="container">
    <div *ngFor="let escolaridad of EscolaridadArray['controls'].escolaridad['controls']; let i=index">
      <div formArrayName="escolaridad">
        <form [formGroupName]="i">
          <app-escolaridades-p [IdFormato]="IdFormato" [escolaridad]="EscolaridadArray.controls.escolaridad.controls[i]" [index]="i" (Add)="Agregar($event)"
            (remove)="removeEscolaridad($event)" (Registros)="getRegistros($event)" >
          </app-escolaridades-p>
        </form>
      </div>
    </div>
  </div>
</form>
