ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 6px;
  }
  em {
    cursor: pointer;
  }
  .spinner {
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
    z-index: 9999;
  }
  .long {
      max-width: 300px !important;
  }
  .unselectable {
    cursor: not-allowed;
}
.selectable {
  cursor: pointer;
}
  .carousel-caption {
    width: 150px;
    left: 23.5%;
    z-index: 10;
    font-size: 12px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: black;
    text-align: left;
}
.carousel-caption2 {
  position: absolute;
  width: 150px;
  left: 62%;
  z-index: 10;
  font-size: 12px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: black;
  text-align: left;
  bottom: 40px;

}

.caption-back
{
  position: absolute;
  bottom: 117px;
  left: 55%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 260px;
  height: 200px;
  
}
.caption-back2 {
  position: absolute;
  bottom: 117px;
  left: 76%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 260px;
  height: 200px;
}
.caption-back p
{
    font-size: 12px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color:black;
}
.dal {
  position: relative;
  left: 30%;
}
.fchIngreso {
  position: relative;
  left: 10%;
}
.nss {
  position: relative;
  left: 30%;
}
.telefono {
  position: relative;
  left: 35%;
}
.curp {
  position: relative;
  left: 30%;
}
.codigo {
  position: absolute;
  left: 56.5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 210px;
  bottom: 15px;
}
.codigo2 {
  position: absolute;
  left: 78.5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 210px;
  bottom: 15px;
}
.codigo img {
  width: 210px;
}
.txtPuesto {
  font-size: 8px;
}
.takeFoto {
  width: 150px;
  left: 13%;
  z-index: 10;
  font-size: 12px;
  position: absolute;
  bottom: 100px;
}
.takeFoto2 {
  width: 150px;
  left: 10%;
  z-index: 10;
  font-size: 12px;
  position: absolute;
  bottom: 90px;
}
.selected {
background-color:  #5d9cec !important;

}
.selected p {
  color: white !important;
}
.selected span {
  color: white !important;
}

::ng-deep.mat-tab-label {
  background-color: #ff902b !important;
  color: white;
}
::ng-deep.mat-tab-label.mat-tab-label-active {
  opacity: 1;
  }
  ::ng-deep.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

// @media only screen and (min-width: 1280px) { 
//   .carousel-caption {
//     left: 32%;
//   }
//   .caption-back {
//     left: 45%;
//   }
// }
// @media only screen and (min-width: 1700px) { // igual o arriba 
//   .carousel-caption {
//     left: 51%;
//   }
//   .caption-back {
//     left: 71%;
//   }
// }
@media  (min-width: 1700px) { // igual o arriba 
  .carousel-caption {
    left: 51%;
  }
  .caption-back {
    left: 70%;
  }
  .codigo {
    left: 72.5%;
  }
  .carousel-caption2 {
    left: 75%;
  }
  .caption-back2 {
    left: 84%;
  }
  .codigo2 {
    left: 86%;
  }
}
// @media only screen and (min-width: 1800px) { // igual o arriba 
//   .carousel-caption {
//     left: 55%;
//   }
//   .caption-back {
//     left: 72%;
//   }
//   .codigo {
//     left: 74.5%;
//   }
// }