<div class="content-heading">
  <span class="text-muted text-uppercase">CALIDAD</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item active text-uppercase text-muted">Gesti&oacute;n CALIDAD</li>
  </ol>
</div>
<div class="card card-body">
  <div class="d-flex justify-content-start align-items-center p-1 bg-info-light fontRoboto">
    <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i>SEGUIMIENTO FOLIOS
</div>
<div class="row p-1 mt-2">
  <div class="col-xl-6">
  <app-grafica-calidad-activo></app-grafica-calidad-activo>
  </div>
  <div class="col-xl-6">
  <app-grafica-calidad-vencida></app-grafica-calidad-vencida>
  </div>
</div>
</div>