<form [formGroup]="CompetenciaArray">
  <section class="col-12">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong class="text-warning">Competencias &Aacute;rea</strong> <span
      class="fa fa-plus em-button text-primary float-right" (click)="AddCompetencia()"></span>
    <mat-divider></mat-divider>
  </section>
  <div class="container">
    <div *ngFor="let competencia of CompetenciaArray['controls'].competencia['controls']; let i=index">
      <div formArrayName="competencia">
        <form [formGroupName]="i">
          <app-areas-p [IdFormato]="IdFormato" [competencia]="CompetenciaArray.controls.competencia.controls[i]"
            [index]="i" (Add)="Agregar($event)" (remove)="removeCompetencia($event)" (Registros)="getRegistros($event)">
          </app-areas-p>
        </form>
      </div>
    </div>
  </div>
</form>

<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
