<div class="dt-container mat-elevation-z8">


  <div class="dt-header">
          <div class="box">
          <span>
            <ul>
             
            <!-- <li><a>
              <button class="mb-1 btn btn-xs btn-outline-warning"  type="button" (click)="VerCandidato()" matTooltip="Ver Candidato">
                  <em class="fa fa-eye"></em>
                </button>
              </a></li> -->
              <li><a>
                <button [ngClass]="pst ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-success'" [disabled] = "pst"  type="button" (click)="SetProceso(12, 'Apartado')" matTooltip="Apartar"> 
                  <em class="fa fa-thumbs-o-up"></em>
                </button>
              </a></li>
              <li><a>
                <button [ngClass]="liberado ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-danger'" [disabled]="liberado" type="button" (click)="SetProceso(27, 'Desapartado')" matTooltip="Desapartar"> 
                  <em class="fa fa-thumbs-o-down"></em>
                </button>
              </a></li>
              <li><a><em class="vl"></em></a></li>
              <!-- <li><a><button class="mb-1 btn btn-xs btn-outline-info"  type="button" (click)="SetProceso(16)" matTooltip="Cita Candidato">
                <em class="fa fa-address-book"></em>
              </button></a></li> -->
              <li><a><button [disabled]="cr" [ngClass]="cr ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-warning'"  type="button" (click)="SetProceso(17, 'Cita Reclutamiento')" matTooltip="Cita Reclutamiento">
                <em class="fa fa-address-book"></em>
              </button></a></li>
              <li><a><button [ngClass]="enr ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-warning'" [disabled]="enr"   type="button" (click)="SetProceso(18, 'Entrevista Reclutamiento')" matTooltip="Entrevista Reclutamiento" >
                <em class="fa fa-microphone"></em>
              </button></a></li>
              <li><a><em class="vl"></em></a></li>
              <li><a><button [disabled]="evt" [ngClass]="evt ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-green'"  type="button" (click)="SetProceso(13, 'Evaluaci&oacute;n T&eacute;cnica')" matTooltip="'Evaluaci&oacute;n T&eacute;cnica">
                <em class="fa fa-search"></em>
              </button></a></li>
              <li><a><button [disabled]="evps" [ngClass]="evps ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-green'"  type="button" (click)="SetProceso(14, 'Evaluaci&oacute;n Psicom&eacute;trica')" matTooltip="'Evaluaci&oacute;n Psicom&eacute;trica'">
                <em class="fa fa-users"></em>
              </button></a></li>
              <li><a><button [disabled]="evm" [ngClass]="evm ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-green'"  type="button" (click)="SetProceso(15, 'Evaluaci&oacute;n M&eacute;dica')" matTooltip="'Evaluaci&oacute;n M&eacute;dica'">
                <em class="fa fa-user-md"></em>
              </button></a></li>             
              <li><a><em class="vl"></em></a></li>
              <li><a><button [disabled]="fr" [ngClass]="fr ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-warning'"  type="button" (click)="SetProceso(21, 'Finalista Reclutamiento')" matTooltip="Finalista Reclutamiento">
                <em class="fa fa-user-circle-o"></em>
              </button></a></li>
              <li><a><button [disabled]="enc" [ngClass]="enc ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-info'"  type="button" (click)="SetProceso(22, 'Entrevista Cliente')" matTooltip="Entrevista Cliente" >
                <em class="fa fa-microphone"></em>
              </button></a></li>
              <li><a><button [disabled]="fc" [ngClass]="fc ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-info'"  type="button" (click)="SetProceso(23, 'Finalista Cliente')" matTooltip="Finalista Cliente">
                <em class="fa fa-user-circle-o"></em>
              </button></a></li>
              <li><a><button [disabled]="contratado" [ngClass]="contratado ? 'mb-1 btn btn-xs disabled' : 'mb-1 btn btn-xs btn-outline-success'" type="button" (click)="SetProceso(24, 'Contratado')" matTooltip="Contratado">
                <em class="fa fa-user-plus"></em>
              </button></a></li>
              <!-- <li><a><em class="vl"></em></a></li>
              <li><a><button class="mb-1 btn btn-xs btn-outline-danger"  type="button" (click)="SetProceso(28)" matTooltip="Cancelada">
                <em class="fa fa-user-times"></em>
              </button></a></li> -->
<!--              
              <li><a><button class="mb-1 btn btn-xs btn-outline-danger"  type="button" (click)="SetProceso(29)" matTooltip="Abandonó Proceso">
                <em class="fa fa-flag"></em>
              </button></a></li> -->
            
              <!-- <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
                <em class="fa fa-phone"></em>
              </button></a></li>
              <li><a><button class="mb-1 btn btn-xs btn-outline-info"  type="button">
                <em class="fa fa-phone"></em>
              </button></a></li> -->
           

              <!-- <li><a>
                <button [disabled]="cv" class="mb-1 btn btn-xs btn-outline-warning"  type="button" (click)="SetProceso(11)" matTooltip="CV Visto">
                    <em class="fa fa-file-text-o"></em>
                  </button>
                </a></li> -->
            
            
          
             
            
             
              <!-- <li><a><em class="vl"></em></a></li>
            
              <li><a><button class="mb-1 btn btn-xs btn-outline-warning"  type="button" (click)="SetProceso(23)" matTooltip="Transferir">
                <em class="fa fa-exchange"></em>
              </button></a></li>
          -->
              <!-- <li><a><button class="mb-1 btn btn-xs btn-outline-success"  type="button">
                <em class="fa fa-unlock"></em>
              </button></a></li>
 -->

            
            </ul>
          </span>
          <btn-refresh class="float-right" (click)="refresh()" matTooltip="Actualizar"></btn-refresh>
          </div>
          <br/>

    <mat-form-field>
      <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)">
    </mat-form-field>
    <br/>
    <div class="d-flex align-items-stretch ">
    </div>
  </div>
  <div class="card card-default">
    <div class="table-responsive" #tableContainer>
      <table *ngIf="dataSource.length > 0 else NotCandidatos" id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              {{column.title}}
              <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="showFilterRow">
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control">
            </td>
          </tr>
          <tr (dblclick)="VerCandidato(row)" (click)="onCellClick(row)" *ngFor="let row of dataSource" [class.selected]="row.selected" matTooltip="click para seleccionar - dblclick para visualizar">
            <td class="text-center">
              {{row.nombre}}
            </td>
            <td class="text-center"> {{row.areaExp}}</td>
            <td class="text-center"> {{row.areaInt}}</td>
            <td class="text-center"> {{row.localidad}} </td>
            <td class="text-center"> {{row.sueldoMinimo | currency : '$'}} </td>
            <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
            <td class="text-center"> {{row.curp}}</td>
            <td class="text-center"> {{row.rfc}}</td>
            <td class="text-center"><span class="badge badge-info"> {{row.estatus}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
  </div>
  <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre>
</div>
<toaster-container toaster-options="{'toaster-id': 2 }" [toasterconfig]="toasterconfig"></toaster-container>

<!-- Modal -->
<div *ngIf="isModalShown" [config]="{ show: true, ignoreBackdropClick: true }" (onHidden)="onHidden()" bsModal #MessageModal="bs-modal"
     class="modal" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title float-left">Información de Candidato</h4>
  <button type="button" class="close float-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<app-info-candidato [IdCandidato] = 'candidatoId' (Estatus)="EstatusModal($event)"></app-info-candidato>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="closeModal()">Cerrar</button>
</div>
</div>
</div>
</div>

<!--spinner-->
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con candidatos en proceso / apartados.
          </alert>
    </div>
  </div>
</ng-template>
