

.pointer tr td
{
    cursor: pointer;
}
tr.selected td {
    background-color:  #5d9cec !important;
    color: white;

  }


 .btn:active {
    outline: none !important;
  }
.btn-secondary
  {
    background-color: transparent !important;
    border-color: #aaa;
  }

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: transparent !important;

}

.modal-lg
{
    max-width: 100% !important;
}
