<div class="panel panel-default panel-flat">
<div class=" box">
<span>
  <ul>
    <li><a><btn-like></btn-like></a></li>
    <li><a><btn-dislike></btn-dislike></a></li>
    <li><a><em class="vl"></em></a></li>
    <li><a><btn-view [xs]="true"></btn-view></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
      <em class="fa fa-phone"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-info"  type="button">
      <em class="fa fa-phone"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-info"  type="button">
      <em class="fa fa-address-book"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
      <em class="fa fa-microphone"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
      <em class="fa fa-search"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-warning"  type="button">
      <em class="fa fa-users"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-success"  type="button">
      <em class="fa fa-truck"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-warning"  type="button">
      <em class="fa fa-user-circle-o"></em>
    </button></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
      <em class="fa fa-user-o"></em>
    </button></a></li>
    <li><a><em class="vl"></em></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-success"  type="button">
      <em class="fa fa-unlock"></em>
    </button></a></li>
    <li><a><em class="vl"></em></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-primary"  type="button">
      <em class="fa fa-exchange"></em>
    </button></a></li>
    <li><a><em class="vl"></em></a></li>
    <li><a><button class="mb-1 btn btn-xs btn-outline-danger"  type="button">
      <em class="fa fa-flag"></em>
    </button></a></li>
  </ul>
</span>
</div>
</div>
