.mat-input-element:disabled{
  color: orangered !important;
  font-size: 12px !important;
}

section em {
  margin-top: 15px;
  margin-right: 10px;
}
div em {
  margin-top: 15px;
  margin-left: 10px;
}
