<div class="content-heading">
    <div>
      Privilegios
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n de privilegios.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Privilegios</li>
    </ol>
  </div>

<div class="panel panel-default panel-flat mat-elevation-z8">
  <div class="panel-body">
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-4">
        <select *ngIf="!nuevoRol" class="form-control form-control-sm select" (change)="GetTreeByRol($event.target.value); id = $event.target.value;">
          <option [value]="0">Seleccionar Rol</option>
          <option *ngFor="let rol of listRoles" [value]="rol.id">{{rol.rol}}</option>
        </select>
        <div *ngIf="nuevoRol" class="input-group mb-3 select">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="nomRol">
            <div class="input-group-prepend">
                <button class="btn btn-xs btn-danger" (click)="GetTreeRoles();nuevoRol=false;" type="button"> <span aria-hidden="true">&times;</span></button>
            </div>
            <button id='create' class="btn btn-xs btn-success ml-2 mat-elevation-z8" chkPrivilegiosButtons (click)="GuardarCambios()"  container="body" placement="bottom" tooltip="Guardar Cambios"><i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
        
      </div>
      <div *ngIf="!nuevoRol" class="col-md-4" >
        <button id='read' class="btn btn-xs btn-info ml-2 mat-elevation-z8" chkPrivilegiosButtons (click)="staticModal.show();GetEntidades(id)" data-toggle="modal" data-target="#staticModal"  container="body" placement="bottom" tooltip="Ver integrantes del rol"><i class="fa fa-eye" aria-hidden="true"></i></button>

        <button id='create' class="btn btn-xs btn-success ml-2 mat-elevation-z8" chkPrivilegiosButtons (click)="nuevoRol=true;GetTreeRoles()" data-toggle="modal" data-target="#modalNodes"
           container="body" placement="bottom" tooltip="Agregar Rol"><i class="fa fa-plus" aria-hidden="true"></i></button>

        <button id='update' class="btn btn-xs btn-warning ml-2 mat-elevation-z8" chkPrivilegiosButtons (click)="GuardarCambios()"  container="body" placement="bottom" tooltip="Guardar Cambios"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

        <button id='delete' class="btn btn-xs btn-danger ml-2 mat-elevation-z8" chkPrivilegiosButtons (click)="DeleteRoles(id)"  container="body" placement="bottom" tooltip="Eliminar Rol Seleccionado"><i class="fa fa-trash" aria-hidden="true"></i></button>

      </div>
    </div>
<br/><br/>

<div *ngIf="verMsj">
    <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <br/>
       <grid-roles #grid [nodes] = "nodes" [rol]="rol"></grid-roles>


    <div class="row">
      <div class="col-md-12">
          <div *ngIf="verMsj">
              <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
            </div>
        <button id='create' chkPrivilegiosButtons class="btn btn-xs btn-success float-right marginButtonsFinal mat-elevation-z8" (click)="GuardarCambios()"  container="body" placement="bottom" tooltip="Guardar Cambios"><i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </div>
        <br/>
  </div>

    <!-- Modal  -->

    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title pull-left"></h4>
             <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 center-block">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">Imagen</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Descripción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of listEntidades; let i = index">
                  <td><img class="center-block media img-responsive img-fluid circle thumb32" src="{{e.fotoAux}}" alt="" /></td>
                  <td class="text-center">{{e.nombre + ' ' + e.apellidoPaterno + ' ' + e.apellidoMaterno}}</td>
                  <td class="text-center">{{e.descripcion}}</td>
                  <!-- <td><btn-delete id='delete' chkPrivilegiosButtons  container="body" placement="bottom" tooltip="Borrar Usuario de Grupo" class="pull-right" (click)="DeleteUserRoles(e.entidadId, id)">
                    </btn-delete></td> -->
                </tr>
              </tbody>
            </table>
          </div>
          </div>
            </div>
           <!-- <div class="modal-footer">
               <btn-closed data-dismiss="modal" (click)="staticModal.hide()"></btn-closed>
             </div> -->
         </div>
       </div>
     </div>
     </div>


    <!-- Modal Nodes -->

    <div class="modal fade" bsModal #modalNodes="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title pull-left"></h4>
             <button type="button" class="close pull-right" aria-label="Close" (click)="modalNodes.hide()">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
            <grid-roles #gridTree [nodes] = "nodes"></grid-roles>
          </div>
       </div>
     </div>
     </div>


