
<!-- <form [formGroup]="formRol" novalidate> -->

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default mat-elevation-z8 mt-2">
        <div class="panel-heading d-flex justify-content-between"><span class="text-muted mt-1">GRUPOS - USUARIOS</span>
       
        </div>
        <div class="panel-body mt-2">
            <span class="text-muted font-weight-bold float-right text-uppercase mr-4 ">Total de registros
                <span class="badge badge-pill badge-success">{{Grupos.length}}</span>
              </span>
          <table class="table p-2" style="width: 100%">
            <thead>
              <tr>
                  <th style="width:100px;"></th>
                  <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                    <small>{{column.title | uppercase}}</small>
                  </th>
                  <th class="text-center" style="width:250px;"><small>ROLES ASIGNADOS</small></th>
              </tr>
              <tr>
                  <th><input  class="form-control form-control-sm" id="foto" disabled></th>
                  <th *ngFor="let column of columns">
                    <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                      [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                      class="form-control form-control-sm" id="{{column.name}}G">
                  </th>
                  <th><input  class="form-control form-control-sm" id="mocos" disabled></th>
                </tr>
            </thead>
            <tbody>
            <ng-scrollbar #scrollable2 [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                [compact]="compact" [disableOnBreakpoints]="false" [disabled]="disabled">
                <div>
              <tr container="body" placement="bottom" tooltip="Doble click para seleccionar" *ngFor="let g of rows; let i = index" (dblclick)="onSelect(g)"
                [class.selected]="g.selected">
                <td style="width:100px">
                  <img class="center-block media img-responsive img-fluid circle thumb32" src="{{g.foto}}" alt="" (error)="errorImg(g)" />
                </td>
                <td class="text-center">{{g.nombre + ' ' + g.apellidoPaterno}}</td>
                <td class="text-center">{{g.descripcion}}</td>
                <td style="width:250px">
                    <ul class="list-group bg-transparent" *ngFor="let r of g.roles">
                        <li class="list-group-item text-muted"> {{r.rol}}
                            <button type="button" class="close float-right" aria-label="Close" (click)="DeleteUserRoles(g.entidadId, r.id)"  container="body" placement="bottom" tooltip="Borrar rol de usuario">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    </ul>
              
                  <ul class="list-group bg-transparent" *ngFor="let r of g.grupos">
                    
                      <li class="list-group-item text-muted bg-primary-light" *ngFor="let gr of r.rol"> <!--roles como grupo-->
                        {{gr.rol + ' - ' + r.grupo }}
                      </li>
                      
                    </ul>
                </td>

              </div>           
             </ng-scrollbar>
            </tbody>
          </table>
          <div>
              <pagination *ngIf="config.paging" class="pagination-sm float-right mt-2 mr-2" [(ngModel)]="page" [totalItems]="length"
                [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
        
            </div>
        </div>
      </div>
      </div>
    <!-- panel para agregar a los seleccionados -->
    <div class="col-md-4">
      <div class="panel panel-default mat-elevation-z8 mt-2">
        <div class="panel-heading">
          <div class="row">
   
          <div class="col-md-6">
            <select #slcRol class="form-control form-control-sm" (change)="selected($event);">
              <option [value]="-1">Seleccionar Rol</option>
              <option *ngFor="let r of Roles; let i = index" [value]="r.id">{{r.rol}}</option>
            </select>

            <!-- <div *ngIf="formRol.controls['slcRol'].invalid && (formRol.controls['slcRol'].dirty || formRol.controls['slcRol'].touched)" >
            <span class="text-danger" *ngIf="formRol.controls['slcRol'].errors.required" >Debe seleccionar un Rol</span> -->
            </div>
          
          
        
          <!-- <div class="col-md-4">
            <btn-view class="pull-left" (click)="staticModal.show()"  container="body" placement="bottom" tooltip="Visualizar Rol"></btn-view>
          </div> -->
        
          <div class="col-md-2">
            <button type="button" [disabled]="rolId == 0" class="float-right btn btn-xs btn-success" id='create' chkPrivilegiosButtons  container="body" placement="bottom" tooltip="Guardar Cambios" (click)="saveData(slcRol.value)"><i class="fa fa-floppy-o"></i></button>
          </div>
        </div>
        </div>
    
<br/>
<ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
[compact]="compact" [disableOnBreakpoints]="false" [disabled]="disabled">
        <div class="panel-body p-2" style="height: 560px;">
            <p class="text-danger" *ngIf="!ListaRG.length">No se ha seleccionado grupo</p>
          <div *ngFor='let sel of ListaRG'>
            <div class="media">
              <img class="img-responsive img-fluid circle thumb32" src="{{sel.foto}}" alt="" (error)="errorImg(sel)"/> 
              <span class="media-body"><strong>{{sel.nombre + ' ' + sel.apellidoPaterno + ' ' + sel.apellidoMaterno }}</strong></span>
            </div>
            <hr>   
          </div>
        </div>
        </ng-scrollbar>
      </div>
    </div>
    <br/>

  
<!-- </form> -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>

<!-- Modal  -->

<!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <app-rolls-struct #Struct [hiddenSelect]="true" (onItemChanged)="setData()" [StructList]="filteredData"></app-rolls-struct>
        </div>
      </div>
    
    </div>
  </div>
</div> -->