<div class="dt-container">
  <!-- <div class="card-header">
    <em class="fa fa-user"></em> Informaci&oacute;n General
  </div> -->
  <div class="card-body">
    <form [formGroup]="formGeneral">
      <div #rating class="d-flex justify-content-end">
        <rating [(ngModel)]="clf" [max]="maxRat" [readonly]="isReadonly" (onHover)="hoveringOver($event)"
          class="fa-2x text-warning" [ngModelOptions]="{standalone: true}" (onLeave)="resetStar()"
          [titles]="['A. Subcontratados &lt;150','AA. Subcontratados =&gt; 150 y &lt;1000','AAA. Subcontratados =&gt;1000']"
          stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>
        <p><span>Clasificaci&oacute;n </span></p>
      </div>
      <div *ngIf="esCliente" class="d-flex justify-content-start align-items-center mt-2">
        <mat-form-field class="text-muted w-100">
          <input matInput #razonSocial formControlName="RazonSocial" name="RazonSocial"
            placeholder="RAZ&Oacute;N SOCIAL" autofocus maxlength="100" required />
          <mat-hint align="end">{{razonSocial.value.length}} / 100</mat-hint>
        </mat-form-field>
        <mat-form-field class="text-muted ml-4 w-100">
          <input matInput #rfc formControlName="RFC" name="RFC" placeholder="RFC" autofocus maxlength="13" required />
          <mat-hint align="end">{{rfc.value.length}} / 12-13</mat-hint>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-start mt-2">
      <mat-form-field class="text-muted w-100">
        <input #empresa matInput formControlName="Empresa" name="empresa" placeholder="NOMBRE COMERCIAL" autofocus
          maxlength="100" required />
        <mat-hint align="end">{{empresa.value.length}} / 100</mat-hint>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-start mt-2">
      <body oncopy="return false" onpaste="return false" class="w-100" >
        <mat-form-field class="w-100">
          <input matInput #validarEmpresa formControlName="ValidarEmpresa" name="validarEmpresa"
            placeholder="Nombre Comercial" maxlength="100" required />
          <mat-hint align="start">
            <strong *ngIf="formGeneral.controls.ValidarEmpresa.errors?.MachCompany" class="text-danger">Los datos
              ingresados no coinciden, favor de verificar la informaci&oacute;n</strong>
          </mat-hint>
          <mat-hint align="end">{{validarEmpresa.value.length}} / 100</mat-hint>
        </mat-form-field>
      </body>
    </div>
      <div class="d-flex justify-content-between align-items-center p-1 mt-3">
          <mat-form-field>
            <mat-select placeholder="GIROS" formControlName="Giros" (selectionChange)="getActividades()" required>
              <mat-option *ngFor="let x of giros" [value]="x.id">
                {{x.giroEmpresa | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-2">
            <mat-select placeholder="ACTIVIDADES" formControlName="Actividades" required>
              <mat-option *ngFor="let x of actividades" [value]="x.id">
                {{x.actividadEmpresa | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="longNum ml-2">
            <input matInput #NoEmpleados type="number" formControlName="NoEmpleados" placeholder="# EMPLEADOS"
              (blur)="changeEmpleados()" min="1" max="9999" required />
            <mat-hint align="end">{{NoEmpleados.value.length}} / 5</mat-hint>
          </mat-form-field>
          <mat-form-field class="ml-2">
            <mat-select placeholder="TAMAÑO" formControlName="Tamanio" (selectionChange)="validarNoEmpleado()" required>
              <mat-option *ngFor="let x of tamanioEmpresa" [value]="x.id">
                {{x.tamanoEmpresa | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-2">
            <mat-select placeholder="TIPO" formControlName="Tipo" required>
              <mat-option *ngFor="let x of tipo" [value]="x.id">
                {{x.tipoEmpresa | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ml-2">
            <mat-select placeholder="TIPO BASE" formControlName="TipoBase" required>
              <mat-option *ngFor="let x of tipoBase" [value]="x.id">
                {{x.tipoBase | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-labeled mat-elevation-z8" *ngIf="!loading" [disabled]="!formGeneral.valid"
        [ngClass]="!formGeneral.valid ? 'disabled' : 'btn-success'" (click)="Guardar()">
        <span class="btn-label"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
        GUARDAR
      </button>
      <img *ngIf="loading"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
  </div>
</div>

<!-- Mensajes informativos -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>