
.headermio {
    padding: 8px 14px;
    font-size: 14px;
    background-color: #fafafa;
    border-bottom: 1px solid #ededed;
    border-radius: 5px 5px 0 0;
    width: 250px;
    text-align: center;
    // border-bottom: 1px solid #e5e5e5;
}

.bodymio 
{
    color: #00b3ee;
    text-align: left;
    margin-left: 10px;
}
.margentop{
    margin-top: 10px;
}

.margenmio{
    margin-left: 10px;
}

.centrar
{
    align-items: center;
    justify-content: space-around;
}