<div class="card">
  <div class="card-body">
      <button [ngClass]="!liberado ? 'btn btn-xs disabled' : 'btn btn-xs btn-danger'" class="mr-2 float-left mat-elevation-z8" [disabled]="!liberado"
      type="button" (click)="openDialogLiberar()" container="body" placement="bottom" tooltip="Liberar">
      <i class="fa fa-thumbs-o-down"></i>
    </button>
      <button class="btn btn-xs btn-success float-right mat-elevation-z8" type="button" (click)="refreshTable()"
      container="body" placement="bottom" tooltip="Actualizar">
      <i class="icon-refresh"></i>
    </button>
      <button class="btn btn-xs float-right mr-2 mat-elevation-z8" (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros"
      container="body" [disabled]="!clearFilter" [ngClass]="(!clearFilter) ? 'disabled':'btn-primary'">
      <i class="fa fa-eraser"></i>
    </button>
    <span class="text-muted font-weight-bold float-right text-uppercase mr-3 ">Total de Candidatos <span
      class="badge badge-pill badge-success ml-1">{{dataSource.length}}</span></span>

      <table *ngIf="dataSource.length > 0 else NotCandidatos" id="resultDataTable" ngClass="{{config.className || ''}}" class="table">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
            </th>

          </tr>
          <tr>
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control form-control-sm" id="{{column.name}}_1">
            </td>
          </tr>
        </thead>
        <tbody>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
            [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
            <div>
          <tr *ngFor="let row of rows" (click)="onCellClick(row)" [class.bg-primary]="row.selected">
            <td class="text-center">
              <span *ngIf="row.estatusId != 12 && row.estatusId != 17 && row.estatusId != 27 else sinAsignar">{{row.horario}}</span>
              <ng-template #sinAsignar>
                <span>SIN ASIGNAR</span>
              </ng-template>
            </td>
            <td class="text-center"> {{row.nombre | uppercase}}</td>
            <td class="text-center"> {{row.localidad | uppercase}} </td>
            <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
            <td class="text-center"> {{row.curp | uppercase }}</td>
            <td class="text-center"> {{row.rfc | uppercase }}</td>
            <td class="text-center"> {{row.nss | uppercase }}</td>
            <td class="text-center"> {{row.genero | uppercase }}</td>
            <td class="text-center"> {{row.reclutador | uppercase }}</td>
          </tr>
          </div>
          </ng-scrollbar>
        </tbody>
      </table>
  </div>
  <hr>
  <div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageInfo" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
  </div>

</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <alert type="info">
              <strong>Oops!</strong> A&uacute;n no cuentas con candidatos en proceso / apartados.
            </alert>
      </div>
    </div>
  </ng-template>
<!-- Modal para dlgLiberar  -->
<div *ngIf="dlgLiberar" [config]="{show: true, ignoreBackdropClick: true, keyboard: false}" bsModal #modallib="bs-modal"
  class="modal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Informaci&oacute;n de la Vacante</h4>
        <button type="button" class="close pull-right" (click)="modallib.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <app-dialog-liberar-candidato [objLiberar]="objLiberar" (close)="onClose($event)">
        </app-dialog-liberar-candidato>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="md-1 btn btn-outline-success" (click)="modallib.hide()">Cerrar</button>
      </div> -->
    </div>
  </div>
</div>