<div class="card">
  <div class="d-flex justify-content-between align-items-center fontRoboto p-1 bg-info">
    <span>TRANSFERENCIA DE FOLIOS</span>
    <button type="button" class="btn btn-xs btn-danger btn-circle" [disabled]="loading" mat-dialog-close><i
        class="fa fa-times"></i></button>
  </div>
  <div class="card-body">
    <div class="d-flex flex-column bg-light p-1 text-muted fontRoboto">
      <p>FOLIO <span class="text-success">{{data.folio}}</span></p>
      <p>CLIENTE <span class="text-warning">{{data.cliente}}</span></p>
      <p>PERF&Iacute;L <span class="text-warning">{{data.vBtra}}</span></p>
      <p>FECHA CREACI&Oacute;N <span class="text-warning"> {{data.fch_Creacion | date:'dd/MM/yyyy'}}</span></p>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div class="d-flex justify-content-between mt-4 text-info fontRoboto">
      <span>SELECCIONAR {{titulo | uppercase}}</span>
      <mat-checkbox *ngIf="data.depto=='Recl'" (change)="GetReclutadores($event);"><small>SELECCIONAR RECLUTADOR</small></mat-checkbox>
    </div>
    <div *ngIf="data.depto=='Vtas' || !verRecl" class="d-flex justify-content-start align-items-center mt-2">
      <div class="input-group input-group-sm ilong">
        <input (input)="Search($event, 3, dataSource)" class="form-control form-control-sm round" type="text"
          placeholder="Filtrar" />
        <div class="input-group-append">
          <span class="input-group-text text-info"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div *ngIf="!verRecl">
      <ng-scrollbar #scrollable  
        track="all" [disabled]="disabled">
        <div class="long fontLato">
          <div class="list-group mt-1" *ngFor="let r of coord; let rowIndex = index;">
            <button type="button" [disabled]="loading" (click)="Seleccionar(r, rowIndex)"
              class="list-group-item list-group-item-action text-muted"
              [class.bg-info]="r.selected"><small>{{r.nombre | uppercase}}</small></button>
          </div>
        </div>
      </ng-scrollbar>
    </div>
    <div *ngIf="verRecl" class="row">
      <div *ngIf="dataSource1.length > 0 else NotCandidatos" class="col-md-6">
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-muted mr-2">DE</span>
          <div class="input-group input-group-sm">
            <input (input)="Search($event, 1, dataSource1)" class="form-control form-control-sm round" type="text"
              placeholder="Filtrar" />
            <div class="input-group-append">
              <span class="input-group-text text-info"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <ng-scrollbar #scrollable  
          track="all" [disabled]="disabled">
          <div class="long mt-1">
            <div class="list-group fontLato" *ngFor="let l of listaAsignar; let rowIndex = index;">
              <button type="button" [disabled]="loading" (click)="onSelect(l, rowIndex)"
                class="list-group-item list-group-item-action text-muted"
                [class.bg-info]="l.selected"><small>{{l.nombre | uppercase}}</small></button>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div *ngIf="dataSource1.length > 0 else NotCandidatos" class="col-md-6">
        <div class="d-flex justify-content-between align-items-center">
          <span class="text-muted mr-2">PARA</span>
          <div class="input-group input-group-sm">
            <input (input)="Search($event, 2, dataSource2)" class="form-control form-control-sm round" type="text"
              placeholder="Filtrar" />
            <div class="input-group-append">
              <span class="input-group-text text-info"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
            <ng-scrollbar #scrollable  
              track="all" [disabled]="disabled">
              <div class="long mt-1">
                <div class="list-group fontLato" *ngFor="let a of listaAsignar2; let rowIndex2 = index;">
                  <button type="button" [disabled]="loading" (click)="onSelect2(a, rowIndex2)"
                    class="list-group-item list-group-item-action text-muted"
                    [class.bg-info]="a.selected"><small>{{a.nombre | uppercase}}</small></button>
                </div>
              </div>
            </ng-scrollbar>
      </div>
    </div>
    <br>
    <br>
      <div *ngIf="asig.length > 0" class="d-flex justify-content-center p-1 mt-2 bg-success text-uppercase fontLato"><span *ngIf="asig.length > 0">Transferir
          de {{asig[0].nombre }} </span><span class="ml-1" *ngIf="asig2.length > 0"> a {{asig2[0].nombre}}</span></div>
   
    <br />
    <br />
    <mat-divider></mat-divider>
    <mat-form-field>
      <textarea matInput #message maxlength="500" placeholder="Comentario" rows="2" [(ngModel)]="comentario"
        [disabled]="loading"></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>

    </mat-form-field>
    <p>
      <span>
        <small [ngClass]="!comentario ? 'text-danger': 'text-success'">
          <em *ngIf="!comentario" class="fa fa-close"></em>
          <em *ngIf="comentario" class="fa fa-check"></em>
          Ingrese comentario de por el cual se transfiere la vacante.
        </small>
      </span>
    </p>
    <div class="text-right">
      <button class="btn btn-xs btn-success btn-circle" (click)="AddComentario()"
        [disabled]="!comentario && (dataSource1.length == 0 || coordNom.length == 0 || asig.length == 0 || asig2.length == 0)"><i class="fa fa-paper-plane-o"
          aria-hidden="true"></i></button>
      <img *ngIf="loading"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
    <br>
  </div>

</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <alert type="info">
        <strong>Oops!</strong> La requisición no cuenta con reclutadores asignados.
      </alert>
    </div>
  </div>
</ng-template>