ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }

  .long
  {
      height: 200px;
  }

  .ilong
  {
      width: 330px;
      height: 30px;
  }
  .input-group {
    height: 30px;
  }
  .round{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

   }
   .input-group-append span {
     border-bottom-right-radius: 25px;
     border-top-right-radius: 25px;
   }