.modal-lg {
  max-width: 85% !important;
}

.modal-lg .long {
  max-height: 85% !important;
}

em {
  cursor: pointer;
}

a {
  cursor: pointer;
}

a:hover small {
color: black;
}
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}