<div class="card box">
  <div class="card-body mat-elevation-z8">
    <div class="d-flex justify-content-between">
      <label class="text-info"><strong>Unidad de Negocio Guadalajara</strong></label>
      <em class="icon-refresh em- text-success" (click)="updateChart()"></em>
    </div>
    <br>
    <div id="UnidadNegocioGdl">
      <canvas id="canvasGdl"></canvas>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <small><span class="float-letf"> Vigentes: <span
                class="badge badge-success">{{Vigentes}}</span></span></small>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <small><span class="text-center"> PorVencer: <span
                class="badge badge-warning">{{PorVencer}}</span></span></small>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <small><span class="float-right"> Vencidas: <span
                class="badge badge-danger">{{Vencidas}}</span></span></small>
        </div>
      </div>
      <mat-divider></mat-divider>
      <small><span class="float-right"> Total Folios: <span
            class="badge badge-info">{{RegistrosT}}</span></span></small>
    </div>
  </div>
</div>
