<div class="card">
  <div class="card-body mat-elevation-z8 text-uppercase">
    <div class="d-flex justify-content-between align-items-center p-1 bg-warning fontRoboto">
      <span>Unidad de Negocio Guadalajara</span>
      <em class="icon-refresh" (click)="updateChart()"></em>
    </div>
    <br>
    <div id="UnidadNegocioGdl" class="fontLato">
      <canvas id="canvasGdl"></canvas>
      <div class="d-flex justify-content-between align-items-center align-items-strech mb-2">
        <small><small>Vigentes</small>
          <span class="badge badge-success ml-1"><small>{{Vigentes}}</small></span>
        </small>
        <small>
          <small>Por Vencer</small>
          <small class="badge badge-warning ml-1">{{PorVencer}}</small></small>

        <small><small>Vencidas</small><span class="badge badge-danger ml-1"><small>{{Vencidas}}</small></span></small>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-between p-1 align-items-center mt-2">
        <small><span>Total Posiciones</span><span class="badge badge-primary ml-1">{{totalPos}}</span></small>
        <a (click)="detectedClick('todas')">
          <small>Total Folios</small><span class="badge badge-info ml-1">{{RegistrosT | numerico}}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal para visualizar vacantes seleccionadas -->
<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal
  #MessageModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg reporteMod">
    <div class="modal-content">
      <div class="modal-header fontRoboto text-uppercase">
        <div class="d-flex justify-content-between align-items-center p-1 bg-info-light w-100">
          <h5>Informaci&oacute;n de Vacantes
            {{EstadoVacante}} por Fecha de Cumplimiento Guadalajara </h5>
          <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
              class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="modal-body">
        <app-dt-vacantes-un [EstadoVacante]="EstadoVacante" [UnidadNegocio]="UnidadNegocio"></app-dt-vacantes-un>
      </div>
    </div>
  </div>
</div>