<div >
    <h2 *ngIf="General?.length == 0" style="margin-top: 30px">
        
         <div style="margin-top: 100px; font-size: 14px" role="alert" class="alert alert-info ng-star-inserted">
            <strong >Oops!</strong> No se encontraron Resultados
          </div>
    </h2>
   </div>
   <div>
     
  <div class="card"  *ngIf="General?.length > 0" style="margin-top:80px">
  <div class="card-body mat-elevation-z8">
  
  <ng-scrollbar #scrollableP [trackX]="true" [trackY]="false" [invertX]="invertX" [invertY]="invertY" [compact]="compact" [shown]="shown"
    [disableOnBreakpoints]="false" [disabled]="disabled">
  
    <div style="width: 100%; height: 400px; overflow: hidden;">
      <table ngClass="{{config.className || ''}}" class="table">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}" >
              <small>{{column.title | uppercase}}</small>
              <!-- <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
              </i> -->
            </th>
          </tr>
          <tr *ngIf="showFilterRow">
            <th *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control form-control-sm" id="{{column.name}}">
            </th>
          </tr>
  
        </thead>
       
        <tbody>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact" [shown]="shown"
            [disableOnBreakpoints]="false" [disabled]="disabled">
            <div>
              
              <tr *ngFor="let item of rows" >
                  <td class="text-center">{{item.nombre}}</td>
                  <th class="text-center ">{{item.estado}}</th>
                  <th class="text-center ">{{item.edad}}</th>
                  <td class="text-center">{{item.genero}}</td>
                  <th class="text-center ">{{item.estatus}}</th>
                  <th class="text-center ">{{item.curp}}</th>
                  <td class="text-center">{{item.rfc}}</td>
              </tr>
            </div>
            </ng-scrollbar>
        </tbody>
     
      </table>
    </div>
  </ng-scrollbar>
  
  <br/>
  <div class="row">
    <div class="col-md-12 clearfix">
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
  
      <pre *ngIf="config.paging" class="text-muted float-right"><small>P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</small></pre>
    </div>
  </div>
  </div>
  </div>