/* Structure */
.dtDamfo-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.dtDamfo-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.mat-cell{
  font-size: 10px;
}

.mat-header-row {
    min-height: 40px;
    background-color: dodgerblue;
}
