ul.respStyle
{
    list-style-type: circle;

}

.longSelect
{
    width: 70%;
}

.card-body.scroll
{
    height: 638px !important;
    overflow-y: auto;
}
.altura
{
    height: 31px;
}


.file-upload
{
    height: 31px;
}