<div class="content-heading" >
  <div>
    Editar Prospecto / Cliente
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/directorio']">Directorio Empresarial</a>
    </li>
    <li class="breadcrumb-item active">Editar</li>
  </ol>
</div>


<tabset [justified]="true">
  <tab heading="Información Principal" id="TapInfoPrincipal">
    <app-datos-generales [DatosGenerales]="Cliente"></app-datos-generales>
  </tab>
  <tab heading="Dirección / Sucursales" id="TapDirecciones">
    <app-direcciones-cliente [EntidadId]="EntidadId" [Direcciones]="Direcciones" (DataEmitter)="changeData($event)" (DeleteDireccion)="deleteData($event)" ></app-direcciones-cliente>
  </tab>
  <tab heading="Teléfonos" id="TapTelefonos">
    <app-telefonos-cliente [EntidadId]="EntidadId" [Direcciones]="Direcciones" [Telefonos]="Telefonos" ></app-telefonos-cliente>
  </tab>
  <tab heading="Correo Electrónico" id="TapCorreo">
    <app-correos-cliente [EntidadId]="EntidadId" [Direcciones]="Direcciones" [Correos]="Emails"></app-correos-cliente>
  </tab>
  <tab heading="Contactos" id="TapContactos">
    <app-contactos-cliente [EntidadId]="EntidadId" [Direcciones]="Direcciones" [Contactos]="Contactos"></app-contactos-cliente>
  </tab>
</tabset>
