<mat-form-field class="fieldautocomplete-full-width">
  <input matInput placeholder="Nivel de estudios" aria-label="Nivelestudio" [matAutocomplete]="auto" [formControl]="nvestudiosCtrl" (blur)="SendIdnv()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let nvestudio of filterednvestudios | async" [value]="nvestudio.gradoEstudio">
        <div class="row">
          <div class="col-md-4">
            <small>{{ nvestudio.gradoEstudio }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
