em {
    cursor: pointer;
}

.margin
{
    margin-right: 10px;
    margin-top: 15px;
}

// .mat-dialog-actions{
//     margin-bottom: 10px;
// }

.dt-container {
    padding: 10px 10px 0px !important;
}

.culminar{
    color: #0ff608;
}
.editar{
    color: #0e75fb;
}

.eliminar {
    color: #eb1d02
}
