  <div class="d-flex justify-content-between align-items-center p-1 bg-info-light">
    <span>BENEFICIOS</span>
    <em *ngIf="verTabla" class="fa fa-caret-up fa-2x" aria-hidden="true" (click)="verTabla=false"></em>
    <em *ngIf="!verTabla"class="fa fa-caret-down fa-2x" aria-hidden="true" (click)="verTabla=true"></em>
  </div>
  <!-- <div class="card card-default"> -->
    <div *ngIf="verTabla" class="table-responsive">
      <table class="table" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" class="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows" [class.selected]="row.selected" (click)="onCellClick(row)">
            <td  > {{row.tipoBeneficio | uppercase}} </td>
            <td class="text-lenght"> {{row.cantidad |moneda: '$'}}</td>
            <td > {{row.observaciones | uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->
<!-- </div> -->
