h3 {
    background-color:rgb(5, 74, 202);
    color: white;
	width: auto; //(esto es el ancho, puedes ponerlo en px)
	columns: #f6f6f6; //(color del texto)
	font-weight: bold; //(negrita)
	font-size:15px; //(tamaño del texto)
	text-align: center; //(alineacion del texto)
	margin: 0px; //(margen, espacio exterior)
	padding: 5px; //(espacio interior, se puede segregar)
    border: 2px; //(si quieres bordes)
    border-radius: 5%;
}