<h3 class="text-info"  mat-dialog-title>HORARIOS REQUISICION
  <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="onCloseDialog()" ><i class="fa fa-times"></i></button>
</h3>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div *ngIf="seleccion != 0 else NoHorarios">
    <p class="text-warning">FUENTE DE RECLUTAMIENTO</p>
    <mat-form-field class="selectWidth">
        <mat-select placeholder="SELECCIONAR FUENTE DE RECL." [(ngModel)]="mediosId">
          <mat-optgroup *ngFor="let m of medios" [label]="m.nombre | uppercase"
                        [disabled]="m.disabled">
            <mat-option *ngFor="let sub of m.medios" [value]="sub.tipoMediosId">
              {{sub.tipoNombre | uppercase}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field><br/><br/>
      <mat-divider></mat-divider>
      <p class="text-warning">HORARIOS DISPONIBLES PARA LA REQUSICION</p>
    <div *ngFor="let r of data" class="form-check">
        <input class="form-check-input" type="radio" name="mode" [(ngModel)]="seleccion" [value]="r.id">{{r.nombre}}
    </div>
    <div *ngIf="seleccion > 0" [ngStyle]="{'color':'red'}"> 
      Debe seleccionar un horario.
  </div>
</div>
</mat-dialog-content>
 <br/>
<mat-divider></mat-divider>
<mat-dialog-actions class="pull-right">
  <button class="btn btn-xs btn-labeled btn-outline-danger mb-2 margin" mat-dialog-close>
    <span class="btn-label">
        <i class="fa fa-times"></i>
      </span> Cancelar
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button class="btn btn-xs btn-outline-success mb-1 float-right" [disabled]="!seleccion" mat-button [mat-dialog-close]="seleccion">Aceptar</button> -->
  <button type="button" [disabled]="!seleccion" class="btn btn-xs btn-labeled btn-outline-success mb-2 margin" (click)="EnviarDatos()">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
  <br/>
</mat-dialog-actions>

<br/>  <br/>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NoHorarios>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> No cuentas con horarios disponibles.
          </alert>
    </div>
  </div>
</ng-template>