<form [formGroup]="PrestacionesArray">
  <section class="d-flex justify-content-between">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <span class="text-warning text-uppercase fontRoboto">Prestaciones adicionales ofrecidas por el cliente <i *ngIf="PrestacionesNew.length == 0"
        class="text-danger fa fa-exclamation-circle ml-3" container="body" placement="right"
        tooltip="Campo requerido"></i></span>
    <button class="btn btn-xs btn-primary mr-1 mb-1 mat-elevation-z8" (click)="AddPrestacion()" container="body"
      placement="top" tooltip="Agregar prestaciones"><i class="fa fa-plus"></i></button>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div *ngIf="PrestacionesArray['controls'].prestacion['controls'].length > 0" class="card card-body mt-1">
      <div *ngFor="let prestacion of PrestacionesArray['controls'].prestacion['controls']; let i=index">
        <div formArrayName="prestacion">
          <form [formGroupName]="i">
            <app-prestaciones-p [IdFormato]="IdFormato" [prestacion]="PrestacionesArray.controls.prestacion.controls[i]"
              [index]="i" (Add)="Agregar($event)" (remove)="removePrestacion($event)"
              (Registros)="getRegistros($event)">
            </app-prestaciones-p>
          </form>
        </div>
      </div>
    </div>
  </section>
</form>