<div class="content-heading">
  <span class="text-muted text-uppercase">Administraci&oacute;n de Candidatos.</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item"> <a [routerLink]="['/admin/ingresos']">INICIO</a></li>
    <li class="breadcrumb-item active text-uppercase text-muted">Gesti&oacute;n Archivos</li>
  </ol>
</div>
<div *ngIf="spinner" class="spinner">
  <div class="ball-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between p-1 bg-info-light fontRoboto mb-1">
      <span>CANDIDATOS CUBIERTOS</span>
      <button container="body" placement="bottom" tooltip="Regresar" class="btn btn-xs btn-warning" type="button"
      [routerLink]="['/admin/ingresos']">
      <i class="icon-action-undo"></i>
    </button>
    </div>
    <div class="d-flex justify-content-start long mt-3">
          <mat-form-field class="long">
              <mat-label><i class="fa fa-filter mr-1" aria-hidden="true"></i>Cliente</mat-label>
              <mat-select placeholder="Seleccionar Cliente" (selectionChange)="clienteChange(); filtro = ''; value=''; " [(ngModel)]="clienteId">
                <mat-label>{{filtro}}</mat-label>
                <input class="p-2 long" matInput placeholder="Filtrar cliente" (keyup)="filterClientes($event.target.value)" [(ngModel)]="value">
                <!-- <em *ngIf="value" matSuffix (click)="value=''">
                  <mat-icon>close</mat-icon>
                </em>   -->
                <mat-option *ngFor="let c of filteredClientes" [value]="c.id">{{c.nombrecomercial | uppercase}} - <small class="text-warning">{{c.razonSocial}}</small></mat-option>
              </mat-select>
            </mat-form-field>
    </div>
    <div class="d-flex justify-content-end align-items-center p-1 bg-light">
        <button *ngIf="reporte === 0" [disabled]="element.length == 0" [ngClass]="element.length == 0 ? 'disabled' : 'btn-warning'"
        class="btn btn-xs mat-elevation-z8" type="button" container="body" placement="bottom" tooltip="Ver Archivos"
        (click)="fileManager();">
        <i class="fa fa-upload"></i>
      </button>
      <button *ngIf="reporte === 1" class="btn btn-xs btn-warning mat-elevation-z8" type="button" container="body" placement="bottom" tooltip="Descargar"
      (click)="exportAsXLSX();">
      <i class="fa fa-download"></i>
    </button>
      <button (click)="clearfilters()" class="ml-2 mat-elevation-z8" container="body" placement="bottom"
        tooltip="Limpiar Filtros" container="body" [disabled]="!clearFilter"
        [ngClass]="(!clearFilter) ? 'btn btn-xs disabled':'btn btn-xs btn-info'">
        <i class="fa fa-eraser"></i>
      </button>
      <button type="button" class="btn btn-xs btn-success mat-elevation-z8 ml-2" (click)="refreshTableInfo()"
        container="body" placement="bottom" tooltip="Actualizar" container="body">
        <i class="icon-refresh"></i>
      </button>
    </div>
    <div class="d-flex justify-content-end align-items-center p-1 bg-warning mt-2">
      <div class="d-flex justify-content-end">
        <span class="text-uppercase">Total de Folios<span class="badge badge-info ml-1">{{totalFolios}}</span></span>
      </div>
      <span class="text-uppercase ml-4 ">Total de Candidatos<span
          class="badge badge-info ml-1">{{totalCandidatos}}</span></span>
    </div>
    <table *ngIf="dataInfoRequi.length > 0 else NotCandidatos" class="table">
      <thead>
        <tr>
          <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
            <small class="text-center">{{column.title | uppercase}}</small>
          </th>
        </tr>
        <tr>
          <th *ngFor="let column of columns">
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
              [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableInfo(config)"
              class="form-control form-control-sm" id="{{column.name}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-scrollbar #scrollableEstatus   
          track="all" [disabled]="disabled">
          <div style="height: 350px;">
            <tr *ngFor="let row of rowsInfo; let rowIndex = index" (click)="onCellClick(row)" (dblclick)="reporte == 1 ? $event.stopPropagation() : capturaDtos()"
              [class.bg-primary]="row.selected">
              <td class="text-center">{{row.folio}}</td>
              <td class="text-center">{{row.vbtra | uppercase}}</td>
              <td class="text-center">{{row.curp | uppercase}}</td>
              <td class="text-center">{{row.edad | date:'yyyy-MM-dd'}}</td>
              <td class="text-center">{{row.nombre | uppercase}}</td>
              <td class="text-center">{{row.fch_Creacion | date:'yyyy-MM-dd'}}</td>
            </tr>
          </div>
        </ng-scrollbar>
      </tbody>
    </table>
  </div>
  <br />
  <div class="clearfix">
    <pagination *ngIf="config.paging" class="pagination-sm float-right" [(ngModel)]="pageInfo" [totalItems]="lengthInfo"
      [itemsPerPage]="itemsPerPageInfo" [maxSize]="maxSizeInfo" [boundaryLinks]="true" [rotate]="false"
      (pageChanged)="onChangeTableInfo(config, $event)" (numPages)="numPagesInfo = $event">
    </pagination>
  </div>

</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <alert type="info">
        <strong>Oops!</strong> A&uacute;n no cuentas con candidatos cubiertos.
      </alert>
    </div>
  </div>
</ng-template>