<div class="content-heading">
  <div>
    Candidatos
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de Candidatos.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Reclutamiento</li>
  </ol>
</div>
<br/>
<div class="table-responsive mat-elevation-z8">
  <table *ngIf="dataInfoRequi.length > 0 else NotCandidatos" class="table">
    <thead>
      <tr>
        <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
          {{column.title | uppercase}}
          <!-- <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
          </i> -->
        </th>
      </tr>
      <tr >
        <td *ngFor="let column of columns">
          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
            (tableChanged)="onChangeTableInfo(config, column.name)" class="form-control" id="{{column.name}}">
        </td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngIf="showFilterRow">
        <td *ngFor="let column of columns">
          <input formControlName="filtro" *ngIf="column.filtering" placeholder="{{column.filtering.placeholder | uppercase}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
            class="form-control">
        </td>
      </tr> -->
      <tr class="rowHover" *ngFor="let row of rowsInfo; let rowIndex = index" [class.classCURP]="row.classCURP">
       <td class="text-center">{{row.folio}}</td>
       <td class="text-center">{{row.vbtra}}</td>
       <td class="text-center">{{row.curp | uppercase}}</td>
        <td class="text-center">{{row.rfc | uppercase}}</td>
        <td class="text-center">{{row.nss | uppercase}}</td>
        <td class="text-center">{{row.edad | date:'yyyy-MM-dd'}}</td>
        <td class="text-center">{{row.nombre}}</td>
        <td class="text-center">{{row.apellidoPaterno}}</td>
        <td class="text-center">{{row.apellidoMaterno}}</td>
        <!-- <td class="text-center">{{row.areaReclutamiento | uppercase}}</td>
        <td class="text-center">{{row.fuenteReclutamiento | uppercase}}</td>
        <td class="text-center">{{row.usuario}}</td> -->
        <td class="text-center">{{row.fch_Creacion | date:'dd-MM-yyyy'}}</td>
        <td class="text-center">
          <button class="mb-1 btn btn-xs btn-outline-success" type="button" container="body" placement="bottom" tooltip="Cargar Archivos" (click)="candidatoId = row.candidatoId; nom = row.nombre + ' ' + row.apellidoPaterno + ' ' + row.apellidoPaterno; filemanager=true;">
            <em class="fa fa-upload"></em>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<br/>
<div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageInfo" [totalItems]="lengthInfo" [itemsPerPage]="itemsPerPageInfo"
      [maxSize]="maxSizeInfo" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTableInfo(config, $event)"
      (numPages)="numPagesInfo = $event">
    </pagination>
    <br/>
  <pre *ngIf="config.paging" class="card card-block card-header text-warning">P&aacute;gina: {{pageInfo}} / {{numPagesInfo}}  Total Registros: {{registrosInfo}}</pre>
</div>


<!--filemanager-->
<div *ngIf="filemanager" [config]="{ show: true, ignoreBackdropClick: true }" bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left text-success">{{nom}}</h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="lgModal2.hide();closeModal()" ><i class="fa fa-times"></i></button>
  
      </div>
      <div class="modal-body">
        <app-file-manager [candidatoId]="candidatoId"></app-file-manager>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="md-1 btn btn-outline-success" (click)="lgModal2.hide()">Cerrar</button>
      </div> -->
    </div>
  </div>
</div>

<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con candidatos contratados.
          </alert>
    </div>
  </div>
</ng-template>