<div *ngIf="spinner" class="spinner">
  <div class="ball-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner> -->
</div>
<div class="dt-container" *ngIf="registros > 0 else NotCandidatos">
  <div class="dt-header">
    <div class="d-flex justify-content-end align-items-center p-1 bg-light">
      <button (click)="exportAsXLSX()" container="body" placement="bottom" tooltip="Descargar" class="btn btn-xs btn-success mb-1 mr-2 mat-elevation-z8">
          <i class="fa fa-download"></i>
        </button>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" class="mr-2 btn-xs mb-1 btn btn-primary mat-elevation-z8">
          <i class="fa fa-eraser"></i>
        </button>
        <button class="mr-1 btn-xs mb-1 btn btn-success mat-elevation-z8" type="button" (click)="refreshTable()" container="body"
          placement="bottom" tooltip="Actualizar">
          <i class="icon-refresh"></i>
        </button>
    </div>
    <div class="d-flex justify-content-end align-items-center p-1 bg-warning">
    <span class="text-uppercase">Total de registros <small
      class="badge badge-pill badge-info ml-1">{{dataSource.length  | numerico}}</small></span>
    </div>
  </div>
  <div class="card card-body">
    <div #tableContainer>
      <table id="misCandidatos" class="table" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
            </th>
          </tr>
          <tr *ngIf="showFilterRow">
            <th *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                (tableChanged)="onChangeTable(config)" class="form-control form-control-sm" id="{{column.name}}">
            </th>
          </tr>
        </thead>
        <tbody>
            <ng-scrollbar #scrollable   
             track="all" [disabled]="disabled">
            <div>
          <tr (click)="onCellClick(row)" (dblclick)="getCandidato(row.candidatoId)" *ngFor="let row of rows"
            [class.confident]="row.confidencial" [class.cancel]="row.estatusId == 8" [class.selected]="row.selected">
            <td class="text-center">
              {{row.folio}}
            </td>
            <td class="text-center">
              <small *ngIf="row.estatus.length <= 10 else toLength" class='badge badge-pill badge-info'
                [class.badge-warning]="row.estatusId === 42" [class.badge-danger]="row.estatusId == 28" [class.selected]="row.selected">
                <small *ngIf="row.estatusId != 28"> {{row.estatus | uppercase }}</small>
                <small *ngIf="row.estatusId == 28">POSTULADO</small>
            </small>
              <ng-template #toLength>
                <small class='badge badge-pill badge-info' [class.badge-warning]="row.estatusId === 42"
                  [class.badge-danger]="row.estatusId == 28" container="body" placement="bottom" tooltip="{{row.estatus | uppercase}}"><small>{{row.estatus
                  | slice:0:7 | uppercase }} ... </small></small>
              </ng-template>
            </td>
            <td>{{row.vBtra | uppercase}}</td>
            <td>
              {{row.nombre | uppercase}}
            </td>
            <!-- <td> {{row.areaExp | uppercase}}</td>
            <td> {{row.areaInt | uppercase}}</td> -->
            <td> {{row.localidad | uppercase}} </td>
            <td class="text-right"> {{row.sueldoMinimo | moneda : '$'}} </td>
            <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
            <td> {{row.curp}}</td>
            <!-- <td> {{row.rfc}}</td> -->
          </tr>
          </div>
          </ng-scrollbar>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event">
    </pagination>
  </div>
  <!-- <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre> -->
</div>
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-12">
      <alert type="primary">
        <strong>Oops!</strong> A&uacute;n no cuentas con candidatos en proceso / apartados.
      </alert>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12">
      <button class="mb-1 btn btn-success mat-elevation-z8" type="button" (click)="refreshTable()" container="body" placement="bottom"
        tooltip="Actualizar">
        <i class="icon-refresh"></i>
      </button>
    </div>
  </div>
</ng-template>
