<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<div class="content-heading">
  <div>
    Visualizar DAM-FO-290
    <span class="text-sm d-none d-sm-block">Caracteristicas de DAM-FO-290</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item ">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item ">
      <a [routerLink]="['/ventas/requisicion']">Requisicion</a>
    </li>
    <li class="breadcrumb-item ">
      <a [routerLink]="['/ventas/crearRequisicion']">Revisión DAM-FO-290</a>
    </li>
    <li class="breadcrumb-item active">Visualizar DAM-FO-290</li>
  </ol>
</div>



<div class="row">
  <!-- <button (click)="print()">Imprimir</button> -->
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <btn-docs (click)="openDialog()" matTooltip="Generar Requisición"></btn-docs>
      <btn-return [routerLink]="['/ventas/crearRequisicion']" matTooltip="Regresar"></btn-return>
    </div>
  </div>
</div>
<br />
<div id="print-section">
  <div class="dt-container  mat-elevation-z8">
    <div class="card-header">
      <em class="fa fa-user"></em> Informaci&oacute;n General
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Datos del cliente</h5>
          <mat-divider></mat-divider>
          <p>
            <strong>Nombre Comercial: </strong>
            <label id="nombre" class="card-text"> {{nombreComercial}}</label>
          </p>
          <p>
            <strong>Raz&oacute;n Social: </strong>
            <label class="card-text"> {{razonSocial}}</label>
          </p>
          <p>
            <strong>RFC: </strong>
            <label class="card-text"> {{rfc}}</label>
          </p>
          <p>
            <strong>Giro Empresa: </strong>
            <label class="card-text"> {{giroEmpresa}}</label>
          </p>
          <p>
            <strong>Actividad Empresa: </strong>
            <label class="card-text"> {{actividadEmpresa}}</label>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Reclutamiento</h5>
          <mat-divider></mat-divider>
          <p>
            <strong>Tipo: </strong>
            <label class="card-text"> {{tipoReclutamiento}}</label>
          </p>
          <p>
            <strong>Clase: </strong>
            <label class="card-text"> {{claseReclutamiento}}</label>
          </p>
          <h5 class="card-title">Contrato</h5>
          <mat-divider></mat-divider>
          <p>
            <strong>Tipo: </strong>
            <label class="card-text"> {{damfo290?.contratoInicial?.tipoContrato}}</label>
          </p>
          <p *ngIf="damfo290?.contratoInicial?.periodoPrueba == true">
            <strong>D&iacute;as de Prueba: </strong>
            <label class="card-text"> {{damfo290?.tiempoContrato?.tiempo}}</label>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Puesto a Reclutar</h5>
          <mat-divider></mat-divider>
          <p>
            <strong>Nombre del Perfil: </strong>
            <label class="card-text"> {{damfo290?.nombrePerfil}}</label>
          </p>
          <p>
            <strong>&Aacute;rea: </strong>
            <label class="card-text"> {{damfo290?.area?.areaExperiencia}}</label>
          </p>
          <p>
            <strong>G&eacute;nero: </strong>
            <label class="card-text"> {{damfo290?.genero?.genero}}</label>
          </p>
          <p>
            <strong>Edad: </strong>
            <label class="card-text"> {{damfo290?.edadMinima}} años a {{damfo290?.edadMaxima}} años </label>
          </p>
          <p>
            <strong>Estado Civil: </strong>
            <label class="card-text"> {{damfo290?.estadoCivil?.estadoCivil}}</label>
          </p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Sueldos</h5>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h5 class="card-title">M&iacute;nimo</h5>
              <p>
                <strong>Mensual: </strong>
                <label class="card-text"> {{damfo290?.sueldoMinimo | currency:"$"}}</label>
              </p>
              <p>
                <strong>Semanal: </strong>
                <label class="card-text"> {{(damfo290.sueldoMinimo / 30) * 7 | currency:"$"}}</label>
              </p>
              <p>
                <strong>Diario: </strong>
                <label class="card-text"> {{damfo290?.sueldoMinimo / 30 | currency:"$"}}</label>
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <h5 class="card-title">M&aacute;ximo</h5>
              <p>
                <strong>Mensual: </strong>
                <label class="card-text"> {{damfo290?.sueldoMaximo | currency:"$"}}</label>
              </p>
              <p>
                <strong>Semanal: </strong>
                <label class="card-text"> {{(damfo290.sueldoMaximo / 30) * 7 | currency:"$"}}</label>
              </p>
              <p>
                <strong>Diario: </strong>
                <label class="card-text"> {{damfo290?.sueldoMaximo / 30 | currency:"$"}}</label>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="dt-container  mat-elevation-z8">
    <div class="card-header">
      <em class="fa fa-id-badge"></em> Informaci&oacute;n Adicional del Perfil
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Estudios / Escolaridades</h5>
          <mat-divider></mat-divider>
          <ol>
            <li *ngFor="let x of damfo290?.escolardadesPerfil">
              <label class="card-text"> {{x?.escolaridad?.gradoEstudio}} - {{x?.estadoEstudio?.estadoEstudio}}</label>
            </li>
          </ol>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Aptitudes</h5>
          <mat-divider></mat-divider>
          <ol>
            <li *ngFor="let x of damfo290?.aptitudesPerfil">
              <label class="card-text"> {{x?.aptitud?.aptitud}}</label>
            </li>
          </ol>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Experiencia</h5>
          <mat-divider></mat-divider>
          <label class="card-text">{{damfo290?.experiencia}}</label>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <h5 class="card-title">Informaci&oacute;n de Pagos</h5>
          <mat-divider></mat-divider>
          <p>
            <strong>D&iacute;as Corte: </strong>
            <label class="card-text"> {{damfo290?.diaCorte?.diaSemana}}</label>
          </p>
          <p>
            <strong>Tipo Nomina: </strong>
            <label class="card-text"> {{damfo290?.tipoNomina?.tipoDeNomina}}</label>
          </p>
          <p>
            <strong>D&iacute;as Pago: </strong>
            <label class="card-text"> {{damfo290?.diaPago?.diaSemana}}</label>
          </p>
          <p>
            <strong>Periodo de Pago: </strong>
            <label class="card-text"> {{damfo290?.periodoPago?.periodoPago}}</label>
          </p>
          <p *ngIf="periodoPagoId == 0">
            <strong>Especifique: </strong>
            <label class="card-text"> {{damfo290?.especifique}}</label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <!-- HORARIOS -->
      <app-dt-horarios [Horarios]="damfo290?.horariosPerfil"></app-dt-horarios>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <!-- DIRECCIONES -->
      <app-dt-direccion [Direcciones]="damfo290?.cliente?.direcciones"></app-dt-direccion>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <!-- TELEFONOS -->
      <app-dt-telefonos [Telefonos]="damfo290?.cliente?.telefonos"></app-dt-telefonos>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-10">
      <!-- CONTACTOS -->
      <app-dt-contactos [Contactos]="damfo290?.cliente?.contactos"></app-dt-contactos>
    </div>
  </div>
  <br>
  <br />
  <div class="row">
    <div class="col-md-12">
      <!-- BENEFICIOS -->
      <app-dt-beneficios [Beneficios]="damfo290?.beneficiosPerfil"></app-dt-beneficios>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <!-- ACTIVIDADES -->
      <app-actividades [Actividades]="damfo290?.actividadesPerfil"></app-actividades>
    </div>
    <div class="col-md-4">
      <!-- OBSERVACIONES -->
      <!-- damfo290?.observacionesPerfil -->
      <app-observaciones [Observaciones]="damfo290?.observacionesPerfil"></app-observaciones>
    </div>
    <div class="col-md-4">
      <!-- PROCESO -->
      <app-procesos [Proceso]="damfo290?.procesoPerfil"></app-procesos>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <!-- DOCUMENTOS dAMSA -->
      <app-documentos-damsa></app-documentos-damsa>
    </div>
    <div class="col-md-3">
      <!-- DOCUMENTOS CLIENTE -->
      <app-documentos-cliente [Documentos]="damfo290?.documentosCliente"></app-documentos-cliente>
    </div>
    <div class="col-md-3">
      <!-- PRESTACIONES LEY -->
      <app-prestaciones-ley></app-prestaciones-ley>
    </div>
    <div class="col-md-3">
      <!-- PRESTACIONES SUPERIORES -->
      <app-prestaciones-cliente [Prestaciones]="damfo290?.prestacionesCliente"></app-prestaciones-cliente>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <!-- PSICOMETRIAS DAMSA -->
      <app-dt-psicometrias-damsa [Psicometrias]="damfo290?.psicometriasDamsa"></app-dt-psicometrias-damsa>
    </div>
    <div class="col-md-6">
      <!-- PSICOMETRIA CLIENTE -->
      <app-dt-psicometrias-cliente [Psicometrias]="damfo290?.psicometriasCliente"></app-dt-psicometrias-cliente>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <!-- COMPTENCIAS CARDINALES -->
      <app-dt-competencia-cardinal [Competencias]="damfo290?.competenciasCardinalPerfil"></app-dt-competencia-cardinal>
    </div>
    <div class="col-md-4 col-lg-4">
      <!-- COMPETENCIAS POR AREA -->
      <app-dt-competencia-area [Competencias]="damfo290?.competenciasAreaPerfil"></app-dt-competencia-area>
    </div>
    <div class="col-md-4 col-lg-4">
      <!-- COMPETENCIAS GERENCIALES -->
      <app-dt-competencia-gerencial [Competencias]="damfo290?.competetenciasGerencialPerfil"></app-dt-competencia-gerencial>
    </div>
  </div>
</div>
