<div class="card">
  <div class="card-body">
    <div *ngIf="addDireccion">
      <div class="d-flex justify-content-between align-items-center mb-2 p-1 bg-info-light">
        <span class="fontLato">AGRERAR DIRECCI&Oacute;N / SUCURSAL</span>
        <em (click)="(addDireccion = ! addDireccion) ; cancelarDireccion()" style="cursor: pointer;"
          class="fa fa-times-circle fa-2x text-danger emhover" aria-hidden="true">
        </em>
      </div>
      <form [formGroup]="formDirecciones">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-12">
            <mat-form-field>
              <mat-select placeholder="Tipo Dirección" formControlName="TipoDireccion" required>
                <mat-option *ngFor="let x of tipoDireccion" [value]="x.id">
                  {{x.tipoDireccion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12">
            <mat-form-field>
              <input matInput formControlName="CodigoPostal" name="CodigoPostal" maxlength="5" #postalCode
                placeholder="Código Postal" (keyup)="showForCP($event)" required />
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Paises" formControlName="Paises" (selectionChange)="getEstados()" required>
                <mat-option *ngFor="let x of paises" [value]="x.id" (onSelectionChange)="auxPais = x.pais">
                  {{x.pais}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Estados" formControlName="Estados" (selectionChange)="getMunicipio()" required>
                <mat-option *ngFor="let x of estados" [value]="x.id" (onSelectionChange)="auxEstado = x.estado">
                  {{x.estado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Municipios" formControlName="Municipios" (selectionChange)="getColonias()"
                required>
                <mat-option *ngFor="let x of municipios" [value]="x.id"
                  (onSelectionChange)="auxMunicipio = x.municipio">
                  {{x.municipio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Colonias" formControlName="Colonias" required>
                <mat-option *ngFor="let x of colonias" [value]="x.id"
                  (onSelectionChange)="auxColonia = x.colonia ; getCodigoPostal(x.cp)">
                  {{x.colonia}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #calle formControlName="Calle" name="Calle" placeholder="Calle" maxlength="100"
                required />
              <mat-hint align="end">{{calle.value.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #exterior formControlName="Exterior" name="Exterior" placeholder="No. Exterior"
                maxlength="10" required />
              <mat-hint align="end">{{exterior.value.length}} / 10</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #interior formControlName="Interior" name="Interior" placeholder="No. Interior"
                maxlength="30" />
              <mat-hint align="end">{{interior.value.length}} / 30</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <textarea #message matInput maxlength="500" placeholder="Referencia / Comentario" rows="3"
                formControlName="Referencia"></textarea>
              <mat-hint align="start"><strong>Caracteres</strong></mat-hint>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-slide-toggle class="text-success" [color]="warn" formControlName="Principal" [disabled]="Principal">
              Principal
            </mat-slide-toggle>
            <p></p>
            <mat-slide-toggle class="text-success" [color]="warn" formControlName="Activo">
              Activo
            </mat-slide-toggle>
          </div>
        </div>

        <!-- Botones de funcion sobre Direcciones -->
        <div class="modal-footer">
          <button type="button"
            class="btn btn-xs btn-labeled btn-danger d-flex justify-content-between align-items-center mat-elevation-z8"
            (click)="(addDireccion = ! addDireccion) ; cancelarDireccion()">
            <span class="btn-label"><i class="fa fa-times" aria-hidden="true"></i></span>CANCELAR</button>
          <button type="button" [disabled]="!formDirecciones.valid"
            class="md-1 btn btn-xs btn-labeled btn-success d-flex justify-content-between align-items-center mat-elevation-z8"
            (click)="AddDireccion()">
            <span class="btn-label text-center"><i class="fa fa-floppy-o"
                aria-hidden="true"></i></span>{{textbtnDirecciones | uppercase}}</button>
        </div>

      </form>
      <br>
    </div>
    <!-- Tabla de Direcciones -->
    <div *ngIf="Direcciones.length > 0">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div class="row" #tableDirecciones>
            <div class="col-sm-12 col-md-12">
              <div class="d-flex justify-content-start align-items-center p-1 bg-light">
                <button class="btn btn-xs btn-success mr-2 mat-elevation-z8" *ngIf="!addDireccion" container="body"
                  placement="bottom" tooltip="Agregar" (click)="addDireccion = true; textbtnDirecciones = 'Agregar'">
                  <i class="fa fa-plus"></i>
                </button>
                <div *ngIf="!EditDireccion">
                  <button *ngIf="Direcciones.length > 0" class="btn btn-xs mr-2 mat-elevation-z8" container="body"
                    placement="bottom" tooltip="Editar" [disabled]="!elementD"
                    [ngClass]="(!elementD) ? 'disabled' : 'btn-warning'"
                    (click)="UpDireccion();  textbtnDirecciones = 'Editar'">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button *ngIf="Direcciones.length > 0" class="btn btn-xs margen mat-elevation-z8" container="body"
                    placement="bottom" tooltip="Eliminar" [disabled]="!elementD"
                    [ngClass]="(!elementD) ? 'disabled' : 'btn-danger'" (click)="sweetalertEliminarDireccion()">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-end p-1 bg-warning mt-2">
                <span *ngIf="config.paging">TOTAL REGISTROS<span
                    class="badge badge-pill badge-success ml-2">{{registrosD}}</span></span>
              </div>
              <table id="direccionesNuevas" class="table fontRoboto text-muted" style="width: 100%;">
                <thead>
                  <tr>
                    <th *ngFor="let column of columnsD" ngClass="{{column.className || ''}}">
                      <small>{{column.title | uppercase}}</small>
                    </th>
                  </tr>
                  <tr *ngIf="showFilterRowD">
                    <td *ngFor="let column of columnsD">
                      <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                        [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableD(config)"
                        class="form-control form-control-sm" id="{{column.name}}">
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rowd of rowsD; let i=index" (click)="onCellClickD(rowd, rowd.id)"
                    [class.selected]="rowd.selectedD">
                    <td class="text-center">{{rowd.tipoDireccion | uppercase}}</td>
                    <td class="text-center">{{rowd.codigoPostal}}</td>
                    <td class="text-center">{{rowd.pais | uppercase }}</td>
                    <td class="text-center">{{rowd.estado | uppercase }}</td>
                    <td>{{rowd.municipio | uppercase}}</td>
                    <td>{{rowd.colonia | uppercase}}</td>
                    <td>{{rowd.calle | uppercase}}</td>
                    <td class="text-right"> {{rowd.numeroExterior}}</td>
                    <td class="text-right"> {{rowd.numeroInterior}}</td>
                    <td>
                      <span *ngIf="rowd.referencia.length < 20 else toLengthRF">
                        {{rowd.referencia | uppercase}}
                      </span>
                      <ng-template #toLengthRF>
                        <span placement="bottom" tooltip="{{rowd.referencia | uppercase}}">
                          {{rowd.referencia | slice:0:20 }}
                          ...
                        </span>
                      </ng-template>
                      <!-- <small>
                        {{rowd.referencia | uppercase}}
                      </small> -->
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.esPrincipal else Inactivo">
                        SI
                      </small>
                      <ng-template #Inactivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.activo else IsActivo">
                        SI
                      </small>
                      <ng-template #IsActivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-divider></mat-divider>
              <div class="d-flex justify-content-end p-1 mt-2">
                <pagination *ngIf="config.paging" class="pagination pagination-sm" [(ngModel)]="pageD"
                  [totalItems]="lengthD" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true"
                  [rotate]="false" (pageChanged)="onChangeTableD(config, $event)" (numPages)="numPagesD = $event">
                </pagination>
              </div>
            </div>
          </div>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>


<!-- Mensajes informativos -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>