<div class="dt-container">
  <!-- <div class="card-header">
    <em class="fa fa-map-marker"></em> Direcci&oacute;n / Sucursales
  </div> -->

  <div class="card-body">
    <div *ngIf="addDireccion">
      <form [formGroup]="formDirecciones">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-12">
            <mat-form-field>
              <mat-select placeholder="Tipo Dirección" formControlName="TipoDireccion" required>
                <mat-option *ngFor="let x of tipoDireccion" [value]="x.id">
                  {{x.tipoDireccion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-12">
            <mat-form-field>
              <input matInput formControlName="CodigoPostal" name="CodigoPostal" maxlength="5" #postalCode
                placeholder="Código Postal" (keyup)="showForCP($event)" required/>
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Paises" formControlName="Paises" (selectionChange)="getEstados()" required>
                <mat-option *ngFor="let x of paises" [value]="x.id" (onSelectionChange)="auxPais = x.pais">
                  {{x.pais}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Estados" formControlName="Estados" (selectionChange)="getMunicipio()" required>
                <mat-option *ngFor="let x of estados" [value]="x.id" (onSelectionChange)="auxEstado = x.estado">
                  {{x.estado}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Municipios" formControlName="Municipios" (selectionChange)="getColonias()"
                required>
                <mat-option *ngFor="let x of municipios" [value]="x.id"
                  (onSelectionChange)="auxMunicipio = x.municipio">
                  {{x.municipio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-select placeholder="Colonias" formControlName="Colonias" required>
                <mat-option *ngFor="let x of colonias" [value]="x.id"
                  (onSelectionChange)="auxColonia = x.colonia ; getCodigoPostal(x.cp)">
                  {{x.colonia}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #calle formControlName="Calle" name="Calle" placeholder="Calle" maxlength="100"
                required />
              <mat-hint align="end">{{calle.value.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #exterior formControlName="Exterior" name="Exterior" placeholder="No. Exterior"
                maxlength="10" required />
              <mat-hint align="end">{{exterior.value.length}} / 10</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input matInput #interior formControlName="Interior" name="Interior" placeholder="No. Interior"
                maxlength="30" />
              <mat-hint align="end">{{interior.value.length}} / 30</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <textarea #message matInput maxlength="500" placeholder="Referencia / Comentario" rows="3"
                formControlName="Referencia"></textarea>
              <mat-hint align="start"><strong>Caracteres</strong></mat-hint>
              <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-slide-toggle class="text-success" [color]="warn" formControlName="Principal" [disabled]="Principal">
              Principal
            </mat-slide-toggle>
            <p></p>
            <mat-slide-toggle class="text-success" [color]="warn" formControlName="Activo">
              Activo
            </mat-slide-toggle>
          </div>
        </div>

        <!-- Botones de funcion sobre Direcciones -->
        <div class="modal-footer">
          <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
            (click)="(addDireccion = ! addDireccion) ; cancelarDireccion()">Cancelar</button>
          <button type="button" [disabled]="!formDirecciones.valid" class="md-1 btn btn-xs btn-success mat-elevation-z8"
            (click)="AddDireccion()">{{textbtnDirecciones}}</button>
        </div>

      </form>
      <br>
    </div>
    <!-- Tabla de Direcciones -->
    <div class="butoonAction clearfix p-2 bg-light">
      <div class="contenedor">
        <div class="aling-div">
          <button class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8" *ngIf="!addDireccion" container="body"
            placement="bottom" tooltip="Agregar" (click)="addDireccion = true; textbtnDirecciones = 'Agregar'">
            <em class="fa fa-plus"></em>
          </button>
        </div>
        <div class="aling-div" *ngIf="!EditDireccion">
          <button *ngIf="Direcciones.length > 0" class="mb-1 btn btn-xs  mat-elevation-z8" container="body" placement="bottom"
            tooltip="Editar" [disabled]="!elementD" [ngClass]="(!elementD) ? 'disabled' : 'btn-primary'"
            (click)="UpDireccion();  textbtnDirecciones = 'Editar'">
            <em class="fa fa-pencil"></em>
          </button>
          <button *ngIf="Direcciones.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
            tooltip="Eliminar" [disabled]="!elementD" [ngClass]="(!elementD) ? 'disabled' : 'btn-danger'"
            (click)="sweetalertEliminarDireccion()">
            <em class="fa fa-trash"></em>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="Direcciones.length > 0">
      <div class="card media">
        <div class="card-body">
          <div class="row" #tableDirecciones>
            <div class="col-sm-12 col-md-12 table-responsive clearfix">
              <div>
                <span *ngIf="config.paging" class="float-right">Total Registros: {{registrosD}}</span>
              </div>
              <table id="direccionesNuevas" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                <thead>
                  <tr>
                    <th *ngFor="let column of columnsD" ngClass="{{column.className || ''}}">
                      {{column.title | uppercase}}
                    </th>
                  </tr>
                  <tr *ngIf="showFilterRowD">
                    <td *ngFor="let column of columnsD">
                      <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                        [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableD(config)"
                        class="form-control form-control-sm" id="{{column.name}}">
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rowd of rowsD; let i=index" (click)="onCellClickD(rowd, rowd.id)"
                    [class.selected]="rowd.selectedD">
                    <td class="text-center">{{rowd.tipoDireccion}}</td>
                    <td class="text-center">{{rowd.codigoPostal}}</td>
                    <td class="text-center">{{rowd.pais}}</td>
                    <td class="text-center">{{rowd.estado}}</td>
                    <td>{{rowd.municipio}}</td>
                    <td>{{rowd.colonia}}</td>
                    <td>{{rowd.calle}}</td>
                    <td class="text-right"> {{rowd.numeroExterior}}</td>
                    <td class="text-right"> {{rowd.numeroInterior}}</td>
                    <td>
                      <!-- <small *ngIf="rowd.referencia?.length < 30 else toLengthRF">
                            {{rowd.referencia}}
                          </small>
                          <ng-template #toLengthRF>
                            <small placement="bottom" tooltip="{{rowd.referencia}}"> {{rowd.referencia | slice:0:30 }}
                              ...
                            </small>
                          </ng-template> -->
                      <small>
                        {{rowd.referencia | uppercase}}
                      </small>
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.esPrincipal else Inactivo">
                        SI
                      </small>
                      <ng-template #Inactivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.activo else IsActivo">
                        SI
                      </small>
                      <ng-template #IsActivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-divider></mat-divider>
              <div class="text-right">
                <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageD" [totalItems]="lengthD"
                  [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                  (pageChanged)="onChangeTableD(config, $event)" (numPages)="numPagesD = $event">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Mensajes informativos -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
