<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<div class="content-heading">
  <span>FACTURA REQUISICIONES</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item"><a [routerLink]="['/home']">INICIO</a></li>
    <li class="breadcrumb-item active text-muted">AUTORIZAR ENVIO A FACTURAR</li>
  </ol>
</div>
<div class="card">
  <div class="card-body mat-elevation-z8">
    <div class="row">
      <div class="col-12 p-2 bg-light">
        <button (click)="lgModal2.show()" class="ml-2 mr-2 btn btn-xs float-left mat-elevation-z8" [disabled]="!view"
          [ngClass]="(!view) ? 'disabled' : 'btn-warning'" container="body" placement="bottom" tooltip="Visualizar">
          <i class="fa fa-eye"></i>
        </button>

        <button (click)="openDialogComentarios()" class="mr-2 btn btn-xs float-left mat-elevation-z8" [disabled]="!comment"
          [ngClass]="(!comment) ? 'disabled' : 'btn-dark'" container="body" placement="bottom" tooltip="Comentarios">
          <em class="fa fa-comments-o"></em>
        </button>
        <button class="mr-2 btn btn-xs float-left mat-elevation-z8" type="button" (click)="Autorizar()"
          [disabled]="!autorizar" [ngClass]="!autorizar ? 'disabled' : 'btn-success'" container="body"
          placement="bottom" tooltip="Autorizar">
          <i class="fa fa-check"></i></button>
        <button id='delete' chkPrivilegiosButtons class="btn btn-xs float-left mat-elevation-z8" [disabled]="!cancelar"
          [ngClass]="!cancelar ? 'btn disabled' : 'btn btn-danger'" container="body" placement="bottom"
          tooltip="Cancelar" (click)="openDialogCancel();">
          <i class="icon-ban"></i>
        </button>
        <button class="btn btn-xs btn-success float-right mat-elevation-z8 ml-2 mr-1" type="button"
          (click)="refreshTable()" container="body" placement="bottom" tooltip="Actualizar">
          <i class="icon-refresh"></i>
        </button>
        <button (click)="clearfilters()" class="btn btn-xs btn-info float-right mat-elevation-z8" container="body"
          placement="bottom" tooltip="Borrar Filtros">
          <i class="fa fa-eraser"></i>
        </button>
        
      </div>
    </div>
    <div class="d-flex justify-content-end p-1 bg-warning mt-1"><span class="fontLato text-uppercase">Total de Folios <span
      class="badge badge-pill badge-info ml-1">{{dataSource.length}}</span></span></div>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
            <small>{{column.title | uppercase}}</small>
          </th>
        </tr>
        <tr *ngIf="showFilterRow">
          <th *ngFor="let column of columns">
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
              [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
              class="form-control form-control-sm" id="{{column.name}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-scrollbar #scrollable  
          track="all" [disabled]="disabled">
          <div>
            <tr (click)="onCellClick(row)" (dblclick)="showRequi()" *ngFor="let row of rows"
              [class.confident]="row.confidencial" [class.cancel]="row.estatusId == 8" [class.selected]="row.selected">
              <td class="text-center">
                {{row.folio}}
              </td>
              <td><span *ngIf="row.cliente.length < 10 else toLengthCliente">{{row.cliente | uppercase}}</span>
                <ng-template #toLengthCliente>
                  <span placement="bottom" tooltip="{{row.cliente | uppercase}}">
                    {{row.cliente | slice:0:10 | uppercase }} ... </span>
                </ng-template>
              </td>
              <td class="text-center"> {{row.vBtra | uppercase}}</td>
              <td class="text-center">
                <span class="mr-1 badge badge-pill badge-success"> {{row.vacantes}}</span>
              </td>
              <!-- <td class="text-center"> {{row.tipoReclutamiento}}</td> -->
              <!-- <td class="text-right"> {{row.sueldoMinimo | moneda: $}}</td>
<td class="text-right"> {{row.sueldoMaximo | moneda: $}}</td> -->
              <td class="text-center">{{row.fch_Creacion | date:'dd/MM/yyyy'}}</td>
              <td class="text-center">{{row.fch_Cumplimiento | date:'dd/MM/yyyy'}}</td>
              <td class="text-center">
                <small *ngIf="row.estatus.length < 10 else toLength" class="badge badge-pill badge-info"
                  [class.badge-warning]="row.estatusId  === 4" [class.badge-primary]="row.estatusId  === 5"
                  [class.badge-info]="row.estatusId  === 6 || row.estatusId >= 29"
                  [class.badge-success]="row.estatusId  === 7" [class.badge-danger]="row.estatusId  === 8">
                  <small>{{row.estatus | uppercase}}</small>
                </small>

                <ng-template #toLength>
                  <small class="badge badge-pill badge-info" [class.badge-warning]="row.estatusId  === 4"
                    [class.badge-primary]="row.estatusId  === 5"
                    [class.badge-info]="row.estatusId  === 6 || row.estatusId >= 29"
                    [class.badge-success]="row.estatusId  === 7" [class.badge-danger]="row.estatusId  === 8"
                    placement="bottom" tooltip="{{row.estatus | uppercase}}"><small>{{row.estatus | slice:0:8 | uppercase }}
                    ...</small>
                  </small>
                </ng-template>
              </td>
              <td class="text-right">{{row.porcentaje}} %</td>
              <td class="text-right">{{row.monto | moneda:'$'}}</td>
              <td class="text-center"> {{row.propietario | uppercase}}</td>
            </tr>
          </div>
        </ng-scrollbar>
      </tbody>
    </table>
    <div class="d-flex justify-content-end p-1">
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
</div>
  </div>

<!--Mensajes del sistema-->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
<!--Modal de datos factura-->
<div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-info"><i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>DATOS FACTURACION</h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="lgModal2.hide()"
          aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">EMPRESA: <span
                  class="text-primary">{{element.cliente | uppercase}}</span></li>
              <li class="list-group-item text-muted">PUESTO: <span class="text-primary">{{element.vBtra | uppercase }}
                </span></li>
              <li class="list-group-item text-muted"><span class="mr-1">FOLIO:</span><span
                  class="text-success mr-3">{{element.folio}}</span>
                <span class="mr-1">NO:</span><span class="text-primary mr-3">{{element.vacantes }}</span>
                <span class="mr-1">SUELDO FINAL:</span><span class="text-primary mr-3">{{element.sueldoMaximo |  moneda:'$'}}</span>
                <span class="mr-1">TOTAL:</span><span class="text-primary">
                  {{element.sueldoMaximo * element.vacantes |  moneda:'$'}}</span></li>
              <li class="list-group-item text-muted"><span class="mr-1">PORCENTAJE DE PAGO:</span><span
                  class="text-primary mr-3">{{element.porcentaje}} %</span>
                <span class="mr-1">MONTO A FACTURAR:</span><span class="text-primary mr-3"> {{element.monto |  moneda:'$'}}</span>
              </li>
              <li class="list-group-item text-muted"><span class="mr-1">PORCENTAJE A CUBRIR:</span><span
                class="text-warning mr-3">{{element.perContratado }} %</span>
              <span class="mr-1">MONTO A CUBRIR:</span><span class="text-warning mr-3"> {{element.montoContratado |  moneda:'$'}}</span>
            </li>
            </ul>
            <div class="p-3 mb-2 bg-light">
              <ul class="list-group list-group-flush">
                <li class="text-muted p-2 mb-1 bg-light">RAZ&Oacute;N SOCIAL:<span
                    class="text-primary ml-1">{{element.razon | uppercase}}</span></li>
                <li class="text-muted p-2 bg-light">EMPRESA FACTURADORA:<span
                    class="text-primary ml-1">{{element.razon | uppercase}}</span> </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
