<div class="content-heading" *ngIf="!imprimir">
  <span class="text-muted fontRoboto">
    VISUALIZAR PROSPECTO / CLIENTE
  </span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/directorio']" [queryParams]="{ruta: ruta}" [skipLocationChange]=true>DIRECTORIO
        EMPRESARIAL</a>
    </li>
    <li class="text-muted fontRoboto" class="breadcrumb-item active">VISUALIZAR</li>
  </ol>
</div>

<div class="row" *ngIf="!imprimir">
  <div class="col-md-12">
    <div class="d-flex justify-content-between">
      <button placement="right" tooltip="Editar" class="mr-1 btn btn-xs btn-primary paddin-buttom mat-elevation-z8"
        (click)="editarCliente()">
        <i class="fa fa-pencil"></i>
      </button>
      <!-- <button placement="right" tooltip="Imprimir" class="mr-1 btn btn-xs btn-info paddin-buttom" (click)="print()">
        <em class="fa fa-print"></em>
      </button> -->
      <button container="body" placement="bottom" tooltip="Regresar"
        class="mr-1 btn btn-xs btn-warning paddin-buttom mat-elevation-z8" type="button" (click)="regresar()">
        <i class="icon-action-undo"></i>
      </button>
    </div>
  </div>
</div>
<br *ngIf="!imprimir" />
<div id="content">
  <div *ngIf="Cliente else NotClientes" class="dt-container mat-elevation-z8">
    <div class="card-body">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group [isOpen]="true">
          <button (click)="isOpen1 = !isOpen1" class="btn btn-block btn-info acordin-padding" accordion-heading>
            <h5 class="float-left mt-2"><i class="fa fa-users mr-2"></i>INFORMACI&Oacute;N PRINCIPAL</h5>
            <i *ngIf="isOpen1" class="fa fa-sort-desc fa-3x float-right"></i>
            <i *ngIf="!isOpen1" class="fa fa-sort-asc fa-3x float-right"></i>
          </button>
          <div class="d-flex justify-content-between text-warning p-1 fontLato">
            <div *ngIf="esCliente" #razonSocial>
              <strong>RAZ&Oacute;N SOCIAL</strong>
              <span class="text-muted ml-1">
                {{Cliente?.razonSocial | uppercase}}
              </span>
            </div>
            <div *ngIf="esCliente" #rfc>
              <strong class="ml-2">RFC: </strong>
              <span class="text-muted m-1">
                {{Cliente?.rfc}}
              </span>
            </div>
            <div #nombreComercial>
              <strong class="ml-1">NOMBRE COMERCIAL</strong>
              <span class="text-muted ml-1">
                {{Cliente?.nombreComercial |uppercase}}
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-between text-warning p-1 fontLato mt-2">
            <div #actividadEmpresa>
              <strong>ACTIVIDAD</strong>
              <span class="text-muted ml-1">
                {{Cliente?.actividadEmpresa?.actividadEmpresa | uppercase}}
              </span>
            </div>
            <div class="ml-2" #tamanioEmpresa>
              <strong>TAMAÑO</strong>
              <span class="text-muted ml-1">
                {{Cliente?.tamanoEmpresa?.tamanoEmpresa | uppercase}}
              </span>
            </div>
            <div class="ml-2" #numeroEmpleados>
              <strong># EMPLEADOS</strong>
              <span class="text-muted ml-1">
                <span class="badge badge-pill badge-success">{{Cliente?.numeroEmpleados}}</span>
              </span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center text-warning p-1 fontLato mt-2">
            <div #giro>
              <strong>GIRO</strong>
              <span class="text-muted">
                {{Cliente?.giroEmpresa.giroEmpresa | uppercase}}
              </span>
            </div>
            <div #tipoempresa>
              <strong>TIPO</strong>
              <span class="text-muted">
                {{Cliente?.tipoEmpresa?.tipoEmpresa | uppercase}}
              </span>
            </div>
            <div #tipoBase>
              <strong>TIPO BASE</strong>
              <span class="text-muted ml-1">
                {{Cliente?.tipoBase?.tipoBase | uppercase}}
              </span>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]="true">
          <button (click)="isOpen2 = !isOpen2" class="btn btn-block btn-info acordin-padding" accordion-heading>
            <h5 class="float-left mt-2"><i class="fa fa-map-marker mr-1"></i>DIRECCI&Oacute;N /<i
                class="fa fa-phone ml-1 mr-1"></i>TEL&Eacute;FONOS</h5>
            <span class="float-right">
              <i *ngIf="isOpen2" class="fa fa-sort-desc fa-3x"></i>
              <i *ngIf="!isOpen2" class="fa fa-sort-asc fa-3x"></i>
            </span>
          </button>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                <div>
                  <ul id="rtl_func">
                    <li class="list_root" id="d_{{i}}" *ngFor="let d of Cliente?.direcciones; let i=index;"><span
                        class="text-warning">{{d.tipoDireccion | uppercase}}</span> <span *ngIf="d.esPrincipal"
                        class="text-success float-right"><i class="fa fa-check"></i></span>
                      <ul>
                        <li>
                          <p><strong class="text-primary mr-1">CALLE</strong><label class="text-muted">
                              {{d.calle | uppercase}}
                            </label>
                            <strong class="text-primary ml-2">N&Uacute;MERO</strong><label class="text-muted ml-1">
                              {{d.numeroExterior}} </label>
                            <span *ngIf="d.numeroInterior"><strong class="text-primary ml-1"> Int:
                              </strong><label class="text-muted ml-1"> {{d.numeroInterior}} </label></span></p>
                          <p><strong class="text-primary mr-1">COLONIA</strong><label class="text-muted">
                              {{d.colonia | uppercase}} </label>
                            <strong class="text-primary ml-2"> C.P </strong><label class="text-muted mr-1">
                              {{d.codigoPostal}} </label></p>
                          <p><strong class="text-primary mr-1">ESTADO</strong><label class="text-muted">
                              {{d.estado | uppercase}} </label>
                            <strong class="text-primary ml-2 mr-1">MUNICIPIO</strong><label class="text-muted mr-1">
                              {{d.municipio | uppercase}} </label>
                          </p>
                          <p><strong *ngIf="(d.referencia || []).length > 0"
                            class="text-primary mr-1">REFERENCIA</strong><label class="text-muted mr-1">
                            {{d.referencia | uppercase}} </label></p>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </ng-scrollbar>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                <div>
                  <ul id="rtl_func">
                    <li class="list_root" id="t_{{i}}" *ngFor="let t of Cliente?.telefonos; let i=index;"><span
                        class="text-warning">{{t.telefono | uppercase}}</span> <span *ngIf="t.esPrincipal"
                        class="text-success float-right"><i class="fa fa-check"></i></span>
                      <ul>
                        <li>
                          <span *ngIf="t.direccion"><strong class="text-primary margin-left"> <i
                                class="fa fa-map-marker"></i></strong><label class="text-muted margin-left">
                              {{t.direccion.calle}} </label></span>
                          <p><strong class="text-primary margin-left"> <i class="fa fa-phone mr-1"></i> </strong><label
                              class="text-muted"> + {{t.clavePais || 52}} <span *ngIf="t.claveLada">
                                ({{t.claveLada}})
                              </span> {{t.telefono | slice:0:4}}-{{t.telefono | slice:4:8}} <span *ngIf="t.extension">
                                Ext.
                                {{t.extension}} </span></label></p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </accordion-group>
        <accordion-group [isOpen]="true">
          <button (click)='isOpen3 = !isOpen3' class="btn btn-block btn-info acordin-padding" accordion-heading>
            <h5 class="float-left mt-2"><i class="fa fa-envelope mr-1"></i>CORREOS ELECTR&Oacute;NICOS / CONTACTOS</h5>
            <span class="float-right">
              <i *ngIf="isOpen3" class="fa fa-sort-desc fa-3x"></i>
              <i *ngIf="!isOpen3" class="fa fa-sort-asc fa-3x"></i>
            </span>
          </button>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                <div>
                  <ul id="rtl_func">
                    <li class="list_root" id="e_{{i}}" *ngFor="let e of Cliente?.correos; let i=index;">
                      <ul>
                        <li>
                          <span *ngIf="e.direccion"><strong class="text-primary margin-left" *ngIf="e.direccion"> <i
                                class="fa fa-map-marker"></i> </strong><label
                              class="text-muted margin-left">{{e.direccion.calle | uppercase}} </label></span>
                          <p><strong class="text-primary margin-left"> <i
                                class="fa fa-envelope mr-1"></i></strong><label class="text-muted">{{e.email}} </label>
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </ng-scrollbar>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
                [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
                <div>
                  <ul id="rtl_func">
                    <li class="list_root" id="e_{{i}}" *ngFor="let c of Cliente?.contactos; let i=index;"><span
                        class="text-success">{{c.puesto | uppercase}}</span> <span *ngIf="c.puesto"></span>
                      <ul>
                        <li>
                          <span><strong class="text-primary"> <i class="fa fa-user mr-1"></i> </strong><label
                              class="text-muted margin-left">{{c.nombre | uppercase}}
                              {{c.apellidoPaterno | uppercase}} {{c.apellidoMaterno | uppercase}} </label></span>
                          <p *ngIf="c.direccion"><strong class="text-primary"><i class="fa fa-map-marker"></i>
                            </strong><label class="text-muted mr-1">{{c.direccion.calle | uppercase}} </label></p>
                          <p><strong class="text-primary"><i class="fa fa-phone"></i></strong>
                            <ng-container *ngFor="let tc of c.telefonos">
                              <label class="text-muted mr-1"> + {{tc.clavePais}} <span *ngIf="tc.claveLada">
                                  ({{tc.claveLada}})
                                </span> {{tc.telefono | slice:0:4}}-{{tc.telefono | slice:4:8}}
                                <span *ngIf="tc.extension">
                                  Ext.
                                  {{tc.extension}} {{tc.tipoTelefono}}</span></label>
                            </ng-container>
                          </p>
                          <p><span *ngIf="c.emails.length > 0"><strong class="text-primary"> <i
                                  class="fa fa fa-envelope mr-1"></i> </strong><label
                                class="text-muted">{{c.emails[0].email}} </label></span></p>
                          <p><span *ngIf="(c.infoAdicional || []).length > 0"><strong class="text-primary"> <i
                                  class="fa fa-exclamation-circle mr-1"></i> </strong><label
                                class="text-muted">{{c.infoAdicional}} </label></span></p>

                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
<ng-template #NotClientes>

      <alert type="warning">
        <i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i><strong>Oops!</strong>
        No se encontro informaci&oacute;n del cliente.
      </alert>

</ng-template>
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>