<div class="card">
    <div class="card-header justify-content-between text-warning">
        <h5><em class="fa fa-cogs"></em>JOBS PARA SEGUIMIENTO DE REQUISICIONES</h5>
        <hr>
    </div>
  <div class="card-body d-flex align-items-center justify-content-between">
    <button [disabled]="Loading" class="btn btn-success mat-elevation-z8" (click)="ExecProcedure()">Requis en pausa</button>
    <button [disabled]="Loading" class="btn btn-warning ml-2 mat-elevation-z8" (click)="ExecProcedureSinCambios()">Requis sin cambios</button>
    <button [disabled]="Loading" class="btn btn-danger ml-2 mat-elevation-z8" (click)="ExecProcedurePendientesPuro()">Requis Puro Pendientes</button>
    <button [disabled]="Loading" class="btn btn-info ml-2 mat-elevation-z8" (click)="ExecProcedureSinAsignar()">Requis sin asignar</button>
    <button [disabled]="Loading" class="btn btn-purple ml-2 mat-elevation-z8" (click)="ExecProcedureVencidas()">Requis Vencidas</button>

    <div *ngIf="Loading">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
  </div>
</div>


<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>