.margen
{
    margin-left: -33px;
}


.card {
    cursor: pointer;
    min-height:310px;
   // background:#fff;
//    box-shadow:0 5px 30px rgba(0,0,0,.3);
   // border-radius:10px;
   // transition:0.5s;
//    border-right: 10px #aaa;
 }
// .card:hover {
//     box-shadow:0 20px 60px rgba(0,0,0,.3);
// }
.card .box {
   // transform:translateY(-5%);

    padding:20px;
// box-sizing:border-box;
  
}
.img {
    width:100px;
    height:100px;
    margin:-8% 0% 0% 40%;
    border-radius:50%;
    overflow:hidden;
}
.img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
   // display:inline-flex;
   display: inline;
   overflow-y: scroll;
}


li a:hover {
  font-size: 16px;
   // transform:rotateY(360deg);
}

p a:hover {
    font-size: 16px;
     // transform:rotateY(360deg);
  }

.panel .panel-heading span
{
    color: #5d9cec;
    border-bottom: 1px solid #aaa;

}

.panel .panel-heading em
{
    margin-right: 5px;
    color: #27c24c;
}

.bodymio 
{
    color: #e91e63;
}

.bodymio span
{
    margin-top: 220px;
}
li
{
    list-style: none;
}
hr { width:100%; height:1px; background: #aaa }