<!-- <ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner> -->
<div class="content-heading">
  <div>
    Postulados a {{Vacante}} {{Folio}}
    <span class="text-sm d-none d-sm-block">Visualizar Postulados</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/reclutamiento/vacantesReclutador']"> Vacantes</a>
    </li>
    <li class="breadcrumb-item activate"> Postulados</li>
  </ol>
</div>
<div class="d-flex justify-content-between">
  <div class="d-flex align-items-stretch ">
    <!-- <btn-docs (click)="openDialog()"  placement="bottom" tooltip="Crear Requisición"></btn-docs>
    <btn-view (click)="showDamfo()"  placement="bottom" tooltip="Ver DAM-FO-290"></btn-view> -->
  </div>
  <div>
    <button placement="bottom" tooltip="Regresar" class="mb-1 btn  btn-outline-warning" type="button"
      [routerLink]="['/reclutamiento/vacantesReclutador']">
      <em class="icon-action-undo"></em>
    </button>
  </div>
</div>
<dt-candidatos-post [RequisicionId]="RequisicionId" [Vacante]="Vacante" [Folio]="Folio"></dt-candidatos-post>
