<div class="content-heading">
  <div>
    Postulados a {{Vacante}} {{Folio}}
    <span class="text-sm d-none d-sm-block">Visualizar Postulados</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/reclutamiento/vacantesReclutador']"> Vacantes</a>
    </li>
    <li class="breadcrumb-item activate"> Postulados</li>
  </ol>
</div>
<div class="d-flex justify-content-between">
  <div class="d-flex align-items-stretch ">
    <!-- <btn-docs (click)="openDialog()" matTooltip="Crear Requisición"></btn-docs>
    <btn-view (click)="showDamfo()" matTooltip="Ver DAM-FO-290"></btn-view> -->
  </div>
  <div>
    <btn-return matTooltip="Regresar" [routerLink]="['/reclutamiento/vacantesReclutador']"></btn-return>
  </div>
</div>
<dt-candidatos-post [RequisicionId]="RequisicionId" [Vacante]="Vacante" [Folio]="Folio"></dt-candidatos-post>
