<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8 col-md-8">
        <div class="card">
        <div class="card-body mat-elevation-z8">
      <h3 class="p-1 bg-light text-warning">¿YA TIENES UNA CITA?</h3>
      <h5 class="text-success">Genera tu ticket para entrevista con tu número de folio</h5>
      <div class="input-group input-group-sm">
          <div class="input-group-prepend">
              <span class="input-group-text text-info">FOLIO CITA:</span>
            </div>
        <input type="text" class="form-control form-control-sm" [(ngModel)]="folio" name="folios" (keydown.enter)="GenerarTicket()">
        <div class="input-group-append">
          <button class="btn btn-xs btn-outline-success" type="button" (click)="GenerarTicket()">
            <em class="fa fa-check"></em>
          </button>
        </div>
      </div>
    </div>
  </div>
      <hr>


          <!-- <h3 class="p-1 bg-light text-success text-center">
            <i class="fa fa-users mr-2" aria-hidden="true"></i>VACANTES DISPONIBLES</h3> -->
            <!-- <div class="card carusel">
              <div class="card-body mat-elevation-z8"> -->
                <div class="d-flex justify-content-center">
       
                <app-carrusel-vacantes></app-carrusel-vacantes>

              </div>
              <!-- </div>
            </div>
           -->


      <!-- <h5 class="text-left text-warning p-2 bg-light">
          <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>MIS VACANTES</h5>
          <ul class="list-group long">
            <li *ngFor="let item of dataSource; let ind = index;" class="list-group-item">
              <span class="text-info">
                <span class="text-sm font-weight-bold mr-1">FOLIO</span>
                <span class="text-muted mr-2">{{item.folio}}</span>
                <span class="text-sm font-weight-bold mr-1">PERFIL</span>
                <span class="text-muted mr-2">{{item.vBtra}}</span>
                <span class="text-sm font-weight-bold mr-1">CLIENTE</span>
                <span class="text-muted mr-2">{{item.cliente}}</span>

                <button (click)="GenerarTicketSinCita(item.id)"
                  class="btn btn-xs btn-outline-success float-right" container="body"
                  placement="bottom" tooltip="Apartar">
                  <em class="fa fa-thumbs-o-up"></em>
                </button>

              </span>
            </li>
          </ul> -->
        </div>
   
    </div>
  </div>
</div>