thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

// tbody tr:hover
// {
// //   transform:scale(0.999,0.9);
// //   transform-origin:center;
//     font-size: 15px;
//   box-shadow:1px 2px 6px rgba(0,0,0,.23);
// }



// tbody tr:hover {
// font-size: 13px !important;
// box-shadow: 0 1px 5px rgba(0, 0, 0, .25) !important;
// }

.contenedor{
  overflow:hidden;
}

.em-button{
  cursor: pointer;
}

ng-scrollbar div {
  height: 350px;
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}

em {
  cursor: pointer;
}
em .emhover:hover {
  color: #ec2121 !important;
}
.modal-lg {
  max-width: 60%;
}

.long {
  width: 100px !important;
}
.long_tipo {
  width: 130px !important;
}