thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

// tbody tr:hover
// {
// //   transform:scale(0.999,0.9);
// //   transform-origin:center;
//     font-size: 15px;
//   box-shadow:1px 2px 6px rgba(0,0,0,.23);
// }

.margen {
  margin: 0 2px;
}

// tbody tr:hover {
// font-size: 13px !important;
// box-shadow: 0 1px 5px rgba(0, 0, 0, .25) !important;
// }
