<div class="content-heading">
  <div>
    Nuevo Prospecto
    <span class="text-sm d-none d-sm-block">Agregar Nuevo Prospecto</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/directorio']">Directorio Empresarial</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/clientes']">Clientes</a>
    </li>
    <li class="breadcrumb-item active">Nuevo Prospeco</li>
  </ol>
</div>
<br>

<tabset [justified]="true">
  <tab heading="Información Principal" id="TapInfoPrincipal">
    <div class="dt-container  mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-user"></em> Informaci&oacute;n General
      </div>
      <div class="card-body">
        <form [formGroup]="formGeneral">
          <div #rating class="float-right">
            <rating [(ngModel)]="clf" [max]="maxRat" [readonly]="isReadonly" (onHover)="hoveringOver($event)" class="fa-2x text-warning"
              [ngModelOptions]="{standalone: true}" (onLeave)="resetStar()" [titles]="['A','AA','AAA']" stateOn="fa fa-star"
              stateOff="fa fa-star-o"></rating>
            <p><span>Clasificaci&oacute;n </span></p>
          </div>
          <mat-form-field>
            <input matInput formControlName="Empresa" name="empresa" placeholder="Empresa" autofocus />
          </mat-form-field>

          <body oncopy="return false" onpaste="return false">
            <mat-form-field>
              <input matInput formControlName="ValidarEmpresa" name="validarEmpresa" placeholder="Validar Empresa" />
              <mat-hint align="start">
                <strong *ngIf="formGeneral.controls.ValidarEmpresa.errors?.MachCompany" class="text-danger">Los datos
                  ingresados no coinciden, favor de verificar la informaci&oacute;n</strong>
              </mat-hint>
            </mat-form-field>
          </body>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Giros" formControlName="Giros" (selectionChange)="getActividades()">
                  <mat-option *ngFor="let x of giros" [value]="x.id">
                    {{x.giroEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Actividades" formControlName="Actividades">
                  <mat-option *ngFor="let x of actividades" [value]="x.id">
                    {{x.actividadEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <input matInput type="number" formControlName="NoEmpleados" name="NoEmpleados" placeholder="# Empleados"
                  focus />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tamaño" formControlName="Tamanio">
                  <mat-option *ngFor="let x of tamanioEmpresa" [value]="x.id">
                    {{x.tamanoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="Tipo">
                  <mat-option *ngFor="let x of tipo" [value]="x.id">
                    {{x.tipoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo Base" formControlName="TipoBase">
                  <mat-option *ngFor="let x of tipoBase" [value]="x.id">
                    {{x.tipoBase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">

          </div>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="Dirección / Sucursales" id="TapDirecciones">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-map-marker"></em> Direcci&oacute;n / Sucursales
      </div>

      <div class="card-body">
        <form [formGroup]="formDirecciones">
          <em *ngIf="!addDireccion" class="fa fa-plus text-primary" container="body" placement="bottom" tooltip="Agregar"
            (click)="addDireccion = true"></em>
          <div *ngIf="addDireccion">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Tipo Direccion" formControlName="TipoDireccion">
                    <mat-option *ngFor="let x of tipoDireccion" [value]="x.id">
                      {{x.tipoDireccion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Paises" formControlName="Paises" (selectionChange)="getEstados()">
                    <mat-option *ngFor="let x of paises" [value]="x.id">
                      {{x.pais}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Estados" formControlName="Estados" (selectionChange)="getMunicipio()">
                    <mat-option *ngFor="let x of estados" [value]="x.id">
                      {{x.estado}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Municipios" formControlName="Municipios" (selectionChange)="getColonias()">
                    <mat-option *ngFor="let x of municipios" [value]="x.id">
                      {{x.municipio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Colonias" formControlName="Colonias">
                    <mat-option *ngFor="let x of colonias" [value]="x.id">
                      {{x.colonia}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- Botones de funcion sobre Direcciones -->
            <div class="modal-footer">
              <button type="button" class="md-1 btn btn-xs btn-outline-danger" (click)="addDireccion = ! addDireccion">Cancelar</button>
              <button type="button" class="md-1 btn btn-xs btn-outline-success">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="Teléfonos" id="TapTelefonos">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-phone"></em> Tel&eacute;fonos
      </div>

      <div class="card-body">
        <form>

        </form>
      </div>
    </div>
  </tab>
  <tab heading="Contactos" id="TapContactos">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-users"></em> Contactos
      </div>

      <div class="card-body">
        <form>

        </form>
      </div>
    </div>
  </tab>
</tabset>
<br>
<div class="form-group">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="reset" class="btn btn-outline-danger btn-block" [routerLink]="['/ventas/directorio']">Cancel</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="submit" [disabled]="!formGeneral.valid" class="btn btn-outline-success btn-block">Guardar</button>
    </div>
  </div>
</div>
