<div class="content-heading">
  <div>
    Nuevo Prospecto
    <span class="text-sm d-none d-sm-block">Agregar Nuevo Prospecto</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/directorio']">Directorio Empresarial</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/clientes']">Clientes</a>
    </li>
    <li class="breadcrumb-item active">Nuevo Prospeco</li>
  </ol>
</div>
<br>

<tabset [justified]="true">
  <tab heading="Información Principal" id="TapInfoPrincipal">
    <div class="dt-container  mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-user"></em> Informaci&oacute;n General
      </div>
      <div class="card-body">
        <form [formGroup]="formGeneral">
          <div #rating class="float-right">
            <rating [(ngModel)]="clf" [max]="maxRat" [readonly]="isReadonly" (onHover)="hoveringOver($event)" class="fa-2x text-warning"
              [ngModelOptions]="{standalone: true}" (onLeave)="resetStar()" [titles]="['A','AA','AAA']" stateOn="fa fa-star"
              stateOff="fa fa-star-o"></rating>
            <p><span>Clasificaci&oacute;n </span></p>
          </div>
          <mat-form-field>
            <input matInput formControlName="Empresa" name="empresa" placeholder="Empresa" autofocus />
          </mat-form-field>

          <body oncopy="return false" onpaste="return false">
            <mat-form-field>
              <input matInput formControlName="ValidarEmpresa" name="validarEmpresa" placeholder="Validar Empresa" />
              <mat-hint align="start">
                <strong *ngIf="formGeneral.controls.ValidarEmpresa.errors?.MachCompany" class="text-danger">Los datos
                  ingresados no coinciden, favor de verificar la informaci&oacute;n</strong>
              </mat-hint>
            </mat-form-field>
          </body>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Giros" formControlName="Giros" (selectionChange)="getActividades()">
                  <mat-option *ngFor="let x of giros" [value]="x.id">
                    {{x.giroEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Actividades" formControlName="Actividades">
                  <mat-option *ngFor="let x of actividades" [value]="x.id">
                    {{x.actividadEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <input matInput type="number" formControlName="NoEmpleados" name="NoEmpleados" placeholder="# Empleados"
                  focus />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tamaño" formControlName="Tamanio">
                  <mat-option *ngFor="let x of tamanioEmpresa" [value]="x.id">
                    {{x.tamanoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="Tipo">
                  <mat-option *ngFor="let x of tipo" [value]="x.id">
                    {{x.tipoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo Base" formControlName="TipoBase">
                  <mat-option *ngFor="let x of tipoBase" [value]="x.id">
                    {{x.tipoBase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">

          </div>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="Dirección / Sucursales" id="TapDirecciones">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-map-marker"></em> Direcci&oacute;n / Sucursales
      </div>

      <div class="card-body">


        <div *ngIf="addDireccion">
          <form [formGroup]="formDirecciones">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Tipo Direccion" formControlName="TipoDireccion">
                    <mat-option *ngFor="let x of tipoDireccion" [value]="x.id" (onSelectionChange)="auxTipoDireccion = x.tipoDireccion">
                      {{x.tipoDireccion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-form-field>
                  <input matInput formControlName="CodigoPostal" name="CodigoPostal" placeholder="Codigo Postal"
                    (keyup)="showForCP($event)" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Paises" formControlName="Paises" (selectionChange)="getEstados()">
                    <mat-option *ngFor="let x of paises" [value]="x.id" (onSelectionChange)="auxPais = x.pais">
                      {{x.pais}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Estados" formControlName="Estados" (selectionChange)="getMunicipio()">
                    <mat-option *ngFor="let x of estados" [value]="x.id" (onSelectionChange)="auxEstado = x.estado">
                      {{x.estado}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Municipios" formControlName="Municipios" (selectionChange)="getColonias()">
                    <mat-option *ngFor="let x of municipios" [value]="x.id" (onSelectionChange)="auxMunicipio = x.municipio">
                      {{x.municipio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Colonias" formControlName="Colonias">
                    <mat-option *ngFor="let x of colonias" [value]="x.id" (onSelectionChange)="auxColonia = x.colonia ; getCodigoPostal(x.cp)">
                      {{x.colonia}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput formControlName="Calle" name="Calle" placeholder="Calle" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput formControlName="Exterior" name="Exterior" placeholder="No. Exterior" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput formControlName="Interior" name="Interior" placeholder="No. Interior" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <textarea #message matInput maxlength="500" placeholder="Referencia / Comentario" rows="3"
                    formControlName="Referencia"></textarea>
                  <mat-hint align="start"><strong>Caracteres</strong></mat-hint>
                  <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Principal" [disabled]="Principal">
                  Principal
                </mat-slide-toggle>
                <p></p>
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Activo">
                  Activo
                </mat-slide-toggle>
              </div>
            </div>

            <!-- Botones de funcion sobre Direcciones -->
            <div class="modal-footer">
              <button type="button" class="md-1 btn btn-xs btn-outline-danger" (click)="(addDireccion = ! addDireccion) ; cancelarDireccion()">Cancelar</button>
              <button type="button" [disabled]="!formDirecciones.valid" class="md-1 btn btn-xs btn-outline-success"
                (click)="AddDireccion()">Aceptar</button>
            </div>

          </form>
          <br>
        </div>
        <!-- Tabla de Direcciones -->

        <div class="butoonAction">
          <button class="mb-1 btn btn-xs btn-outline-primary margen" *ngIf="!addDireccion" container="body" placement="bottom"
            tooltip="Agregar" (click)="addDireccion = true">
            <em class="fa fa-plus"></em>
          </button>
          <button *ngIf="DireccionesNew.length > 0" class="mb-1 btn btn-xs margen" container="body" placement="bottom"
            tooltip="Editar" [disabled]="!elementD" [ngClass]="(!elementD) ? 'disabled' : 'btn-outline-primary'"
            (click)="UpDireccion()">
            <em class="fa fa-pencil"></em>
          </button>
          <button *ngIf="DireccionesNew.length > 0" class="mb-1 btn btn-xs margen" container="body" placement="bottom"
            tooltip="Eliminar" [disabled]="!elementD" [ngClass]="(!elementD) ? 'disabled' : 'btn-outline-danger'"
            (click)="DtDireccion()">
            <em class="fa fa-trash"></em>
          </button>
        </div>
        <div *ngIf="DireccionesNew.length > 0">
          <div class="card card-default">
            <div #tableContainer>
              <table id="direccionesNuevas" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                <thead>
                  <tr>
                    <th *ngFor="let column of columnsD" ngClass="{{column.className || ''}}">
                      {{column.title}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rowd of rowsD; let i=index" (click)="onCellClickD(rowd, i)" [class.selected]="rowd.selectedD">
                    <td class="text-center">{{rowd.tipoDireccion}}</td>
                    <td class="text-center">{{rowd.pais}}</td>
                    <td class="text-center">{{rowd.estado}}</td>
                    <td>{{rowd.municipio}}</td>
                    <td>{{rowd.colonia}}</td>
                    <td>{{rowd.calle}}</td>
                    <td class="text-right"> {{rowd.exterior}}</td>
                    <td class="text-right"> {{rowd.interior}}</td>
                    <td class="text-right">
                      <small *ngIf="rowd?.referencia?.length < 30 else toLengthRF">
                        {{rowd.referencia}}
                      </small>
                      <ng-template #toLengthRF>
                        <small placement="bottom" tooltip="{{rowd.referencia}}"> {{row.referencia | slice:0:15 }}
                          ...
                        </small>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.esPrincipal else Inactivo">
                        SI
                      </small>
                      <ng-template #Inactivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <small *ngIf="rowd.activo else IsActivo">
                        SI
                      </small>
                      <ng-template #IsActivo>
                        <small>NO</small>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-right" *ngIf="DireccionesNew.length > 10">
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageD" [totalItems]="lengthD"
              [itemsPerPage]="itemsPerPageD" [maxSize]="maxSizeD" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTableD(config, $event)"
              (numPages)="numPagesD = $event">
            </pagination>
          </div>
          <pre *ngIf="config.paging" class="float-right">Total Registros: {{registrosD}}</pre>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Teléfonos" id="TapTelefonos">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-phone"></em> Tel&eacute;fonos
      </div>

      <div class="card-body">
        <form>

        </form>
      </div>
    </div>
  </tab>
  <tab heading="Contactos" id="TapContactos">
    <div class="dt-container mat-elevation-z8">
      <div class="card-header">
        <em class="fa fa-users"></em> Contactos
      </div>

      <div class="card-body">
        <form>

        </form>
      </div>
    </div>
  </tab>
</tabset>
<br>
<div class="form-group">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="reset" class="btn btn-outline-danger btn-block" [routerLink]="['/ventas/directorio']">Cancel</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="submit" [disabled]="!formGeneral.valid" class="btn btn-outline-success btn-block">Guardar</button>
    </div>
  </div>
</div>


<!-- Mensajes informativos -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
