<div class="content-heading">
  <div>
    Agregar Nuevo Prospecto
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/ventas/directorio']">Directorio Empresarial</a>
    </li>
    <li class="breadcrumb-item active">Nuevo Prospeco</li>
  </ol>
</div>
<tabset [justified]="true">
  <tab heading="Información Principal" id="TapInfoPrincipal">
    <div class="dt-container ">
      <!-- <div class="card-header">
        <em class="fa fa-user"></em> Informaci&oacute;n General
      </div> -->
      <div class="card-body">
        <form [formGroup]="formGeneral">
          <div #rating class="float-right">
            <rating [(ngModel)]="clf" [max]="maxRat" [readonly]="isReadonly" (onHover)="hoveringOver($event)"
              class="fa-2x text-warning" [ngModelOptions]="{standalone: true}" (onLeave)="resetStar()"
              [titles]="['A','AA','AAA']" stateOn="fa fa-star" stateOff="fa fa-star-o"></rating>
            <p><span>Clasificaci&oacute;n </span></p>
          </div>
          <mat-form-field>
            <input #empresa matInput formControlName="Empresa" name="empresa" placeholder="Empresa" autofocus
              maxlength="100" focus required (blur)="showModalCoincidencias()" />
            <mat-hint align="end">{{empresa.value.length}} / 100</mat-hint>
          </mat-form-field>

          <body oncopy="return false" onpaste="return false">
            <mat-form-field>
              <input #validarEmpresa matInput formControlName="ValidarEmpresa" name="validarEmpresa"
                placeholder="Validar Empresa" maxlength="100" required />
              <mat-hint align="start">
                <strong *ngIf="formGeneral.controls.ValidarEmpresa.errors?.MachCompany" class="text-danger">Los datos
                  ingresados no coinciden, favor de verificar la informaci&oacute;n</strong>
              </mat-hint>
              <mat-hint align="end">{{validarEmpresa.value.length}} / 100</mat-hint>
            </mat-form-field>
          </body>
          <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Giros" formControlName="Giros" (selectionChange)="getActividades()" required>
                  <mat-option *ngFor="let x of giros" [value]="x.id">
                    {{x.giroEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Actividades" formControlName="Actividades" required>
                  <mat-option *ngFor="let x of actividades" [value]="x.id">
                    {{x.actividadEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <input matInput #NoEmpleados type="number" formControlName="NoEmpleados" placeholder="# Empleados"
                  (blur)="changeEmpleados()" min="1" max="99999" required />
                <mat-hint align="end">{{NoEmpleados.value.length}} / 5</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tamaño" formControlName="Tamanio" (selectionChange)="validarNoEmpleado()"
                  required>
                  <mat-option *ngFor="let x of tamanioEmpresa" [value]="x.id">
                    {{x.tamanoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="Tipo" required>
                  <mat-option *ngFor="let x of tipo" [value]="x.id">
                    {{x.tipoEmpresa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12">
              <mat-form-field>
                <mat-select placeholder="Tipo Base" formControlName="TipoBase" required>
                  <mat-option *ngFor="let x of tipoBase" [value]="x.id">
                    {{x.tipoBase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="Dirección / Sucursales" id="TapDirecciones">
    <div class="dt-container">
      <!-- <div class="card-header">
        <em class="fa fa-map-marker"></em> Direcci&oacute;n / Sucursales
      </div> -->

      <div class="card-body">
        <div *ngIf="addDireccion">
          <form [formGroup]="formDirecciones">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Tipo Dirección" formControlName="TipoDireccion" required>
                    <mat-option *ngFor="let x of tipoDireccion" [value]="x.id">
                      {{x.tipoDireccion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-form-field>
                  <input matInput formControlName="CodigoPostal" name="CodigoPostal" maxlength="5" #postalCode
                    placeholder="Código Postal" (keyup)="showForCP($event)" required />
                  <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Paises" formControlName="Paises" (selectionChange)="getEstados()" required>
                    <mat-option *ngFor="let x of paises" [value]="x.id" (onSelectionChange)="auxPais = x.pais">
                      {{x.pais}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Estados" formControlName="Estados" (selectionChange)="getMunicipio()"
                    required>
                    <mat-option *ngFor="let x of estados" [value]="x.id" (onSelectionChange)="auxEstado = x.estado">
                      {{x.estado}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Municipios" formControlName="Municipios" (selectionChange)="getColonias()"
                    required>
                    <mat-option *ngFor="let x of municipios" [value]="x.id"
                      (onSelectionChange)="auxMunicipio = x.municipio">
                      {{x.municipio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <mat-select placeholder="Colonias" formControlName="Colonias" required>
                    <mat-option *ngFor="let x of colonias" [value]="x.id"
                      (onSelectionChange)="auxColonia = x.colonia ; getCodigoPostal(x.cp)">
                      {{x.colonia}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field>
                  <input #calle matInput formControlName="Calle" name="Calle" placeholder="Calle" maxlength="100"
                    required />
                  <mat-hint align="end">{{calle.value.length}} / 100</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input #exterior matInput formControlName="Exterior" name="Exterior" placeholder="No. Exterior"
                    maxlength="10" required />
                  <mat-hint align="end">{{exterior.value.length}} / 10</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input #interior matInput formControlName="Interior" name="Interior" placeholder="No. Interior"
                    maxlength="30" />
                  <mat-hint align="end">{{interior.value.length}} / 30</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <textarea #message matInput maxlength="500" placeholder="Referencia / Comentario" rows="3"
                    formControlName="Referencia"></textarea>
                  <mat-hint align="start"><strong>Caracteres</strong></mat-hint>
                  <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Principal"
                  [disabled]="Principal">
                  Principal
                </mat-slide-toggle>
                <p></p>
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Activo">
                  Activo
                </mat-slide-toggle>
              </div>
            </div>

            <!-- Botones de funcion sobre Direcciones -->
            <div class="modal-footer">
              <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
                (click)="(addDireccion = ! addDireccion) ; cancelarDireccion()">Cancelar</button>
              <button type="button" [disabled]="!formDirecciones.valid" class="md-1 btn btn-xs btn-success mat-elevation-z8"
                (click)="AddDireccion()">{{textbtnDirecciones}}</button>
            </div>

          </form>
          <br>
        </div>
        <!-- Tabla de Direcciones -->
        <div class="butoonAction clearfix p-2 bg-light">
          <div class="contenedor">
            <div class="aling-div">
              <button class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8" *ngIf="!addDireccion" container="body"
                placement="bottom" tooltip="Agregar" (click)="addDireccion = true; textbtnDirecciones = 'Agregar'">
                <em class="fa fa-plus"></em>
              </button>
            </div>
            <div class="aling-div" *ngIf="!EditDireccion">
              <button *ngIf="DireccionesNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body"
                placement="bottom" tooltip="Editar" [disabled]="!elementD"
                [ngClass]="(!elementD) ? 'disabled' : 'btn-primary'"
                (click)="UpDireccion();  textbtnDirecciones = 'Editar'">
                <em class="fa fa-pencil"></em>
              </button>
              <button *ngIf="DireccionesNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body"
                placement="bottom" tooltip="Eliminar" [disabled]="!elementD"
                [ngClass]="(!elementD) ? 'disabled' : 'btn-danger'" (click)="DtDireccion()">
                <em class="fa fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="DireccionesNew.length > 0">
          <div class="card media">
            <div class="card-body">
              <div class="row" #tableDirecciones>
                <div class="col-sm-12 col-md-12 table-responsive clearfix">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{registrosD}}</span>
                  </div>
                  <table id="direccionesNuevas" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsD" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                      <tr *ngIf="showFilterRowD">
                        <td *ngFor="let column of columnsD">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                            [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableD(config)"
                            class="form-control form-control-sm" id="{{column.name}}">
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowd of rowsD; let i=index" (click)="onCellClickD(rowd, rowd.idAux)"
                        [class.selected]="rowd.selectedD">
                        <td class="text-center">{{rowd.tipoDireccion}}</td>
                        <td class="text-center">{{rowd.codigoPostal}}</td>
                        <td class="text-center">{{rowd.pais}}</td>
                        <td class="text-center">{{rowd.estado}}</td>
                        <td>{{rowd.municipio}}</td>
                        <td>{{rowd.colonia}}</td>
                        <td>{{rowd.calle}}</td>
                        <td class="text-right"> {{rowd.numeroExterior}}</td>
                        <td class="text-right"> {{rowd.numeroInterior}}</td>
                        <td>
                          <!-- <small *ngIf="rowd.referencia?.length < 30 else toLengthRF">
                                {{rowd.referencia}}
                              </small>
                              <ng-template #toLengthRF>
                                <small placement="bottom" tooltip="{{rowd.referencia}}"> {{rowd.referencia | slice:0:30 }}
                                  ...
                                </small>
                              </ng-template> -->
                          <small>
                            {{rowd.referencia | uppercase}}
                          </small>
                        </td>
                        <td class="text-center">
                          <small *ngIf="rowd.esPrincipal else Inactivo">
                            SI
                          </small>
                          <ng-template #Inactivo>
                            <small>NO</small>
                          </ng-template>
                        </td>
                        <td class="text-center">
                          <small *ngIf="rowd.activo else IsActivo">
                            SI
                          </small>
                          <ng-template #IsActivo>
                            <small>NO</small>
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-divider></mat-divider>
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageD" [totalItems]="lengthD"
                      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                      (pageChanged)="onChangeTableD(config, $event)" (numPages)="numPagesD = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Teléfonos" id="TapTelefonos">
    <div class="dt-container">
      <div class="card-body">
        <div *ngIf="addTelefono">
          <form [formGroup]="formTelefonos">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Dirección" formControlName="TelDireccion" required>
                    <mat-option *ngFor="let x of DireccionesNew; let i=index " [value]="x.idAux">
                      <span
                        *ngIf="(x?.calle.length + x?.municipio.length + x?.codigoPostal.length) < 42 else toLengthDr">
                        {{x.calle}} - {{x.municipio}} - <strong>{{x.codigoPostal}}</strong>
                      </span>
                      <ng-template #toLengthDr>
                        <span container="body" placement="bottom"
                          tooltip="{{x.calle}} - {{x.municipio}} - {{x.codigoPostal}}">
                          {{x.calle +' - '+ x.municipio +' - '+ x.codigoPostal | slice:0:42}} ...</span>
                      </ng-template>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Tipo Teléfono" formControlName="TipoTelefono" required
                    (selectionChange)="getTipoTelefono()">
                    <mat-option *ngFor="let x of tipoTelefonos" [value]="x.id">
                      <span>{{x.tipo}}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12 form-row">
                <div class="col-md-2 col-lg-2 col-sm-12">
                  <mat-form-field>
                    <span matPrefix>+&nbsp;</span>
                    <input matInput #ladaPias type="phone" formControlName="LadaPais" maxlength="3" name="LadaPais"
                      placeholder="País" required />
                    <mat-hint align="end">{{ladaPias.value.length}} / 3</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-12">
                  <mat-form-field>
                    <input matInput #lada type="phone" formControlName="Lada" maxlength="3" name="Lada"
                      placeholder="Lada" required />
                    <mat-hint align="end">{{lada.value.length}} / 3</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                  <mat-form-field>
                    <input matInput #numero type="phone" formControlName="Numero" maxlength="8" name="Numero"
                      placeholder="Número" required />
                    <mat-hint align="end">{{numero.value.length}} / 8</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-12" *ngIf="esOficina === 4">
                  <mat-form-field>
                    <input matInput #extencion type="phone" formControlName="Extension" maxlength="5" name="Extension"
                      placeholder="Ext." />
                    <mat-hint align="end">{{extencion.value.length}} / 5</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-12">
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Principal"
                  [disabled]="PrincipalT">
                  Principal
                </mat-slide-toggle>
                <p></p>
                <mat-slide-toggle class="text-success" [color]="warn" formControlName="Activo">
                  Activo
                </mat-slide-toggle>
              </div>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
                (click)="(addTelefono = ! addTelefono) ; cancelarTelefono()">Cancelar</button>
              <button type="button" [disabled]="!formTelefonos.valid" class="md-1 btn btn-xs btn-success mat-elevation-z8"
                (click)="AddTelefono()">{{textbtnTelefono}}</button>
            </div>
          </form>
        </div>
        <div class="butoonAction clearfix p-2 bg-light">
          <div class="contenedor">
            <div class="aling-div">
              <button class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8" *ngIf="!addTelefono" container="body"
                placement="bottom" tooltip="Agregar" (click)="addTelefono = true; textbtnTelefono = 'Agregar'">
                <em class="fa fa-plus"></em>
              </button>
            </div>
            <div class="aling-div" *ngIf="!EditTelefono">
              <button *ngIf="TelefonosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                tooltip="Editar" [disabled]="!elementT" [ngClass]="(!elementT)? 'disabled' : 'btn-primary'"
                (click)="UpTelefono(); textbtnTelefono = 'Editar'">
                <em class="fa fa-pencil"></em>
              </button>
              <button *ngIf="TelefonosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                tooltip="Eliminar" [disabled]="!elementT" [ngClass]="(!elementT)? 'disabled' : 'btn-danger'"
                (click)="DtTelefono()">
                <em class="fa fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="TelefonosNew.length > 0">
          <div class="card media">
            <div class="card-body">
              <div class="row" TableTelefonos>
                <div class="col-sm-12 col-md-12 table-responsive clearfix">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{registrosT}}</span>
                  </div>
                  <table id="telefonosNuevos" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsT" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                      <tr *ngIf="showFilterRowT">
                        <td *ngFor="let column of columnsT">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                            [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableT(config)"
                            class="form-control form-control-sm" id="{{column.name}}">
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowt of rowsT; let i=index" (click)="onCellClickT(rowt, rowt.idAux)"
                        [class.selected]="rowt.selectedT">
                        <td class="text-center">{{rowt.calle}}</td>
                        <td class="text-center">{{rowt.tTelefono}}</td>
                        <td class="text-center"> +{{rowt.clavePais}} ({{rowt.claveLada}}) {{rowt.telefono |
                      slice:0:4}}-{{rowt.telefono | slice:4:8}}</td>
                        <td class="text-center">{{rowt.extension}}</td>
                        <td class="text-center">
                          <small *ngIf="rowt.esPrincipal else InactivoT">
                            SI
                          </small>
                          <ng-template #InactivoT>
                            <small>NO</small>
                          </ng-template>
                        </td>
                        <td class="text-center">
                          <small *ngIf="rowt.activo else IsActivoT">
                            SI
                          </small>
                          <ng-template #IsActivoT>
                            <small>NO</small>
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-divider></mat-divider>
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageT" [totalItems]="lengthT"
                      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                      (pageChanged)="onChangeTableT(config, $event)" (numPages)="numPagesT = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Correo Electrónico" id="TapCorreo">
    <div class="dt-container">
      <!-- <div class="card-header">
        <em class="fa fa-envelope-o"></em>Correo Electr&oacute;nico
      </div> -->
      <div class="card-body">
        <div *ngIf="addCorreo">
          <form [formGroup]="formCorreos">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Dirección" formControlName="EmailDireccion" required>
                    <mat-option *ngFor="let x of DireccionesNew; " [value]="x.idAux">
                      <span
                        *ngIf="(x?.calle.length + x?.municipio.length + x?.codigoPostal.length) < 42 else toLengthDr">
                        {{x.calle}} - {{x.municipio}} - <strong>{{x.codigoPostal}}</strong>
                      </span>
                      <ng-template #toLengthDr>
                        <span container="body" placement="bottom"
                          tooltip="{{x.calle}} - {{x.municipio}} - {{x.codigoPostal}}">
                          {{x.calle +' - '+ x.municipio +' - '+ x.codigoPostal | slice:0:42}} ...</span>
                      </ng-template>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12">
                <mat-form-field>
                  <input matInput #correoElectronico type="email" formControlName="Email" maxlength="100" name="Email"
                    placeholder="Correo Electronico" required />
                  <mat-hint align="end">{{correoElectronico.value.length}} / 100</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
                (click)="(addCorreo = ! addCorreo) ; cancelarCorreo()">Cancelar</button>
              <button type="button" [disabled]="!formCorreos.valid" class="md-1 btn btn-xs btn-success mat-elevation-z8"
                (click)="AddEmail()">{{textbtnCorreo}}</button>
            </div>
          </form>
        </div>
        <div class="butoonAction clearfix p-2 bg-light">
          <div class="contenedor">
            <div class="aling-div">
              <button class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8" *ngIf="!addCorreo" container="body"
                placement="bottom" tooltip="Agregar" (click)="addCorreo = true; textbtnCorreo = 'Agregar'">
                <em class="fa fa-plus"></em>
              </button>
            </div>
            <div class="aling-div" *ngIf="!EditCorreo">
              <button *ngIf="CorreosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                tooltip="Editar" [disabled]="!elementC" [ngClass]="(!elementC) ? 'disabled' : 'btn-primary'"
                (click)="UpEmail(); textbtnCorreo = 'Editar'">
                <em class="fa fa-pencil"></em>
              </button>
              <button *ngIf="CorreosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                placement="bottom" tooltip="Eliminar" [disabled]="!elementC"
                [ngClass]="(!elementC)? 'disabled' : 'btn-danger'" (click)="DtEmail()">
                <em class="fa fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="CorreosNew.length > 0">
          <div class="card media">
            <div class="card-body">
              <div class="row" #tableCorreos>
                <div class="col-sm-12 col-md-12 table-responsive clearfix">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{registrosC}}</span>
                  </div>
                  <table id="CorreosNuevos" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsC" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                      <tr *ngIf="showFilterRowC">
                        <td *ngFor="let column of columnsC">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                            [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableC(config)"
                            class="form-control form-control-sm" id="{{column.name}}">
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowc of rowsC; let i=index" (click)="onCellClickC(rowc, rowc.idAux)"
                        [class.selected]="rowc.selectedC">
                        <td class="text-center">{{rowc.calle}}</td>
                        <td class="text-center">{{rowc.email}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-divider></mat-divider>
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageC" [totalItems]="lengthC"
                      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                      (pageChanged)="onChangeTableC(config, $event)" (numPages)="numPagesC = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab heading="Contactos" id="TapContactos">
    <div class="dt-container">
      <div class="card-body">
        <div *ngIf="addContacto">
          <form [formGroup]="formContactos">
            <div class="row" #DireccionContacto>
              <div class="col-sm-6 col-ms-6 col-lg-6">
                <mat-form-field>
                  <mat-select placeholder="Dirección" formControlName="ContactoDireccion" required>
                    <mat-option *ngFor="let x of DireccionesNew; let i=index " [value]="x.idAux">
                      <span
                        *ngIf="(x?.calle.length + x?.municipio.length + x?.codigoPostal.length) < 42 else toLengthDr">
                        {{x.calle}} - {{x.municipio}} - <strong>{{x.codigoPostal}}</strong>
                      </span>
                      <ng-template #toLengthDr>
                        <span container="body" placement="bottom"
                          tooltip="{{x.calle}} - {{x.municipio}} - {{x.codigoPostal}}">
                          {{x.calle +' - '+ x.municipio +' - '+ x.codigoPostal | slice:0:42}} ...</span>
                      </ng-template>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div #DatosContacto>
              <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <mat-form-field>
                    <input matInput #nombreC formControlName="Nombre" placeholder="Nombre (s)" maxlength="50"
                      required />
                    <mat-hint align="end">{{nombreC.value.length}} / 50</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <mat-form-field>
                    <input matInput #apellidoPC formControlName="ApellidoPaterno" placeholder="Apellido Paterno"
                      maxlength="50" required />
                    <mat-hint align="end">{{apellidoPC.value.length}} / 50</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <mat-form-field>
                    <input matInput #apellidoMC formControlName="ApellidoMaterno" placeholder="Apellido Materno"
                      maxlength="50" />
                    <mat-hint align="end">{{apellidoMC.value.length}} / 50</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <mat-form-field>
                    <input matInput #puesto formControlName="Puesto" placeholder="Puesto" maxlength="100" required />
                    <mat-hint align="end">{{puesto.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <mat-form-field>
                    <textarea matInput rows="4" #infoAdicional formControlName="InfoAdicional"
                      placeholder="Información Adicional" maxlength="250"></textarea>
                    <mat-hint align="end">{{infoAdicional.value.length}} / 250</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
          <br>
          <p></p>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12" #TelefonoContacto>
              <h4 class="text-success ">Tel&eacute;fonos
                <span class="pull-right">
                  <em style="margin-left: 10px;" class="fa fa-phone"></em>
                </span>
              </h4>
              <mat-divider></mat-divider>
              <div *ngIf="addContactoTelefono">
                <form [formGroup]="formContactoTelefonos" class="form-row">
                  <div class="col-md-2 col-lg-2 col-sm-12">
                    <mat-form-field>
                      <mat-select placeholder="Tipo Teléfono" formControlName="TipoTelefono"
                        (selectionChange)="getTipoTelefonoContacto()">
                        <mat-option *ngFor="let x of tipoTelefonos" [value]="x.id">
                          <span>{{x.tipo}}</span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 col-lg-2 col-sm-12">
                    <mat-form-field>
                      <span matPrefix>+&nbsp;</span>
                      <input matInput #ladaPaisC type="phone" formControlName="LadaPais" maxlength="3"
                        name="LadaPais-Contacto" placeholder="País" required />
                      <mat-hint align="end">{{ladaPaisC.value.length}} / 3</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 col-lg-2 col-sm-12">
                    <mat-form-field>
                      <input matInput #ladaC type="phone" formControlName="Lada" maxlength="3" name="Lada-Contacto"
                        placeholder="Lada" required />
                      <mat-hint align="end">{{ladaC.value.length}} / 3</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-12">
                    <mat-form-field>
                      <input matInput #numeroC type="phone" formControlName="Numero" maxlength="8" minlength="8"
                        name="Numero-Contacto" placeholder="Número" required />
                      <mat-hint align="end">{{numeroC.value.length}} / 8</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 col-lg-2 col-sm-12" *ngIf="esOficinaContacto === 4">
                    <mat-form-field>
                      <input matInput #extencionC type="phone" formControlName="Extension" maxlength="5"
                        name="Extension-Contacto" placeholder="Ext." />
                      <mat-hint align="end">{{extencionC.value.length}} / 5</mat-hint>
                    </mat-form-field>
                  </div>
                </form>
                <div class="modal-footer">
                  <em class="fa fa-close text-danger em-button" (click)="cancelarContactoTelefono()"></em>
                  <em *ngIf="formContactoTelefonos.valid" class="fa fa-check text-success em-button"
                    (click)="AddContactoTelefono()"></em>
                </div>
              </div>
              <br>
              <div class="clearfix">
                <div class="aling-div" *ngIf="!addContactoTelefono">
                  <button (click)="addContactoTelefono = true" class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8">
                    <em class="fa fa-plus"></em>
                  </button>
                </div>
                <div class="aling-div" *ngIf="!EditContactoTelefono">
                  <button *ngIf="Telefonos.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!elementCnT"
                    [ngClass]="(!elementCnT) ? 'disabled' : 'btn-primary'" (click)="UdContactoTelefono()">
                    <em class="fa fa-pencil"></em>
                  </button>
                  <button *ngIf="Telefonos.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!elementCnT"
                    [ngClass]="(!elementCnT) ? 'disabled' : 'btn-danger'" (click)="DtContactoTelefono()">
                    <em class="fa fa-trash"></em>
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="Telefonos.length > 0">
                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{lengthCnT}}</span>
                  </div>
                  <table id="ContactoTelefonosNuevos" ngClass="{{config.className || ''}}" role="grid"
                    style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsCnT" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowcnt of rowsCnT;let i = index" [class.selected]="rowcnt.selectedCnT"
                        (click)="onCellClickCnT(rowcnt, rowcnt.idAux)">
                        <td>
                          <span>
                            {{rowcnt.tipoTelefonos}}
                          </span>
                        </td>
                        <td>
                          <span>+{{rowcnt.clavePais}}
                            ({{rowcnt.claveLada}})
                            {{rowcnt.telefono | slice:0:4}}-{{rowcnt.telefono | slice:4:8}}
                            <span *ngIf="rowcnt.tipoTelefonoId == 4 && rowcnt.extension != ''">
                              Ext.{{rowcnt.extension}}
                            </span>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="pageCnT"
                      [totalItems]="lengthCnT" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                      [rotate]="false" (pageChanged)="nextPageCnT({page: $event, itemsPerPage: itemsPerPage })"
                      (numPages)="numPagesCnT = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-12" #Emailcontacto>
              <h4 class="text-success ">Correos Electr&oacute;nicos,
                <span class="pull-right">
                  <em style="margin-left: 10px;" class="fa fa-envelope-o"></em>
                </span>
              </h4>
              <mat-divider></mat-divider>
              <div *ngIf="addContactoCorreo">
                <form [formGroup]="formContactoCorreo">
                  <mat-form-field>
                    <input matInput #correoElectronicoC type="email" formControlName="Email" maxlength="100"
                      name="Email" placeholder="Correo Electronico" />
                    <mat-hint align="end">{{correoElectronicoC.value.length}} / 100</mat-hint>
                  </mat-form-field>
                </form>
                <div class="modal-footer">
                  <em class="fa fa-close text-danger em-button" (click)="cancelarContactoCorreo()"></em>
                  <em *ngIf="formContactoCorreo.valid" class="fa fa-check text-success em-button"
                    (click)="AddContactoCorreo()"></em>
                </div>
              </div>
              <br>
              <div class="clearfix">
                <div class="aling-div" *ngIf="!addContactoCorreo">
                  <button (click)="addContactoCorreo = true" class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8">
                    <em class="fa fa-plus"></em>
                  </button>
                </div>
                <div class="aling-div" *ngIf="!EditContactoCorreo">
                  <button *ngIf="Emails.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!elementCnC"
                    [ngClass]="(!elementCnC) ? 'disabled' : 'btn-primary'" (click)="UdContactoCorreo()">
                    <em class="fa fa-pencil"></em>
                  </button>
                  <button *ngIf="Emails.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" [disabled]="!elementCnC"
                    [ngClass]="(!elementCnC) ? 'disabled' : 'btn-danger'" (click)="DtContactoCorreo()">
                    <em class="fa fa-trash"></em>
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="Emails.length > 0">
                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{lengthCnC}}</span>
                  </div>
                  <table id="ContactoCorreosNuevos" ngClass="{{config.className || ''}}" role="grid"
                    style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsCnC" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowcnc of rowsCnC;let i = index" [class.selected]="rowcnc.selectedCnC"
                        (click)="onCellClickCnC(rowcnc, rowcnc.idAux)">
                        <td>
                          <span>
                            {{rowcnc.email}}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="pageCnC"
                      [totalItems]="lengthCnC" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                      [rotate]="false" (pageChanged)="nextPageCnC({page: $event, itemsPerPage: itemsPerPage })"
                      (numPages)="numPagesCnC = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="md-1 btn btn-xs btn-danger mat-elevation-z8"
              (click)="(addContacto = ! addContacto) ; cancelarContacto()">Cancelar</button>
            <button type="button" class="mat-elevation-z8" [disabled]="!formContactos.valid || Telefonos.length === 0 || Emails.length === 0"
              [ngClass]="!formContactos.valid || Telefonos.length === 0 || Emails.length === 0 ? 'disabled' : 'btn-success'"
              class="md-1 btn btn-xs" (click)="AddContacto()">{{textbtnContacto}}</button>
          </div>

        </div>
        <div class="butoonAction clearfix p-2">
          <div class="contenedor">
            <div class="aling-div">
              <button class="mb-1 btn btn-xs btn-primary margen mat-elevation-z8" *ngIf="!addContacto" container="body"
                placement="bottom" tooltip="Agregar"
                (click)="addContacto = true; textbtnContacto = 'Agregar'; Emails = []; Telefonos = []; idAuxCnT = 1">
                <em class="fa fa-plus"></em>
              </button>
            </div>
            <div class="aling-div" *ngIf="!EditContacto">
              <button *ngIf="ContactosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                tooltip="Editar" [disabled]="!elementCn" [ngClass]="(!elementCn) ? 'disabled' : 'btn-primary'"
                (click)="UpContactos(); textbtnContacto = 'Editar'">
                <em class="fa fa-pencil"></em>
              </button>
              <button *ngIf="ContactosNew.length > 0" class="mb-1 btn btn-xs margen mat-elevation-z8" container="body" placement="bottom"
                tooltip="Eliminar" [disabled]="!elementCn" [ngClass]="(!elementCn) ? 'disabled' : 'btn-danger'"
                (click)="DtContacto()">
                <em class="fa fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="ContactosNew.length > 0">
          <div class="card media">
            <div class="card-body">
              <div class="row" #TableContactos>
                <div class="col-sm-12 col-md-12 table-responsive clearfix">
                  <div>
                    <span *ngIf="config.paging" class="float-right">Total Registros: {{registrosCn}}</span>
                  </div>
                  <table id="ContactosNuevos" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th *ngFor="let column of columnsCn" ngClass="{{column.className || ''}}">
                          {{column.title | uppercase}}
                        </th>
                      </tr>
                      <tr *ngIf="showFilterRowCn">
                        <td *ngFor="let column of columnsCn">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                            [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTableCn(config)"
                            class="form-control form-control-sm" id="{{column.name}}">
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowcn of rowsCn; let i=index" (click)="onCellClickCn(rowcn, rowcn.idAux)"
                        [class.selected]="rowcn.selectedCn">
                        <td>{{rowcn.calle}}</td>
                        <td>{{rowcn.nombre}} {{rowcn.apellidoPaterno}} {{rowcn.apellidoMaterno}}
                        </td>
                        <td>{{rowcn.puesto}}</td>
                        <td>
                          <p *ngFor="let t of rowcn.telefonos">
                            {{t.tipoTelefonos}}:
                            +{{t.clavePais}} ({{t.claveLada}})
                            {{t.telefono |
                                      slice:0:4}}-{{t.telefono | slice:4:8}}
                            <span *ngIf="t.tipoTelefonoId == 4 && t.extension != ''">
                              Ext. {{t.extension}}
                            </span>
                          </p>
                        </td>
                        <td>
                          <p *ngFor="let e of rowcn.emails">{{e.email}}</p>
                        </td>
                        <td>{{rowcn.infoAdicional}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-divider></mat-divider>
                  <div class="text-right">
                    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="pageCn" [totalItems]="lengthCn"
                      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                      (pageChanged)="onChangeTableCn(config, $event)" (numPages)="numPagesCn = $event">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>
<br>
<div class="form-group">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="reset" [disabled]="loading" [ngClass]="loading ? 'disabled': 'btn-danger'"
        class="btn btn-block mat-elevation-z8" [routerLink]="['/ventas/directorio']">Cancelar</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button type="submit" *ngIf="!loading"
        [disabled]="!formGeneral.valid || DireccionesNew.length === 0 || ContactosNew.length === 0"
        [ngClass]="!formGeneral.valid || DireccionesNew.length === 0 || ContactosNew.length === 0 ? 'disabled' : 'btn-success'"
        class="btn btn-block mat-elevation-z8" (click)="GuardarProspecto()">Guardar</button>
      <img *ngIf="loading"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
  </div>
</div>


<!-- Mensajes informativos -->
<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>


<!-- Modal para mostar conicidencias con clientes o prospectos -->
<div *ngIf="coincidenciaCliente " [config]="{show: true, ignoreBackdropClick: true, keyboard: false}" bsModal
  #CoincidenciaModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="float-right text-info"><em class="fa fa-users fa-x2"></em> <span class="text-warning"> Coincidencias
            de Clientes /
            Prospectos</span></h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right"
          (click)="coincidenciaCliente=false; CoincidenciaModal.hide();"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <small class="badge badge-pill badge-success">Cliente </small>
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><small class="badge badge-pill badge-warning">Prospecto
            </small></div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><small class="badge badge-pill badge-primary">Razon
              Social </small></div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><small class="badge badge-pill badge-info">Nombre
              Cómercial</small></div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><small class="badge badge-pill badge-green">RFC </small>
          </div>
        </div><br>
        <mat-divider></mat-divider>
        <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
          [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
          <div>
            <p *ngFor="let x of coincidencias">
              <small *ngIf="x.esCliente" class="badge badge-pill badge-success">Cliente </small>
              <small *ngIf="!x.esCliente" class="badge badge-pill badge-warning">Prospecto </small>
              <small *ngIf="x.esCliente" class="badge badge-pill badge-primary">{{x.razonSocial}} </small>
              <small class="badge badge-pill badge-info">{{x.nombrecomercial}} </small>
              <small *ngIf="x.esCliente" class="badge badge-pill badge-green">{{x.rfc}} </small>
            </p>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
