<!-- <div class="dt-container mat-elevation-z8"> -->
<div class="d-flex justify-content-between align-items-center p-1 bg-light">
  <span class="fontLato text-warning"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i>DIRECCIONES</span>
  <div *ngIf="Perfil290">
  <button class="mr-2 btn btn-xs mat-elevation-z8 "
  [ngClass]="!selected ? 'disabled' : 'btn-danger'" [disabled]="!selected" (click)="ShowModalRutas = true;">
    <i class="fa fa-bus"></i>
  </button>
  <button class="mr-2 btn btn-xs mat-elevation-z8 "
  [ngClass]="!selected ? 'disabled' : 'btn-warning'" [disabled]="!selected" (click)="ShowModal = true;">
    <i class="fa fa-map-o"></i>
  </button>
</div>
</div>
<!-- <div class="card card-default"> -->
<div #tableContainer>
  <table id="resultDataTable" class="table" style="width: 100%;">
    <thead>
      <tr>
        <th *ngFor="let column of columns" class="{{column.className || ''}}">
          <small>{{column.title | uppercase}}</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-muted" (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
        <td class="text-center">
          {{row.tipoDireccion | uppercase}}
        </td>
        <td class="text-center"> {{row.pais | uppercase}}</td>
        <td class="text-center"> {{row.estado | uppercase}}</td>
        <td class="text-center"> {{row.municipio | uppercase}}</td>
        <td class="text-center"> {{row.colonia | uppercase}}</td>
        <td class="text-center"> {{row.calle | uppercase}}</td>
        <td class="text-center"> {{row.numeroExterior | uppercase}}</td>
        <td class="text-center"> {{row.numeroInterior | uppercase}}</td>
        <td class="text-center"> {{row.codigoPostal | uppercase}}</td>
        <td class="text-center">
          <span *ngIf="row.activo">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.activo">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
        <td class="text-center">
          <span *ngIf="row.esPrincipal">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.esPrincipal">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div> -->
<!-- </div> -->

<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal
  #MessageModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg reporteMod">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="float-left text-warning"><em class="fa fa-map-o mr-2"></em>Ubicaci&oacute;n de la
          direcci&oacute;n</h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
            class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-maps-address [Direccion]='Direccion'></app-maps-address>
      </div>
    </div>
  </div>
</div>

<div *ngIf="ShowModalRutas" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal
  #MessageModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg reporteMod">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="float-left text-warning"><em class="fa fa-map-o mr-2"></em>Rutas de Camion de {{Direccion}}</h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModalRutas=false"><i
            class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-dt-rutas-camion-requi [DireccionId]='damfoId' [ShowRequi]="ShowRequi">
        </app-dt-rutas-camion-requi>
      </div>
    </div>
  </div>
</div>
