<!-- <div class="dt-container mat-elevation-z8"> -->
  <div class="title-headre-view">
    <h4>Direcciones</h4>
  </div>
  <!-- <div class="card card-default"> -->
    <div class="table-responsive" #tableContainer>
      <table id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" class="{{column.className || ''}}">{{column.title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
            <td class="text-center">
              {{row.tipoDireccion}}
            </td>
            <td class="text-center"> {{row.pais}}</td>
            <td class="text-center"> {{row.estado}}</td>
            <td class="text-center"> {{row.municipio}}</td>
            <td class="text-center"> {{row.colonia}}</td>
            <td class="text-center"> {{row.calle}}</td>
            <td class="text-center"> {{row.numeroExterior}}</td>
            <td class="text-center"> {{row.numeroInterior}}</td>
            <td class="text-center"> {{row.codigoPostal}}</td>
            <td class="text-center">
              <span *ngIf="row.activo">
                <em class="fa fa-check-square-o"></em>
              </span>
              <span *ngIf="!row.activo">
                <em class="fa fa-square-o"></em>
              </span>
            </td>
            <td class="text-center">
              <span *ngIf="row.esPrincipal">
                <em class="fa fa-check-square-o"></em>
              </span>
              <span *ngIf="!row.esPrincipal">
                <em class="fa fa-square-o"></em>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->
<!-- </div> -->
