<div class="row">
  <div class="col-sm-6 col-md-6">
  <div class="card" >
    <div class="card-body mat-elevation-z8" style="height: 300px;">
      <h3 class="text-center text-success p-2 bg-info"><i class="fa fa-ticket mr-1" aria-hidden="true"></i>N&Uacute;MERO DE TICKET</h3>
      <hr>
      <h1 *ngIf="turnos.length > 0" class="text-center">{{turnos[0].ticket}}</h1>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="card" >
    <div class="card-body mat-elevation-z8" style="height: 300px;">
      <h3 class="text-center text-success p-2 bg-danger"><i class="fa fa-thumb-tack mr-1" aria-hidden="true"></i>M&Oacute;DULO</h3>
      <hr>
      <h1 *ngIf="turnos.length > 0" class="text-center">{{turnos[0].modulo}}</h1>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center text-success p-3 bg-light"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>EN ATENCION</h4>
          <ul class="list-inline" *ngIf="turnos.length > 0">
              <li *ngFor="let t of turnos;" class="list-inline-item p-2  text-white font-weight-bold mat-elevation-z8" [ngClass]="t.estatus == 2 ? 'bg-success' : 'bg-warning'"><h2>{{t.ticket}} - Modulo {{t.modulo}}</h2></li>
          </ul>
      </div>
    </div>
  </div>
  </div>