<div class="content-heading">
  <div>
    Roles
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de roles.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Roles</li>
  </ol>
</div>


<div class="panel panel-default panel-flat mat-elevation-z8">
  <div class="panel-body">
    <grid-roles #grid [nodes]="nodes" [rol]="rol"></grid-roles>
  </div>

</div>

