<div class="row mb-2">
    <div class="col-sm-4 col-md-4">
        <span class="text-muted">&copy; {{ settings.app.year }} - {{ settings.app.name }} - {{ settings.app.vertion }} -
            {{ settings.app.environment }}</span>
    </div>
    <div class="col-sm-5 col-md-5">
        <span class="text-muted">¿Tienes dudas o sugerencias? contactanos: <strong class="font-italic text-info">{{settings.app.email }}</strong></span>
    </div>
    <!--bot-->
    <div class="col-sm-3 col-md-3">
        <span class="text-warning ml-3"><strong>SAGABOT</strong> ¿Necesitas ayuda?</span>
        <a *ngIf="!open" (click)="open=true;" class="float">
            <i class="fa fa-commenting-o my-float text-white"></i>
            <!-- <i *ngIf="open" class="fa fa-times my-float"></i> -->
        </a>
        <ng-container *ngIf="open">
            <div class="form-container">
                <app-saga-bot #sagabot (close)="closeConversation($event)"></app-saga-bot>
            </div>
        </ng-container>
    </div>
</div>