.long
{
    height: 300px;
}

.candidatos
{
    width: 100%;
}

.content-heading
{
    height: 60px !important;
}

li 
{
    list-style: none;
}
a {
 cursor: pointer;
}
a:hover
{
    background-color: orange;
    font-size: 14px !important;
}
.entrevista {
    cursor: pointer;
    text-decoration: none;
    box-shadow:1px 10px 40px rgba(0,0,0,.23);
   }
 
   .entrevista a:hover span
   {
     color: #555555 !important;
   }
.btn-success.round
{
  border-radius: 24px;
}
.bg-info
{
    background-color: #b0eeff !important;

}
ng-scrollbar {
    --scrollbar-size: 4px;
    --scrollbar-thumb-color: rgb(94, 175, 255);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
  }