<div class="content-heading">
  <div>
    <h5 class="text-muted mb-2">TURNOS</h5>
    <small class="text-muted">Sistema de Turnos.</small>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active text-muted">Turno</li>
  </ol>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <clock></clock>
    </div>
    <div class="col-sm-2 col-md-2">
      <h4 class="p-3 bg-white text-center text-muted font-weight-bold">MODULO
      <br/>
      {{modulo}}</h4>
    </div>
    <div class="col-sm-8 col-md-8">
      <div class="card" *ngIf="ticket.length > 0">
        <div class="card-body text-sm">
          <h5 class="text-muted p-1 bg-light"><i class="fa fa-ticket mr-1" aria-hidden="true"></i>TURNO <em class="float-right">{{minutosEnAtencion}} min.</em></h5>
          <span class="text-sm text-center font-weight-bold mr-1">TURNO ACTUAL:</span>
          <span class="text-center text-muted mr-3">{{ticket[0].numero}}</span>
          <span class="text-sm text-center font-weight-bold mr-1">ESTATUS DE TURNO:</span>
          <span class="text-center text-muted mr-3">
            <span *ngIf="ticket[0].estado == 2" class="text-success">ATENDIENDO</span>
            <span *ngIf="ticket[0].estado == 3" class="text-warning">EXAMENES</span>
            <span *ngIf="ticket[0].estado == 4" class="text-danger">FINALIZADO</span>
          </span>
          <span class="text-sm text-center font-weight-bold mr-1">TURNOS ATENDIDOS:</span>
          <span class="text-center text-muted mr-3">{{ticket[0].atendidos}}</span>
          <span class="text-sm text-center font-weight-bold mr-1">TIEMPO ENTRE TURNOS:</span>
          <span class="text-center text-muted">{{ticket[0].tiempo}} min.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="card candidatos" *ngIf="ticket.length > 0 else NotTickets">
        <div class="card-body mat-elevation-z8">
          <h5 class="text-left text-info p-2 bg-light d-flex justify-content-between">
            <span><i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i>DATOS CANDIDATO</span>
            <button *ngIf="examenesCandidato.tecnicos.length > 0 || examenesCandidato.psicometricos.length > 0" class="btn btn-xs btn-success round float-right"
                (click)="modalExamen=true;" container="body" placement="bottom" tooltip="Examenes Realizados">
                <i class="fa fa-pencil"></i></button>
            <small *ngIf="ticket[0].candidato.estatus.length <= 10 else toLength" class='badge badge-pill badge-success float-right'
              [class.badge-warning]="ticket[0].candidato.estatusId === 42" [class.badge-danger]="ticket[0].candidato.estatusId == 28">
              <small *ngIf="ticket[0].candidato.estatusId != 28"> {{ticket[0].candidato.estatus | uppercase }}</small>
              <small *ngIf="ticket[0].candidato.estatusId == 28">POSTULADO</small>
            </small>
            <ng-template #toLength>
              <span class='badge badge-pill badge-info float-right' [class.badge-warning]="ticket[0].candidato.estatusId === 42" [class.badge-danger]="ticket[0].candidato.estatusId == 28"
                placement="bottom" tooltip="{{ticket[0].candidato.estatus | uppercase}}" container="body">{{ticket[0].candidato.estatus | slice:0:8 | uppercase }} ... </span>
            </ng-template>
          </h5>
          <hr>
          <div class="text-center">
            <h3 class="text-center text-muted">{{ticket[0].candidato.nombre | uppercase}}</h3>
            <p class="card-text font-weight-bold mr-1">CURP:
              <span class="text-center text-success">{{ticket[0].candidato.curp | uppercase}}</span>
            </p>

            <p class="card-text font-weight-bold mr-1">LUGAR NAC.:
              <span class="text-center text-muted">{{ticket[0].candidato.dirNacimiento | uppercase}}</span>
            </p>
            <p class="card-text font-weight-bold mr-1">FECHA NAC.:
              <span class="text-center text-muted mr-4">{{ticket[0].candidato.fechaNac | date:'dd/MM/yyyy' }}</span>EDAD:
              <span class="text-center text-muted">{{ticket[0].candidato.edad}}</span>
            </p>
            <p class="card-text font-weight-bold mr-1">EMAIL:
              <span class="text-center text-muted">{{ticket[0].candidato.email}}</span>
            </p>
          </div>
          <div class="p-2 mb-2">
            <app-comentario-candidato [CandidatoId]="ticket[0].candidato.candidatoId" [RequisicionId]="" [ProcesoCandidatoId]=""></app-comentario-candidato>
          </div>
        </div>
      </div>
      <div class="mt-2 d-flex flex-row justify-content-end">
        <button type="button" [disabled]="fila.length == 0 || atender" [ngClass]="fila.length == 0 || atender ? 'btn disable' : 'btn btn-outline-success mat-elevation-z8'" (click)="Atender()" tooltip="ATENDER">

            <i class="fa fa-play"></i>
        </button>
          <button type="button" *ngIf="ticket.length > 0" [disabled]="ticket[0].candidato.estatusId == 27 || ticket[0].estado != 2 || (exaTecnico && exaPsico)" [ngClass]="ticket[0].candidato.estatusId == 27 || ticket[0].estado != 2 || (exaTecnico && exaPsico) ? 'btn disable ml-2' : 'btn btn-outline-warning mat-elevation-z8 ml-2'" (click)="GetHorarioRequis(3)" tooltip="EXAMENES">

                <i class="fa fa-file-text-o"></i>
</button>
        <button type="button"  *ngIf="ticket.length > 0" [disabled]="ticket[0].estado == 4" [ngClass]="ticket[0].estado == 4 ? 'btn disable ml-2' : 'btn btn-outline-danger mat-elevation-z8 ml-2'" (click)="GetHorarioRequis(4);" tooltip="FINALIZAR">

            <i class="fa fa-stop"></i>
</button>
      </div>
      <br/>
      <hr>
      <div class="card mt-4">
        <div class="card-body mat-elevation-z8">
          <h5 class="text-center text-warning">
            <i class="fa fa-hourglass-half mr-1" aria-hidden="true"></i>EN ESPERA</h5>

        <ul class="list-group" >
            <li *ngFor="let t of fila" class="list-group-item" [ngClass]="t.movimientoId == 1 ? 'bg-warning' : 'bg-success'">
              <div class="d-flex flex-row justify-content-between align-items-stretch">
                <span>{{t.ticket}}</span>
                <span *ngIf="t.movimientoId == 1">{{t.fch_cita | date:'dd-MMM-yyyy h:mm'}}</span>
                <span class="float-right">{{t.tiempo}} min</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-8 col-md-8">
      <div class="card" *ngIf="ticket.length > 0">
        <div class="card-body mat-elevation-z8">
          <h5 class="text-left text-success p-2 bg-light">
            <i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i>POSTULACIONES</h5>
          <div class="justify-content-between">
            <ul class="list-group mb-2">
              <li *ngFor="let item of postulaciones; let ind = index;" class="list-group-item">
                <span class="text-info">
                  <button (click)="openDialogShowRequi(item)" class="btn btn-xs btn-outline-warning float-left mr-1" container="body" placement="bottom"
                    tooltip="Visualizar">
                    <em class="fa fa-eye"></em>
                  </button>
                  <span class="text-sm font-weight-bold mr-1">FOLIO</span>
                  <span class="text-muted mr-2">{{item.folio}}</span>
                  <span class="text-sm font-weight-bold mr-1">PERFIL</span>
                  <span class="text-muted mr-2">{{item.vBtra}}</span>
                  <span class="text-sm font-weight-bold mr-1">CLIENTE</span>
                  <span class="text-muted mr-2">{{item.cliente}}</span>
                  <span class="text-sm font-weight-bold mr-2">PROP.</span>

                  <small class="text-muted mr-2" *ngIf="item.reclutadores.length == 1">{{item.reclutadores[0].nombre}}</small>
                  <a class="text-white badge badge-info badge-pill mr-2" *ngIf="item.reclutadores.length > 1" [popover]="popTemplate" placement="bottom"
                    container="body">{{item.reclutadores.length}}</a>
                  <ng-template #popTemplate>

                    <div class="card">
                      <div class="card-body">
                        <h5 class="text-center text-info p-2 bg-light">RECLUTADORES</h5>
                        <ul class="list-group" *ngFor="let r of item.reclutadores">
                          <li class="text-muted list-group-item">
                            <small>{{r.nombre}}</small>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </ng-template>


                  <!-- <button *ngIf="ticket[0].candidato.estatusId != 27 && requisicionId == item.id" (click)="_liberarCandidato(item, ticket[0])" class="btn btn-xs btn-outline-danger float-right"
                    container="body" placement="bottom" tooltip="Liberar">
                    <em class="fa fa-thumbs-o-down"></em>
                  </button>

                  <button *ngIf="ticket[0].candidato.estatusId == 27" (click)="_apartarCandidato(item, ticket[0])" [ngClass]="apartar ? 'btn-outline-success' : 'btn-outline-danger'"
                    class="btn btn-xs  float-right" container="body" placement="bottom" tooltip="Apartar">
                    <em class="fa fa-thumbs-o-up"></em>
                  </button> -->

                  <!-- <button (click)="openDialogShowRequi(item)" class="btn btn-xs btn-outline-warning float-right mr-1" container="body" placement="bottom" tooltip="Visualizar">
                      <em class="fa fa-eye"></em>
                    </button> -->


                </span>
              </li>
            </ul>

            <h5 class="text-left text-warning p-2 bg-light">
              <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>MIS VACANTES</h5>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact" [shown]="shown"
              [disableOnBreakpoints]="false" [disabled]="disabled">

              <ul class="list-group long">
                <li *ngFor="let item of dataSource; let ind = index;" class="list-group-item">
                  <span class="text-info">
                    <button (click)="openDialogShowRequi(item)" class="btn btn-xs btn-outline-warning float-left mr-1" container="body" placement="bottom"
                      tooltip="Visualizar">
                      <em class="fa fa-eye"></em>
                    </button>
                    <span class="text-sm font-weight-bold mr-1">FOLIO</span>
                    <span class="text-muted mr-2">{{item.folio}}</span>
                    <span class="text-sm font-weight-bold mr-1">PERFIL</span>
                    <span class="text-muted mr-2">{{item.vBtra}}</span>
                    <span class="text-sm font-weight-bold mr-1">CLIENTE</span>
                    <span class="text-muted mr-2">{{item.cliente}}</span>
                    <!-- <span class="text-sm font-weight-bold mr-1">PROPIETARIO</span>
                    <span class="text-muted mr-2">{{item.reclutador}}</span>  -->

                    <!-- <button (click)="openDialogShowRequi(item)" class="btn btn-xs btn-outline-danger float-right" container="body" placement="bottom" tooltip="Liberar">
                      <em class="fa fa-thumbs-o-down"></em>
                    </button> -->

                    <button *ngIf="item.id == ticket[0].candidato.requisicionId && ticket[0].candidato.estatusId != 27 && ticket[0].estado != 4" (click)="_liberarCandidato(item, ticket[0])" class="btn btn-xs btn-outline-danger float-right"
                      container="body" placement="bottom" tooltip="Liberar">
                      <em class="fa fa-thumbs-o-down"></em>
                    </button>

                    <button *ngIf="ticket[0].candidato.estatusId == 27 && ticket[0].estado != 4" (click)="item.reclutadores = [];_apartarCandidato(item, ticket[0])"
                      [ngClass]="apartar ? 'btn-outline-success' : 'btn-outline-danger'" class="btn btn-xs  float-right" container="body"
                      placement="bottom" tooltip="Apartar">
                      <em class="fa fa-thumbs-o-up"></em>
                    </button>

                    <!-- <button (click)="openDialogShowRequi(item)" class="btn btn-xs btn-outline-warning float-right mr-1" container="body" placement="bottom" tooltip="Visualizar">
                        <em class="fa fa-eye"></em>
                      </button> -->


                  </span>
                </li>
              </ul>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
  <div class="col">
  <div class="card">
    <div class="card-body mat-elevation-z8">
      <h5 class="text-center text-info"><i class="fa fa-hourglass-half mr-1" aria-hidden="true"></i>EN ESPERA</h5>
        <ul class="list-group" *ngFor="let t of fila">
            <li class="list-group-item" [ngClass]="t.movimientoId == 1 ? 'bg-warning' : ''"><span>{{t.ticket}}</span><span class="float-right" [ngClass]="t.movimientoId == 1 ? 'text-white' : 'text-warning'">{{t.tiempo}} min</span>
            </li>
        </ul>
    </div>
  </div>
</div>

        <button type="button" class="btn btn-labeled btn-success mat-elevation-z8 margen" [disabled]="fila.length == 0 || atender" (click)="Atender()"><span class="btn-label"><i class="fa fa-play"></i></span>ATENDER</button>
        <button type="button" class="btn btn-labeled btn-danger mat-elevation-z8 margen" [disabled]="!finalizar" (click)="Finalizar(ticket[0].ticketId)" ><span class="btn-label"><i class="fa fa-stop"></i></span>FINALIZAR</button>



</div>-->
</div>



<!-- Modal para asignar modulo -->
<div *ngIf="moduloReclutador" [config]="{ show: true, ignoreBackdropClick: true }" bsModal #MessageModal="bs-modal" class="modal"
  tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="mt-3 p-1 bg-light d-flex flex-row justify-content-between align-items-stretch">
        <h4 class="float-left text-success mt-2 ml-1"><em class="fa fa-users mr-2"></em>CANDIDATOS EN PROCESO </h4>
        <h5 class="text-warning font-weight-bold mt-2" >{{folio}} - {{vBtra | uppercase}}</h5>

        <button type="button" class="btn btn-xs btn-danger btn-circle float-right mr-1" (click)="procesoCandidato=false; lgModal.hide();"><i
            class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-candidatos-en-proceso [RequisicionId]="id"></app-candidatos-en-proceso>
      </div>
    </div>
  </div>
</div>

<!-- Modal examenes -->
<div *ngIf="modalExamen" [config]="{ show: true, ignoreBackdropClick: true, backdrop: 'static', keyboard: false }" bsModal
  #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
          <div class="clearfix">
              <h4 class="float-left text-success mt-2">
                <em class="fa fa-pencil"></em> EXAMENES REALIZADOS
              </h4>
              <button type="button" class="btn btn-xs btn-danger btn-circle float-right mb-2" (click)="lgModal.hide(); modalExamen = false;">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <hr>
        <div *ngIf="examenesCandidato.tecnicos.length > 0">
          <p class="text-warning">Examenes T&eacute;cnicos</p>
          <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact" [shown]="shown"
          [disableOnBreakpoints]="false" [disabled]="disabled">
          <div style="height: 230px;">
          <ul class="list-group">
            <li *ngFor="let r of examenesCandidato.tecnicos" class="text-primary list-group-item">
              <i class="fa fa-file-text-o"></i> Folio:
              <em class="text-muted">{{r.folio }}</em> Perfil:
              <em class="text-muted">{{r.vBtra}}</em> Examen:
              <em class="text-muted">{{r.examen}}</em>
              Calificaci&oacute;n:
              <em class="text-muted">{{r.resultado}}</em>
            </li>
          </ul>
         </div>
         </ng-scrollbar>
        </div>
        <hr>
        <div *ngIf="examenesCandidato.psicometricos.length > 0">
          <p class="text-warning">Examenes Psicom&eacute;tricos</p>
          <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact" [shown]="shown"
          [disableOnBreakpoints]="false" [disabled]="disabled">
          <div style="height: 230px;">
          <ul class="list-group">
            <li *ngFor="let p of examenesCandidato.psicometricos" class="text-primary list-group-item">
              <i class="fa fa-file-text-o"></i> Folio:
              <em class="text-muted">{{p.folio }}</em> Perfil:
              <em class="text-muted">{{p.vBtra }} </em> Clave:
              <em class="text-muted">{{p.clave}}</em> Calificaci&oacute;n:
              <em class="text-muted">{{p.resultado}}</em>
            </li>
          </ul>
          </div>
          </ng-scrollbar>
        </div>
      </div>

    </div>
  </div>
</div>


<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotTickets>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <alert type="info">
        <strong>Oops!</strong> A&uacute;n no cuentas con turnos en proceso.
      </alert>
    </div>
  </div>
</ng-template>

<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>