.long
{
    height: 300px;
}

.candidatos
{
    width: 100%;
}

.content-heading
{
    height: 60px !important;
}

li 
{
    list-style: none;
}
a{
 cursor: pointer;
}
a:hover
{
    background-color: orange;
    font-size: 14px !important;
}