<div class="content-heading">
  <div>
    Registro
    <span class="text-sm d-none d-sm-block">Registros</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Registro</li>
  </ol>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
    <app-card-vacante [ClienteId]="ClienetId" [RequisicionId]="RequisicionId"></app-card-vacante>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <app-buttons-postulaciones [RequisicionId]="RequisicionId"></app-buttons-postulaciones>
      <br/>
      <br/>
      <!-- <app-detail-vacantes [VacanteId]="VacanteId"></app-detail-vacantes> -->
    </div>
  </div>
</div>