<div class="content-heading">
  <div>
    Registro
    <span class="text-sm d-none d-sm-block">Registros</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Registro</li>
  </ol>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
   <app-card-vacante [ClientId]="ClientId"></app-card-vacante>
  </div>
  <div class="col-md-9">
   <app-detail-vacantes [VacanteId]="VacanteId"></app-detail-vacantes>
  </div>
</div>