
.bg-light ul li{
    list-style: none;
}

.scroll
{
    overflow: hidden;
}

label
{
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-size: .75rem;
    height: 31px;
    background-color: #edf1f2;
    opacity: 1;
    width: 100%;
}