.modal-lg {
    max-width: 95% !important;
    margin-top: 3%x !important;
}

.item-loading{
    position: fixed;
    margin-left: 40%;
    margin-top: 25px;
    width: 20px;
}

tbody {
    display:block;
    height:450px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

.margen {
   
    margin:0 2px;
}