<div class="content-heading">
  <span class="text-muted">ADMINISTRADOR DE ARCHIVOS</span>
  <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item">
          <a class="text-info" (click)="regresar()">CANDIDATOS</a>
      </li>
      <li class="breadcrumb-item active">ARCHIVOS</li>
  </ol>
</div>
<div class="d-flex justify-content-between align-items-center p-1 bg-cover bg text-white">
  <div class="radial-bar radial-bar-100 radial-bar m-0" 
  [class.radial-bar-warning]="(files || []).length == 0" [class.radial-bar-success]="(files || []).length > 0">
    <img [src]="foto" (error)="errorImg()">
  </div>
  <h5>{{candidato | uppercase}}</h5>
  <div class="d-flex flex-column justify-content-start fontRoboto">
    <span>RECLUTADOR</span>
    <span>{{reclutador | uppercase }}</span>
    <span>FOLIO - VACANTE</span>
    <span>{{folio}} - {{vBtra}}</span>
  </div>
  <button container="body" placement="bottom" tooltip="Regresar" class="btn btn-xs btn-warning" type="button"
    (click)="regresar()">
    <i class="icon-action-undo"></i>
  </button>
</div>
<div class="mb-3">
  <img class="sizeBarra" src="assets/img/bg-color.png" alt="" />
</div>

<app-file-manager [candidatoId]='candidatoId' [ruta]="'candidatos'"></app-file-manager>