<div class="content-heading">
    <div>
       Sistema de Reportes
        <span class="text-sm d-none d-sm-block">Administraci&oacute;n de Reportes.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
        <li class="breadcrumb-item active">Reportes</li>
    </ol>
  </div>



<ngx-spinner
  bdColor="rgba(198,195,195,0.8)"
  size="medium"
  color="#90daff"
  type="square-jelly-box"
></ngx-spinner>





<div class="row sombra" style="font-size: 12px">

   

    <div class="col-xl-2">
       
          <div class="form-group">
            <label for="sel2">Sucursales</label>
            
                <form  [formGroup]="FormSucursal">
                    <ngx-select
                    [allowClear]="true"
                    autoClearSearch="true"
                   placeholder="Sucursales..."
                   formControlName = "SucursalControl"
                   (data)="(value)"
                   [multiple]="true"
                   [items]="Oficina"
                   size="small"
                   optionValueField="id"
                   optionTextField="nombre"
                   (remove)="sucursalChange($event)"
                   (select)="sucursalChange($event)"
                 >
                   <ng-template  ngx-select-option-selected let-option >
                     <span >{{ option.data.nombre }}</span>
                   </ng-template>
                   <ng-template ngx-select-option-not-found>
                      <span style="font-size: 11px">No se encontraron resultados...</span>
                      
                    </ng-template>
                 </ngx-select>
                 </form>
            
          </div>
       
      </div>

  <div class="col-xl-2">
    
      <div class="form-group">
        <label for="TipoReporte">Reporte</label>
        <select  (change)="Ocultar()" class="form-control" id="TipoReporte">
            <option value="1">Fecha de Solicitud</option>
            <option value="2">Fecha de Estatus</option>
            <!-- <option value="3">Movimientos Vacantes </option>
            <option value="5">Fecha Estatus Grupal</option>
            <option value="6">Reporte General </option> -->
          <!-- <option>Contratado vs Requerido</option>
          <option>Estatus de Vacantes</option>
          <option>Captación</option>
          <option>Productividad</option>
          <option>Fecha de Solicitud</option> -->
        </select>
      </div>
    
  </div>
<div class="col-xl-2">
    
    <div class="form-group">
        <label for="sel4">Fecha Inicio</label>
        <mat-form-field>
            <input   matInput [matDatepicker]="picker1" id="fechaInicial"   [formControl]="date2">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      </div>
          <!-- <div class="form-group">
            <label  for="sel3">Fecha Inicio</label>
            <input
              class="form-control input-sm"
              lang="es"
              type="date"
              id="fechaInicial"
              name="fecha"
              max="{{ano}}-{{mes}}-{{dia}}"
            />
          </div> -->
</div>



  <div class="col-xl-2">
      <div class="form-group">
          <label for="sel3">Fecha Fin</label>
          <mat-form-field>
              <input   matInput [matDatepicker]="fechaFinal" id="fechaFinal"  [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
              <mat-datepicker #fechaFinal></mat-datepicker>
            </mat-form-field>
        </div>
     
          <!-- <div class="form-group">
            <label for="sel3">Fecha Fin</label>
            <input
              class="form-control input-sm"
              type="date"
              lang="es"
              id="fechaFinal"
              name="fecha"
              size="12" 
              max="{{ano}}-{{mes}}-{{dia}}"
            />
          </div> -->
  </div>
 

  <div class="col-xl-2">
      <div class="form-group">
        <label for="tiporeclutaR">Reclutamiento</label>
        <select class="form-control input-sm" id="tiporeclutaR">
          <option value="0">Todos</option>
          <option value="1">Reclutamiento Puro</option>
          <option value="2">Subcontratación</option>
          <option value="2">Staff</option>
        </select>
      </div>
  </div>

      <div class="col-xl-2" id="divcordinacion">
          
            <div class="form-group">
              <label for="condinacionR">Coordinación</label>
              <select class="form-control input-sm" id="condinacionR">
                <option value="0">Todas</option>
                <option value="1">Especializado</option>
                <option value="2">Operativo</option>
                <option value="3">Masivo</option>
              </select>
            </div>
         
        </div>

     

        <div class="col-xl-2" id="divestatus">
            <div class="form-group input-sm" style="z-index: 100px !important">
              <label for="sel1">Estatus</label>
              <form [formGroup]="FormEstatus">
                  <ngx-select
               
                 [allowClear]="true"
                 autoClearSearch="true"
                 placeholder="Estatus..."
                 formControlName = "EstatusControl"
                 (data)="(value)"
                 [multiple]="true"
                 [items]="Estatus"
                 size="small"
                 optionValueField="id"
                 optionTextField="descripcion"
                 (remove)="estatusChange($event)"
                 (select)="estatusChange($event)">
                 
                 <ng-template ngx-select-option-selected let-option  >
                   <span style="font-size: 10px !important" >{{ option.data.descripcion }}</span>
                 </ng-template>
                 <ng-template ngx-select-option-not-found>
                    <span style="font-size: 11px">No se encontraron resultados...</span>
                  </ng-template>
                 
               </ngx-select>
               </form>
            </div>
        </div>

 

  <div class="col-xl-2" id="divSolicitante">
      <div class="form-group" >
        <label for="solicitanteR">Solicitante</label>

        <form [formGroup]="FormSolicitante" style="font-size: 10px !important">
            <ngx-select
            [allowClear]="true"
            autoClearSearch="true"
           placeholder="Solicitantes..."
           formControlName = "SolicitanteControl"
           (data)="(value)"
           [multiple]="true"
           [items]="Usuario"
           optionValueField="usuario"
           optionTextField="nombre"
           size="small"
           (remove)="solicitanteChange($event)"
           (select)="solicitanteChange($event)">
           <ng-template  size="small" ngx-select-option-selected let-option >
             <span style="font-size: 10px !important" >{{ option.data.nombre }}</span>
           </ng-template>
           <ng-template ngx-select-option-not-found>
              No se encontraron resultados...
            </ng-template>
         </ngx-select>
         </form>

        <!-- <select class="form-control" id="solicitanteR">
          <option value="0">Todos los solicitantes</option>
          <option value="{{ item.usuario }}" *ngFor="let item of Usuario">{{
            item.nombre
          }}</option>
        </select> -->
      </div>
    
  </div>
 
 

  

  <div class="col-xl-4">
      <div class="form-group input-sm" >
        <label for="empresaR">Empresa</label>

        <form [formGroup]="FormEmpresas">
            <ngx-select
           [allowClear]="true"
           autoClearSearch="true"
           placeholder="Empresas..."
           formControlName = "ClientesControl"
           (data)="(value)"
           class="select-asig"
           [multiple]="true"
           [items]="Empresas"
           (remove)="empresaChange($event)"
           (select)="empresaChange($event)"
           size="small"
           optionValueField="id"
           optionTextField="razonSocial"
           
         >
           <ng-template ngx-select-option-selected let-option let-text="descripcion">
             <span style="font-size: 9px !important">{{ option.data.razonSocial }}</span>
           </ng-template>
           <ng-template ngx-select-option-not-found>
             No se encontraron resultados...
           </ng-template>
         </ngx-select>
         </form>
      </div>
  </div>
 
  
  <div class="col-xl-4" id="divreclutador">
    
      <div class="form-group input-sm">
        <label for="sel2">Reclutador</label>

        <form [formGroup]="FormReclutador">
            <ngx-select
           [allowClear]="true"
           autoClearSearch="true"
           placeholder="Reclutador..."
           formControlName = "ReclutadorControl"
           (data)="(value)"
           [multiple]="true"
           [items]="Usuario"
           size="small"
           optionValueField="id"
           optionTextField="nombre"
           (remove)="reclutadorChange($event)"
           (select)="reclutadorChange($event)">
           <ng-template ngx-select-option-selected let-option >
             <span style="font-size: 13px !important">{{ option.data.nombre }}</span>
           </ng-template>
           <ng-template ngx-select-option-not-found>
              No se encontraron resultados...
            </ng-template>
         </ngx-select>
         </form>

      </div>  
  </div>


  

</div>

  <div class="col-xl-8">

  </div>
  <div class="col-xl-2 busmargen">
      <div class="form-group ">
          <!-- <label for="bus">Busqueda:</label> -->
          <div class="input-group input-sm">
            <input
              id="palabra"
              type="text"
              size="12"
              #palabra
              (blur)="hijo.Guardar(palabra.value)"
              placeholder="Palabra clave"
              class=" form-control input-sm"
            />
            <div class="input-group-append mano" (click)="hijo.Generar()">
              <span class="input-group-text "> <em class="fa fa-search"></em></span>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xl-2 botonmargen ">
        <button tooltip="Exportar" (click)="hijo.Exportar()" class="btn btn-sm btn-outline-warning btnReport">
  
            <em _ngcontent-c34="" class="fa fa-download"></em>
          </button>
        <button tooltip="Generar Reporte" (click)="hijo.Generar(objsucursal,objsolicit,objrecluta,objempresa,objstatus)" class="btn btn-sm btn-outline-success btnReport">
        
            <em _ngcontent-c34="" class="fa fa-bar-chart"></em>
          </button>
      </div>
   
  

<div>
  <app-tabla-reporte #hijo [data]="true"></app-tabla-reporte>
</div>
