
// .btnReport{
//     float: right;
//     margin: 15px;
// }

// .busqueda{
//     position: relative;
//     /* float: right; */
//     /* margin: 10px; */
//     left: 78%;
//     /* margin-left: auto; */
//     width: 225px;
//     margin-bottom: 15px;
// }

.bgReporte {
  background-image: url('../../../../assets/img/Inntec/bgReportes.png');
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
}

.mano{
    cursor: pointer;
}

.ocultar{
    display: none !important;
}

.logoSaga {
  width: 15%;
}
.logoDamsa {
  width: 70%;
}
.sombra{
    -webkit-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    padding-top: 10px;
   }



  //  .divtiporeport{
  //   top: -3px;
  //   position: relative;
  //  }


   table thead,
   tbody tr {
     display: table;
     width: 100%;
     table-layout: fixed;
   }
   
   table {
     width: 100%;
   }
   
   table tbody div {
     height: 350px;
   }


   .grafica{
    z-index: 999;
    margin-top: 24px;
    right: -50px;
    position: relative;
   }

   .form-group {
     width: 250px;
   }

   .search-input {
     width: 90%;
     text-transform: uppercase;
   }
//    .botonesClient{
  
//     position: relative;
// }

  .graficaCordina{
    padding-bottom: 100px;
    top: 90px;
    position: relative;
  }


  .globo11{
    position: relative;
    left: -1%;
  }
  .globo22{
    position: relative;
    left: 40%;
  }
  .globo33{
    position: relative;
    left: 75%;
  }