<div class="content-heading">
  <div>
     Sistema de Reportes
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n de Reportes.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
      <li class="breadcrumb-item active">Reportes</li>
  </ol>
</div>



<ngx-spinner
bdColor="rgba(198,195,195,0.8)"
size="medium"
color="#90daff"
type="square-jelly-box"
></ngx-spinner>





<div class="row sombra " style="font-size: 12px">



  <div class="col-xl-2" id="divSucursal">

        <div class="form-group">
        

              <form  [formGroup]="FormSucursal">
                  <ngx-select
                  [allowClear]="true"
                  autoClearSearch="true"
                 placeholder="Sucursales..."
                 formControlName = "SucursalControl"
                 (data)="(value)"
                 [multiple]="true"
                 [items]="Oficina"
                 size="small"
                 optionValueField="id"
                 optionTextField="nombre"
                 (remove)="sucursalChange()"
                 (select)="sucursalChange()"
               >
                 <ng-template  ngx-select-option-selected let-option >
                   <span >{{ option.data.nombre }}</span>
                 </ng-template>
                 <ng-template ngx-select-option-not-found>
                    <span style="font-size: 11px">No se encontraron resultados...</span>

                  </ng-template>
               </ngx-select>
               </form>

        </div>

    </div>

<div class="col-xl-2">
    <div class="form-group divtiporeport">
     
      <select *ngIf="TipoUsuario != 11"  (change)="Ocultar()" class="form-control" id="TipoReporte">
          <option value="1">Por Solicitud</option>
          <option value="2">Por Estatus</option>
          <option selected value="3">General</option>
          <option value="4">Productividad Cubiertos</option>
          <option value="5">Cumplimiento</option>
          <option value="6">Detalle Coordinador</option>
          <option value="7">Coordinacion</option>
          <option value="8">Candidato Bolsa</option>
          <option value="9">Vacantes</option>
          <option value="10">Clientes</option>
          <option value="11">Cubiertos</option>
      </select>
      <select *ngIf="TipoUsuario == 11"  (change)="Ocultar()" class="form-control" id="TipoReporte">
        <option value="1">Por Solicitud</option>
        <option value="2">Por Estatus</option>
        <option selected value="3">General</option>
    </select>
    </div>
</div>



<div class="col-xl-2" id="divFechaInicial">

  <div class="form-group">
     
      <mat-form-field >
          <input   matInput [max]="date.value" [matDatepicker]="fechaInicial" id="fechaInicial"  [formControl]="date2" >
          <mat-datepicker-toggle matSuffix [for]="fechaInicial"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicial></mat-datepicker>
        </mat-form-field>
    </div>
    
</div>



<div class="col-xl-2" id="divFechafinal">
    <div class="form-group">
      
        <mat-form-field  >
            <input  matInput [min]="date2.value"  [max]="date3.value"    [matDatepicker]="fechaFinal" id="fechaFinal"  [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
            <mat-datepicker #fechaFinal ></mat-datepicker>
          </mat-form-field>
      </div>
</div>


<div class="col-xl-6 ocultar" id="divEmpresas2">

    <!-- <mat-form-field class="col-12">
        <input #RazonSocialCtrl type="text" placeholder="Razon Social" aria-label="Number" matInput formControlName="RazonSocial" [value]="RazonSocialCtrl.value.toUpperCase()"
          [matAutocomplete]="cliente" (keyup.enter)="filter()" required="" />
        <mat-autocomplete #cliente="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let option of AuxOptions" [value]="option.razonSocial" class="option-container">
            <span class="razonSocial"><strong>{{option.razonSocial | uppercase}}</strong></span>
            <span class="more-option"><strong class="text-info">RFC: </strong><span
                class="text-warning">{{option.rfc | uppercase}}</span></span>
            <span class="more-option"><strong class="text-info">Nombre Comercial: </strong><span
                class="text-warning">{{option.nombrecomercial | uppercase}}</span></span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> formato-cliente-->

    <div class="form-group input-sm" >
      
        <form [formGroup]="FormEmpresas">
            <ngx-select
           [allowClear]="true"
           autoClearSearch="true"
           placeholder="Empresas..."
           formControlName = "ClientesControl"
           (data)="(value)"
           class="select-asig"
          
           [items]="Clientes"
           (remove)="empresaChange()"
           (select)="empresaChange()"
           size="small"
           optionValueField="id"
           optionTextField="razonSocial"
         >
         
           <ng-template ngx-select-option-selected let-option let-text="descripcion">
             <span style="font-size: 9px !important">{{ option.data.razonSocial }}</span>
           </ng-template>
           <ng-template ngx-select-option let-option let-text="text">
              <span class="razonSocial"><strong>{{option.data.razonSocial}}</strong></span>
              <br>
              <span class="more-option"><strong class="text-info">RFC: </strong><span
                  class="text-warning">{{option.data.rfc }}</span></span>
                  <br>
              <span class="more-option"><strong class="text-info">Nombre Comercial: </strong><span
                  class="text-warning">{{option.data.nombrecomercial }}</span></span>
              <!-- <span style="font-size: 9px !important">{{ option.data.razonSocial }}</span>
              <br>
              <small>hola</small> -->
          </ng-template>
           <ng-template ngx-select-option-not-found>
             No se encontraron resultados...
           </ng-template>
         </ngx-select>
         </form>
      </div>
</div>




<div class="col-xl-2 ocultar" id="divEdad">
    <div class="form-group ">
    
      <select  (change)="Ocultar()" class="form-control" id="EdadReporte">
          <option value="0">Edad, Todos</option>
          <option value="16">16 - 20</option>
          <option value="21">21 - 25</option>
          <option value="26">26 - 30</option>
          <option value="31">31 - 35</option>
          <option value="36">36 - 40</option>
          <option value="41">41 - 45</option>
          <option value="46">46 - 50</option>
          <option value="51">51 - 55</option>
          <option value="56">56 - 60</option>
          <option value="61">61 - 65</option>
          <option value="66">66 - 70</option>
          <option value="71">71 - 75</option>
          <option value="76">mas de 76 </option>

      </select>
    </div>
  </div>

  <div class="col-xl-2 ocultar" id="divgenero">
      <div class="form-group ">
      
        <select  (change)="Ocultar()" class="form-control" id="GeneroReporte">
            <option value="0">Genero, Todos</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
        </select>
      </div>
    </div>

<div class="col-xl-2 ocultar" id="divEstado">
    <div class="form-group">
      
            <form  [formGroup]="FormEstado">
                <ngx-select
                [allowClear]="true"
                autoClearSearch="true"
               placeholder="Entidad federativa..."
               formControlName = "EstadoControl"
               (data)="(value)"
               [multiple]="true"
               [items]="ListaEstado"
               size="small"
               optionValueField="id"
               optionTextField="estado"
               (remove)="EstadoChange()"
               (select)="EstadoChange()"
             >
               <ng-template  ngx-select-option-selected let-option >
                 <span >{{ option.data.estado }}</span>
               </ng-template>
               <ng-template ngx-select-option-not-found>
                  <span style="font-size: 11px">No se encontraron resultados...</span>
                </ng-template>
             </ngx-select>
             </form>
      </div>
</div>


<div class="col-xl-2" id="divTipoReclu">
    <div class="form-group">
      
            <form  [formGroup]="FormTipoReclu">
                <ngx-select
                [allowClear]="true"
                autoClearSearch="true"
               placeholder="Reclutamiento..."
               formControlName = "TiporecluControl"
               (data)="(value)"
               [multiple]="true"
               [items]="reclutaList"
               size="small"
               optionValueField="id"
               optionTextField="nombre"
               (remove)="tiporeclutaChange()"
               (select)="tiporeclutaChange()"
             >
               <ng-template  ngx-select-option-selected let-option >
                 <span >{{ option.data.nombre }}</span>
               </ng-template>
               <ng-template ngx-select-option-not-found>
                  <span style="font-size: 11px">No se encontraron resultados...</span>
                </ng-template>
             </ngx-select>
             </form>
      </div>
</div>

    <div class="col-xl-2" id="divcordinacion">
      <div class="form-group">
      
            <form  [formGroup]="FormCordina">
                <ngx-select
                [allowClear]="true"
                autoClearSearch="true"
               placeholder="Coordinación..."
               formControlName = "CordinaControl"
               (data)="(value)"
               [multiple]="true"
               [items]="cordinaList"
               size="small"
               optionValueField="id"
               optionTextField="nombre"
               (remove)="cordinaChange()"
               (select)="cordinaChange()"
             >
               <ng-template  ngx-select-option-selected let-option >
                 <span >{{ option.data.nombre }}</span>
               </ng-template>
               <ng-template ngx-select-option-not-found>
                  <span style="font-size: 11px">No se encontraron resultados...</span>
                </ng-template>
             </ngx-select>
             </form>
      </div>
      </div>


      <div class="col-xl-2 " id="divestatus">
        <mat-form-field >
          <mat-label>Estatus</mat-label>
          <mat-select name="estatuSelect"  (selectionChange)="PruebaEstatus($event.value)"
          multiple
          style="z-index: 100px !important">
            <!-- <mat-option> None </mat-option> -->
            <mat-optgroup *ngFor="let group of EstatusGeneral" [label]="group.nombre">
                <mat-option class="prueba" style="color: red" [attr.name]="'Cate_'+group.nombre" (click)="ActivaCheck(group.nombre)" [value]="0">Todos los {{group.nombre}} </mat-option>
              <mat-option [attr.id]="'o_'+item.id"   [attr.name]="'namee'+item.id"  *ngFor="let item of group.pieza"  [value]="item.id">
                {{item.descripcion}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-xl-4 ocultar" id="divestatus2">
        <div class="form-group input-sm" style="z-index: 100px !important">
          <form [formGroup]="FormEstatus">
              <ngx-select
             [allowClear]="true"
             autoClearSearch="true"
             placeholder="Estatus..."
             formControlName = "EstatusControl"
             (data)="(value)"
             [multiple]="true"
             [items]="Estatus"
             size="small"
             optionValueField="id"
             optionTextField="descripcion"
             (remove)="estatusChange()"
             (select)="estatusChange()">
             <ng-template ngx-select-option-selected let-option  >
               <span style="font-size: 10px !important" >{{ option.data.descripcion }}</span>
             </ng-template>
             <ng-template ngx-select-option-not-found>
                <span style="font-size: 11px">No se encontraron resultados...</span>
              </ng-template>
           </ngx-select>
           </form>
        </div>
    </div>

    

<div class="col-xl-2" id="divSolicitante">
    <div class="form-group" >
      <form [formGroup]="FormSolicitante" style="font-size: 10px !important">
          <ngx-select
          [allowClear]="true"
          autoClearSearch="true"
         placeholder="Solicitantes..."
         formControlName = "SolicitanteControl"
         (data)="(value)"
         [multiple]="true"
         [items]="UsuarioSol"
         optionValueField="usuario"
         optionTextField="nombre"
         size="small"
         (remove)="solicitanteChange()"
         (select)="solicitanteChange()">
         <ng-template  size="small" ngx-select-option-selected let-option >
           <span style="font-size: 10px !important" >{{ option.data.nombre }}</span>
         </ng-template>
         <ng-template ngx-select-option-not-found>
            No se encontraron resultados...
          </ng-template>
       </ngx-select>
       </form>

      <!-- <select class="form-control" id="solicitanteR">
        <option value="0">Todos los solicitantes</option>
        <option value="{{ item.usuario }}" *ngFor="let item of Usuario">{{
          item.nombre
        }}</option>
      </select> -->
    </div>

</div>



<div class="col-xl-4" id="divEmpresas">
    <div class="form-group input-sm" >
      <form [formGroup]="FormEmpresas">
          <ngx-select
         [allowClear]="true"
         autoClearSearch="true"
         placeholder="Empresas..."
         formControlName = "ClientesControl"
         (data)="(value)"
         class="select-asig"
         [multiple]="true"
         [items]="Empresas"
         (remove)="empresaChange()"
         (select)="empresaChange()"
         size="small"
         optionValueField="id"
         optionTextField="razonSocial"
       >
         <ng-template ngx-select-option-selected let-option let-text="descripcion">
           <span style="font-size: 9px !important">{{ option.data.razonSocial }}</span>
         </ng-template>
         <ng-template ngx-select-option-not-found>
           No se encontraron resultados...
         </ng-template>
       </ngx-select>
       </form>
    </div>
</div>


<div class="col-xl-4" id="divreclutador">
    <div class="form-group input-sm">
      <form [formGroup]="FormReclutador">
          <ngx-select
         [allowClear]="true"
         autoClearSearch="true"
         placeholder="Reclutador..."
         formControlName = "ReclutadorControl"
         (data)="(value)"
         [multiple]="true"
         [items]="Usuario"
         size="small"
         optionValueField="id"
         optionTextField="nombre"
         (remove)="reclutadorChange()"
         (select)="reclutadorChange()">
         <ng-template ngx-select-option-selected let-option >
           <span style="font-size: 13px !important">{{ option.data.nombre }}</span>
         </ng-template>
         <ng-template ngx-select-option-not-found>
            No se encontraron resultados...
          </ng-template>
       </ngx-select>
       </form>

    </div>
</div>

<div class="col-xl-4 ocultar" id="divBusCoordina2">
  <div class="form-group input-sm " >
   
    <form [formGroup]="FormUserCor">
        <ngx-select
       [allowClear]="true"
       autoClearSearch="true"
       placeholder="Coordinador..."
       formControlName = "UserCorControl"
       (data)="(value)"
       [multiple]="true"
       [items]="UsuarioCor"
       size="small"
       optionValueField="id"
       optionTextField="nombre"
       (remove)="UsuarioCorChange()"
       (select)="UsuarioCorChange()">
       <ng-template ngx-select-option-selected let-option >
         <span style="font-size: 13px !important">{{ option.data.nombre }}</span>
       </ng-template>
       <ng-template ngx-select-option-not-found>
          No se encontraron resultados...
        </ng-template>
     </ngx-select>
     </form>
  </div>
</div>

<div class="col-xl-4" id="Divdivbusca">
    <div class="form-group input-sm" id="divBusCoordina">
     
      <form [formGroup]="FormUserCor">
          <ngx-select
         [allowClear]="true"
         autoClearSearch="true"
         placeholder="Coordinador..."
         formControlName = "UserCorControl"
         (data)="(value)"
         [multiple]="true"
         [items]="UsuarioCor"
         size="small"
         optionValueField="id"
         optionTextField="nombre"
         (remove)="UsuarioCorChange()"
         (select)="UsuarioCorChange()">
         <ng-template ngx-select-option-selected let-option >
           <span style="font-size: 13px !important">{{ option.data.nombre }}</span>
         </ng-template>
         <ng-template ngx-select-option-not-found>
            No se encontraron resultados...
          </ng-template>
       </ngx-select>
       </form>
    </div>
</div>

<div class="col-xl-4" id="Divdiv"></div>
<div class="col-xl-4 ocultar" id="DivdivReclu"></div>
<div class="col-xl-2 ocultar" id="Divdiv3">
  <div class="form-group divtiporeport">
    <select  (change)="OcultarCliente()" id="TipoRcliente" class="form-control" >
        <option selected value="1">Clientes activos </option>
        <option value="2">Clientes sin servicio </option>
        <option value="3">Ultimo servicio ofrecido</option>
    </select>
  
  </div>
</div>



  <div class="col-xl-2"  >
      <button id="btnGraficaVacante"   (click)="GraficaVacante.Generar(objempresa,objtipocordi)" class="ocultar btn btn-sm btn-primary btnReport mat-elevation-z8 grafica" tooltip="Grafica">
          <em  class="fa fa-pie-chart" ></em>
        </button>
        <button id="btnGraficaCliente"   (click)="GraficaCliente.Generar()" class="ocultar btn btn-sm btn-primary btnReport mat-elevation-z8 grafica" tooltip="Grafica">
          <em  class="fa fa-pie-chart" ></em>
        </button>
        <button id="btnGraficaCordina" (click)="CordinacionOcul()"  (click)="GraficaCordina.ngOnInit()" class="ocultar btn btn-sm btn-primary btnReport mat-elevation-z8 grafica" tooltip="Grafica">
            <em  class="fa fa-pie-chart" ></em>
          </button>
    </div>



    <div class="col-xl-2" id="DivBotones" style="margin-top: 10px;">
        <button id="exel1" tooltip="Exportar" (click)="hijo.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exel2" tooltip="Exportar" (click)="ReGeneral.exportAsXLSX()" class=" btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelProact" tooltip="Exportar" style="right: auto;" (click)="ProAct.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelDetalleReclu" tooltip="Exportar" style="right: auto;" (click)="DetalleReclu.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelDetalleCordi" tooltip="Exportar" style="right: auto;" (click)="DetalleCordi.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelCoordinacion" tooltip="Exportar" style="right: auto;" (click)="Cordinacion.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelCandidato" tooltip="Exportar" style="right: auto;" (click)="Candidato.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelVacante" tooltip="Exportar" style="right: auto;" (click)="Vacante.Exportar()" class="ocultar btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelCliente" tooltip="Exportar" style="right: auto;" (click)="Clientes2.Exportar()" class="ocultar botonesClient btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelClienteDetalle" tooltip="Exportar" style="right: auto;" (click)="ClientesDetalle.Exportar()" class="ocultar botonesClient btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>
          <button id="exelCubierto" tooltip="Exportar" style="right: auto;" (click)="CubiertoReport.Exportar()" class="ocultar botonesClient btn btn-sm btn-warning btnReport mat-elevation-z8">
            <em  class="fa fa-download"></em>
          </button>



        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" (click)="hijo.Generar(objsucursal,objsolicit,objrecluta,objempresa,objstatus,objtiporeclu,objtipocordi,objusercoo)" tooltip="Generar Reporte" id="report1"  >
            <em class="fa fa-bar-chart"></em>
          </button>
        <button class=" btn btn-sm btn-success btnReport mat-elevation-z8" (click)="ReGeneral.llamado(objsucursal,objsolicit,objrecluta,objempresa,objstatus,objtiporeclu,objtipocordi)" tooltip="Generar Reporte" id="report2"  >
            <em  class="fa fa-bar-chart"></em>
          </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="ProAct.Generar(objrecluta,objtipocordi)" tooltip="Generar Reporte" id="repProActi"  >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="DetalleReclu.Generar(objrecluta,objtipocordi)" tooltip="Generar Reporte" id="repDetalleReclu"  >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="DetalleCordi.Generar(objusercoo,objtipocordi)" tooltip="Generar Reporte" id="repDetalleCordina"  >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="Cordinacion.Generar(objstatus)" tooltip="Generar Reporte" id="repCoordinacion"  >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="Candidato.Generar(objestado,objstatus)" tooltip="Generar Reporte" id="repCandidato"  >
            <em  class="fa fa-bar-chart"></em>
        </button>
        <button class="ocultar btn btn-sm btn-success btnReport mat-elevation-z8" style="right: auto;" (click)="Vacante.Generar(objempresa,objtipocordi)" tooltip="Generar Reporte" id="repVacante"  >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button id="repCliente"  (click)="Clientes2.Generar()" tooltip="Generar Reporte" style="right: auto;"   class="ocultar botonesClient btn btn-sm btn-success btnReport mat-elevation-z8" >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button id="repClienteDetalle"  (click)="ClientesDetalle.Generar()" tooltip="Generar Reporte" style="right: auto;"   class="ocultar botonesClient btn btn-sm btn-success btnReport mat-elevation-z8" >
          <em  class="fa fa-bar-chart"></em>
        </button>
        <button id="repCubierto"  (click)="CubiertoReport.Generar()" tooltip="Generar Reporte" style="right: auto;"   class="ocultar botonesClient btn btn-sm btn-success btnReport mat-elevation-z8" >
          <em  class="fa fa-bar-chart"></em>
        </button>

      </div>


</div>




<div style="margin-top: -77px">
<app-tabla-reporte class="ocultar" id="DivReportefil" #hijo [data]="true"></app-tabla-reporte>

<app-reporte70 class="ocultar" id="Divprincipal" #ReGeneral ></app-reporte70>

<app-productividad id="DivProacti" #ProAct > </app-productividad>

<app-detallerecluta id="DivDetalleReclu" #DetalleReclu > </app-detallerecluta>

<app-detallecordina id="DivDetalleCordi" #DetalleCordi></app-detallecordina>

<app-coordinacion  id="DivCoordinacion" #Cordinacion></app-coordinacion>

<app-candidatobolsa id="DivCandidato" #Candidato ></app-candidatobolsa>

<app-vacante id="DivVacante" #Vacante ></app-vacante>

<app-cliente id="DivClientes" #Clientes2 ></app-cliente>

<app-cliente-detalle id="DivClienteDetalle" #ClientesDetalle></app-cliente-detalle>

<app-cubierto id="DivCubiertoReport" #CubiertoReport></app-cubierto>



<app-grafica-resumen class="ocultar" id="DivGraficaVacante" #GraficaVacante></app-grafica-resumen>
<app-grafica-cliente class="ocultar" id="DivGraficaCliente" #GraficaCliente></app-grafica-cliente>
<div class="graficaCordina">
    <app-grafica-coordinacion class="ocultar" id="DivGraficaCordina" #GraficaCordina></app-grafica-coordinacion>
</div>

</div>

