<p>
  Reportes
</p>
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<div class="row">
  <div class="col-xl-12">
      <div class="form-group busqueda">
          <label for="bus">Busqueda:</label>
         <div class="input-group">
              <input id="palabra" type="text" #palabra (blur)="hijo.Guardar(palabra.value)" placeholder="Palabra clave" class=" form-control"/>
              <div  class="input-group-append mano" (click)="hijo.Generar()">
                  <span  class="input-group-text ">
                    <em  class="fa fa-search"></em></span>
                    </div>
              
         </div>
         <!-- <div _ngcontent-c33="" class="input-group">
           <input _ngcontent-c33="" class="form-control form-control-sm" placeholder="Filtrar" type="text">
            <div _ngcontent-c33="" class="input-group-append">
              <span _ngcontent-c33="" class="input-group-text text-info">
                <em _ngcontent-c33="" class="fa fa-search"></em></span>
                </div>
          </div> -->
          
        </div>
    
  </div>
</div>

<div class="row">
 
    <div class="col-xl-3">
        <div class="col-xl-12">
            <div class="form-group">
              <label for="sel1">Sucursal:</label>
              <select class="form-control" id="oficina">
                  <option value="0">Todas las sucursales</option>
                <option value="1">Guadalajara</option>
                <option value="2">México</option>
                <option value="3">Monterrey</option>
              </select>
            </div>
          </div>
    </div>
    <div class="col-xl-3">
        <div class="col-xl-12">
            <div class="form-group">
              <label for="sel2">Tipo de Reporte:</label>
              <select class="form-control" id="sel2">
                <option>Contratado vs Requerido</option>
                <option>Estatus de Vacantes</option>
                <option>Captación</option>
                <option>Productividad</option>
                <option>Fecha de Solicitud</option>
              </select>
            </div>
          </div>
      </div>
      <div class="col-xl-3">
          <div class="col-xl-12">
              <div class="form-group">
                <label for="sel3">Fecha Inicio :</label>
                <input class="form-control" type="date" id="fechaInicial" name="fecha" min="2019-01-20"
                max="2019-03-04" >
              </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="col-xl-12">
                <div class="form-group">
                    <label for="sel3">Fecha Fin :</label>
                    <input class="form-control" type="date" id="fechaFinal" name="fecha" min="2019-01-20"
                    max="2019-03-04" >
                </div>
              </div>
          </div>


          <div class="col-xl-3">
              <div class="col-xl-12">
                  <div class="form-group">
                    <label for="empresaR">Empresa:</label>
                    <select  class="form-control" id="empresaR">
                        <option selected value="0">Todas las empresas</option>
                      <option value="{{item.id}}" *ngFor="let item of Empresas">{{item.razonSocial}}</option>
                    </select>
                  </div>
                </div>
          </div>
          <div class="col-xl-3">
              <div class="col-xl-12">
                  <div class="form-group">
                    <label for="solicitanteR">Solicitante:</label>
                    <select  class="form-control" id="solicitanteR">
                        <option value="0">Todos los solicitantes</option>
                        <option value="{{item.usuario}}" *ngFor="let item of Usuario">{{item.nombre}}</option>
                      </select>
                  </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="col-xl-12">
                    <div class="form-group">
                      <label for="tiporeclutaR">Tipo  Reclutamiento:</label>
                      <select class="form-control" id="tiporeclutaR">
                        <option value="0">Todos los reclutamientos</option>
                        <option value="1">Reclutamiento Puro</option>
                        <option value="2">Subcontratación</option>
                      </select>
                    </div>
                  </div>
              </div>
              <div class="col-xl-3">
                  <div class="col-xl-12">
                      <div class="form-group">
                        <label for="condinacionR">Tipo Coordinación:</label>
                        <select class="form-control" id="condinacionR">
                            <option value="0">Todas las coordinaciones</option>
                          <option value="1">Especializado</option>
                          <option value="2">Operativo</option>
                          
                        </select>
                      </div>
                    </div>
                </div>


                <div class="col-xl-3">
                    <div class="col-xl-12">
                        <div class="form-group">
                          <label for="sel1">Estatus:</label>
                          <select  class="form-control" id="estatusR">
                              <option value="0">Todos los estatus</option>
                              <option value="{{item.id}}" *ngFor="let item of Estatus">{{item.descripcion}}</option>
                            </select>
                        </div>
                      </div>
                </div>
                <div class="col-xl-3">
                    <div class="col-xl-12">
                        <div class="form-group">
                          <label for="sel2">Reclutador:</label>
                          <select class="form-control" id="reclutadorR">
                              <option value="0">Todos los reclutadores</option>
                              <option value="{{item.Id}}" *ngFor="let item of Usuario">{{item.nombre}}</option>
                          </select>
                        </div>
                      </div>
                  </div>
                 
                   
  </div>

  <button (click)="hijo.Exportar()" class="btn btn-warning btnReport">
      Exportar
    </button>

<button (click)="hijo.Generar()" class="btn btn-success btnReport">
  Generar Reporte
</button>

<div>
  <app-tabla-reporte #hijo [data]='true'></app-tabla-reporte>
</div>