
.btnReport{
    float: right;
    margin: 15px;
}

.busqueda{
    position: relative;
    /* float: right; */
    /* margin: 10px; */
    left: 78%;
    /* margin-left: auto; */
    width: 225px;
    margin-bottom: 15px;
}

.mano{
    cursor: pointer;
}