
.btnReport{
    float: right;
    margin: 15px;
}

.busqueda{
    position: relative;
    /* float: right; */
    /* margin: 10px; */
    left: 78%;
    /* margin-left: auto; */
    width: 225px;
    margin-bottom: 15px;
}

.mano{
    cursor: pointer;
}

.ocultar{
    display: none;
}

.botonmargen{
    float: right;
    margin-top: -2px;
}

.busmargen{
    float: left;
    right: -67%;
    top: 10px;
}

.sombra{
    -webkit-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.75);
    padding-top: 10px;
   }



   .divtiporeport{
    top: -3px;
    position: relative;
   }


   table thead,
   tbody tr {
     display: table;
     width: 100%;
     table-layout: fixed;
   }
   
   table {
     width: 100%;
   }
   
   table tbody div {
     height: 350px;
   }