<div class="content-heading">
    <div>
     Clientes
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n Clientes</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/ventas/directorio']">Directorio Empresarial</a>
      </li>
      <li class="breadcrumb-item active">Clientes</li>
    </ol>
  </div>

  <app-dt-clientes></app-dt-clientes>