<!-- <div class="dt-container mat-elevation-z8">-->
<div class="title-headre-view">
  <h4>Direcci&oacute;n</h4>
</div>
<!-- <div class="card card-default"> -->
<div class="table-responsive" #tableContainer>
  <table id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
    <thead>
      <tr>
        <th *ngFor="let column of columns" class="{{column.className || ''}}">{{column.title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
        <td class="text-center">
          {{row.tipoDireccion | uppercase}}
        </td>
        <td class="text-center"> {{row.pais | uppercase}}</td>
        <td class="text-center"> {{row.estado | uppercase}}</td>
        <td class="text-center"> {{row.municipio | uppercase}}</td>
        <td class="text-center"> {{row.colonia | uppercase}}</td>
        <td class="text-center"> {{row.calle | uppercase}}</td>
        <td class="text-center"> {{row.numeroExterior}}</td>
        <td class="text-center"> {{row.numeroInterior}}</td>
        <td class="text-center"> {{row.codigoPostal}}</td>
        <td class="text-center">
          <span *ngIf="row.activo">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.activo">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
        <td class="text-center">
          <span *ngIf="row.principal">
            <small class="badge badge-pill badge-success text-white text-center"><em class="fa fa-check"></em></small>
          </span>
          <span *ngIf="!row.principal">
            <small class="badge badge-pill badge-warning text-white text-center"><em class="fa fa-close"></em></small>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div> -->
<!-- </div> -->

<!-- Modal para vista previa de la vacante -->
<div *ngIf="isModalRutasShown" [config]="{show: true, ignoreBackdropClick: true}" (onHidden)="onHidden()" bsModal
  #RutasModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Rutas de Camiones</h4>
        <button type="button" class="close pull-right" (click)="closeModalRutasCamion()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" #tableContainer *ngIf="rutasCamion.length > 0 else NotResult">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center text-success">Ruta</th>
                <th class="text-center text success">Via</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of rutasCamion">
                <td class="text-center">{{x.ruta  | uppercase}}</td>
                <td class="text-center">{{x.via  | uppercase}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #NotResult>
          <alert type="info">
            <strong>Oops!</strong> Esta direcci&oacute;n no cuenta con rutas registradas...
          </alert>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="md-1 btn btn-success mat-elevation-z8"
          (click)="closeModalRutasCamion()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
