
<div class="row">
  <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
    <div *ngIf="candidato" class="dt-container mat-elevation-z8">
      <div class="card-header justify-content-between">
        <em class="fa fa-user-circle-o"></em>
        <label> Informaci&oacute;n Principal</label>
        <!-- <a class="float-right text-muted" (click)="favContact1=!favContact1">
          <em class="fa" [ngClass]="favContact1 ? 'fa-star text-warning' : 'fa-star-o'"></em>
        </a> -->
      </div>
      <div class="card-body text-center">
        <img class="img-fluid img-thumbnail rounded-circle thumb96" [src]="candidato.picture" alt="Contact" />
        <h4>{{candidato.nombre}}</h4>
        <div *ngIf="!candidato.estatus || procesoCandidatoId === 27 || reclutador === usuario">
          <div *ngIf="candidato.aboutMe">
            <mat-divider></mat-divider>
            <span class="text-muted">{{candidato.aboutMe}}</span>
            <mat-divider></mat-divider>
          </div>

          <div>
            <strong>Edad: </strong>
            <label class="text-success">{{candidato.edad}} años</label>
          </div>
          <div>
            <strong>G&eacute;nero: </strong>
            <label class="text-success">{{candidato.genero}}</label>
          </div>
          <div *ngIf="candidato.info.estadoCivil">
            <strong>Estado civil: </strong>
            <label class="text-success">{{candidato.info.estadoCivil.estadoCivil}}</label>
          </div>
          <div>
            <strong>Correo: </strong>
            <label class="text-success" *ngIf="candidato.correo else NotEmail">{{candidato.correo}}</label>
            <ng-template #NotEmail>
              <label class="text-success">Sin Registro</label>
            </ng-template>
          </div>
          <div *ngFor="let x of candidato.telefonos">
            <strong>Tel&eacute;fono {{x.tipoTelefono.tipo}}: </strong>
            <label class="text-success">{{x.telefono}}</label>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-2 text-center">
            <em *ngIf="!candidato.estatus || procesoCandidatoId === 27" class="fa fa-unlock m-0  text-success"></em>
            <em *ngIf="procesoCandidatoId != 27 && candidato.estatus" class="fa fa-lock m-0 text-primary"></em>
          </div>
          <div class="col-md-10 text-right">
            <h5 *ngIf="candidato.estatus" class="m-0"
              [ngClass]="(procesoCandidatoId === 27) ? 'text-success':'text-primary'">{{Status}} por: {{reclutador}}</h5>
            <h5 *ngIf="!candidato.estatus" class="text-success">Candidato Disponible</h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="candidato" class="dt-container mat-elevation-z8">
      <div class="card-body">
        <h5 class="text-primary">Postulaciones ({{registros_p}})
          <span class="pull-right">
            <em class="fa fa-bookmark-o"></em>
          </span>
        </h5>
        <div class="card card-default">
          <div class="table-responsive">
            <table ngClass="{{config_p.className || ''}}" role="grid" style="width: 100%;">
              <thead>
                <tr>
                  <th *ngFor="let column of columns_p" class="{{column.className || ''}}">{{column.title}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows_p">
                  <td class="text-center"> {{row.folio}} </td>
                  <td class="text-center"> {{row.vBtra}}</td>
                  <td class="text-center">
                    <small class="badge badge-pill" [class.badge-warning]="row.estatusId  === 1 || row.estatusId  === 2 || row.estatusId  === 3 "
                      [class.badge-primary]="row.estatusId  === 4" [class.badge-danger]="row.estatusId  === 5"
                      [class.badge-success]="row.estatusId  === 6" [class.badge-success]="row.estatusId  === 7">
                      {{row.estatus }}
                    </small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
    <div class="mat-elevation-z8" *ngIf="candidato">
      <tabset [justified]="true">
        <tab heading="Información de Candidato" id="infoCand">
          <accordion [closeOthers]="oneAtATime">
            <accordion-group [isOpen]="isFirstOpen">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Acerca de M&iacute;</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-user-circle-o"></em>
                </span>
              </button>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div id="nacionalidad">
                    <h5 class="text-muted">Nacionalidad / Lugar Nacimiento
                      <span class="pull-right">
                        <em class="fa fa-globe"></em>
                      </span>
                    </h5>
                    <mat-divider></mat-divider>
                    <div>
                      <strong class="text-primary">Fecha Nacimiento: </strong>
                      <label class="text-muted">{{candidato.info.fechaNacimiento | date: 'dd/MM/yy'}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Lugar Nacimiento: </strong>
                      <label class="text-muted"> {{candidato.info.estadoNacimiento.estado}},
                        {{candidato.info.paisNacimiento.pais}}</label>
                    </div>
                  </div>
                  <div id="discapacidad" *ngIf="candidato.info.esDiscapacitado">
                    <br>
                    <h5 class="text-muted">Discapacidad
                      <span class="pull-right">
                        <em class="fa fa-wheelchair"></em>
                      </span>
                    </h5>
                    <mat-divider></mat-divider>
                    <div>
                      <strong class="text-primary">Tipo Discapacidad: </strong>
                      <label class="text-muted" *ngIf="candidato.info.tipoDiscapacidad else NotDiscapacidad">
                        {{candidato.info.tipoDiscapacidad.tipoDiscapacidad}}</label>
                      <ng-template #NotDiscapacidad>
                        <label class="text-muted">Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Descripci&oacute;n Discapacidad: </strong>
                      <label class="text-muted" *ngIf="candidato.info.otraDisacapacidad else NotOtraDiscapacidad">
                        {{candidato.info.otraDiscapacidad}}</label>
                      <ng-template #NotOtraDiscapacidad>
                        <label class="text-muted">Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                  <div id="otraInformacion">
                    <br>
                    <h5 class="text-muted">Otra Informaci&oacute;n
                      <span class="pull-right">
                        <em class="fa fa-info-circle"></em>
                      </span>
                    </h5>
                    <mat-divider></mat-divider>
                    <div>
                      <strong class="text-primary">Licencia de Conducir: </strong>
                      <label *ngIf="candidato.info.tieneLicenciaConducir" class="text-muted"> SI</label>
                      <label *ngIf="!candidato.info.tieneLicenciaConducir" class="text-muted"> NO</label>
                    </div>
                    <div *ngIf="candidato.info.tieneLicenciaConducir">
                      <strong class="text-primary">Tipo de Licencia: </strong>
                      <label class="text-muted"> {{candidato.info.tipoLicencia.tipoLicencia}} -
                        {{candidato.info.tipoLicencia.descripcion}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Vehiculo Propio: </strong>
                      <label  *ngIf="candidato.info.tieneVehiculoPropio" class="text-muted"> SI</label>
                      <label  *ngIf="!candidato.info.tieneVehiculoPropio" class="text-muted"> SI</label>
                    </div>
                    <div>
                      <strong class="text-primary">Puede Viajar: </strong>
                      <label *ngIf="candidato.info.puedeViajar" class="text-muted"> SI</label>
                      <label *ngIf="!candidato.info.puedeViajar" class="text-muted"> NO</label>
                    </div>
                    <div>
                      <strong class="text-primary">Puede Reubicarse: </strong>
                      <label *ngIf="candidato.info.puedeRehubicarse" class="text-muted"> SI</label>
                      <label *ngIf="!candidato.info.puedeRehubicarse" class="text-muted"> NO</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div id="identificaciones">
                    <h5 class="text-muted ">Identificaciones
                      <span class="pull-right">
                        <em class="fa fa-id-card-o"></em>
                      </span>
                    </h5>
                    <mat-divider></mat-divider>
                    <div>
                      <strong class="text-primary">CURP: </strong>
                      <label *ngIf="candidato.info.curp else NotCURP" class="text-muted"> {{candidato.info.curp}}</label>
                      <ng-template #NotCURP>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">RFC: </strong>
                      <label *ngIf="candidato.info.rfc else NotRFC" class="text-muted"> {{candidato.info.rfc}}</label>
                      <ng-template #NotRFC>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">NSS: </strong>
                      <label *ngIf="candidato.info.nss else NotNSS" class="text-muted"> {{candidato.info.nss}}</label>
                      <ng-template #NotNSS>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                  <br>
                  <div id="acerdademi" *ngIf="candidato.about">
                    <h5 class="text-muted "> Acerca de M&iacute;
                      <span class="pull-right">
                        <em class="fa fa-user"></em>
                      </span>
                    </h5>
                    <mat-divider></mat-divider>
                    <div>
                      <strong class="text-primary">Puesto Deseado: </strong>
                      <label *ngIf="candidato.about.puestoDeseado else NotPuestoDeseado" class="text-muted">
                        {{candidato.about.puestoDeseado}}</label>
                      <ng-template #NotPuestoDeseado>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Salario Aceptable: </strong>
                      <label *ngIf="candidato.about.salarioAceptable else NotSalarioA" class="text-muted">
                        {{candidato.about.salarioAceptable | currency: '$'}}</label>
                      <ng-template #NotSalarioA>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Salario Deseado: </strong>
                      <label *ngIf="candidato.about.salarioDeseado else NotSalarioD" class="text-muted">
                        {{candidato.about.salarioDeseado | currency: '$'}}</label>
                      <ng-template #NotSalarioD>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">&Aacute;rea Experiencia: </strong>
                      <label *ngIf="candidato.about.areaExperiencia else NotAreaE" class="text-muted">
                        {{candidato.about.areaExperiencia.areaExperiencia}}</label>
                      <ng-template #NotAreaE>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Intereses: </strong>
                      <label *ngIf="candidato.about.areaInteres else NotAreaI" class="text-muted">
                        {{candidato.about.areaInteres.areaInteres}}</label>
                      <ng-template #NotAreaI>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Perfil: </strong>
                      <label *ngIf="candidato.about.perfilExperiencia else NotPerfilExp" class="text-muted">
                        {{candidato.about.perfilExperiencia.perfilExperiencia}}</label>
                      <ng-template #NotPerfilExp>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">Sitio Web: </strong>
                      <label *ngIf="candidato.about.sitioWeb else NotSitioWeb" class="text-muted">
                        {{candidato.about.sitioWeb}}</label>
                      <ng-template #NotSitioWeb>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                    <div>
                      <strong class="text-primary">
                        Redes Sociales:
                      </strong>
                      <ng-container *ngIf="candidato.redSocial.length > 0 else NotRedSocial">
                        <div *ngFor="let x of candidato.redSocial">
                          <a href="{{x}}" class="text-muted">{{x}}</a>
                        </div>
                      </ng-container>
                      <ng-template #NotRedSocial>
                        <label class="text-muted"> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group>
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Direcci&oacute;n</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-home"></em>
                </span>
              </button>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div>
                    <strong class="text-primary">Tipo de Direcci&oacute;n: </strong>
                    <label *ngIf="candidato.direccion.tipodoreccion else NotTipoDirec" class="text-muted">{{candidato.direccion.tipoDireccion.tipoDireccion}}</label>
                    <ng-template #NotTipoDirec>
                      <label class="text-muted"> Sin Registro</label>
                    </ng-template>
                  </div>
                  <div>
                    <strong class="text-primary">Localidad: </strong>
                    <label class="text-muted">
                      {{candidato.direccion?.municipio?.municipio}}, {{candidato.direccion?.estado?.estado}},
                      {{candidato.direccion?.pais?.pais}}
                    </label>
                  </div>
                  <div>
                    <strong class="text-primary">Colonia: </strong>
                    <label class="text-muted" *ngIf="candidato.direccion.colonia else NotColonia">{{candidato.direccion.colonia.tipoColonia}},
                      {{candidato.direccion.colonia.colonia}}</label>
                    <ng-template #NotColonia>
                      <label class="text-muted"> Sin Registro</label>
                    </ng-template>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div>
                    <strong class="text-primary">Calle: </strong>
                    <label class="text-muted" *ngIf="candidato.direccion.calle else NotCalle">{{candidato.direccion.calle}}</label>
                    <ng-template>
                      <label class="text-muted">Sin Registro</label>
                    </ng-template>
                  </div>
                  <div>
                    <strong class="text-primary">Num. Ext / Int: </strong>
                    <label class="text-muted" *ngIf="candidato.direccion.numeroExterior else NotExterior">{{candidato.direccion.numeroExterior}} - </label>
                    <ng-template #NotExterior>
                      <label class="text-muted"> S/N</label>
                    </ng-template>
                    <label class="text-muted" *ngIf="candidato.direccion.numeroInterior else NotInterior">
                      {{candidato.direccion.numeroInterior}}</label>
                    <ng-template #NotInterior>
                      <label class="text-muted"> S/N</label>
                    </ng-template>
                  </div>
                  <div>
                    <strong class="text-primary">C&oacute;digo Postal: </strong>
                    <label class="text-muted">{{candidato.direccion.codigoPostal}}</label>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.experiencias">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Experiencia Profesional ({{candidato.experiencias.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-briefcase"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.experiencias">
                <h4 class="text-success ">{{x.empresa}}
                  <span *ngIf="x.trabajoActual" class="pull-right">
                    Actual
                    <em style="margin-left: 10px;" class="fa fa-street-view"></em>
                  </span>
                </h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">&Aacute;rea: </strong>
                      <label class="text-muted">{{x.area.areaExperiencia}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Puesto: </strong>
                      <label class="text-muted">{{x.cargoAsignado}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Descripci&oacute;n: </strong>
                      <label class="text-muted">{{x.descripcion}}</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Periodo: </strong>
                      <label class="text-muted">{{x.monthInicio.month}} {{ x.yearInicio.year}}</label>
                      <strong *ngIf="!x.trabajoActual" class="text-muted"> a </strong>
                      <label *ngIf="!x.trabajoActual" class="text-muted">{{x.monthTermino.month}} {{
                        x.yearTermino.year}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Salario: </strong>
                      <label class="text-muted">{{x.salario | currency: '$'}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.formaciones">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Formaci&oacute;n ({{candidato.formaciones.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-university"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.formaciones">
                <h4 class="text-success ">{{x.carrera.carrera}}
                  <span *ngIf="!x.actual" class="pull-right">
                    {{x.documentoValidador.documentoValidador}}
                  </span>
                  <span *ngIf="x.actual" class="pull-right">
                    Actual
                  </span>
                </h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Instituci&oacute;n: </strong>
                      <label class="text-muted">{{x.institucionEducativa.institucionEducativa}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Grado Estudio: </strong>
                      <label class="text-muted">{{x.gradosEstudio.gradoEstudio}}</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Estado Estudio: </strong>
                      <label class="text-muted">{{x.estadoEstudio.estadoEstudio}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Periodo: </strong>
                      <label class="text-muted">{{x.monthInicio.month}} {{x.yearInicio.year}} </label>
                      <strong *ngIf="x.monthTermino && x.yearTermino" class="text-muted"> a </strong>
                      <label class="text-muted" *ngIf="x.monthTermino && x.yearTermino"> {{x.monthTermino.month}}
                        {{x.yearTermino.year}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.certificaciones">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Certificaciones ({{candidato.certificaciones.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-certificate"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.certificaciones">
                <h4 class="text-success ">{{x.certificacion}}
                  <span *ngIf="x.actual" class="pull-right">
                    Actual
                  </span>
                </h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Licencia: </strong>
                      <label class="text-muted">{{x.licencia}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Autoridad Emisora: </strong>
                      <label class="text-muted">{{x.autoridadEmisora}}</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Vencimiento: </strong>
                      <label *ngIf="x.noVence" class="text-muted"> SI</label>
                      <label *ngIf="!x.noVence" class="text-muted"> NO</label>
                    </div>
                    <div>
                      <strong class="text-primary">Periodo: </strong>
                      <label class="text-muted">{{x.monthInicio.month}} {{x.yearInicio.year}} </label>
                      <strong *ngIf="x.monthTermino && x.yearTermino" class="text-muted"> a </strong>
                      <label class="text-muted" *ngIf="x.monthTermino && x.yearTermino"> {{x.monthTermino.month}}
                        {{x.yearTermino.year}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.cursos">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Cursos ({{candidato.cursos.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-graduation-cap"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.cursos">
                <h4 class="text-success ">{{x.curso}}
                  <span *ngIf="x.actual" class="pull-right">
                    Actual
                  </span>
                </h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Institución: </strong>
                      <label class="text-muted">{{x.institucionEducativa.institucionEducativa}}</label>
                    </div>
                    <div>
                      <strong class="text-primary">Horas: </strong>
                      <label class="text-muted">{{x.horas}}</label>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Periodo: </strong>
                      <label class="text-muted">{{x?.monthInicio?.month}} {{x?.yearInicio?.year}} </label>
                      <strong *ngIf="x.monthTermino && x.yearTermino" class="text-muted"> a </strong>
                      <label class="text-muted" *ngIf="x.monthTermino && x.yearTermino"> {{x?.monthTermino?.month}}
                        {{x?.yearTermino?.year}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.conocimientos">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-lefttext-warning text-warning">
                  <h5>Conocimientos / Habilidades ({{candidato.conocimientos.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-magic"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.conocimientos">
                <h4 class="text-success ">{{x.conocimiento}}
                </h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Herramienta: </strong>
                      <label *ngIf="x.herramienta else NotHerramienta" class="text-muted">{{x.herramienta}}</label>
                      <ng-template>
                        <label class="text-muted" #NotHerramienta> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div>
                      <strong class="text-primary">Nivel: </strong>
                      <label *ngIf="x.nivel else NotNivel" class="text-muted">{{x.nivel.nivel}}</label>
                      <ng-template>
                        <label class="text-muted" #NotNivel> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngIf="candidato.idiomas">
              <button class="btn btn-link btn-block clearfix acordin-padding" accordion-heading>
                <div class="pull-left float-left text-warning">
                  <h5>Idiomas ({{candidato.idiomas.length}})</h5>
                </div>
                <span class="float-right pull-right">
                  <em class="fa fa-language"></em>
                </span>
              </button>
              <div class="container" *ngFor="let x of candidato.idiomas">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div>
                      <strong class="text-primary">Idioma: </strong>
                      <label *ngIf="x.idioma else NotHerramienta" class="text-muted">{{x.idioma.idioma}}</label>
                      <ng-template>
                        <label class="text-muted" #NotHerramienta> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div>
                      <strong class="text-primary">Nivel Escrito: </strong>
                      <label *ngIf="x.nivelEscrito else NotNivelE" class="text-muted">{{x.nivelEscrito.nivel}}</label>
                      <ng-template>
                        <label class="text-muted" #NotNivelE> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div>
                      <strong class="text-primary">Nivel Hablado: </strong>
                      <label *ngIf="x.nivelHablado else NotnivelH" class="text-muted">{{x.nivelHablado.nivel}}</label>
                      <ng-template>
                        <label class="text-muted" #NotnivelH> Sin Registro</label>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </accordion-group>
          </accordion>
        </tab>
        <tab heading="Mis Vacantes ({{registros_v}})" id="vacantes">
          <div class="dt-header">
            <mat-form-field>
              <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config_v.filtering"
                (tableChanged)="onChangeTable_v(config_v)">
            </mat-form-field>
            <div class="row justify-content-between">
              <div class="d-flex align-items-stretch ">
                <!-- <btn-view (click)="openDialogShowRequi(element.id, element.folio)" matTooltip="Ver Requisición"></btn-view> -->
                <button [disabled]="procesoCandidatoId != 27 && procesoCandidatoId > 0 || vacante.id === requisicionId &&  reclutador != usuario || vacante.id === requisicionId && procesoCandidatoId != 27 "
                  [ngClass]="( procesoCandidatoId != 27 && procesoCandidatoId > 0 || vacante.id === requisicionId &&  reclutador != usuario ||  vacante.id === requisicionId && procesoCandidatoId != 27 ) 
                    ? 'mb-1 btn disabled' : 'mb-1 btn btn-outline-success'"
                  matTooltip="Apartar" (click)="_apartarCandidato()">
                  <em class="fa fa-thumbs-o-up"></em>
                </button>
                <button [disabled]="vacante.id != requisicionId && procesoCandidatoId != 27 || vacante.id === requisicionId &&  reclutador != usuario || vacante.id === requisicionId && procesoCandidatoId === 24 || procesoCandidatoId === 27  || !candidato.estatus"
                  [ngClass]="( vacante.id != requisicionId && procesoCandidatoId != 27 || vacante.id === requisicionId &&  reclutador != usuario || vacante.id === requisicionId && procesoCandidatoId === 24 || procesoCandidatoId === 27 || !candidato.estatus  ) 
                    ? 'mb-1 btn disabled':'mb-1 btn btn-outline-danger'"
                  matTooltip="Desapartar" (click)="_liberarCandidato()">
                  <em class="fa fa-thumbs-o-down"></em>
                </button>
              </div>
              <div>
                <!-- <button class="mb-1 btn btn-outline-primary" *ngIf="enProceso > 0">En Proceso</button> -->
                <btn-refresh (click)="refreshTable_v()" matTooltip="Actualizar"></btn-refresh>
              </div>
            </div>
          </div>
          <div class="card card-default">
            <div #tableContainer>
              <table id="resultDataTableVacantes" class="table-responsive" ngClass="{{config_v.className || ''}}" role="grid"
                style="width: 100%;">
                <thead>
                  <tr>
                    <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                      {{column.title}}
                      <i *ngIf="config_v && column.sort" class="pull-right fa" (click)="changeSort($event, config_v)"
                        [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                      </i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="showFilterRow_v">
                    <td *ngFor="let column of columns">
                      <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                        (tableChanged)="onChangeTable_v(config_v)" class="form-control">
                    </td>
                  </tr>
                  <tr (click)="onCellClick_v(row)" (dblclick)="openDialogShowRequi()" *ngFor="let row of rows"
                    [class.confident]="row.confidencial" [class.enProceso]=" row.id === requisicionId">
                    <td class="text-center">
                      {{row.folio}}
                    </td>
                    <td> {{row.vBtra}}</td>
                    <td> {{row.cliente}}</td>
                    <td class="text-center">
                      <span class="px-1 mr-1  badge  badge-pill badge-info"> {{row.vacantes}}</span>
                    </td>
                    <td class="text-center"> {{row.tipoReclutamiento}}</td>
                    <td class="text-center">{{row.fch_Cumplimiento | date:'dd/MM/yyyy'}}</td>
                    <td class="text-center">
                      <small class="badge badge-pill" [class.badge-warning]="row.estatusId  === 4"
                        [class.badge-primary]="row.estatusId  === 5" [class.badge-info]="row.estatusId  === 6"
                        [class.badge-success]="row.estatusId  === 7" [class.badge-danger]="row.estatusId  === 8">
                        {{row.estatus }}
                      </small>
                    </td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="text-right">
            <pagination *ngIf="config_v.paging" class="pagination-sm" [(ngModel)]="page_v" [totalItems]="length_v"
              [itemsPerPage]="itemsPerPage_v" [maxSize]="maxSize_v" [boundaryLinks]="true" [rotate]="false"
              (pageChanged)="onChangeTable_v(config_v, $event)" (numPages)="numPages_v = $event">
            </pagination>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
