
.btn-secondary{
    background-color: transparent;
    border-color: #aaaaaa;
}
.btn{
  margin-left: 0px;
}

.modal-lg {
  max-width: 95% !important;
  margin-top: 1% !important;
 
}
a {
  cursor: pointer;
}
.modal-size
{
  max-width: 55% !important;
}

li
{
  list-style: none;
}

.btn-success.round
{
  border-radius: 24px;
}

tbody {
  display: block;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
  color: black;
}

table thead {
  width: calc(100% - 1em)
}

tbody div .postulacionesHeight {
  max-height: 200px !important;
}
tbody div .hbodyVacantes {
  max-height: 400px !important;
}
ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}
.spinner {
  position: absolute;
  margin-left: 66%;
  margin-top: 20%;
  z-index: 9999;
}