
<div style="width:100%;height:400px">
  <agm-map [mapTypeId]='tipomapa' [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker *ngFor="let item of General" (mouseOver)="onMouseOver(infoWindow, $event)"
      (mouseOut)="onMouseOut(infoWindow, $event)" [latitude]='item.latitude' [longitude]='item.longitude' class="shadow"
      [label]="{
      color: 'white',
      fontSize:'16px',
      fontWeight: 'bold',
      text: '' + item.folios
    }">
      <agm-info-window [disableAutoPan]="false" #infoWindow>

        <div class="bg-info p-2 text-center"> {{item.estado | uppercase}}</div><br/>
        <div class="font-weight-bold text-center">
          FOLIOS ACTIVOS<span class="badge badge-pill badge-warning ml-1 mb-1">{{item.folios}}</span>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
