<div class="card">
<div class="card-body">
  <div class="row p-1 bg-light mb-3">
    <div class="col-sm-12 col-md-12">
      <button *ngIf="Liberar" [disabled]="!candidatos" [ngClass]="!candidatos ? 'disabled':' btn-danger'" container="body"
        class="ml-1 btn btn-xs mat-elevation-z8" placement="bottom" tooltip="Desapartar" (click)="openDialogLiberar()">
        <em class="fa fa-thumbs-o-down"></em>
      </button>
      <button class="mr-1 btn btn-xs btn-success float-right mat-elevation-z8" type="button" (click)="refresh()" container="body" placement="bottom"
        tooltip="Actualizar">
        <em class="icon-refresh"></em>
      </button>
      <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" class="mr-2 btn btn-xs btn-info mat-elevation-z8 float-right">
        <em class="fa fa-eraser"></em>
      </button>
      <span class="text-muted font-weight-bold float-right text-uppercase float-right mr-4 float-right">Total de Candidatos
        <span class="badge badge-pill badge-success ml-1">{{dataSource.length}}</span>
      </span>
    </div>
  </div>
  <div class="row">
    <div *ngIf="dataSource.length > 0 else NotCandidatos" class="col-sm-12 col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <span>{{column.title | uppercase}}</span>
            </th>
          </tr>
          <tr *ngIf="showFilterRow">
            <th *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                (tableChanged)="onChangeTable(config)" class="form-control form-control-sm" id="{{column.name}}_1">
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact"
            [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
            <div>
              <tr (dblclick)="VerCandidato(row)" (click)="onCellClick(row)" *ngFor="let row of rows" [class.selected]="row.selected">
                <td class="text-center"> {{row.nombre | uppercase}}</td>
                <td class="text-center"> {{row.edad | date: 'yyyy-MM-dd'}} </td>
                <td class="text-center"> {{row.curp | uppercase }}</td>
                <td class="text-center"> {{row.rfc | uppercase }}</td>
                <td class="text-center"> {{row.nss | uppercase }}</td>
                <td class="text-center"><span *ngIf="row.estatus.length <= 10 else toLength" class='px-1 mr-1 badge badge-pill badge-info'
                    [class.badge-warning]="row.estatusId === 42" [class.badge-danger]="row.estatusId == 28">
                    <span *ngIf="row.estatusId != 28"> {{row.estatus | uppercase }}</span>
                  </span>
                  <ng-template #toLength>
                    <span class='px-1 mr-1 badge badge-pill badge-info' [class.badge-warning]="row.estatusId === 42"
                      [class.badge-danger]="row.estatusId == 28" placement="bottom" tooltip="{{row.estatus | uppercase}}"
                      container="body">{{row.estatus | slice:0:6 | uppercase }} ... </span>
                  </ng-template>
                </td>
              </tr>
            </div>
          </ng-scrollbar>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12 clearfix">
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
        (numPages)="numPages = $event"></pagination>

    </div>
  </div>
</div>

</div>



<div *ngIf="dlgLiberar" bsModal #modallib="bs-modal" [config]="{show: true, ignoreBackdropClick: true, keyboard: false}"
  class="modal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Informaci&oacute;n de la Vacante</h4>
      <button type="button" class="close pull-right" (click)="modallib.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
      <div class="modal-body">
        <app-dialog-liberar-candidato [objLiberar]="objLiberar" (close)="onClose($event)"></app-dialog-liberar-candidato>
      </div>
      <!-- <div class="modal-footer">
      <button type="button" class="md-1 btn btn-outline-success" (click)="modallib.hide()">Cerrar</button>
    </div> -->
    </div>
  </div>
</div>
<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <alert type="info">
        <strong>Oops!</strong> La requsici&oacute;n a&uacute;n no cuenta con candidatos en proceso / apartados.
      </alert>
    </div>
  </div>
</ng-template>