<h3 class="text-primary text-center" mat-dialog-title> Generar Nueva Requisici&oacute;n</h3>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">
      <h5><strong class="text-primary">Cliente: </strong> {{data.cliente}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h5><strong class="text-primary">Puesto: </strong>{{data.nombrePerfil}}</h5>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5><strong class="text-primary">Sueldo M&iacute;nimo: </strong>{{data.sueldoMinimo | moneda: '$'}}</h5>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5><strong class="text-primary">Sueldo M&aacute;ximo: </strong>{{data.sueldoMaximo | moneda: '$'}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h5><strong class="text-primary">Clase Reclutamiento: </strong>{{data.claseReclutamiento}}</h5>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5><strong class="text-primary">Tipo Reclutamiento: </strong>{{data.tipoReclutamiento}}</h5>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-4">
      <mat-slide-toggle class="example-margin" [color]="warn" [(ngModel)]="confidencial">
        Vacante Confidencial
      </mat-slide-toggle>
    </div>
    <div class="col-6">
      <h5 class=text-warning>Especifique si la requisici&oacute;n es confidencial o no. </h5>
    </div>
    <div class="col-2">
      <span *ngIf="confidencial" class="text-info">
        <strong> Confidencial</strong>
      </span>
      <span *ngIf="!confidencial" class="text-success">
        <strong> No confidencial</strong>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <app-direccionauto [Damfo]='IdDamfo' [IdDireccion]='IdDireccion' (change)='FiltroDireccion($event)'>
      </app-direccionauto>
    </div>
  </div>

  <mat-divider></mat-divider>
</mat-dialog-content>
<br>
<mat-dialog-actions>
  <button type="button" (click)="onNoClick()" class="btn btn-xs btn-labeled btn-danger mb-1 margin mat-elevation-z8">
    <span class="btn-label">
      <i class="fa fa-times"></i>
    </span> Cancelar
  </button>
  <button type="button" class="btn btn-xs btn-labeled btn-success mb-1 margin mat-elevation-z8" (click)="createRequisicion()"
    [disabled]="DisabledButton">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
</mat-dialog-actions>
