<div class="card">
  <div class="card-body">
      <h5 class="text-warning">
          <i class="fa fa-pencil"></i> EXAMENES DISPONIBLES</h5>
          <hr>
      <div class="d-flex justify-content-start mb-3">
          <button class="btn btn-xs btn-success mat-elevation-z8" placement="right" tooltip="Generar Examen T&eacute;cnico"  [routerLink]="['/examenes/addexamen']" [queryParams]="{ruta: 2}" [skipLocationChange]=true><i class="fa fa-plus"></i></button>
          <button class="btn btn-xs btn-warning ml-2 mat-elevation-z8" placement="right" tooltip="Ver Examenes T&eacute;cnicos"  [routerLink]="['/examenes/verexamen']" [skipLocationChange]=true><i class="fa fa-eye"></i></button>
          <button class="btn btn-xs btn-info ml-2 mat-elevation-z8" placement="right" tooltip="Asignar Examen T&eacute;cnico"  [routerLink]="['/examenes/asignar']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="input-group input-group-sm float-left mt-1 mb-1 with-focus longInput">

            <input (input)="Search($event)" class="form-control form-control-sm border-right-0 " type="text" placeholder="Filtrar" />
            <div class="input-group-append">
              <span class="input-group-text fa fa-search text-info bg-transparent border-left-0"></span>
            </div>
          </div>
          </div>
          <div class="col-sm-6 col-md-6">
          <div class="float-right"><span class="text-muted font-weight-bold float-right text-uppercase float-right mr-4">Total de Registros <span
            class="badge badge-pill badge-success ml-1">{{resultados.length}}</span></span></div>
        </div>
      </div>
      <hr>
   <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false"
   [disabled]="disabled">
   <div style="height: 300px;">
   <div id="accordion">
      <div class="card" *ngFor="let row of rows; let rowIndex = index">
        <a class="card-header" [class.collapsed]="row.verRow"  (click)="row.verRow = !row.verRow">
          <h5>
                <span class="text-primary float-left "><em class="fa fa-file-text-o"></em> {{ row.folio}} - {{row.cliente | uppercase}} - {{row.vBtra | uppercase}} <span class="text-warning">({{row.candidatos.length}})</span></span>

            <i *ngIf="!row.verRow" class="fa fa-caret-down float-right text-muted" aria-hidden="true"></i>
            <i *ngIf="row.verRow" class="fa fa-caret-up float-right text-muted" aria-hidden="true"></i>
          </h5>

        </a>

        <div *ngIf="row.verRow" id="collapseOne" class="collapse show">
          <div class="card-body">
              <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false"
              [disabled]="disabled">
              <div style="height: 300px;">
              <table class="table">
                  <tbody>
                      <ng-container *ngIf="row.candidatos.length > 0 else NotCandidatos">
                    <tr class="rowHover" *ngFor="let r of row.candidatos; let rowIndex = index">

                      <td class="text-center text-success">
                        <em class="fa fa-user"></em> {{ r.curp | uppercase}}</td>

                      <td class="text-center">{{r.nombre | uppercase}}</td>
                      <td class="text-center">{{r.usuario |uppercase }}</td>
                      <td class="text-center">{{r.fecha | date:'dd-MM-yyyy'}}</td>

                      <td class="text-center">
                        <button type="button" class="mb-1 btn btn-xs btn-warning mat-elevation-z8" container="body" placement="bottom" tooltip="Revisar examen"
                          (click)="OpenDialogRevisar(r)">
                          <em class="fa fa-pencil"></em>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
              </ng-scrollbar>
          </div>
        </div>
      </div>
      </div>
    </div>

    </ng-scrollbar>
    <br/>
    <div class="d-flex justify-content-end">
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
      (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>

        </div>
</div>
</div>
  <!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <alert type="info">
              <strong>Oops!</strong> A&uacute;n no cuentas con examenes para revisar.
            </alert>
      </div>
    </div>
  </ng-template>

