<div class="content-heading">
  <div>
    <span class="text-sm d-none d-sm-block">Administraci&oacute;n de ex&aacute;menes.</span>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Examenes</li>
  </ol>
</div>

<div class="card">
  <div class="card-body">
      <div class="row bg-light">
        <div class="col-sm-8 col-md-8">
          <h5 class="card-title text-warning mt-2">
            <em class="fa fa-pencil"></em> EXAMENES DISPONIBLES</h5>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="input-group input-group-sm float-right mt-1 mb-1 with-focus">

            <input (input)="Search($event)" class="form-control form-control-sm border-right-0" type="text" placeholder="Filtrar"
            />
            <div class="input-group-append">
              <span class="input-group-text fa fa-search text-info bg-transparent border-left-0"></span>
            </div>
          </div>
        </div>
      </div>
      <hr>
   <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false"
   [disabled]="disabled">
   <div style="height: 300px;">
   <div id="accordion">
      <div class="card" *ngFor="let row of rows; let rowIndex = index">
        <a class="card-header" [class.collapsed]="row.verRow"  (click)="row.verRow = !row.verRow">
          <h5>
                <span class="text-primary float-left "><em class="fa fa-file-text-o"></em> {{ row.folio}} - {{row.cliente | uppercase}} - {{row.vBtra | uppercase}} <span class="text-warning">({{row.candidatos.length}})</span></span>

            <i *ngIf="!row.verRow" class="fa fa-caret-down float-right text-muted" aria-hidden="true"></i>
            <i *ngIf="row.verRow" class="fa fa-caret-up float-right text-muted" aria-hidden="true"></i>
          </h5>

        </a>

        <div *ngIf="row.verRow" id="collapseOne" class="collapse show">
          <div class="card-body">
              <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false"
              [disabled]="disabled">
              <div style="height: 300px;">
              <table class="table">
                  <tbody>
                      <ng-container *ngIf="row.candidatos.length > 0 else NotCandidatos">
                    <tr class="rowHover" *ngFor="let r of row.candidatos; let rowIndex = index">

                      <td class="text-center text-success">
                        <em class="fa fa-user"></em> {{ r.curp | uppercase}}</td>

                      <td class="text-center">{{r.nombre | uppercase}}</td>
                      <td class="text-center">{{r.usuario |uppercase }}</td>
                      <td class="text-center">{{r.fecha | date:'dd-MM-yyyy'}}</td>

                      <td class="text-center">
                        <button type="button" class="mb-1 btn btn-xs btn-warning mat-elevation-z8" container="body" placement="bottom" tooltip="Revisar examen"
                          (click)="OpenDialogRevisar(r)">
                          <em class="fa fa-pencil"></em>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
              </ng-scrollbar>
          </div>
        </div>
      </div>
      </div>
    </div>

    </ng-scrollbar>
    <br/>
    <div class="text-right">
      <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
      (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>

        <pre class="card card-block card-header text-muted">Total Registros: {{resultados.length}}</pre>
        </div>
</div>
</div>
  <!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <alert type="info">
              <strong>Oops!</strong> A&uacute;n no cuentas con examenes para revisar.
            </alert>
      </div>
    </div>
  </ng-template>

