// @import '../../../../../../node_modules/primeng/resource/themes/primeng.min.css';

.red{
    background-color:red;
    background-image:none;
 }
 
 .normal{
    background-color:blue;
    background-image:none;
 }

 /* COLOR DEFAULTS
============================================= */
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$white: #fff;

.table
{
  
  overflow: hidden;
}

.wrow
{
  width: 20px;
}
.espacios
{
  letter-spacing: 16px;

}

.colorPadres
{
  color: #00b3ee;
}

.table > td 
{
  text-align: center;
}
/* PLACEHOLDERS
============================================= */


%list-item{
  // border-radius:50%;
  // color:$white;
  // background:$blue;
  // float:left;
  // text-align:center;
  padding-left:15px;
}

/* STYLE
============================================= */



@for  $i from 1 through 6{
  $unit: 12px * ($i *2);
	.esparbol:nth-child(#{$i}){
       @extend %list-item;
       padding-left: $unit;
  }
  .esparbol2:nth-child(#{$i}){
    @extend %list-item;
    padding-left: $unit * ($i *2);
  }
  .esparbol3:nth-child(#{$i}){
    @extend %list-item;
    padding-left: $unit * ($i *2);
  }
  .esparbol4:nth-child(#{$i}){
    @extend %list-item;
    padding-left: $unit * ($i * 3);
  }
  .esparbol5:nth-child(#{$i}){
    @extend %list-item;
    padding-left: $unit * ($i * 4);
  }
  .esparbol6:nth-child(#{$i}){
    @extend %list-item;
    padding-left: $unit * ($i * 5);
  }
}
