<div class="card">
  <div class="card-body mat-elevation-z8">
    <div class="row p-1 bg-light">
      <div class="col">
        <h5 class="text-warning float-left mt-2">REPORTE TURNOS ATENDIDOS</h5>
        <button type="button" class="mt-1 btn btn-xs btn-success float-right mat-elevation-z8" (click)="refreshTable()"
          container="body" placement="bottom" tooltip="Actualizar" container="body">
          <i class="icon-refresh"></i>
        </button>
        <button class="mr-1 mt-1 float-right mat-elevation-z8" (click)="clearfilters()" container="body" placement="bottom"
          tooltip="Limpiar Filtros" container="body" [disabled]="!clearFilter"
          [ngClass]="(!clearFilter) ? 'btn btn-xs disabled':'btn btn-xs btn-info'">
          <i class="fa fa-eraser"></i>
        </button>
        <button class="float-right mr-1 mt-1 mat-elevation-z8" (click)="exportAsXLSX()" container="body" placement="bottom" tooltip="Descargar reporte"
          container="body" [disabled]="result.length == 0" [ngClass]="result.length == 0 ? 'btn btn-xs disabled':'btn btn-xs btn-warning'">
          <em class="fa fa-download"></em>
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <span class="text-muted font-weight-bold float-right text-uppercase mb-3">Total de registros <span
        class="badge badge-pill badge-success ml-1">{{result.length  | numerico}}</span></span>
      </div>
    <table class="table border-top">
      <thead>
        <tr>
          <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
            <small>{{column.title | uppercase}}</small>
          </th>
        </tr>
        <tr>
          <th *ngFor="let column of columns">
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
              (tableChanged)="onChangeTable(config, {page: page, itemsPerPage: itemsPerPage}, column.name)" class="form-control form-control-sm" id="{{column.name}}">
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
          [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
          <div>
            <tr *ngFor="let r of rows">
              <td class="text-center">{{r.fecha | date:'dd/MM/yyyy' }}</td>
              <td class="text-center">{{r.datos[0].reclutador || 'SIN ASIGNAR'}}</td>
              <td class="text-center"><small class="badge badge-pill badge-success"> {{r.datos[0].total }}</small></td>
              <td class="text-center"><small class="badge badge-pill badge-warning"> {{r.datos[0].concita }}</small></td>
              <td class="text-center"><small class="badge badge-pill badge-purple"> {{r.datos[0].sincita }}</small></td>
              <!-- <td class="text-center"><small class="badge badge-pill badge-info"> 20 min</small></td> -->
            </tr>
          </div>
          </ng-scrollbar>
      </tbody>
    </table>
    <br/>
    <div class="d-flex justify-content-end mt-2">

        <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
          [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>

    </div>
  </div>
</div>
