
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="ml-1">
                <label for="image-input" class="file-upload elevar">
                    <button class="btn btn-info mat-elevation-z8">
                        <em class="fa fa-upload mr-2"></em>SUBIR ARCHIVO</button>
                    <input id="image-input" type="file" #fileInput (change)="fileChangeListener($event)" [accept]="['image/png', 'image/jpeg', 'image/jpg', 'application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel', 'application/msword']">
                </label>
                <br/>
                <div *ngIf="verMsj">
                    <alert [type]="alert.type" [dismissible]="true" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
                  </div>
            </div>
            <div class="card">
                <div class="card-body mat-elevation-z8">
                    <strong class="text-muted">ARCHIVOS</strong>
               
                <div class="list-group">
                    <a class="active list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0">
                        <span class="circle bg-white mr-2"></span>
                        <span>TOTAL DE ARCHIVOS</span>
                        <span class="ml-auto badge">{{cont_image + cont_pdf + cont_xls + cont_word}}</span>
                    </a>
              
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span class="circle bg-warning mr-2"></span>
                        <span>Imagenes</span>
                        <span class="ml-auto badge">{{cont_image}}</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center rounded-0">
                        <span class="circle bg-danger mr-2"></span>
                        <span>pdf</span>
                        <span class="ml-auto badge">{{cont_pdf}}</span>
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="circle bg-purple mr-2"></span>
                            <span>doc</span>
                            <span class="ml-auto badge">{{cont_word}}</span>
                        </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span class="circle bg-green mr-2"></span>
                        <span>xls</span>
                        <span class="ml-auto badge">{{cont_xls}}</span>
                    </a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
                <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown"
                    [disableOnBreakpoints]="false" [disabled]="disabled">
                    <div class="longScroll">
                        <div class="row">
                            <ng-container *ngFor="let t of files">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card" data-filter-group="pdf">
                                        <div class="card-body text-center mat-elevation-z8">
                                            <div class="d-flex">
                                                <div class="ml-auto">
                                                    <a class="text-muted mr-1" (click)="downloadFile(t)" title="Download">
                                                        <em class="fa fa-download fa-fw"></em>
                                                    </a>
                                                </div>
                                            </div>
                                            <a class="px-4" (click)="verArchivo(t)">
                                                <em [ngClass]="{
                                                    'text-success':t.type === '.xlsx',
                                                    'text-primary':t.type === '.docx',
                                                    'text-danger':t.type === '.pdf',
                                                    'text-warning':t.type === '.jpg' || t.type === '.jpeg' || t.type === '.png' || t.type === '.PNG' }"
                                                    class="fa fa-5x {{t.icon}}"></em>
                                            </a>
                                            <p>
                                                <small class="text-dark">{{t.nom}}</small>
                                            </p>
                                            <div class="d-flex m-0 text-muted">
                                                <small>{{t.size}}KB</small>
                                                <small class="ml-auto">{{t.fc}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-scrollbar>
                </div>
    </div>

     <!-- Modal  -->

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{nomImg}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <img class="center-block img-responsive" [src]="image" [width]="200" [height]="200">
          </div>
        </div>
      </div>
    </div>
  </div>