
<div class="card card-body">
    <div class="d-flex justify-content-between align-items-center p-1 bg-warning">
        <span>EXPEDIENTE</span>
        <span>TOTAL DE ARCHIVOS <span class="badge badge-info ml-1">{{files.length}}</span></span>
      </div>
    <label style="cursor: pointer;" *ngIf="upload" class="file-upload mt-2" style="cursor: pointer;">
       <button class="btn btn-info">
        <i class="fa fa-upload mr-2"></i> SUBIR ARCHIVO
    </button>
        <input style="cursor: pointer;" id="image-input" type="file" #fileInput (change)="fileChangeListener($event)"
          [accept]="['image/png', 'image/jpeg', 'image/jpg', 'application/pdf', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel', 'application/msword']">
      </label>
    <div *ngIf="(files || []).length > 0 else NotCandidatos" class="d-flex justify-content-between align-items-center align-items-strech mt-2">
        <ng-scrollbar #scrollable  
            track="all" [disabled]="disabled">
            <div class="longScroll">
                <div class="row">
                    <ng-container *ngFor="let t of files">
                        <div class="col-lg-4 col-md-6">
                            <div class="card" data-filter-group="pdf">
                                <div class="card-body text-center mat-elevation-z8">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="text-success" (click)="downloadFile(t)" title="Descargar">
                                            <i class="fa fa-download fa-fw"></i>
                                        </a>
                                        <a class="text-danger" (click)="deleteFile(t)" title="Borrar archivo">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </a>
                                    </div>
                                    <a class="px-4" (click)="verArchivo(t)">
                                        <i [ngClass]="{
                                                    'text-success':t.type === '.xlsx',
                                                    'text-success':t.type === '.xls',
                                                    'text-primary':t.type === '.docx',
                                                    'text-danger':t.type === '.pdf',
                                                    'text-warning':t.type === '.jpg' || t.type === '.jpeg' || t.type === '.png' || t.type === '.PNG' }"
                                            class="fa fa-5x {{t.icon}}"></i>
                                    </a>
                                    <p><small class="text-dark">{{t.nom}}</small></p>
                                    <div class="d-flex m-0 text-muted">
                                        <small>{{t.size}}KB</small>
                                        <small class="ml-auto">{{t.fc}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-scrollbar>
    </div>
</div>
<!-- Modal  -->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-between align-items-center p-1 bg-info w-100 fontRoboto">
                <span>{{nomImg}}</span>
                <button type="button" class="btn btn-xs btn-danger btn-circle" (click)="closeModal()">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="center-block sizeImg" [src]="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
          <strong>Oops!</strong> El candidato a&uacute;n no cuenta con archivos cargados.
        </alert>
      </div>
    </div>
  </ng-template>