<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->
<div class="dt-container mat-elevation-z8">
  <div class="dt-header">
    <mat-form-field>
      <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)">
    </mat-form-field>
    <div class="d-flex align-items-stretch ">
      <btn-view (click)="openDialogShowRequi(element.id, element.folio)" matTooltip="Ver Requisición"></btn-view>
      <btn-assign id="update" chkPrivilegiosButtons (click)="openDialogAssingRequi(element)" matTooltip="Asignar"></btn-assign>
      <btn-desing-recl id="special" chkPrivilegiosButtons (click)="openDesignVacante(element.id, element.folio, element.vBtra)"
        matTooltip="Diseñar Vacante" *ngIf="element.estatusId == 7 || element.estatusId == 6 && !element.confidencial"></btn-desing-recl>
    </div>
  </div>
  <div class="card card-default">
    <div class="table-responsive" #tableContainer>
      <table id="resultDataTable" class="table-responsive" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              {{column.title}}
              <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
              </i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="showFilterRow">
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                class="form-control">
            </td>
          </tr>
          <tr (click)="onCellClick(row)" (dblclick)="openDialogShowRequi()" *ngFor="let row of rows" [class.confident]="row.confidencial"
            [class.cancel]="row.estatusId == 8">
            <td>
              {{row.folio}}
            </td>
            <td> {{row.solicita}}</td>
            <td> {{row.cliente}}</td>
            <td> {{row.vBtra}}</td>
            <td class="text-center">
              <span class="px-1 mr-1  badge  badge-pill badge-info"> {{row.vacantes}}</span>
            </td>
            <td class="text-center"> {{row.tipoReclutamiento}}</td>
            <td class="text-center"> {{row.claseReclutamiento}}</td>
            <td class="text-right"> {{row.sueldoMinimo | currency: $}}</td>
            <td class="text-right"> {{row.sueldoMaximo | currency: $}}</td>
            <td class="text-center">{{row.fch_Creacion | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{row.fch_Cumplimiento | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <small class="badge badge-pill" [class.badge-warning]="row.estatusId  === 4" [class.badge-primary]="row.estatusId  === 5"
                [class.badge-info]="row.estatusId  === 6" [class.badge-success]="row.estatusId  === 7" [class.badge-danger]="row.estatusId  === 8">
                {{row.estatus }}
              </small>
            </td>
            <td class="text-center">
              <small class="badge badge-pill" [class.badge-danger]="row.prioridadId  === 1" [class.badge-warning]="row.prioridadId  === 2">
                {{row.prioridad}}
              </small>
            </td>
            <td class="text-center">
              <!-- <ng-template #popTemplatePostulados>
                <div *ngIf="row.postulados > 0">
                  <h5 class="popover-header">Postulados</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="popover-body">
                        <ng-container *ngFor="let p of row.postuladosN">
                          <small>
                            <ol>
                              <li>
                                <a href="">
                                  {{p.nombre}} {{p.apellidoPaterno}} {{apellidoMAterno}} {{p.curp}}
                                </a>
                              </li>
                            </ol>
                          </small>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="row.postulados == 0">
                  <small>Sin Postulaciones...</small>
                </div>

              </ng-template> -->

              <span class="px-1 mr-1  badge  badge-pill badge-warning" [popover]="popTemplatePostulados" container="body" placement="left"
                triggers="click">
                {{row.postulados}}
              </span>
            </td>
            <td class="text-center">
              <span class="px-1 mr-1  badge  badge-pill badge-primary"> {{row.enProceso}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </pagination>
  </div>
  <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre>
</div>
