.confidencial {
  background-color: rgba(255, 163, 163, 0.767);
}

tbody {
  display: block;
  height: 350px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
}

table thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

tbody tr:hover {
  font-size: 12.5px;
  box-shadow: 1px 20px 60px rgba(0, 0, 0, .23);
}

table tbody tr td .fontMio
{
    font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.badge
{
  font-size: 10px;
}

.modal-lg {
  max-width: 100% !important;
}

.modal-lg .long {
  max-height: 100% !important;
}

.vl {
  border-left: 1px solid #aaa;
  height: 51px !important;
  margin: 0 2px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}
