.confidencial{
 background-color: rgba(255, 163, 163, 0.767);
}
tbody {
    display:block;
    height:450px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:400px;
}

// .btn{
//     margin-left: 2px;
// }