.margin-top-nombre
{
    margin-top: 18px;

}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  .card .card-body mat-dialog-content
  {
      overflow: hidden;
  }