<div class="card">
    <div class="card-header bg-header text-white p-2 clearfix">
        <h4 class="float-left mt-2">ENTREVISTA</h4>
        <div class="float-right"><button mat-menu-item [matMenuTriggerFor]="info"><label style="cursor: pointer;" class="text-white"><i class="fa fa-user-circle-o mr-1" aria-hidden="true"></i>Melina Morales Cordova</label></button>
              <mat-menu #info="matMenu">
                  <div class="d-flex justify-content-center bg-info p-1"><label class="mt-1">INFORMACI&Oacute;N PERSONAL</label></div>
                    <ul class="list-group list-group-flush w-30">
                            <li class="list-group-item">edad: 31</li>
                            <li class="list-group-item">genero: mujer</li>
                            <li class="list-group-item">postulacion: Ing. Desarrollo</li>
                        </ul>
                         </mat-menu>
                        </div>
    </div>
    <div class="card-body">
            <ng-scrollbar #scrollableEstatus [trackX]="true" [trackY]="true" [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false"
            [disabled]="disabled">
            <div style="height: 400px;">
        <ng-container *ngFor="let p of entrevista">
            <ul class="list-group list-group-flush" >
                <li *ngFor="let pp of p.preguntas; let ind = index" class="list-group-item">{{ pp.pregunta }}
                    <div class="mt-2">
                        <rating [max]="5" [customTemplate]="tt" (onHover)="hoveringOver($event, pp.preguntaId)" (onLeave)="resetStar(pp.preguntaId)" [titles]="['uno','dos','tres', 'cuatro', 'cinco']"></rating>
                        <em class="label ml-2" [ngClass]="{'text-warning': percent[pp.preguntaId + '-'] < 30, 'text-info': percent[pp.preguntaId + '-']>=30 && percent[pp.preguntaId + '-'] <70, 'text-success': percent[pp.preguntaId + '-'] >=70}" [ngStyle]="{display: overStar[pp.preguntaId + '-'] > 0 ? 'inline' : 'none'}">{{percent[pp.preguntaId + '-']}}%</em>
                        <ng-template #tt let-i="index + 1" let-v="value + 1">
                            <button class="btn btn-{{i < v ? 'warning' : 'default'}}" (click)="AddRespuestas(pp.preguntaId, i)">
                                {{i}}
                            </button>
                        </ng-template>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
        </ng-scrollbar>

    </div>
    <hr>
    <div class="mt-3 card-body bg-reclutador">
        <h4 class="text-warning"><i class="fa fa-exclamation-triangle ml-3" aria-hidden="true"></i> SOLO PARA ENTREVISTADOR</h4>
        <hr>
        <mat-form-field>
            <textarea matInput placeholder="¿Por que &eacute;sta calificaci&oacute;n? {{calificacion}}"></textarea>
        </mat-form-field>
    </div>
    <div class="mt-2 d-flex justify-content-end">
    <button type="button" (click)="Agregar()" class="btn btn-success mat-elevation-z8">
            <i class="fa fa-check"></i>
        </button>
    </div>
</div>
