<!-- <div class="container"> -->
<form [formGroup]="horario" id="index">
  <section [hidden]="!Edit">
    <div class="row">
      <mat-form-field class="col-2">
        <input matInput #NombreCtrl type="text" placeholder="Nombre" formControlName="horario" required="">
      </mat-form-field>

      <mat-form-field class="col-1">
        <mat-select #t1 placeholder="De Día " formControlName="deDiaId" (selectionChange)="getDeDia()" required="">
          <mat-option *ngFor="let x of DiasSemana" [value]="x.id">
            {{x.diaSemana}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-1">
        <mat-select #t1 placeholder="A Día " formControlName="aDiaId" (selectionChange)="getADia()" required="">
          <mat-option *ngFor="let x of DiasSemana" [value]="x.id">
            {{x.diaSemana}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-1">
        <input matInput #NombreCtrl type="time" class="text-right" placeholder="De Hora" formControlName="deHora"
          required="">
      </mat-form-field>
      <mat-form-field class="col-1">
        <input matInput #NombreCtrl type="time" class="text-right" placeholder="A Hora" formControlName="aHora"
          required="">
      </mat-form-field>

      <mat-form-field class="col-1">
        <input matInput #VacantesCtrl type="number" class="text-right" placeholder="No. Vacantes"
          formControlName="vacantes" required="">
      </mat-form-field>

      <mat-form-field class="col-3">
        <textarea #message matInput maxlength="500" placeholder="Especificacipon" rows="3"
          formControlName="especificaciones"></textarea>
        <mat-hint align="start">
          <strong class="text-warning">Ingrese algúna Especificaci&oacute;n</strong>
        </mat-hint>
        <mat-hint align="end"><strong class="text-info">{{message.value.length}} / 500</strong></mat-hint>
      </mat-form-field>
      <mat-slide-toggle class="text-success col-1" [color]="warn" formControlName="activo">
        Activo
      </mat-slide-toggle>
      <section class="col-1">
        <em class="fa fa-close text-danger em-button float-left" (click)="Remove()"></em>
        <em class="fa fa-check text-success em-button float-left" (click)="Save()" *ngIf="horario.valid"></em>
      </section>
    </div>
    <alert [type]="TypeAlert" [hidden]="ShowAlert == false">
      <strong>{{MsgAlert | uppercase}}</strong>
    </alert>
  </section>
  <div [hidden]="Edit" class="col-12">
    <strong class="text-primary">Nombre: </strong> <label>{{nombre | uppercase}} </label> -
    <strong class="text-primary">De D&iacute;a: </strong><label>{{deDia}}</label> -
    <strong class="text-primary">A D&iacute;a: </strong><label>{{aDia}}</label> -
    <strong class="text-primary">De Hora: </strong><label>{{deHora | date:'shortTime'}}</label> -
    <strong class="text-primary">A Hora: </strong><label>{{aHora | date:'shortTime'}}</label> -
    <strong class="text-primary">Vacantes: </strong><label>{{vacantes}}</label> -
    <strong class="text-primary">Especificaciones: </strong><label>{{especificaciones | uppercase}}</label>
    <em class="fa fa-pencil text-info" (click)="OnEdit(); Edit = true"></em>
    <em class="fa fa-close text-danger em-button" (click)="Remove()"></em>
    <alert [type]="TypeAlert" [hidden]="ShowAlert == false">
      <strong>{{MsgAlert | uppercase}}</strong>
    </alert>
  </div>
</form>
<!-- </div> -->
