section em {
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
div em {
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.option-container {
  height: max-content !important;
}
.razonSocial{
  margin-top: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
}
.more-option{
  margin-top: -35px;
  padding: 0 20px 0;
  display: block !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
}

.mat-input-element:disabled{
  font-size: 12px !important;
  font-weight: bold;
}

