
<form [formGroup]="horario" id="index">

  <section  *ngIf="Edit" >
    <div class="d-flex justify-content-between align-items-center align-items-stretch">  
    <mat-form-field>
        <input matInput autofocus #NombreCtrl type="text" placeholder="Nombre" formControlName="horario"
          [value]="NombreCtrl.value.toUpperCase()" required="" [matAutocomplete]="horarios" (keyup)="filter($event);">
          <mat-autocomplete #horarios="matAutocomplete" (optionSelected)="selected($event, rowIndex)">
              <mat-option *ngFor="let option of AuxOptions; let rowIndex = index;" [value]="option" class="option-container">
                <span class="razonSocial"><strong>{{option.nombre | uppercase}}</strong></span>
                <span class="more-option"><strong class="text-info">De Dia a Dia: </strong><span
                    class="text-warning">{{option.deDia | uppercase}} a {{option.aDia | uppercase}}</span></span>
                <span class="more-option"><strong class="text-info">De Hora a Hora: </strong><span
                    class="text-warning">{{option.deHora | date:'H:mm'}} a {{option.aHora | date:'H:mm'}}</span></span>
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-select placeholder="De Día " formControlName="deDiaId" (selectionChange)="getDeDia()" required="">
          <mat-option *ngFor="let x of DiasSemana" [value]="x.id">
            {{x.diaSemana | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <mat-select #t1 placeholder="A Día " formControlName="aDiaId" (selectionChange)="getADia()" required="">
          <mat-option *ngFor="let x of DiasSemana" [value]="x.id">
            {{x.diaSemana | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ml-3">
        <input matInput #deDiaCtrl type="time" class="text-right" placeholder="De Hora" formControlName="deHora" 
          required="">
        </mat-form-field>
      <mat-form-field class="ml-3">
        <input matInput #deHoraCtrl type="time" class="text-right" placeholder="A Hora" formControlName="aHora" (change)="mocos($event)"
          required="">
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <mat-form-field>
        <input matInput #aHoraCtrl type="number" class="text-right" placeholder="No. Vacantes"
          formControlName="vacantes" required="" >
      </mat-form-field>
      <mat-form-field class="ml-1 long">
        <textarea #message matInput maxlength="500" placeholder="Especificación" rows="2"
          [value]="message.value.toUpperCase()" formControlName="especificaciones"></textarea>
        <mat-hint align="start">
          <strong class="text-warning">Ingrese alguna Especificaci&oacute;n</strong>
        </mat-hint>
        <mat-hint align="end"><strong class="text-info">{{message.value.length}} / 500</strong></mat-hint>
      </mat-form-field>
  
      <mat-slide-toggle class="text-success ml-2" [color]="warn" formControlName="activo">
        Activo
      </mat-slide-toggle>

      <section>
        <em class="fa fa-close text-danger em-button float-left" (click)="Remove()"></em>
        <em class="fa fa-check text-success em-button float-left" (click)="Save()" *ngIf="horario.valid"></em>
      </section>
    </div>
  </section>
  <div *ngIf="nombre" class="text-uppercase">
    <strong class="text-primary">{{index + 1}} - <i class="fa fa-chevron-right fa-x1" aria-hidden="true"></i></strong>
    <strong *ngIf="activo" class="text-success"> ACTIVO - </strong>
    <strong *ngIf="!activo" class="text-danger"> INACTIVO - </strong>
    <span class="text-primary">Nombre: </span> <label>{{nombre | uppercase}} </label> -
    <span class="text-primary">De D&iacute;a: </span><label>{{deDia}}</label> -
    <span class="text-primary">A D&iacute;a: </span><label>{{aDia}}</label> -
    <span class="text-primary">De Hora: </span><label>{{deHora | date:'shortTime'}}</label> -
    <span class="text-primary">A Hora: </span><label>{{aHora | date:'shortTime'}}</label> -
    <span class="text-primary">Vacantes: </span><label>{{vacantes}}</label> -
    <span class="text-primary">Especificaciones: </span><label>{{especificaciones | uppercase}}</label>
    <em class="fa fa-pencil text-info" (click)="OnEdit(); Edit = true"></em>
    <em class="fa fa-close text-danger em-button" (click)="Remove()"></em>
  </div>
  <alert [type]="TypeAlert" [hidden]="ShowAlert == false">
    <strong>{{MsgAlert | uppercase}}</strong>
  </alert>
</form>

