<form [formGroup]="formEncabezado">
  <section #NombrePerfilSection class="row">
    <mat-form-field class="col-12">
      <input #NombrePuestoCtrl matInput autofocus placeholder="Nombre del Puesto a Reclutar" formControlName="NombrePuesto" [value]="NombrePuestoCtrl.value.toUpperCase()" maxlength="100">
      <mat-hint align="end"><strong class="text-info">{{NombrePuestoCtrl.value.length}} / 100</strong></mat-hint>
    </mat-form-field>
  </section>
  <section #GeneroEdadEstadoSection class="row">
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <mat-select placeholder="Sexo / Genero" formControlName="Genero" required>
        <mat-option *ngFor="let x of Genero" [value]="x.id">
          {{x.genero | uppercase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput #edadMinima type="number" placeholder="Edad Mínima" min="16" formControlName="EdadMin" required="">
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input matInput #edadMaxima type="number" placeholder="Edad Máxima" min="{{edadMinima.value}}"
        formControlName="EdadMax" required="">
    </mat-form-field>
    <mat-form-field class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <mat-select placeholder="Estado Civil" formControlName="EstadoCivil" required>
        <mat-option *ngFor="let x of EstadoCivil" [value]="x.id">
          {{x.estadoCivil | uppercase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section #EscoAreaSection class="row" >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <app-perfil-escolaridades #perfilEscoComp [IdFormato]="IdFormato" [Escolaridades]="Escolaridades" (EscolaridadesEmt)="getEscolaridades($event)">
      </app-perfil-escolaridades>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <mat-form-field>
        <mat-select #areaSelect placeholder="Área" formControlName="Area" required>
          <br>
          <mat-form-field class="col-6">
            <input matInput #buscarAreas type="text" [(ngModel)]="buscarArea" [ngModelOptions]="{standalone: true}"
              placeholder="Buscar" (keypress)="filterAreas()" (keydown)="filterAreas()">
          </mat-form-field>
          <mat-option *ngFor="let x of AreasAux" [value]="x.id">
            {{x.areaExperiencia | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field>
            <mat-select #ContratoCtrl placeholder="Contrato" formControlName="Contrato"
            (selectionChange)="getContrato()" [(ngModel)]="ContratoValue" required>
              <mat-option *ngFor="let x of Contratos" [value]="x.id">
                {{x.tipoContrato | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="ContratoCtrl.value === 2 || ContratoValue == 2" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <mat-form-field>
            <mat-select placeholder="Tiempo Contrato" formControlName="TiempoContrato" #TiempoContratoCtrl required>
              <mat-option *ngFor="let x of TiempoContrato" [value]="x.id">
                {{x.tiempo | uppercase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>
  </section>
  <br>
  <section #AptExpSection class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field>
        <mat-label>Aptitudes</mat-label>
        <mat-select formControlName="Aptitud" multiple #AptitudesCtrl [(ngModel)]="apt">
          <mat-option *ngFor="let x of Aptitudes" [value]="x.id">{{x.aptitud | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <mat-form-field>
          <textarea #ExperienciaCtrl matInput maxlength="500" placeholder="Experiencia" rows="2" [value]="ExperienciaCtrl.value.toUpperCase()"
          formControlName="Experiencia"></textarea>
        <mat-hint align="start">
          <strong class="text-warning">Ingrese la experiencia requerida para la vacante.</strong>
        </mat-hint>
        <mat-hint align="end"><strong class="text-info">{{ExperienciaCtrl.value.length}} / 500</strong></mat-hint>
      </mat-form-field>
      <!-- Experiencia: {{exp}} -->
    </div>
  </section>
  <br>
  <section class="row" #SueldoSection>
    <section class="col-lg-6 col-md-6 colsm-12 col-xs-12">
      <section class="row">
        <mat-form-field class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput #SueldoMinimoCtrl class="text-right" style="font-size: 18px;" step="any" type="number"
            placeholder="Sueldo Mínimo" formControlName="SueldoMinimo" max="{{sueldoMax}}" (change)="getSueldoMinimo()"
            required="">
          <strong matSuffix>MXN.</strong>
        </mat-form-field>
        <mat-form-field class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput #SueldoMaximoCtrl class="text-right" style="font-size: 18px;" step="any" type="number"
            placeholder="Sueldo Máximo" formControlName="SueldoMaximo" min="{{sueldoMin}}" (change)="getSueldoMaximo()"
            required="">
          <strong matSuffix>MXN.</strong>
        </mat-form-field>
        <h5 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-primary">Sueldo Mensual</h5>
      </section>
      <section class=" row">
        <h4 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right text-warning">
          {{(sueldoMin / 30) * 7 | moneda: '$'}} MXN.
        </h4>
        <h4 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right text-warning">
          {{(sueldoMax / 30) * 7 | moneda: '$'}} MXN.
        </h4>
        <h5 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-primary">Sueldo Semanal</h5>
      </section>
      <br>
      <section class="row">
        <h4 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right text-warning">
          {{(sueldoMin / 30) | moneda: '$'}} MXN.
        </h4>
        <h4 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right text-warning">
          {{(sueldoMax / 30)| moneda: '$'}} MXN.
        </h4>
        <h5 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-primary">Sueldo Diario</h5>
      </section>
    </section>
    <section class="col-lg-6 col-md-6 colsm-12 col-xs-12">
      <mat-form-field>
        <mat-select formControlName="DiaCorte" placeholder="Días de Corte" required="">
          <mat-option *ngFor="let x of DiasCorte" [value]="x.id">{{x.diaSemana | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="TipoNomina" placeholder="Tipo de Nomina" required="">
          <mat-option *ngFor="let x of TiposNomina" [value]="x.id">{{x.tipoDeNomina | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="DiaPago" placeholder="Días de pago" required="">
          <mat-option *ngFor="let x of DiasPago" [value]="x.id">{{x.diaSemana | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="PeriodoPago" placeholder="Período de pago" required="">
          <mat-option *ngFor="let x of PeriodosPago" [value]="x.id">{{x.periodoPago | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </section>
</form>

