<div class="content-heading">
    <span class="text-muted">EDICI&Oacute;N DE REQUISICI&Oacute;N.</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item"><a [routerLink]="['/ventas/requisicion']">REQUISICIONES</a></li>
    <li class="breadcrumb-item active">EDITAR REQUISICI&Oacute;N</li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <button container="body" placement="bottom" tooltip="Regresar" class="mr-1 btn btn-xs btn-warning mat-elevation-z8"
      type="button" [routerLink]="['/ventas/requisicion']">
      <i class="icon-action-undo"></i>
    </button>
  </div>
</div>
<div class="mt-2">
  <app-view-info-requi [Folios]="folio" (EstatusId)="getEstatusRequi($event)"></app-view-info-requi>
</div>
  <div class="mt-2">
      <app-dt-horarios [Horarios]="Horarios" [Requi]="true" [EstatusRequi]="EstatusRequi"
        [TipoReclutamiento]="TipoReclutamiento" (NumeroVacantes)="NumeroVacantes = $event"></app-dt-horarios>
  </div>
  <div class="mt-2">
      <app-update-info-requi [Folios]="folio" [NumeroVacantes]="NumeroVacantes"></app-update-info-requi>
    </div>


<!-- <app-view-cuerpo-requi [Requisicion]="requiId"></app-view-cuerpo-requi> -->

<!-- <app-update-info-requi [Folios]="folio" [NumeroVacantes]= "NumeroVacantes"></app-update-info-requi>
<br />
<app-view-cuerpo-requi [Requisicion]="requiId" [ShowRequi]="true" (NumeroVacantes)="NumeroVacantes = $event"></app-view-cuerpo-requi> -->
