<div class="content-heading">
    <div>
        Nueva Requisici&oacute;n
        <span class="text-sm d-none d-sm-block">Generador de Requisiciones.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/ventas/requisicion']" >Requisiciones</a></li>
        <li class="breadcrumb-item active">Nueva Requisicion</li>
    </ol>
</div>

<div *ngIf="createRequi">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 text-right">
      <btn-return matTooltip="Regresar" [routerLink]="['/ventas/requisicion']">
      </btn-return>
    </div>
  </div>
  <br/>
  <app-update-info-requi [Folios]="folio"></app-update-info-requi>
  <br/>
  <app-view-cuerpo-requi [Requisicion]="requisicionId"></app-view-cuerpo-requi>
  