<ngx-spinner bdColor = "rgba(198,195,195,0.8)" size = "medium" color = "#90daff" type = "square-jelly-box"></ngx-spinner>
<div class="content-heading">
    <ul class="breadcrumb pull-right">
        <li><a [routerLink]="['/home']" >Inicio</a></li>
        <li><a [routerLink]="['/ventas/requisicion']" >Requisiciones</a></li>
        <li class="active">Nueva Requisicion</li>
    </ul>
    Nueva Requisicion
    <small> Generador de Requisiciones.</small>
</div>
<div *ngIf="createRequi">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 text-right">
      <btn-return matTooltip="Regresar" [routerLink]="['/ventas/requisicion']">
      </btn-return>
    </div>
  </div>
  <br/>
  <app-update-info-requi [Folios]="folio"></app-update-info-requi>
  <br/>
  <app-view-cuerpo-requi [Requisicion]="requisicionId"></app-view-cuerpo-requi>
  