<div class="content-heading">
    <div>
      <span class="text-sm d-none d-sm-block">Administraci&oacute;n de examenes.</span>
    </div>
    <!-- Breadcrumb right aligned-->
    <ol class="breadcrumb ml-auto">
          <li class="breadcrumb-item">
            <a [routerLink]="['/examenes/Principal']" [queryParams]="{ruta: 2}" [skipLocationChange]=true>Principal Examenes</a>
          </li>
          <li class="breadcrumb-item active">Examenes t&eacute;cnicos</li>
    </ol>
  </div>
<div class="card">
  <div class="card-body">
      <h5 class="text-warning">
          <i class="fa fa-pencil"></i> EXAMENES DISPONIBLES</h5>
<div class="row p-2 mt-2 bg-light">
    <div class="col-sm-12 col-md-12">
        <button [disabled]="rowAux.length == 0" [ngClass]="rowAux.length == 0 ? 'disable' : 'btn-warning'" container="body" class="ml-1 btn btn-xs mat-elevation-z8 float-left mr-2" placement="bottom" (click)="GetExamen(rowAux)"
        tooltip="Visualizar Examen">
        <i class="fa fa-eye"></i>
      </button>
      <button class="btn btn-xs btn-success mat-elevation-z8" placement="right" tooltip="Generar Examen T&eacute;cnico"  [routerLink]="['/examenes/addexamen']" [queryParams]="{ruta: 2}" [skipLocationChange]=true><i class="fa fa-plus"></i></button>
      <button class="btn btn-xs btn-success float-right mat-elevation-z8" type="button" (click)="refreshTable()"
        container="body" placement="bottom" tooltip="Actualizar">
        <i class="icon-refresh"></i>
      </button>
      <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros"
      class="mr-2 btn btn-xs btn-info float-right mr-2 mat-elevation-z8">
      <i class="fa fa-eraser"></i>
    </button>
    </div>
  </div>
  <table class="table border-top bb mt-1" style="width: 100%;">
    <thead>
      <tr>
        <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
          <small>{{column.title | uppercase}}</small>
        </th>
      </tr>
      <tr>
        <th *ngFor="let column of columns">
          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
            [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
            class="form-control form-control-sm" id="{{column.name}}">
        </th>
  
      </tr>
  
    </thead>
  
    <tbody>
      <ng-scrollbar #scrollable  
        track="all" [disabled]="disabled">
        <div style="height: 410px">
          <tr *ngFor="let row of rows; let rowIndex = index" [class.bg-info-light]="row.selected" (click)="onSelect(row)">
            <td class="text-center">
              {{row.tipo | uppercase}}
            </td>
            <td class="text-center"> {{row.examen | uppercase}}</td>
            <td class="text-center"> {{row.descripcion | uppercase}}</td>
            <td class="text-center">
                <span class="mr-1 badge badge-pill badge-info"> {{row.numPreguntas | numerico}}</span>
            </td>
            <td class="text-center">{{row.fch_Creacion | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">
                <span class="mr-1 badge badge-pill badge-info"> {{row.usuario | uppercase}}</span>
            </td>
          </tr>
        </div>
      </ng-scrollbar>
    </tbody>
  </table>
  <div class="mt-2 mr-1">
    <pagination *ngIf="config.paging" class="pagination-sm float-right" [(ngModel)]="page" [totalItems]="length"
      [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
      (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
  </div>
</div>
</div>

<div *ngIf="verExamen" [config]="{ show: true, ignoreBackdropClick: true, backdrop: 'static', keyboard: false }" bsModal
  #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title float-left text-warning"><i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>{{rowAux.examen | uppercase}}</h6>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="lgModal.hide();verExamen=false;">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
    
            <ng-scrollbar #scrollable  track="all"
              [disabled]="disabled">
              <div style="height: 500px;">

                    <ul class="list-group list-group-flush" *ngFor="let p of examen; let ind = index">
                        <li class="list-group-item text-muted">{{( ind + 1) + '.- ' + p.pregunta}}
                            <div *ngIf="p.file.length > 0" class="media">
                                <img class="img-fluid" src={{p.file}} alt="Image" style="width: 200px; height: 100px;" />
                              </div>
                              <ul>
                                <li *ngFor="let r of p.respuestas" class="text-info">{{r.resp}}
                                    <div *ngIf="r.file.length > 0" class="media">
                                        <img class="img-fluid" src={{r.file}} alt="Image" style="width: 200px; height: 100px;" />
                                      </div>
                                </li>
                              </ul>
                        </li>
                    </ul>

              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
