
.titulo
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#5d9cec !important;  
}

.margen
{
    margin-right: 5px;
}

tr.classCURP td
{
    background-color: rgb(240, 168, 183);
    color: white;
}

.row
{
    width: 100% !important;
}
// .table
// {
//     width: 100%;
// }

// tbody tr:hover
// {
//     font-size: 15px;
// }

// table {
//     width: 100%;
//   }
  
//   thead, tbody, tr, td, th { display: block; }
  
//   tr:after {
//     content: ' ';
//     display: block;
//     visibility: hidden;
//     clear: both;
//   }
  
//   thead th {
//     height: 60px;
  
//     /*text-align: left;*/
//   }
  
//   tbody {
//     height: 400px;
//     overflow-y: auto;
//   }
  
//   thead {
//     /* fallback */
//   }
  
  
//   tbody td, thead th {
//     width: 7.11%;
//     float: left;
//   }

