<div class="row">
  <div class="col-lg-8">    
    <h3 class="text-success"  mat-dialog-title>EDITAR PERSONAL CONTRATADO</h3>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-xs btn-danger btn-circle float-right" mat-dialog-close ><i class="fa fa-times"></i></button>
</div>
</div>
<mat-divider></mat-divider><br/>
<!-- <p><strong class="text-warning text-center">Horarios disponibles para la requisici&oacute;n</strong></p> -->
<mat-dialog-content>
 <!-- <form [formGroup]="formdata" role="form" name="formdata" novalidate>  -->
  <div class="table-responsive pointer">
    <table *ngIf="data else NotCandidatos" id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
      <thead>
        <tr>
          <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
            {{column.title | uppercase}}
            <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
            </i>
          </th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="showFilterRow">
          <td *ngFor="let column of columns">
            <input formControlName="filtro" *ngIf="column.filtering" placeholder="{{column.filtering.placeholder | uppercase}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
              class="form-control">
          </td>
        </tr>
        <tr *ngFor="let row of data; let rowIndex = index">
          <td class="text-center">{{row.folio}}</td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar">
              <span (dblclick)="editing[rowIndex + '-curp'] = true" *ngIf="!editing[rowIndex + '-curp']">
                  {{row.curp | uppercase}}
              </span>
       
              <input [(ngModel)]="row.curp" class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'curp', rowIndex)" *ngIf="editing[rowIndex + '-curp']" type="text" maxlength=18 [value]=row.curp >
              <span *ngIf="editing[rowIndex + '-curp']">
                <small [ngClass]="row.curp.length < 18 ? 'text-danger' : 'text-success'">
                  <em *ngIf="row.curp.length < 18 " class="fa fa-close"></em>
                  <em *ngIf="row.curp.length == 18" class="fa fa-check"></em>
                 CURP debe tener 18 caracteres
                </small>
              </span>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar" >
            <span  (dblclick)="editing[rowIndex + '-edad'] = true" *ngIf="!editing[rowIndex + '-edad']">
                {{row.edad | date:'dd-MM-yyyy'}}
            </span>
            <mat-form-field *ngIf="editing[rowIndex + '-edad']">
              <input class="form-control form-control-sm" matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" (dateChange)="updateValue($event, 'edad', rowIndex)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar" >
              <span (dblclick)="editing[rowIndex + '-nombre'] = true" *ngIf="!editing[rowIndex + '-nombre']">
                  {{row.nombre}}
              </span>
              <input [(ngModel)]="row.nombre" class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'nombre', rowIndex)" *ngIf="editing[rowIndex + '-nombre']" type="text" [value]=row.nombre>
              <span *ngIf="editing[rowIndex + '-nombre']">
                <small [ngClass]="row.nombre.length <= 0 ? 'text-danger' : 'text-success'">
                  <em *ngIf="row.nombre.length <= 0 " class="fa fa-close"></em>
                  <em *ngIf="row.nombre.length > 1" class="fa fa-check"></em>
                  EL campo Nombre debe contener al menos 1 caracter
                </small>
              </span>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar" >
              <span  (dblclick)="editing[rowIndex + '-apellidoPaterno'] = true" *ngIf="!editing[rowIndex + '-apellidoPaterno']">
                  {{row.apellidoPaterno}}
              </span>
              <input [(ngModel)]="row.apellidoPaterno" class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'apellidoPaterno', rowIndex)" *ngIf="editing[rowIndex + '-apellidoPaterno']" type="text" [value]=row.apellidoPaterno>
              <span *ngIf="editing[rowIndex + '-apellidoPaterno']">
                <small [ngClass]="row.apellidoPaterno.length <= 0 ? 'text-danger' : 'text-success'">
                  <em *ngIf="row.apellidoPaterno.length <= 0 " class="fa fa-close"></em>
                  <em *ngIf="row.apellidoPaterno.length > 1" class="fa fa-check"></em>
                  El campo Apellido Paterno debe contener al menos un caracter
                </small>
              </span>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar">
              <span (dblclick)="editing[rowIndex + '-apellidoMaterno'] = true" *ngIf="!editing[rowIndex + '-apellidoMaterno']">
                  {{row.apellidoMaterno}}
              </span>
              <input [(ngModel)]="row.apellidoMaterno" class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'apellidoMaterno', rowIndex)" *ngIf="editing[rowIndex + '-apellidoMaterno']" type="text" [value]=row.apellidoMaterno>
              <span *ngIf="editing[rowIndex + '-apellidoMaterno']">
                <small [ngClass]="row.apellidoMaterno.length <= 0 ? 'text-danger' : 'text-success'">
                  <em *ngIf="row.apellidoMaterno.length <= 0 " class="fa fa-close"></em>
                  <em *ngIf="row.apellidoMaterno.length > 1" class="fa fa-check"></em>
                  El campo Apellido Materno debe contener al menos un caracter
                </small>
              </span>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar">
            <span (dblclick)="editing[rowIndex + '-areaReclutamiento'] = true" *ngIf="!editing[rowIndex + '-areaReclutamiento']">
              {{row.areaReclutamiento }}
            </span>
            <mat-form-field *ngIf="editing[rowIndex + '-areaReclutamiento']">
              <mat-select placeholder="SELECCIONAR AREA DE RECL." [(value)]="areasId" (selectionChange)="updateValue($event, 'areaReclutamiento', rowIndex)" >
                <mat-option *ngFor="let a of areas" [value]="a.id">
                    {{a.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar">
            <span (dblclick)="editing[rowIndex + '-fuenteReclutamiento'] = true" *ngIf="!editing[rowIndex + '-fuenteReclutamiento']">
              {{row.fuenteReclutamiento | uppercase}}
            </span>
            <mat-form-field *ngIf="editing[rowIndex + '-fuenteReclutamiento']">
              <mat-select placeholder="SELECCIONAR FUENTE DE RECL." [(value)]="mediosId" (selectionChange)="updateValue($event, 'fuenteReclutamiento', rowIndex)">
                <mat-optgroup *ngFor="let m of medios" [label]="m.nombre | uppercase"
                              [disabled]="m.disabled">
                  <mat-option *ngFor="let sub of m.medios" [value]="sub.tipoMediosId">
                    {{sub.tipoNombre}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-center" container="body" placement="bottom" tooltip="Doble click para editar">
            <span (dblclick)="editing[rowIndex + '-sueldoMinimo'] = true" *ngIf="!editing[rowIndex + '-sueldoMinimo']">
                {{row.sueldoMinimo | currency : '$'}}
            </span>
            <!-- <input [(ngModel)]="row.sueldoMinimo" class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'sueldoMinimo', rowIndex)" *ngIf="editing[rowIndex + '-sueldoMinimo']" type="text" [value]=row.sueldoMinimo>
            <span *ngIf="editing[rowIndex + '-sueldoMinimo']">
              <small [ngClass]="row.sueldoMinimo.length <= 0 ? 'text-danger' : 'text-success'">
                <em *ngIf="row.sueldoMinimo.length <= 0 " class="fa fa-close"></em>
                <em *ngIf="row.sueldoMinimo.length > 1" class="fa fa-check"></em>
                El campo Sueldo debe contener al menos un caracter
              </small>
            </span> -->
          </td>
          <td class="text-center">{{row.usuario}}</td>
          <td class="text-center">{{row.fecha | date:'dd-MM-yyyy'}}</td>
          <td class="text-center">
            <button [disabled]="row.curp.length < 18 || row.nombre.length < 1 || row.apellidoPaterno.length < 1 || row.apellidoMaterno < 1 || !editCURP" class="mb-1 btn btn-xs btn-outline-success" type="button" (click)="UpdateData(row)" container="body" placement="bottom" tooltip="Actualizar">
              <em class="fa fa-check"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </form>  -->
</mat-dialog-content>
<br/><br/>
<mat-divider></mat-divider><br/>

<p class="text-warning">Es necesario completar la CURP, con los 2 ultimos digitos validadores </p>
<mat-dialog-actions class="float-right">
    
  <!-- <button class="btn btn-xs btn-labeled btn-outline-danger mb-2 margen" mat-dialog-close>
    <span class="btn-label">
        <i class="fa fa-times"></i>
      </span> Cancelar
  </button> -->
  <a class="btn btn-xs btn-labeled btn-outline-warning mb-2 margen" href="https://www.gob.mx/curp/" target="_blank" >
    <span class="btn-label">
      <i class="fa fa-file-text-o"></i>
    </span> Validar CURP
  </a>

  <button type="button" class="btn btn-xs btn-labeled btn-outline-success mb-2 margen" (click)="exportAsXLSX()">
    <span class="btn-label">
      <i class="fa fa-download"></i>
    </span> Descargar
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button class="btn btn-xs btn-outline-success mb-1 float-right" [disabled]="!seleccion" mat-button [mat-dialog-close]="seleccion">Aceptar</button> -->
  <!-- <button type="button" class="btn btn-xs btn-labeled btn-outline-success mb-2 margen" [mat-dialog-close]="true">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button> -->

</mat-dialog-actions>


<!-- 
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">×</span>
  </button> -->
  <!-- <div class="modal-dialog modal-lg" role="document">

          <div class="titulo">
              <span class="pull-left margenTitulo">Editar Contratados</span>
          </div>
          <div class="modal-body">
              <div class="table-responsive pointer">
                  <table *ngIf="data else NotCandidatos" id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
                    <thead>
                      <tr>
                        <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                          {{column.title}}
                          <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                          </i>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="showFilterRow">
                        <td *ngFor="let column of columns">
                          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                            class="form-control">
                        </td>
                      </tr>
                      <tr *ngFor="let row of data" [class.selected]="row.selected"  placement="bottom" tooltip="doble click para editar" container="body">
                        <td class="text-center">SIN ASIGNAR</td>
                        <td class="text-center">SIN ASIGNAR</td>
                        <td class="text-center"> {{row.curp}}</td>
                        <td class="text-center"> {{row.nombre}}</td>
                        <td class="text-center"> {{row.sueldoMinimo | currency : '$'}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          <div class="modal-footer justify-content-right">
              <button class="mb-1 btn btn-outline-success" type="button" (click)="refresh()" container="body" placement="bottom" tooltip="Exportar Contratados">
                  <em class="fa fa-download"></em>
                </button>
              <button type="button" class="mb-1 btn btn-outline-danger" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
          </div>

  </div > -->



    <!-- <span class="headerColor text-center">Editar informaci&oacute;n candidatos contratados
    <button type="button" class="close float-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>

        <div class="table-responsive pointer">
          <table *ngIf="data else NotCandidatos" id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
            <thead>
              <tr>
                <th class="text-center" *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                  {{column.title}}
                  <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                  </i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="showFilterRow">
                <td *ngFor="let column of columns">
                  <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                    class="form-control">
                </td>
              </tr>
              <tr *ngFor="let row of data" [class.selected]="row.selected"  placement="bottom" tooltip="doble click para editar" container="body">
                <td class="text-center">{{row.horario}}</td>
                <td class="text-center"> {{row.nombre}}</td>
                <td class="text-center"> {{row.areaExp}}</td>
                <td class="text-center"> {{row.areaInt}}</td>
                <td class="text-center"> {{row.localidad}} </td>
                <td class="text-center"> {{row.sueldoMinimo | currency : '$'}} </td>
                <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
                <td class="text-center"> {{row.curp}}</td>
                <td class="text-center"> {{row.rfc}}</td>
              </tr>
            </tbody>
          </table>
        </div> -->


<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con candidatos contratados.
          </alert>
    </div>
  </div>
</ng-template>