<div class="content-heading">
  <span>EDITAR</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a class="text-info" (click)="Regresar()" style="cursor: pointer;">CANDIDATOS EN PROCESO</a>
    </li>
    <li class="breadcrumb-item active text-muted">EDITAR CANDIDATOS CUBIERTOS</li>
  </ol>
</div>
<div class="d-flex justify-content-between align-items-center p-1 bg-cover bg text-white">
  <div class="radial-bar radial-bar-90 radial-bar radial-bar-warning m-0">
    <img [src]="dataSource.foto" (error)="errorImg()">
  </div>
  <h5>{{formPersonales.controls.nombre.value | uppercase}} {{formPersonales.controls.apellidoP.value | uppercase}} {{formPersonales.controls.apellidoM.value | uppercase}}</h5>
  <div class="d-flex flex-column justify-content-start fontRoboto">
    <span>RECLUTADOR</span>
    <span>{{reclutador | uppercase }}</span>
    <span>FOLIO - VACANTE</span>
    <span>{{data.folio}} - {{data.vBtra | uppercase}}</span>
  </div>
  <button container="body" placement="bottom" tooltip="Regresar" class="btn btn-xs btn-warning" type="button"
    (click)="Regresar()">
    <i class="icon-action-undo"></i>
  </button>
</div>
<div *ngIf="spinner" class="spinner">
  <div class="ball-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner> -->
</div>
<div class="card card-body">
  <div class="d-flex justify-content-end align-items-center p-1 bg-warning-light fontRoboto mb-2">
    <div  class="d-flex justify-content-end align-items-center">
      <a class="btn btn-xs btn-purple mat-elevation-z8" placement="bottom" tooltip="Validar CURP" href="https://www.gob.mx/curp/"
        target="_blank">
          <i class="fa fa-file-text-o"></i>
      </a>
      <!-- <button [disabled]="data.length==0" type="button" placement="bottom" tooltip="Descargar"
        class="btn btn-xs btn-success ml-2 mat-elevation-z8" (click)="exportAsXLSX()">
          <i class="fa fa-download"></i>
      </button> -->
    </div>
  </div>
  <form [formGroup]="formPersonales" novalidate>
    <div class="d-flex justify-content-between align-items-center align-items-strech mt-2">
      <mat-form-field class="mr-3 w-100">
        <input matInput (change)="GenerarCurp(null)" type="text" placeholder="NOMBRE" formControlName="nombre">
      </mat-form-field>
      <mat-form-field class="mr-3 w-100">
        <input matInput (change)="GenerarCurp(null)" type="text" placeholder="APELLIDO PATERNO"
          formControlName="apellidoP" />
      </mat-form-field>
      <mat-form-field class="mr-3 w-100">
        <input matInput (change)="GenerarCurp(null)" type="text" placeholder="APELLIDO MATERNO"
          formControlName="apellidoM" />
      </mat-form-field>
    </div>
    <small class="text-danger" *ngIf="formPersonales.controls.nombre.value.length == 0 ||
      formPersonales.controls.apellidoP.value.length == 0 ||
      formPersonales.controls.apellidoM.value.length == 0">Campos requeridos</small>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="d-flex flex-column mr-3 w-100" >
        <small class="text-muted mb-1">GENERO *</small>
        <mat-radio-group formControlName="genero">
          <div class="d-flex justify-content-start align-items-center">
            <mat-radio-button class="mr-4" (change)="GenerarCurp(null)" [value]=2><i class="fa fa-female text-pink mr-1" aria-hidden="true"></i>MUJER
            </mat-radio-button>
            <mat-radio-button (change)="GenerarCurp(null)" [value]=1><i class="fa fa-male text-primary mr-1"
                aria-hidden="true"></i>HOMBRE
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <mat-form-field class="mr-3 w-100">
        <mat-label>FECHA DE NACIMIENTO</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNac"
          (dateChange)="validarFecha($event.value);GenerarCurp(null);">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <small *ngIf="edad >= 18" class="text-info">Edad {{edad}}</small>
      </mat-form-field>
      <mat-form-field class="mr-3 w-100">
        <mat-label>LUGAR DE NACIMIENTO</mat-label>
        <mat-select formControlName="estadoNac" (selectionChange)="GenerarCurp($event.value)">
          <mat-option *ngFor="let e of estados" [value]=e.clave>
            {{e.estado | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <small class="text-danger" *ngIf="formPersonales.controls.genero.value == 0">Campos requeridos</small>
    <div class="d-flex justify-content-between align-items-center w-100 mt-3">
      <div class="mr-3 d-flex justify-content-between align-items-center w-100">
      <mat-form-field class="w-100">
        <input class="text-warning" matInput type="text" placeholder="CURP" formControlName="curp" minlength="16" maxlength=18 />
        <em matSuffix class="fa fa-refresh text-info em-button" container="body" placement="top" tooltip="Generar CURP"
          (click)="GenerarCurp(formPersonales.get('estadoNac').value)"></em>
      </mat-form-field>
      <mat-form-field class="ml-2">
        <input matInput type="text" formControlName="cvCurp" maxlength=2>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between align-items-center ml-2 w-100">
      <mat-form-field class="mr-3 w-100">
        <input class="text-warning" formControlName="rfc" matInput placeholder="RFC *">
      </mat-form-field>
      <mat-form-field class="ml-2">
        <input matInput type="text" formControlName="cvRFC" maxlength=3>
      </mat-form-field>
    </div>
      <mat-form-field class="w-100 ml-2">
        <input class="text-warning" formControlName="nss" matInput placeholder="NSS *">
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end mt-2 mb-3">
      <!-- <a class="btn btn-xs btn-labeled btn-warning mb-2 margen mat-elevation-z8" href="https://www.gob.mx/curp/"
        target="_blank">
        <span class="btn-label">
          <i class="fa fa-file-text-o"></i>
        </span> Validar CURP
      </a>

      <button [disabled]="data.length==0" type="button"
        class="btn btn-xs btn-labeled btn-success mb-2 margen mat-elevation-z8" (click)="exportAsXLSX()">
        <span class="btn-label">
          <i class="fa fa-download"></i>
        </span> Descargar
      </button> -->
      <button [disabled]="formPersonales.invalid" type="button"
        class="btn btn-xs btn-labeled btn-success mat-elevation-z8" (click)="UpdateData()">
        <span class="btn-label">
          <i class="fa fa-floppy-o"></i>
        </span>GUARDAR CAMBIOS
      </button>
    </div>
    </form>
  </div>
  <!--mensaje cuando esta vacio la tabla-->
  <ng-template #NotCandidatos>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
          <strong>Oops!</strong> A&uacute;n no cuentas con candidatos cubiertos.
        </alert>
      </div>
    </div>
  </ng-template>