.bg {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  background: -moz-linear-gradient(left, #3931af 0%, #00c6ff 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3931af), color-stop(100%, #00c6ff));
  background: -o-linear-gradient(left, #3931af 0%, #00c6ff 100%);
  background: -ms-linear-gradient(left, #3931af 0%, #00c6ff 100%);
  background: linear-gradient(to right, #3931af 0%, #00c6ff 100%);
  padding: 2%;
  height: 100%;

}
tr.classCURP td
{
    background-color: rgb(240, 168, 183);
    color: white;
}

.spinner {
    position: absolute;
    margin-left: 45%;
    margin-top: 10%;
    z-index: 9999;
  }
// .table
// {
//     width: 100%;
// }

// tbody tr:hover
// {
//     font-size: 15px;
// }

// table {
//     width: 100%;
//   }
  
//   thead, tbody, tr, td, th { display: block; }
  
//   tr:after {
//     content: ' ';
//     display: block;
//     visibility: hidden;
//     clear: both;
//   }
  
//   thead th {
//     height: 60px;
  
//     /*text-align: left;*/
//   }
  
//   tbody {
//     height: 400px;
//     overflow-y: auto;
//   }
  
//   thead {
//     /* fallback */
//   }
  
  
//   tbody td, thead th {
//     width: 7.11%;
//     float: left;
//   }

