<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="dt-container mat-elevation-z8">
  <div class="dt-header">
    <mat-form-field>
      <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering"
        (tableChanged)="onChangeTable(config)">
    </mat-form-field>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-stretch ">
          <button id="view" chkPrivilegiosButtons (click)="showDamfo()" class="mb-1 btn btn-acciones margen" [disabled]="!element"
          [ngClass]="(!element) ? 'disabled' : 'btn-outline-warning'" matTooltip="Visualizar"><em class="fa fa-eye"></em></button>
        <button id="view" chkPrivilegiosButtons (click)="openDialog()" class="mb-1 btn btn-acciones margen" [disabled]="!element"
          [ngClass]="(!element) ? 'disabled' : 'btn-outline-success'" matTooltip="Crear Requisición"><em class="icon-docs"></em></button>
      </div>
      <div>
        <btn-return matTooltip="Regresar" class="margen" [routerLink]="['/ventas/requisicion']"></btn-return>
        <button (click)="clearfilters()" matTooltip="Limpiar Filtros" class="margen mb-1 btn btn-outline-primary">
            <em class="fa fa-eraser"></em>
          </button>
        <btn-refresh (click)="refreshTable()" class="margen" matTooltip="Actualizar"></btn-refresh>
      </div>
    </div>

  </div>
  <div class="card card-default">
    <div #tableContainer>
      <table id="resultDataTable" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              {{column.title}}
              <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
              </i>
            </th>
          </tr>
          <tr *ngIf="showFilterRow" class="filter-colum">
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                (tableChanged)="onChangeTable(config)" class="form-control" id="{{column.name}}">
            </td>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onCellClick(row)" (dblclick)="showDamfo()" *ngFor="let row of rows" [class.confident]="row.confidencial"
            [class.cancel]="row.estatusId == 8">
            <td>
              {{row.cliente}}
            </td>
            <td> {{row.nombrePerfil}}</td>
            <td class="text-center">
              <span class="px-1 mr-1  badge  badge-pill badge-info"> {{row.vacantes}}</span>
            </td>
            <td class="text-right"> {{row.sueldoMinimo | currency: $}}</td>
            <td class="text-right"> {{row.sueldoMaximo | currency: $}}</td>
            <td class="text-center">{{row.tipoReclutamiento }}</td>
            <td class="text-center">{{row.claseReclutamiento}}</td>
            <td class="text-center">{{row.fch_Creacion | date:'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event">
    </pagination>
  </div>
  <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre>
</div>
