<div class="card media">
  <div class="card-body mat-elevation-z8">
    <div class="row">
      <div class="col-sm-12 col-md-12 clearfix p-2 bg-light">
        <button *ngIf="Perfil290" id="create" chkPrivilegiosButtons class="mr-2 btn btn-xs btn-info mat-elevation-z8"
          container="body" placement="bottom" tooltip="Nuevo DAMFO-290" (click)="crearPerfil290()">
          <em class="fa fa-plus"></em>
        </button>
        <button id="view" chkPrivilegiosButtons (click)="showDamfo()" class="mr-2 btn btn-xs mat-elevation-z8"
          [disabled]="!selected" [ngClass]="(!selected) ? 'disabled' : 'btn-warning'" container="body"
          placement="bottom" tooltip="Visualizar">
          <em class="fa fa-eye"></em>
        </button>
        <button *ngIf="Perfil290" id="update" chkPrivilegiosButtons class="mr-2 btn btn-xs mat-elevation-z8"
          [ngClass]="!selected || !isEditable ? 'disabled' : 'btn-primary'" container="body" placement="bottom"
          [disabled]="!selected || !isEditable"
          tooltip="Editar" (click)="editar290()">
          <em class="icon-pencil"></em>
        </button>
        <button *ngIf="Perfil290" id="create" chkPrivilegiosButtons class="mr-2 btn btn-xs mat-elevation-z8"
          [ngClass]="!selected || !isEditable ? 'disabled' : 'btn-warning'" container="body" placement="bottom"
          [disabled]="!selected || !isEditable"
          tooltip="Clonar Formato" (click)="clonarFormato290()">
          <em class="fa fa-clone"></em>
        </button>
        <button *ngIf="Perfil290" id="update" chkPrivilegiosButtons class="mr-2 btn btn-xs mat-elevation-z8"
          [ngClass]="!selected || !isEditable ? 'disabled' : 'btn-success'" container="body" placement="bottom"
          [disabled]="!selected || !isEditable"
          tooltip="Anexos" (click)="ShowModal = true;">
          <em class="fa fa-file-pdf-o"></em>
        </button>
        <button *ngIf="!Perfil290" id="view" chkPrivilegiosButtons (click)="openDialog()"
          class="mr-2 btn btn-xs mat-elevation-z8" [disabled]="!selected"
          [ngClass]="(!selected) ? 'disabled' : 'btn-success'" container="body" placement="bottom"
          tooltip="Crear Requisición">
          <em class="icon-docs"></em>
        </button>
        <button class="mr-2 btn btn-xs btn-success float-right mat-elevation-z8" type="button" (click)="refreshTable()"
          container="body" placement="bottom" tooltip="Actualizar">
          <em class="icon-refresh"></em>
        </button>
        <button *ngIf="!Perfil290" container="body" placement="bottom" tooltip="Regresar"
          class="mr-2 btn btn-xs btn-warning float-right mat-elevation-z8" type="button"
          [routerLink]="['/ventas/requisicion']">
          <em class="icon-action-undo"></em>
        </button>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros"
          class="mr-2 btn btn-xs btn-info float-right mat-elevation-z8">
          <em class="fa fa-eraser"></em>
        </button>
      </div>
      <!-- <ng-template #NewPerfil290>
        seccion para nuevos formatos 290
      </ng-template> -->
    </div>

    <div class="row" #tableContainer>
      <div class="col-sm-12 col-md-12 table-responsive clearfix">
        <div>
          <pre class="card-block float-right">Registros Totales: {{dataSource.length}}</pre>
        </div>
        <table id="resultDataTable" ngClass="{{config.className || ''}}" class="table" style="width: 100%;">
          <thead>
            <tr>
              <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                {{column.title | uppercase}}
                <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)"
                  [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                </i>
              </th>
            </tr>
            <tr *ngIf="showFilterRow">
              <td *ngFor="let column of columns">
                <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                  [ngTableFiltering]="column.filtering" (tableChanged)="onChangeTable(config)"
                  class="form-control form-control-sm" id="{{column.name}}">
              </td>
            </tr>
          </thead>
          <tbody>
            <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true"
              [compact]="compact" [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
              <div>
                <tr (click)="onCellClick(row)" (dblclick)="showDamfo()" *ngFor="let row of rows"
                  [class.confident]="row.confidencial" [class.cancel]="row.estatusId == 8"
                  [class.selected]="row.selected">
                  <td>
                    {{row.cliente}}
                  </td>
                  <td> {{row.nombrePerfil}}</td>
                  <td class="text-center">
                    <span class="px-1 mr-1  badge  badge-pill badge-info"> {{row.vacantes}}</span>
                  </td>
                  <td class="text-right"> {{row.sueldoMinimo | moneda: '$'}}</td>
                  <td class="text-right"> {{row.sueldoMaximo | moneda: '$'}}</td>
                  <td class="text-center">{{row.tipoReclutamiento }}</td>
                  <td class="text-center">{{row.claseReclutamiento}}</td>
                  <td class="text-center">{{row.fch_Creacion | date:'dd/MM/yyyy'}}</td>
                </tr>
              </div>
            </ng-scrollbar>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 clearfix">
        <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
          [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
          (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
        <pre *ngIf="config.paging"
          class="text-muted float-right"><small>P&aacute;gina: {{page}} / {{numPages}} Registros: {{registros}}</small></pre>
      </div>
    </div>
  </div>
</div>


<!-- MODAL DE ANEXOS -->
<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal
  #MessageModal="bs-modal" class="modal" tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg reporteMod">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="float-left text-warning"><em class="fa fa-file-text-o mr-2"></em>Anexos de Formato DAMFO-290 {{element.nombrePerfil}} </h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
            class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-file-manager [candidatoId]='damfoId'></app-file-manager>
      </div>
    </div>
  </div>
</div>


<!-- Elenetos visuales -->
<ngx-spinner bdColor="rgba(198,195,195,0.8)" size="medium" color="#90daff" type="square-jelly-box"></ngx-spinner>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
