<form [formGroup]="formRequi" (ngSubmit)="Save()">
  <mat-card>
    <div class="row">
      <div class="col-md-12">
        {{disabled}}
        <mat-form-field>
          <input matInput formControlName="folio" placeholder="No. FOLIO: ">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <mat-slide-toggle
            class="example-margin"
            [color]="warn"
            formControlName="confidencial">
          Vacante Confidencial
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-form-field>
          <input matInput
          [matDatepicker]="solicitud"
          placeholder="Fecha Solicitud"
          formControlName="fch_Solicitud"
          required>
          <mat-datepicker-toggle matSuffix [for]="solicitud"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" [disabled]="true" #solicitud></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <input matInput [matDatepicker]="limite" placeholder="Fecha Limite"
          formControlName="fch_Limite" lang="es-mx">
          <mat-datepicker-toggle matSuffix [for]="limite"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #limite></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field>
            <mat-select placeholder="Prioridad"
            formControlName="prioridad"
            required>
              <mat-option *ngFor="let x of Prioridades" [value]="x.id">
                {{x.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <input matInput
          [matDatepicker]="cumplimiento"
          placeholder="Fecha Cumplimiento"
          formControlName="fch_Cumplimiento"
          required>
          <mat-datepicker-toggle matSuffix [for]="cumplimiento"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" [disabled]="true" #cumplimiento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select placeholder="Estatus"
          formControlName="estatus"
          required>
            <mat-option *ngFor="let x of Estatus" [value]="x.id">
              {{x.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</form>
