<div class="card card-body">
  <div *ngIf="loading" class="d-flex align-items-center justify-content-center">
    <div class="ball-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center p-1 bg-info-light">
    <span>
      FOLIO <strong class="ml-1"> {{folio}}</strong>
    </span>
    <span>
      PERFIL<strong class="ml-1">{{vBtra | uppercase}}</strong>
    </span>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <h5>
      VACANTES
      <label class="badge badge-pill badge-info ml-2">{{vacantes}}</label>
    </h5>
    <h5>
      FECHA SOLICITUD
      <label class="card-text"> {{fch_Solicitud | date: 'dd/MM/yyyy'}} A LAS {{fch_Solicitud | date: 'hh:mm'}}
      </label>
      <small class="ml-1">{{fch_Solicitud | date: 'a'}}</small>
    </h5>
    <h5>
      FECHA L&Iacute;MITE
      <label class="card-text"> {{fch_Limite | date: 'dd/MM/yyyy'}} </label>
    </h5>
    <h5>
      FECHA CUMPLIMIENTO
      <label class="card-text"> {{fch_Cumplimiento | date: 'dd/MM/yyyy'}}</label>
    </h5>
  </div>
  <div class="d-flex justify-content-between mt-2">
    <h5>
      PRIORIDAD
      <label class="badge badge-pill" [class.badge-danger]="prioridadId  === 1"
        [class.badge-warning]="prioridadId  === 2"> {{prioridad}} </label>
    </h5>
    <h5>
      CONFIDENCIAL
      <label *ngIf="confidencial" class="badge badge-pill badge-info"> SI</label>
      <label *ngIf="!confidencial" class="badge badge-pill badge-info"> NO</label>
    </h5>
    <h5>
      ESTATUS
      <label class="badge badge-pill" [class.badge-warning]="estatusId  === 4" [class.badge-primary]="estatusId  === 5"
        [class.badge-info]="estatusId  === 6" [class.badge-success]="estatusId  === 7"
        [class.badge-danger]="estatusId  === 8"> {{estatus}} </label>
    </h5>

  </div>
  <div class="d-flex justify-content-between mt-2">
    <h5>
      SOLICITANTE<br>
      <label class="text-muted">{{solicitante}}</label>
    </h5>
    <div>
    <h5>
      COORDINADOR O L&Iacute;DER
    </h5>
      <span *ngIf="(coordinador || []).length == 0" class="text-warning">SIN ASIGNAR</span>
      <ul *ngIf="(coordinador || []).length > 0" class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let x of coordinador">
          <span class="text-muted text-uppercase">{{x.nombre}} {{x.apellidoPaterno}} {{x.apellidoMaterno}}</span>
        </li>
      </ul>

    </div>
    <div>
      <h5>
        RECLUTADORES
      </h5>
<span *ngIf="(asignados || []).length == 0"  class="text-warning">SIN ASIGNAR</span>
      <ul *ngIf="(asignados || []).length > 0" class="list-group list-group-flush bg-light">
        <li class="list-group-item" *ngFor="let x of asignados">
          <span class="text-muted text-uppercase">{{x.nombre}} {{x.apellidoPaterno}} {{x.apellidoMaterno}}</span>
        </li>
    </ul>
  </div>
  </div>
</div>
<!-- </div> -->