<form [formGroup]="BeneficioArray">
  <section class="col-12">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong class="text-warning">Beneficios</strong> <span class="fa fa-plus em-button text-primary float-right"
      (click)="AddBeneficio()"></span>
    <mat-divider></mat-divider>
  </section>
  <section>
    <div *ngFor="let beneficio of BeneficioArray['controls'].beneficio['controls']; let i=index">
      <div formArrayName="beneficio">
        <form [formGroupName]="i">
          <app-beneficios-p [IdFormato]="IdFormato" [beneficio]="BeneficioArray.controls.beneficio.controls[i]" [index]="i"
            (Add)="Agregar($event)" (remove)="removeBeneficio($event)" (Registros)="getRegistros($event)">
          </app-beneficios-p>
        </form>
      </div>
    </div>
  </section>
</form>
