
<div class="card box">
    <div class="card-body mat-elevation-z8">
      <div class="d-flex justify-content-between">
        <label class="text-info"><strong>Estatus Activo</strong> </label>
        <em class="icon-refresh em- text-success"
              (click)="ngOnInit()"></em>
      </div>
      <br>
      <div>
        <canvas id="canvas2"></canvas>
        <br>
        <mat-divider></mat-divider>
        <small><span class="float-right"> Total Posiciones: <span
              class="badge badge-info">{{total}}</span></span></small>
      </div>
    </div>
  </div>

  <!-- <div style="text-align: center">
        <strong style="color: #23b7e5" >{{total}} Estatus Activo</strong> 
      </div>
<div   >
    <canvas  id="canvas2" ></canvas>
</div> -->



<!-- Modal para visualizar vacantes seleccionadas -->
<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal #MessageModal="bs-modal" class="modal"
  tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg reporteMod">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="float-left text-warning"><em class="fa fa-file-text-o mr-2"></em>Informaci&oacute;n de Vacantes {{EstadoVacante}} </h4>
        <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
            class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <app-dt-vacantes-grafica-pa [EstadoVacante]="EstadoVacante"></app-dt-vacantes-grafica-pa>
      </div>
    </div>
  </div>
</div>