<div class="card" style="height: 390px">
  <div class="card-body mat-elevation-z8">
    <div class="d-flex justify-content-between align-items-center p-1 bg-warning fontRoboto text-uppercase">
      <span>Folios Cubiertos</span>
      <em class="icon-refresh" (click)="ngOnInit()"></em>
    </div>
    <br>
    <div>
      <canvas id="canvas"></canvas>
    </div>
  </div>
</div>

<!-- Modal para visualizar vacantes seleccionadas -->
<div *ngIf="ShowModal" [config]="{ show: true, ignoreBackdropClick: true, keyboard: false }" bsModal #MessageModal="bs-modal" class="modal"
tabindex="-1" role="document" aria-labelledby="dialog-auto-name">
<div class="modal-dialog modal-lg reporteMod">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="float-left text-warning"><em class="fa fa-file-text-o mr-2"></em>Informaci&oacute;n de Vacantes {{EstadoVacante}} </h4>
      <button type="button" class="btn btn-xs btn-danger btn-circle float-right" (click)="ShowModal=false"><i
          class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
      <app-grafica-reporte [EstadoVacante]="EstadoVacante"></app-grafica-reporte>
    </div>
  </div>
</div>
</div>