
.card
{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.badge 
{
  font-family: 'Lato', sans-serif;
  font-size: 10px !important;
}

.badge-warning
{
  color: white;
}

table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table {
  width: 100%;
}

table tbody div {
  height: 300px;
}

table thead
{
  font-size: 10px;
}

tbody tr:hover {
  font-size: 13px;
  
  box-shadow: 1px 5px 60px rgba(0, 0, 0, .23);
}

tbody tr:hover span {
  font-size: 13px;
  
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}