<mat-tab-group>
    <mat-tab>
        <div [formGroup]="formMunicipio">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assignment</mat-icon>
                Formulario
            </ng-template>
            <div class="row">
                <div class="col-md-2 m-5">
                    <mat-form-field>
                        <mat-label>Selecciona un estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let estado of CEstados" [value]="estado.id">
                                {{estado.estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2 m-5">
                    <mat-form-field>
                        <input formControlName="municipio" matInput placeholder="Agrega un municipio" required>
                    </mat-form-field>
                </div>
                <div class="col-md-1 m-5">
                    <section class="example-section">
                        <mat-checkbox formControlName="activo">Activo</mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <br>
        <!-- Card de botones -->
        <mat-card>
            <button style="margin-left: 10px; " class="btn btn-labeled btn-outline-green mb-1" type="button" (click)="New()" container="body" placement="bottom" tooltip="Nuevo catalogo">
                                          <span class="btn-label ">
                                            <i class="fa fa-file-text-o"></i>
                                          </span>Nuevo
                                        </button>
            <!-- <button style="margin-left: 10px; " class="btn btn-labeled btn-outline-warning mb-1" type="button" (click)="LimpiarFiltro()" container="body" placement="bottom" tooltip="Editar catalogo">
                                        <span class="btn-label ">
                                          <i class="fa fa-pencil"></i>
                                        </span>Editar
                                      </button> -->
            <button style="margin-left: 10px; " class="btn btn-labeled btn-outline-dark mb-1" type="button" (click)="Save()" container="body" placement="bottom" tooltip="Guardar los datos">
                                        <span class="btn-label ">
                                          <i class="fa fa-floppy-o"></i>
                                        </span>Guardar
                                      </button>
            <button style="margin-left: 10px; " class="btn btn-labeled btn-outline-info mb-1" type="button" (click)="Limpiar()" container="body" placement="bottom" tooltip="Limpia todo los filtros">
                                          <span class="btn-label ">
                                            <i class="fa fa-eraser"></i>
                                          </span>Limpiar
                                        </button>
        </mat-card>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">history</mat-icon>
            Historico
        </ng-template>
        <table _ngcontent-c12="" style="font-size: 12px" class="table table-striped table-hover ">
            <thead _ngcontent-c12="">
                <tr _ngcontent-c12="">
                    <th _ngcontent-c12="" class="text-center text-success ng-star-inserted"> Campo 1 </th>
                    <th _ngcontent-c12="" class="text-center text-primary ng-star-inserted"> Campo 2 </th>
                    <th _ngcontent-c12="" class="text-center text-primary ng-star-inserted"> Campo 3 </th>
                </tr>
            </thead>
            <tbody _ngcontent-c12="">
                <tr _ngcontent-c12="" class="rowHover ng-star-inserted">
                    <td _ngcontent-c12="" class="text-center">1
                    </td>
                    <td _ngcontent-c12="" class="text-center">2</td>
                    <td _ngcontent-c12="" class="text-center">3
                    </td>
                </tr>
                <tr _ngcontent-c12="" class="rowHover ng-star-inserted">
                    <td _ngcontent-c12="" class="text-center">1
                    </td>
                    <td _ngcontent-c12="" class="text-center">2</td>
                    <td _ngcontent-c12="" class="text-center">3
                    </td>
                </tr>
                <tr _ngcontent-c12="" class="rowHover ng-star-inserted">
                    <td _ngcontent-c12="" class="text-center">1
                    </td>
                    <td _ngcontent-c12="" class="text-center">2</td>
                    <td _ngcontent-c12="" class="text-center">3
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
</mat-tab-group>