<h3 class="text-primary text-center" mat-dialog-title> Editar número de vacantes</h3>
<mat-divider></mat-divider>
<mat-dialog-content>
  <br>
  <div class="row form-group">
    <div class="col-md-12">
      <mat-form-field>
        <input type="number" class="form-control" matInput placeholder="Numero de Vacantes" [(ngModel)]="vacanteN" max="999"
          value="0" min="0" required>
        <mat-hint align="start">
          <strong>El registro de vacantes es de 1 a 999.</strong>
        </mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="msWarning || msgDanger ">
    <div class="col-md-12">
      <span *ngIf="msgDanger">
        <small class="text-danger">
          <em class="fa fa-close"></em>
          <strong>Oops...!</strong> Ocurrio un error al intentar modificar la vacante.
        </small>
      </span>
      <span *ngIf="msWarning">
        <small class="text-danger">
          <em class="fa fa-close"></em>
          <strong>Oops...!</strong> Por lo menos un horario debe contar con 1 vacante.
        </small>
      </span>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>


<mat-dialog-actions>
  
  <button type="button" class="btn btn-xs btn-labeled btn-outline-danger mb-1 margin" (click)="onCloseDialog()">
    <span class="btn-label">
      <i class="fa fa-times"></i>
    </span> Cancelar
  </button>
  <button type="button" class="btn btn-xs btn-labeled btn-outline-success mb-1 margin" (click)="updateVacante()" [disabled]="vacanteN < 0 || vacanteN > 999">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
</mat-dialog-actions>
