<mat-form-field class="fieldautocomplete-full-width">
  <input  matInput placeholder="Colonia" aria-label="Colonia" [matAutocomplete]="auto" [formControl]="ColoniaCtrl" (blur)="SendIdColonia()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let colonia of filteredColonia | async" [value]="colonia.colonia">
        <div class="row">
          <div class="col-md-4">
            <small>{{ colonia.colonia }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
