.carousel-caption
{
    position: absolute;
    width: 600px;
    height: 550px;
    right: 0%;
    left: 6%;
    top: 10%;
    z-index: 10;
    text-align: justify;
}

.carousel-caption p
{
    font-size: 14px;
    width: 310px;
    // position: absolute;
    // top: 20%;
    // left: 2%;
    text-align: justify;
}

.carousel-caption h4
{
    font-size: 18px;
    width: 350px;
    // position: absolute;
    // top: 20%;
    // left: 2%;
    text-align: justify;
}

.carousel-caption .vacante
{
   
    color: rgb(0, 0, 255);

}

.carousel-caption .quenecesitas
{
    font-size: 14px;
    width: 150px;
    color: blue;
    // position: absolute;
    // top: 60%;
    // left: 0%;
    text-align: justify;
}
.carousel-caption .tienesdudas
{
    font-size: 12px;
    width: 200px;
    color: blue;
    // position: absolute;
    // top: 60%;
    // left: 0%;
    text-align: justify;
}

.carousel-caption .contacto
{
    font-size: 12px;
    width: 200px;
    color: blue;
    // position: absolute;
    // top: 60%;
    // left: 0%;
    text-align: left;
}
.carousel-caption .pagina{
    color: blue;
    font-size: 12px;
    margin-top: 3%;
}
.carousel-caption .row{
margin-top: 1%;
}
.carousel-caption .row .logoesr{
    width: 20%;
    margin-top: -14px;
    // -webkit-animation: mover 2s infinite  alternate;
    // animation: mover 1s infinite  alternate;
}
.carousel-caption .row .logoiso{
    width: 10%;
    margin-top: 1%;
    // -webkit-animation: mover 2s infinite  alternate;
    // animation: mover 1s infinite  alternate;
}
.carousel-caption .row .logoDamsa{
    width: 35%;
    margin-bottom: 2%;
    // -webkit-animation: mover 2s infinite  alternate;
    // animation: mover 1s infinite  alternate;
}