<div class="container-fluid">
 <div class="card card-body">
  <div class="row ml-3">
    <div class="col-sm-4 col-md-4">
        <div class="bg-light p-1 mb-4">
          <button class="btn btn-xs btn-purple mr-2 mat-elevation-z8" type="button" (click)="openDialogRequiArte()" container="body" placement="bottom" tooltip="Seleccionar Vacante">
                <i class="fa fa-file-text-o"></i>
              </button>
          <button class="btn btn-xs btn-warning mr-2 mat-elevation-z8" type="button" (click)="openDialogBG()" container="body" placement="bottom" tooltip="Adjuntar archivo">
            <i class="fa fa-picture-o"></i>
          </button>
          <button (click)="Borrar()" class="btn btn-xs btn-info mat-elevation-z8" container="body" placement="bottom" tooltip="Borrar">
              <i class="fa fa-eraser"></i>
            </button>
            <button (click)="Guardar()" class="btn btn-xs btn-success mat-elevation-z8 float-right" container="body" placement="bottom" tooltip="Guardar Cambios">
                <i class="fa fa-floppy-o"></i>
              </button>
        </div>
        <div class="form-group">
            <label class="text-muted" for="nombre">VACANTE DE:</label>
            <div class="input-group input-group-sm with-focus">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="vBtra" >
            <div class="input-group-append border-left-0">
                <div style="cursor: pointer;" [(fontPicker)]="fontVacante" [fpWidth]="'330px'" [fpPosition]="'bottom'" class="input-group-text fa fa-font bg-transparent border-left-0"></div>
                <div style="cursor: pointer;" [(colorPicker)]="ColorPickerVac" class="input-group-text fa fa-tint bg-transparent border-left-0"></div>
              </div>
          </div>
        </div>
        <div class="form-group">
            <label for="descripcion">DESCRIPCI&Oacute;N
                <div style="cursor: pointer;" [(fontPicker)]="fontDesc" [fpWidth]="'330px'" [fpPosition]="'bottom'" class="fa fa-font ml-2"></div>
                <i style="cursor: pointer;" [(colorPicker)]="ColorPickerDesc" class="fa fa-tint ml-2"></i>
            </label>
            <textarea class="form-control" id="descripcion" rows="3" [(ngModel)]="descripcion"></textarea>
        </div>
        <div class="form-group">
            <label for="experiencia">¿Que necesitas?
              <div style="cursor: pointer;" [(fontPicker)]="fontNecesitas" [fpWidth]="'330px'" [fpPosition]="'bottom'" class="fa fa-font ml-2"></div>
              <i style="cursor: pointer;" [(colorPicker)]="ColorPickerNecs" class="fa fa-tint ml-2"></i>
            </label>
            <div class="row">
                <div class="col-md-11">
            <textarea class="form-control" id="experiencia" rows="3" [(ngModel)]="experiencia" maxlength="150"></textarea>
            <small>caracteres permitidos 150: {{ 150 - experiencia.length}} </small>
          </div>
          <div class="col-md-1">
              <i style="cursor: pointer;" [(colorPicker)]="ColorPickerDescNesc" class="fa fa-tint ml-2"></i>
          </div>
          </div>
        </div>
        <div class="form-group">
            <label for="contacto">¿Tienes dudas?
              <div style="cursor: pointer;" [(fontPicker)]="fontDudas" [fpWidth]="'330px'" [fpPosition]="'bottom'" class="fa fa-font ml-2"></div>
              <i style="cursor: pointer;" [(colorPicker)]="ColorPickerDudas" class="fa fa-tint ml-2"></i></label>
            <textarea class="form-control" id="contacto" rows="3" [(ngModel)]="contacto" maxlength="150" ></textarea>
            <small>caracteres permitidos 150: {{ 150 - contacto.length}} </small>
        </div>
    </div>
    <div class="col-sm-8 col-md-8" >
      <div  class="mat-elevation-z8" style="width: 750px; height: 650px;">
        <div id='my-node' class="media" style="width: 750px; height: 650px;">
          <img alt="Random slide" [src]="bg" [width]="750" [height]="650">

        <div class="carousel-caption">
          <h4 class="text-muted">
            VACANTE DE:</h4>
          <h3 [style.font-family]="fontVacante.family" [style.color]="ColorPickerVac" class="vacante">
            {{vBtra}}
          </h3>
          <p [style.color]="ColorPickerDesc" [style.font-family]="fontDesc.family" class="font-weight-bold ml-2 mt-4">{{descripcion}}</p>
          <h3 [style.color]="ColorPickerNecs" [style.font-family]="fontNecesitas.family" class="quenecesitas font-weight-bold mt-4 ml-2">¿Qué necesitas?</h3>
          <p [style.color]="ColorPickerDescNesc" [style.font-family]="fontNecesitas.family" class="experiencia font-weight-bold ml-2">{{experiencia}}</p>
          <h3 [style.color]="ColorPickerDudas" [style.font-family]="fontDudas.family"  class="tienesdudas font-weight-bold mt-4 ml-2">¿Tienes dudas?</h3>
          <p [style.color]="ColorPickerDudas" [style.font-family]="fontDudas.family"  class="contacto font-weight-bold ml-2">{{contacto}}</p>
          <p [style.color]="ColorPickerDudas" class="pagina font-weight-bold ml-2">bolsa.damsa.com.mx</p>
          <div class="row">
            <div class="col">
              <img class="float-left logoesr" src="assets/img/esr.png" alt="" />
              <img class="float-left ml-4 logoiso" src="assets/img/logo-iso.png" alt="" />
              <img class="float-right logoDamsa" src="assets/img/damsa/damsa_logo4.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>
