<mat-form-field class="fieldautocomplete-full-width">
  <input matInput placeholder="Areas experiencia" aria-label="Area Exp" [matAutocomplete]="auto" [formControl]="aresexpCtrl" (blur)="SendIdExp()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let areaexp of filteredareaexp | async" [value]="areaexp.areaExperiencia">
        <div class="row">
          <div class="col-md-4">
            <small>{{ areaexp.areaExperiencia }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
