<div class="content-heading" *ngIf="!imprimir">
  <div>
    DAM-FO-290
    <!-- <span class="text-sm d-none d-sm-block">DAM-FO-290</span> -->
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item ">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/reclutamiento/290']">Perfil Reclutamiento</a>
    </li>
    <li class="breadcrumb-item active">Formato DAMFO-290</li>
  </ol>
</div>
<section>
</section>
<tabset [justified]="true">
  <tab heading="Cliente" id="TapCliente">
    <app-formato-cliente [IdFormato]="IdFormato" #FormatoClienteCpt></app-formato-cliente>
  </tab>
  <!-- [disabled]="!cliente.formCliente.valid" -->
  <tab heading="Datos de Perfil" id="TapRequisitos" [disabled]="!cliente.formCliente.valid">
    <app-formato-requisitos [IdFormato]="IdFormato"></app-formato-requisitos>
  </tab>
  <!-- [disabled]="!cliente.formCliente.valid" -->
  <tab heading="Horarios, Prestaciones ..." id="TapInfoAdicional" [disabled]="!cliente.formCliente.valid">
    <app-formato-anexos [IdFormato]="IdFormato"></app-formato-anexos>
  </tab>
  <tab heading="Anexos" id="TapAnexos" *ngIf="!isNew">
   <app-file-manager [candidatoId]='IdFormato'></app-file-manager>
  </tab>
</tabset>
<br>
<section class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button type="reset" class="btn btn-block mat-elevation-z8 btn-danger" [routerLink]="['/reclutamiento/290']"
      [disabled]="loading">Cancelar</button>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button *ngIf="!loading" class="btn btn-block btn-success mat-elevation-z8" [disabled]="
    !requisitos.formEncabezado.valid ||
    !cliente.formCliente.valid ||
    requisitos.Escolaridades.length == 0 ||
    anexos.Actividades.length == 0 ||
    anexos.Areas.length == 0 ||
    anexos.Beneficios.length == 0 ||
    anexos.Cardinales.length == 0 ||
    anexos.Documentos.length == 0 ||
    anexos.Gerenciales.length == 0 ||
    anexos.Horarios.length == 0 ||
    anexos.Observaciones.length == 0 ||
    anexos.Prestaciones.length == 0 ||
    anexos.Procesos.length == 0 ||
    anexos.PsicometriasC.length == 0 ||
    anexos.PsicometriasD.length == 0
    " (click)="GuardarPerfil()">Guardar</button>
    <span *ngIf="loading"><i class="fa fa-spinner fa-2x fa-pulse" aria-hidden="true"></i></span>
  </div>
</section>

<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
