<div class="content-heading" *ngIf="!imprimir">
  <span class="text-muted mt-2">DAM-FO-290</span>
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item">
      <a [routerLink]="['/reclutamiento/290']">PERFIL RECLUTAMIENTO</a>
    </li>
    <li class="breadcrumb-item active text-muted">FORMATO DAMFO-290</li>
  </ol>
</div>
<section>
</section>
<tabset [justified]="true" class="text-warning fontRoboto">
  <tab heading="" id="TapCliente">
      <ng-template tabHeading >
        <h5 class="text-center fontRoboto">CLIENTE
          <i *ngIf="!cliente.formCliente.valid" class="text-danger fa fa-exclamation-circle ml-3" 
          container="body" placement="right" tooltip="Campos por llenar: {{msgRS}} {{msgTipo}} {{msgClase}}"></i>
        </h5>
        </ng-template>
    <app-formato-cliente [IdFormato]="IdFormato" [ctrlContratos]="requisitos" #FormatoClienteCpt></app-formato-cliente>
  </tab>
  <!-- [disabled]="!cliente.formCliente.valid" -->
  <tab heading="" id="TapRequisitos" [disabled]="!cliente.formCliente.valid">
      <ng-template tabHeading>
        <h5 class="text-center fontRoboto">DATOS DE PERFIL
          <i *ngIf="cliente.formCliente.valid && (!requisitos.formEncabezado.valid || requisitos.Escolaridades.length == 0)" 
          class="text-danger fa fa-exclamation-circle ml-3" container="body" placement="right" tooltip="campos vacios"></i>
        </h5>
        </ng-template>
    <app-formato-requisitos [IdFormato]="IdFormato" [tipoReclutamiento]="cliente.formCliente.controls['Tipo'].value"></app-formato-requisitos>
  </tab>
  <!-- [disabled]="!cliente.formCliente.valid" -->
  <tab heading="" id="TapInfoAdicional" [disabled]="!cliente.formCliente.valid">
      <ng-template tabHeading>
        <h5 class="text-center fontRoboto">HORARIOS, PRESTACIONES ...
          <i *ngIf="cliente.formCliente.valid && ( anexos.Actividades.length == 0 ||
          anexos.Areas.length == 0 ||
          anexos.Beneficios.length == 0 ||
          anexos.Cardinales.length == 0 ||
          anexos.Documentos.length == 0 ||
          anexos.Gerenciales.length == 0 ||
          anexos.Horarios.length == 0 ||
          anexos.Observaciones.length == 0 ||
          anexos.Prestaciones.length == 0 ||
          anexos.Procesos.length == 0 ||
          anexos.PsicometriasC.length == 0 ||
          anexos.PsicometriasD.length == 0)" 
          class="text-danger fa fa-exclamation-circle ml-3" container="body" placement="right" tooltip="campos vacios"></i>
        </h5>
        </ng-template>
    <app-formato-anexos [IdFormato]="IdFormato"></app-formato-anexos>
  </tab>
  <tab heading="" id="TapAnexos" *ngIf="!isNew">
    <ng-template tabHeading>
      <h5 class="text-center fontRoboto">ANEXOS</h5>
      </ng-template>
   <app-file-manager [candidatoId]='IdFormato' [ruta]="'/utilerias/Files/ANEXOSDAMFO/'" [upload]="true"></app-file-manager>
  </tab>
  <tab heading="" id="tabCostos" [disabled]="!cliente.formCliente.valid">
      <ng-template tabHeading>
        <h5 class="text-center fontRoboto">COSTOS
          <i *ngIf="cliente.formCliente.valid && (!costos.aplica && !costos.validar)" 
          class="text-danger fa fa-exclamation-circle ml-3" container="body" placement="right" tooltip="campos vacios"></i>
        </h5>
        </ng-template>
   <app-formato-costos [IdFormato]="IdFormato"></app-formato-costos>
  </tab>
</tabset>
<br>
<section class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button type="reset" class="btn btn-block mat-elevation-z8 btn-danger" [routerLink]="['/reclutamiento/290']"
      [disabled]="loading">CANCELAR</button>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button *ngIf="!loading" class="btn btn-block btn-success mat-elevation-z8" [disabled]="
    !requisitos.formEncabezado.valid ||
    !cliente.formCliente.valid ||
    requisitos.Escolaridades.length == 0 ||
    anexos.Actividades.length == 0 ||
    anexos.Areas.length == 0 ||
    anexos.Beneficios.length == 0 ||
    anexos.Cardinales.length == 0 ||
    anexos.Documentos.length == 0 ||
    anexos.Gerenciales.length == 0 ||
    anexos.Horarios.length == 0 ||
    anexos.Observaciones.length == 0 ||
    anexos.Prestaciones.length == 0 ||
    anexos.Procesos.length == 0 ||
    anexos.PsicometriasC.length == 0 ||
    anexos.PsicometriasD.length == 0 ||
    !costos.aplica && !costos.validar
    " (click)="GuardarPerfil()">GUARDAR</button>
    <span *ngIf="loading"><i class="fa fa-spinner fa-2x fa-pulse" aria-hidden="true"></i></span>
  </div>
</section>

<toaster-container toaster-options="{'toaster-id': 1 }" [toasterconfig]="toasterconfig"></toaster-container>
