<!-- <div class="dt-container  mat-elevation-z8">
  <div class="card-header">
    <em class="fa fa-list-alt"></em> Información Principal
  </div> -->
<div class="card-body" *ngIf="ShowSection == null || ShowSection.Encabezado">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-ms-4 col-xs-12">
      <h4>
        <strong> VACANTES: </strong>
        <label class="badge badge-pill badge-info">{{vacantes}}</label>
      </h4>
    </div>
    <div class="col-lg-4 col-md-4 col-ms-4 col-xs-12">
      <h4 class="text-center">
        <strong> PERFIL: <span class="text-info">{{vBtra | uppercase}} </span> </strong>
      </h4>
    </div>
    <div class="col-lg-4 col-md-4 col-ms-4 col-xs-12">
      <h4 class="float-right">
        <strong>FOLIO: </strong> <span class="text-warning">{{folio}}</span>
      </h4>
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>FECHA SOLICITUD: </strong>
        <label class="card-text"> {{fch_Solicitud | date: 'dd/MM/yyyy'}} a las {{fch_Solicitud | date: 'hh:mm'}}
        </label>
        <small>{{fch_Solicitud | date: 'a'}}</small>
      </h5>
    </div>
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>FECHA LIMITE: </strong>
        <label class="card-text"> {{fch_Limite | date: 'dd/MM/yyyy'}} </label>
      </h5>
    </div>
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>PRIORIDAD: </strong>
        <label class="badge badge-pill" [class.badge-danger]="prioridadId  === 1"
          [class.badge-warning]="prioridadId  === 2">
          {{prioridad | uppercase}} </label>
      </h5>
    </div>
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>FECHA CUMPLIMIENTO: </strong>
        <label class="card-text"> {{fch_Cumplimiento | date: 'dd/MM/yyyy'}}</label>
      </h5>
    </div>
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>ESTATUS: </strong>
        <label class="badge badge-pill badge-info" [class.badge-warning]="estatusId  === 4"
          [class.badge-primary]="estatusId  === 5" [class.badge-info]="estatusId  === 6"
          [class.badge-success]="estatusId  === 7" [class.badge-danger]="estatusId  === 8 || estatusId  === 9">
          {{estatus | uppercase}} </label>
      </h5>
    </div>
    <div class="col-lg-2 col-md-2 col-ms-4 col-xs-12">
      <h5>
        <strong>CONFIDENCIAL: </strong>
        <label *ngIf="confidencial" class="badge badge-pill badge-info"> SI</label>
        <label *ngIf="!confidencial" class="badge badge-pill badge-info"> NO</label>
      </h5>
    </div>

  </div>
  <mat-divider></mat-divider>
  <br>
  <div class="d-flex flex-row justify-content-between">
    <h5>
      <strong>SOLICITANTE</strong>
      
      <label class="text-muted mt-2 ml-1">{{solicitante | uppercase}}</label>
    </h5>
    <h5>
      <strong>COORDINADOR O L&Iacute;DER</strong>
      <label class="text-muted mt-2 ml-1" *ngIf="estatusId != 4">{{coordinador | uppercase}}</label>
      <div *ngIf="estatusId == 4">
        <li class="list-group-item" *ngFor="let x of asignados">
          <span class="text-muted bg-light">{{x.nombre | uppercase}} {{x.apellidoPaterno | uppercase}} {{x.apellidoMaterno | uppercase}}</span>
        </li>
      </div>
    </h5>

    <ol class="list-group list-group-flush">
      <h5>
        <strong>RECLUTADORES</strong>
      </h5>
      <div *ngIf="estatusId != 4">
        <li class="list-group-item" *ngFor="let x of asignados">
          <span class="text-muted bg-light">{{x.nombre | uppercase}} {{x.apellidoPaterno | uppercase}} {{x.apellidoMaterno | uppercase}}</span>
        </li>
      </div>
      <div *ngIf="estatusId == 4">
        <span>SIN ASIGNAR</span>
      </div>
    </ol>
  </div>
</div>
<!-- </div> -->
<!-- <div class="dt-container  mat-elevation-z8">
  <div class="card-header">
    <em class="fa fa-user"></em> Vacantes por Horarios
  </div> -->
<div class="card-body" *ngIf="ShowSection == null || ShowSection.Horarios">
  <div class="row">
    <div class="col-md-12">
      <!-- HORARIOS -->
      <app-dt-horarios [Horarios]="horariosRequi" [Requi]="false" [EstatusRequi]="estatusId"></app-dt-horarios>
    </div>
  </div>
</div>

<div class="card-body" *ngIf="ShowSection == null || ShowSection.Cliente">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">DATOS DEL CLIENTE</strong></h5>
      <mat-divider></mat-divider>
      <p>
        <strong>NOMBRE COMERCIAL: </strong>
        <label id="nombre" class="card-text"> {{cliente?.nombrecomercial | uppercase}}</label>
      </p>
      <p>
        <strong>RAZ&Oacute;N SOCIAL: </strong>
        <label class="card-text"> {{cliente?.razonSocial | uppercase}}</label>
      </p>
      <p>
        <strong>RFC: </strong>
        <label class="card-text"> {{cliente?.rfc | uppercase}}</label>
      </p>
      <p>
        <strong>GIRO EMPRESA: </strong>
        <label class="card-text"> {{cliente?.giroEmpresa | uppercase}}</label>
      </p>
      <p>
        <strong>ACTIVIDAD EMPRESA: </strong>
        <label class="card-text"> {{cliente?.actividadEmpresa | uppercase}}</label>
      </p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">RECLUTAMIENTO</strong></h5>
      <mat-divider></mat-divider>
      <p>
        <strong>TIPO: </strong>
        <label class="card-text"> {{requisicion?.tipoReclutamiento | uppercase}}</label>
      </p>
      <p>
        <strong>CLASE: </strong>
        <label class="card-text"> {{requisicion?.claseReclutamiento | uppercase}}</label>
      </p>
      <h5 class="card-title"><strong class="text-info">CONTRATO</strong></h5>
      <mat-divider></mat-divider>
      <p>
        <strong>TIPO: </strong>
        <label class="card-text"> {{requisicion?.tipoContrato | uppercase}}</label>
      </p>
      <p *ngIf="requisicion?.periodoPrueba == true">
        <strong>D&iacute;as de Prueba: </strong>
        <label class="card-text"> {{requisicion?.tiempo}}</label>
      </p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">Puesto a Reclutar</strong></h5>
      <mat-divider></mat-divider>
      <p>
        <strong>NOMBRE PERFIL: </strong>
        <label class="card-text"> {{vBtra | uppercase}}</label>
      </p>
      <p>
        <strong>&Aacute;REA: </strong>
        <label class="card-text"> {{requisicion?.areaExperiencia | uppercase}}</label>
      </p>
      <p>
        <strong>G&Eacute;NERO: </strong>
        <label class="card-text"> {{requisicion?.genero | uppercase}}</label>
      </p>
      <p>
        <strong>EDAD: </strong>
        <label class="card-text"> {{requisicion?.edadMinima}} años a {{requisicion?.edadMaxima}} años </label>
      </p>
      <p>
        <strong>ESTADO CIVIL: </strong>
        <label class="card-text"> {{requisicion?.estadoCivil | uppercase}}</label>
      </p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">SUELDOS</strong></h5>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h5 class="text-warning">M&Iacute;NIMO</h5>
          <p>
            <strong>MENSUAL: </strong>
            <label class="card-text"> {{requisicion?.sueldoMinimo | moneda: '$'}}</label>
          </p>
          <p>
            <strong>SEMANAL: </strong>
            <label class="card-text"> {{(requisicion?.sueldoMinimo / 30) * 7 | moneda: '$'}}</label>
          </p>
          <p>
            <strong>DIARIO: </strong>
            <label class="card-text"> {{requisicion?.sueldoMinimo / 30 | moneda: '$'}}</label>
          </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <h5 class="text-warning">M&Aacute;XIMO</h5>
          <p>
            <strong>MENSUAL: </strong>
            <label class="card-text"> {{requisicion?.sueldoMaximo | moneda: '$'}}</label>
          </p>
          <p>
            <strong>SEMANAL: </strong>
            <label class="card-text"> {{(requisicion?.sueldoMaximo / 30) * 7 | moneda: '$'}}</label>
          </p>
          <p>
            <strong>DIARIO: </strong>
            <label class="card-text"> {{requisicion?.sueldoMaximo / 30 | moneda: '$'}}</label>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body" *ngIf="ShowSection == null || ShowSection.ExpApt">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">Estudios / Escolaridades</strong></h5>
      <mat-divider></mat-divider>
      <ol>
        <li *ngFor="let x of requisicion?.escolaridades">
          <label class="card-text"> {{x.gradoEstudio | uppercase}} - {{x.estadoEstudio | uppercase}}</label>
        </li>
      </ol>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">Aptitudes</strong></h5>
      <mat-divider></mat-divider>
      <ol>
        <li *ngFor="let x of requisicion?.aptitudes">
          <label class="card-text"> {{x.aptitud | uppercase}}</label>
        </li>
      </ol>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">Experiencia</strong></h5>
      <mat-divider></mat-divider>
      <label class="card-text">{{requisicion?.experiencia | uppercase}}</label>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <h5 class="card-title"><strong class="text-info">Informaci&oacute;n de Pagos</strong></h5>
      <mat-divider></mat-divider>
      <p>
        <strong>D&iacute;as Corte: </strong>
        <label class="card-text"> {{requisicion?.diaCorte | uppercase}}</label>
      </p>
      <p>
        <strong>Tipo Nomina: </strong>
        <label class="card-text"> {{requisicion?.tipoDeNomina | uppercase}}</label>
      </p>
      <p>
        <strong>D&iacute;as Pago: </strong>
        <label class="card-text"> {{requisicion?.diaPago | uppercase}}</label>
      </p>
      <p>
        <strong>Periodo de Pago: </strong>
        <label class="card-text"> {{requisicion?.periodoPago | uppercase}}</label>
      </p>
      <p *ngIf="requisicion?.periodoPagoId == 0">
        <strong>Especifique: </strong>
        <label class="card-text"> {{requisicion?.especifique | uppercase}}</label>
      </p>
    </div>
  </div>
</div>

<div class="card-body">
  <!-- DIRECCION -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Direccion">
    <div class="col-md-12">
      <!-- DIRECCIONES -->
      <app-dt-direcion-requi [DireccionId]="requisicion?.direccionId"></app-dt-direcion-requi>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-maps-address [Direccion]="requisicion?.direccion"></app-maps-address>
    </div>
  </div>
  <!-- TELEFONOS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Telefono">
    <br />
    <div class="col-md-6">
      <!-- TELEFONOS -->
      <app-dt-telefonos [Telefonos]="cliente?.telefonos"></app-dt-telefonos>
    </div>
  </div>
  <!-- CONTACTOS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Contacto">
    <br />
    <div class="col-md-10">
      <app-dt-contactos [Contactos]="cliente?.contactos"></app-dt-contactos>
    </div>
  </div>
  <!-- BENEFICIOS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Beneficio">
    <br />
    <div class="col-md-12">
      <!-- BENEFICIOS -->
      <app-dt-beneficios [Beneficios]="requisicion?.beneficios"></app-dt-beneficios>
    </div>
  </div>
  <!-- ACTIVIDADES OBSERVACIONES PROCESO-->
  <div class="row" *ngIf="ShowSection == null || ShowSection.ActObsProd">
    <br />
    <div class="col-md-4">
      <app-actividades [Actividades]="requisicion?.actividades"></app-actividades>
    </div>
    <div class="col-md-4">
      <app-observaciones [Observaciones]="requisicion?.observaciones"></app-observaciones>
    </div>
    <div class="col-md-4">
      <app-procesos [Proceso]="requisicion?.procesos"></app-procesos>
    </div>
  </div>
  <!-- DOCUMENTOS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.DocPrest">
    <br />
    <div class="col-md-3">
      <!-- DOCUMENTOS DAMSA -->
      <app-documentos-damsa></app-documentos-damsa>
    </div>
    <div class="col-md-3">
      <!-- DOCUMENTOS CLIENTE -->
      <app-documentos-cliente [Documentos]="requisicion?.documentosCliente"></app-documentos-cliente>
    </div>
    <div class="col-md-3">
      <!-- PRESTACIONES LEY -->
      <app-prestaciones-ley></app-prestaciones-ley>
    </div>
    <div class="col-md-3">
      <!-- PRESTACIONES SUPERIORES -->
      <app-prestaciones-cliente [Prestaciones]="requisicion?.prestacionesCliente"></app-prestaciones-cliente>
    </div>
  </div>
  <!-- PSICOMETRIAS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Psicom">
    <br />
    <div class="col-md-6">
      <!-- PSICOMETRIAS DAMSA -->
      <app-dt-psicometrias-damsa [Psicometrias]="requisicion?.psicometriasDamsa"></app-dt-psicometrias-damsa>
    </div>
    <div class="col-md-6">
      <!-- PSICOMETRIA CLIENTE -->
      <app-dt-psicometrias-cliente [Psicometrias]="requisicion?.psicometriasCliente"></app-dt-psicometrias-cliente>
    </div>
  </div>
  <!-- COMPETENCIAS -->
  <div class="row" *ngIf="ShowSection == null || ShowSection.Competencia">
    <br />
    <div class="col-md-4 col-lg-4">
      <!-- COMPTENCIAS CARDINALES -->
      <app-dt-competencia-cardinal [Competencias]="requisicion?.competenciasCardinal"></app-dt-competencia-cardinal>
    </div>
    <div class="col-md-4 col-lg-4">
      <!-- COMPETENCIAS POR AREA -->
      <app-dt-competencia-area [Competencias]="requisicion?.competenciasArea"></app-dt-competencia-area>
    </div>
    <div class="col-md-4 col-lg-4">
      <!-- COMPETENCIAS GERENCIALES -->
      <app-dt-competencia-gerencial [Competencias]="requisicion?.competenciasGerencial"></app-dt-competencia-gerencial>
    </div>
  </div>
</div>
  <div *ngIf="ShowSection == null || ShowSection.arteRedes" class="card-body">
    <div class="title-headre-view">
      <h4>Arte para redes</h4>
    </div>
    <img id='my-node' [src]="arte" alt="Random slide" class="float-center img-arte Arte"
    style="width: 450px; height: 300px;">
  </div>

