<div *ngIf="spinner" class="spinner">
  <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner>
</div>
<div>
  <h2 *ngIf="alert && !spinner" style="margin-top: 60px">
    <div style="margin-top: 55px; font-size: 14px" role="alert" class="alert alert-info ng-star-inserted">
      <strong>Oops!</strong> No se encontraron resultados.
    </div>
  </h2>
</div>
<div class="card" *ngIf="(requisiciones || []).length > 0">
  <div class="card-body mat-elevation-z8">
    <div class="d-flex justify-content-end align-items-center p-1 bg-light">
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros"
        class="mr-2 btn btn-xs btn-info mat-elevation-z8">
        <i class="fa fa-eraser"></i>
      </button>
      <button class="btn btn-xs btn-success mat-elevation-z8" type="button" (click)="refreshTable()"
        container="body" placement="bottom" tooltip="Actualizar">
        <i class="icon-refresh"></i>
      </button>
    </div>
    <div class="d-flex justify-content-end align-items-center p-1 bg-warning fontLato">
      <span class="text-uppercase mr-4">Total de Posiciones <span
          class="badge badge-pill badge-info ml-1">{{numPosiciones}}</span></span>
      <span class="text-uppercase">Total de Folios <span
          class="badge badge-pill badge-info ml-1">{{totalFolios}}</span></span>
    </div>
    <ng-scrollbar #scrollableP 
      track="all" [disabled]="disabled">
      <div style="width: 2000px; overflow: hidden;">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                <small>{{column.title | uppercase}}</small>
              </th>
            </tr>
            <tr>
              <th *ngFor="let column of columns">
                <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                  [ngTableFiltering]="column.filtering" (tableChanged)="config.paging = false; onChangeTable(config)"
                  class="form-control form-control-sm" id="{{column.name}}">
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-scrollbar #scrollable  
              track="all" [disabled]="disabled">
              <div>
                <tr *ngFor="let item of rows" [class.confident]="item.confidencial">
                  <td class="text-left">{{item.folio}}</td>
                  <td class="text-center">{{this.convertDateTime(item.fch_Creacion)}}</td>
                  <td class="text-center">
                    <span *ngIf="item.empresa.length <= 10 else toLengthCliente">{{item.empresa | uppercase}}</span>
                    <ng-template #toLengthCliente>
                      <span placement="bottom" tooltip="{{item.empresa}}" container='body'> {{item.empresa | slice:0:10
                          | uppercase }} ...
                      </span>
                    </ng-template>
                  </td>
                  <td class="text-center">{{item.vBtra | uppercase}}</td>
                  <td class="text-center">{{item.estado | uppercase}}</td>
                  <td class="text-center">
                    <span class="badge badge-pill badge-info">{{item.numero}}</span>
                  </td>
                  <td class="text-center">
                    <span class="badge badge-pill badge-success">{{item.cubierta}}</span>
                  </td>
                  <td class="text-center">
                    <span class="badge badge-pill badge-warning">{{item.porcentaje}}%</span>
                  </td>
                  <td class="text-center">
                    <small *ngIf="item.estatus.length < 10 else toLength" class="badge badge-pill badge-info"
                      [class.badge-warning]="item.estatusId  === 4" [class.badge-primary]="item.estatusId  === 5"
                      [class.badge-info]="item.estatusId  === 6 || item.estatusId > 20"
                      [class.badge-success]="item.estatusId  === 7" [class.badge-danger]="item.estatusId  === 8">
                      <small>{{item.estatus | uppercase}}</small>
                    </small>
                    <ng-template #toLength>
                      <small class="badge badge-pill badge-info" [class.badge-warning]="item.estatusId  === 4"
                        [class.badge-primary]="item.estatusId  === 5"
                        [class.badge-info]="item.estatusId  === 6 || item.estatusId > 20"
                        [class.badge-success]="item.estatusId  === 7" [class.badge-danger]="item.estatusId  === 8"
                        placement="bottom" tooltip="{{item.estatus | uppercase}}" container='body'>
                      <small>{{item.estatus | slice:0:8 | uppercase }} ...</small>
                      </small>
                    </ng-template>
                  </td>
                  <td class="text-center">{{this.convertDateTime(item.fch_Modificacion)}}</td>
                  <td class="text-center">{{item.clasesReclutamiento}}</td>
                  <td class="text-center" *ngIf="item.estatusId == '4'">
                    <ng-template #popTemplate>
                      <div class="card">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li *ngFor="let r of item.nombreReclutado" class="list-group-item text-muted">{{r}}</li>
                          </ul>
                        </div>
                      </div>
                    </ng-template>
                    <small class="text-center badge badge-pill" *ngIf="item.nombreReclutado.length > 1"
                      [popover]="popTemplate" placement="left" container="body"
                      triggers="mouseenter:mouseleave">{{item.nombreReclutado.length}}</small>
                    <span class="text-left" *ngIf="item.nombreReclutado.length == 1">{{item.nombreReclutado[0]}}</span>
                    <span class="text-left" *ngIf="item.nombreReclutado.length == 0">SIN ASIGNAR</span>
                  </td>
                  <td class="text-center" *ngIf="item.estatusId == '4'">
                    <p>SIN ASIGNAR</p>
                  </td>
                  <td class="text-center" *ngIf="item.estatusId != '4'">
                    <p *ngIf="item.coordinador2 != ''">{{item.coordinador2}}</p>
                    <p *ngIf="item.coordinador2 == ''">SIN ASIGNAR</p>
                  </td>
                  <td class="text-center" *ngIf="item.estatusId != '4'">
                    <ng-template #popTemplate>
                      <div class="card">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li *ngFor="let r of item.nombreReclutado" class="list-group-item text-muted">{{r}}</li>
                          </ul>
                        </div>
                      </div>
                    </ng-template>
                    <small class="text-center badge badge-pill badge-primary" *ngIf="item.nombreReclutado.length > 1"
                      [popover]="popTemplate" placement="left" container="body"
                      triggers="mouseenter:mouseleave">{{item.nombreReclutado.length}}</small>
                    <span class="text-left" *ngIf="item.nombreReclutado.length == 1">{{item.nombreReclutado[0]}}</span>
                    <span class="text-left" *ngIf="item.nombreReclutado.length == 0">SIN ASIGNAR</span>
                  </td>
                  <td class="text-center">
                    <p>{{item.nombreApellido}}</p>
                  </td>
                </tr>
              </div>
            </ng-scrollbar>
          </tbody>
        </table>

      </div>
    </ng-scrollbar>
    <div class="d-flex justify-content-end mt-2">
      <pagination class="pagination-sm mr-1" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="config.paging = true; onChangeTable(config, $event)" (numPages)="numPages = $event"></pagination>
    </div>
  </div>

</div>