



<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Folio</th>
      <th scope="col">Vacante</th>
      <th scope="col">Porcentaje %</th>
      <th scope="col">Fecha alta</th>
      <th scope="col">Fecha limite</th>
      <th scope="col">Empresa</th>
      <th scope="col">Solicita</th>
      <th scope="col">No.</th>
      <th scope="col">Estatus</th>
      <th scope="col">Fecha estatus</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of General">
      <th scope="row">{{item.folio}}</th>
      <td>{{item.vBtra}}</td>
      <td>{{item.porcentaje}}%</td>
      <td>{{this.convertDateTime(item.fch_Creacion)}}</td>
      <td>{{this.convertDateTime(item.fch_Limite)}}</td>
      <td>{{item.empresa}}</td>
      <td>{{item.propietario}}</td>
      <td>{{item.numero}}</td>
      <td>{{item.estatus}}</td>
      <td>{{this.convertDateTime(item.fch_Modificacion)}}</td>
    </tr>
   
  </tbody>
</table>
