
.option-container {
  height: max-content !important;
}
.razonSocial{
  margin-top: 5px;
  font-size: 12px;
}
.more-option{
  margin-top: -35px;
  padding: 0 20px 0;
  display: block !important;
  font-size: 10px;
}

.mat-input-element:disabled{
  font-size: 12px !important;
  
}

