<form [formGroup]="AsignacionForm">
  <div class="form-group">
    <ngx-select
      autoClearSearch = true
      placeholder="Busqueda..."
      formControlName="selectControl"
      (data)="value"
      class="select-asig"
      [multiple]="true"
      [items]="items"
      (remove)="valueChange($event)"
      (select)="valueChange($event)"
      optionValueField="id"
      optionTextField="nombre"
      optGroupLabelField="nombre" optGroupOptionsField="usuarios">
        <ng-template ngx-select-option-selected let-option let-text="descripcion">
          <span>{{option.data.nombre}}({{option.data.email}});</span>
        </ng-template>
        <ng-template ngx-select-option-not-found>
          No se encontraron resultados...
        </ng-template>
    </ngx-select>
    <label class="form-control-placeholder">{{placeHolder}}</label>
  </div>
  <!-- <mat-form-field>
      <mat-select
        placeholder="ASIGNAR COORDINADOR DE CELULA"
        formControlName="selectControl"
        (selectionChange)="valueChange($event)"
        multiple required="">
        <mat-optgroup *ngFor="let g of items" [label]="g.nombre" [disabled]="g.disabled">
          <mat-option *ngFor="let u of g.usuarios" [value]="u.id">
            <span>{{u.nombre}}({{u.email}})</span>
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> -->
</form>
