.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 75% !important;
    transform: translate3d(0, -100%, 0) !important;
    opacity: 1 !important;
    color:  #3f51b5 !important;
  }