<form [formGroup]="ProcesosArray">
  <section class="d-flex justify-content-between">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong class="text-warning">Proceso <i *ngIf="ProcesosNew.length == 0"
        class="text-danger fa fa-exclamation-circle ml-3" container="body" placement="right"
        tooltip="Campo requerido"></i></strong>
    <button class="btn btn-xs btn-primary mr-1 mb-1 mat-elevation-z8" (click)="AddProceso()" container="body"
      placement="top" tooltip="Agregar proceso"><i class="fa fa-plus"></i></button>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div *ngIf="ProcesosArray['controls'].proceso['controls'].length > 0" class="card card-body mt-1">
      <div *ngFor="let proceso of ProcesosArray['controls'].proceso['controls']; let i=index">
        <div formArrayName="proceso">
          <form [formGroupName]="i">
            <app-procesos-p [IdFormato]="IdFormato" [proceso]="ProcesosArray.controls.proceso.controls[i]" [index]="i"
              (Add)="Agregar($event)" (remove)="removeProceso($event)" (Registros)="getRegistros($event)">
            </app-procesos-p>
          </form>
        </div>
      </div>
    </div>
  </section>
</form>