<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START card-->
        <div class="text-center mb-4">
            <div class="text-lg mb-3">404 MOCOS</div>
            <p class="lead m0"> No pudimos encontrar esta página.</p>
            <p>La página que estás buscando no existe.</p>
        </div>
        <div class="input-group mb-4">
            <input class="form-control" type="text" placeholder="Try with a search" />
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">
                    <em class="fa fa-search"></em>
                </button>
            </span>
        </div>
     <app-tracking-vacantes></app-tracking-vacantes>
        <ul class="list-inline text-center text-sm mb-4">
            <li class="list-inline-item" *ngIf="usuario">
                <a class="text-muted" [routerLink]="'/home'">Ir a Inicio</a>
            </li>
            <li class="text-muted list-inline-item" *ngIf="!usuario">|</li>
            <li class="list-inline-item" *ngIf="!usuario">
                <a class="text-muted" [routerLink]="'/login'">Ingresar</a>
            </li>
            <li class="text-muted list-inline-item" *ngIf="!usuario">|</li>
            <li class="list-inline-item" *ngIf="!usuario">
                <a class="text-muted" [routerLink]="'/register'">Registrar</a>
            </li>
        </ul>
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>
