tbody {
  display: block;
  height: 450px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

.margen {

  margin: 0 2px;
}

tbody tr:hover {
  font-size: 14.5px;
  box-shadow: 1px 20px 60px rgba(0, 0, 0, .23);
}

ng-scrollbar {
  --scrollbar-size: 4px;
  --scrollbar-thumb-color: rgb(94, 175, 255);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}


