<div class="dt-container">
  <div class="dt-header">
    <mat-form-field>
      <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering"
        (tableChanged)="onChangeTable(config)">
    </mat-form-field>
    <div class="row justify-content-between">
      <div class="d-flex align-items-stretch ">
      </div>
      <div>
        <button (click)="clearfilters()"  placement="bottom" tooltip="Limpiar Filtros" class="margen mb-1 btn btn-outline-primary">
          <em class="fa fa-eraser"></em>
        </button>
      </div>
    </div>
  </div>
  <div class="card card-default">
    <div #tableContainer>
      <table id="resultBusqueda" ngClass="{{config.className || ''}}" role="grid" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              {{column.title}}
              <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
              </i>
            </th>
          </tr>
          <tr *ngIf="showFilterRow" class="filter-colum">
            <td *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                (tableChanged)="onChangeTable(config)" class="form-control" id="{{column.name}}">
            </td>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onCellClick(row)" (dblclick)="getCandidato(row.candidatoId)" *ngFor="let row of rows"
            [class.confident]="row.confidencial" [class.cancel]="row.estatusId == 8">
            <td>
              {{row.nombre}}
            </td>
            <td> {{row.areaExp}}</td>
            <td> {{row.areaInt}}</td>
            <td> {{row.localidad}} </td>
            <td class="text-right"> {{row.sueldoMinimo | currency : '$'}} </td>
            <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
            <td> {{row.curp}}</td>
            <td> {{row.rfc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-right">
    <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event">
    </pagination>
  </div>
  <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre>
</div>
