<div class="dt-container">
  <div class="dt-header">
    <div *ngIf="spinner" class="spinner">
      <div class="ball-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner> -->
    </div>
    <!-- <mat-form-field>
      <input #filterInput matInput placeholder="Filtro todas las columnas" [ngTableFiltering]="config.filtering"
        (tableChanged)="onChangeTable(config)">
    </mat-form-field> -->
    <div class="d-flex justify-content-end p-1 bg-light">
        <button (click)="exportAsXLSX()" container="body" placement="bottom" tooltip="Descargar" class="btn btn-xs btn-success mr-2 mat-elevation-z8">
            <i class="fa fa-download"></i>
          </button>
        <button (click)="clearfilters()" container="body" placement="bottom" tooltip="Limpiar Filtros" class="btn btn-xs btn-primary mat-elevation-z8">
          <i class="fa fa-eraser"></i>
        </button>
    </div>
    <div class="d-flex justify-content-end align-items-center p-1 bg-warning mt-2">
    <span class="text-uppercase">TOTAL DE REGISTROS<span
      class="badge badge-pill badge-info ml-1">{{dataSource.length  | numerico}}</span></span>
    </div>
  </div>
  <div class="card">
    <div #tableContainer>
      <table id="resultBusqueda" class="table" style="width: 100%;">
        <thead>
          <tr>
            <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
              <small>{{column.title | uppercase}}</small>
            </th>
          </tr>
          <tr *ngIf="showFilterRow">
            <th *ngFor="let column of columns">
              <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                (tableChanged)="onChangeTable(config)" class="form-control form-control-sm" id="{{column.name}}_1">
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-scrollbar #scrollable [invertX]="invertX" [invertY]="invertY" [trackX]="false" [trackY]="true" [compact]="compact"
            [shown]="shown" [disableOnBreakpoints]="false" [disabled]="disabled">
            <div>
              <tr (click)="onCellClick(row)" (dblclick)="getCandidato(row.candidatoId)" *ngFor="let row of rows"
                [class.confident]="row.confidencial" [class.cancel]="row.estatusId == 8" [class.selected]="row.selected">
                <td class="text-center">
                  <span *ngIf="row.estatus.length <= 10 else toLength" class='badge badge-pill badge-info'
                    [class.badge-warning]="row.estatus == 'EN REVISION'" [class.badge-danger]="row.estatus == 'NR'">
                    <span *ngIf="row.estatus != 'NR'"> <small>{{row.estatus | uppercase }}</small></span>
                    <span *ngIf="row.estatus == 'NR'"><small>POSTULADO</small></span>
                  </span>
                  <ng-template #toLength>
                    <span class='px-1 mr-1 badge badge-pill badge-info' [class.badge-warning]="row.estatus == 'EN REVISION'"
                      [class.badge-danger]="row.estatus == 'NR'" container="body" placement="bottom" tooltip="{{row.estatus | uppercase}}">
                      <small>{{row.estatus
                      | slice:0:6 | uppercase }} ... </small></span>
                  </ng-template>
                </td>
                <td>
                  {{row.nombre | uppercase}}
                </td>
                <td class="text-center"> {{row.areaExp | uppercase}}</td>
                <td class="text-center"> {{row.areaInt | uppercase}}</td>
                <td class="text-center"> {{row.localidad | uppercase}} </td>
                <td class="text-right"> {{row.sueldoMinimo | moneda : '$'}} </td>
                <td class="text-center"> {{row.edad | date: 'dd/MM/yyyy'}} </td>
                <td class="text-center"> {{row.curp}}</td>
                <td class="text-center"> {{row.rfc}}</td>
              </tr>
            </div>
          </ng-scrollbar>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <pagination *ngIf="config.paging" class="pagination-sm mr-1 mt-2" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
      [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
      (numPages)="numPages = $event">
    </pagination>
  </div>
  <!-- <pre *ngIf="config.paging" class="card card-block card-header">P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</pre> -->
</div>
