<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <em class="fa fa-book"></em>
      </mat-panel-title>
      <mat-panel-description>
        Actividades
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row"><!--Agregar la información que ira en el panel-->
      <ol>
          <li *ngFor="let x of Actividades"><small>{{x.actividades}}</small></li>
      </ol>
    </div>
  </mat-expansion-panel>
</mat-accordion>
