.margen {
   
    margin:0 2px;
}
.loading-position{
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-left: 11px;
}

input[type=color].form-control {
    padding: 0px;
    border-radius: 15%;
}