<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <h3>
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Agregar Evento
        </h3>
      </div>
      <div>
        <em class="fa fa-times eliminar" container="body" placement="bottom" tooltip="Cerrar" (click)="onCloseDialog()"></em>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="card-body">
    <form [formGroup]="formEvent" (ngSubmit)="Save()">
      <section>
        <mat-form-field>
          <input matInput [(colorPicker)]="ColorPicker" [style.background]="ColorPicker" [(ngModel)]="ColorPicker"
            [ngModelOptions]="{standalone: true}" placeholder="Selecciona un Color" />
        </mat-form-field>
      </section>
      <mat-form-field>
        <input matInput formControlName="Titulo" name="titulo" placeholder="Titlulo" focus required>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Actividad" formControlName="Actividad" required>
          <mat-option *ngFor="let x of Actividades" [value]="x.id">
            {{x.actividad}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="minDate" [matDatepicker]="fchInicio" placeholder="Inicio" formControlName="Inicio" (dateChange)="_CheckNuevaFecha()"
          [(ngModel)]="SeletedDayC" required="">
        <mat-datepicker-toggle matSuffix [for]="fchInicio"></mat-datepicker-toggle>
        <mat-datepicker #fchInicio></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="minLimitDate" [matDatepicker]="fchFinal" placeholder="Fin" formControlName="Fin"
          required>
        <mat-datepicker-toggle matSuffix [for]="fchFinal"></mat-datepicker-toggle>
        <mat-datepicker #fchFinal></mat-datepicker>
      </mat-form-field>
      <!-- <section>
            <mat-slide-toggle [color]="warn" formControlName="AllDay" (change)="_CheckAllDay()">
              <small>Todo el D&iacute;a </small>
            </mat-slide-toggle>
          </section> -->
      <section *ngIf="!allDaySelected">
        <mat-form-field>
          <input matInput placeholder="Hora Inicio" type="time" min="08:00" max="18:00" formControlName="HoraInicio" step="600" required="">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hora Final" type="time" min="08:00" max="18:00" formControlName="HoraFin" step="600" required="">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <textarea #message matInput maxlength="500" placeholder="Descripcion / Comentario" rows="3" formControlName="Descripcion"></textarea>
          <mat-hint align="start"><strong>Redacte una descripci&oacute;n del Evento</strong></mat-hint>
          <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
        </mat-form-field>
      </section>
      <mat-dialog-actions>
        <button type="button" class="btn btn-xs btn-labeled btn-outline-danger mb-1 margen" (click)="onCloseDialog()">
          <span class="btn-label">
            <i class="fa fa-times"></i>
          </span> Cancelar
        </button>
        <button [disabled]="!formEvent.valid" type="button" [ngClass]="!formEvent.valid ? 'disabled' : 'btn-outline-success '"
          class="mb-1 btn btn-xs btn-labeled margen" (click)="onCloseDialogInfo()">
          <span class="btn-label">
            <i class="fa fa-check"></i>
          </span> Aceptar
        </button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
      </mat-dialog-actions>
    </form>
  </div>
</div>
