<h3 class="text-primary text-center" mat-dialog-title> Agregar Evento</h3>
<mat-divider></mat-divider>
<br>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <input matInput placeholder="Titulo del Evento" [(ngModel)]="evnt.titulo" required="">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <mat-form-field>
        <input matInput [matDatepicker]="fchInicio" placeholder="Different locale" [(ngModel)]="evnt.inicio" required="">
        <mat-datepicker-toggle matSuffix [for]="fchInicio"></mat-datepicker-toggle>
        <mat-datepicker #fchInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-4">
      <mat-form-field>
        <input matInput [min]="evnt.inicio" [matDatepicker]="fchFinal" placeholder="Different locale" [(ngModel)]="evnt.final">
        <mat-datepicker-toggle matSuffix [for]="fchFinal"></mat-datepicker-toggle>
        <mat-datepicker #fchFinal></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4 col-sm-4">
      <mat-form-field>
        <input matInput [(colorPicker)]="evnt.color" [style.background]="evnt.color" placeholder="Selecciona un Color"
          />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <section>
        <mat-checkbox [(ngModel)]="hora"> Agregar horario</mat-checkbox>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <section *ngIf="hora">
        <mat-form-field>
          <input matInput placeholder="Hora Inicio" type="time" [(ngModel)]="evnt.horaInicio" min="08:00" max="18:00" step="600" required="">
        </mat-form-field>
        {{evnt.horaInicio}}
        <mat-form-field>
          <input matInput placeholder="Hora Final" type="time" [(ngModel)]="evnt.horaFinal" min="08:00" max="18:00" step="600" required="">
        </mat-form-field>
        {{evnt.horaFinal}}
      </section>
    </div>

  </div>
</mat-dialog-content>
<br>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button type="button" class="btn btn-xs btn-labeled btn-outline-danger mb-1 margen" (click)="onCloseDialog()">
    <span class="btn-label">
      <i class="fa fa-times"></i>
    </span> Cancelar
  </button>
  <button type="button" class="btn btn-xs btn-labeled btn-outline-success mb-1 margen" (click)="onCloseDialogInfo()">
    <span class="btn-label">
      <i class="fa fa-check"></i>
    </span> Aceptar
  </button>
</mat-dialog-actions>
