
<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-container *ngFor="let v of vacantes">
    <ng-template ngbSlide>

         <!-- <img [src]="images[0]" alt="Random slide" style="width: 600px; height: 427px;">
         <div class="carousel-caption">
          <h3 class="p-1 bg-warning">POST&Uacute;LATE   
            <button (click)="GenerarTicket(v)" class="btn btn-xs btn-success mr-2 mb-1" container="body" placement="bottom" tooltip="Generar Ticket">
            <em class="fa fa-thumbs-o-up"></em>
          </button>
        </h3>
      </div> -->
      <div *ngIf="!v.image" class="card">
          <div class="card-body bg-light fontMio mat-elevation-z8">
              <div class="d-flex flex-column justify-content-between fontMio"> 
                  <h4 class="text-info mt-2 ml-1"><i class="fa fa-chevron-right text-warning mr-1" aria-hidden="true"></i>{{v.vBtra}}</h4>
                  <h5 class="text-justify text-muted font-weight-bold ml-1">Escolaridad {{v.requisitos}}</h5>
                  <p class="text-justify ml-1">{{v.experiencia}}</p>
              </div> 
          </div>
        </div>
    </ng-template>
  </ng-container>
  </ngb-carousel>