<div class="card">

  <div class="card-body mat-elevation-z8">  
          <ng-scrollbar #scrollableP
          [trackX]="true"
          [trackY]="false"
          [invertX]="invertX"
          [invertY]="invertY"
          [compact]="compact"
          [shown]="shown"
          [disableOnBreakpoints]="false"
          [disabled]="disabled"> 
    

            <div style="width: 3000px; height: 350px; overflow: hidden;"> 
        <table ngClass="{{config.className || ''}}" class="table">
          <thead>
            <tr>
              <th *ngFor="let column of columns" ngClass="{{column.className || ''}}">
                <small>{{column.title | uppercase}}</small>
                <i *ngIf="config && column.sort" class="pull-right fa" (click)="changeSort($event, config)" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}">
                </i>
              </th>
            </tr>
            <tr *ngIf="showFilterRow">
              <th *ngFor="let column of columns">
                <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}" [ngTableFiltering]="column.filtering"
                  (tableChanged)="onChangeTable(config)" class="form-control form-control-sm" id="{{column.name}}">
              </th>
            </tr>

          </thead>
          <tbody>
              <ng-scrollbar #scrollable
              [invertX]="invertX"
              [invertY]="invertY"
              [trackX]="false"
              [trackY]="true"
              [compact]="compact"
              [shown]="shown"
              [disableOnBreakpoints]="false"
              [disabled]="disabled"> 
         <div>
            <tr *ngFor="let row of rows" [class.confident]="row.confidencial"
              [class.cancel]="row.estatusId == 8" [class.selected]="row.selected">
              <td class="text-left">
                {{row.folio}}
              </td>
              <td> {{row.fch_Solicitud | date:'dd/MM/yyyy'}}</td>
              <td>
                <ng-template #popTemplate>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="popover-body">
                        <ul *ngFor="let r of row.reclutadores">
                          <li class="text-muted">{{r.reclutador}}</li>
                        </ul>

                      </div>
                    </div>
                  </div>
                </ng-template>

                <span *ngIf="row.reclutadores.length == 0">{{row.propietario}}</span>
                <a *ngIf="row.reclutadores.length > 1" [popover]="popTemplate" placement="left"
                  container="body" triggers="mouseenter:mouseleave">{{row.reclutadores.length}}</a>
                <span *ngIf="row.reclutadores.length == 1">{{row.reclutadores[0].reclutador}}</span>

              </td>
              <td> {{row.sucursal }}</td>
              <td> {{row.cliente }}</td>
              <td> {{row.estado }}</td>
              <td> {{row.domicilio_trabajo}}</td>
              <td> {{row.solicita}}</td>
              <td class="text-center"><span class="px-1 mr-1 badge badge-pill badge-primary">{{row.vacantes}}</span></td>
              <td class="text-center"><span class="px-1 mr-1 badge badge-pill badge-warning"> {{row.porcentaje}} % </span></td>
              <td class="text-center"><span class="px-1 mr-1 badge badge-pill badge-info"> {{row.enProcesoEC}}</span></td>
              <td class="text-center"><span class="px-1 mr-1 badge badge-pill badge-info"> {{row.enProcesoFC}}</span></td>
              <td class="text-center"><span class="px-1 mr-1 badge badge-pill badge-success"> {{row.contratados}}</span></td>
              <td class="text-center"> {{row.vBtra}}</td>
              <td class="text-right"> {{row.sueldoMaximo | currency: $}}</td>
              <td>
                <small *ngIf="row.estatus.length < 10 else toLength" class="badge badge-pill badge-info"
                  [class.badge-warning]="row.estatusId  === 4" [class.badge-primary]="row.estatusId  === 5"
                  [class.badge-info]="row.estatusId  === 6 || row.estatusId >= 29" [class.badge-success]="row.estatusId  === 7"
                  [class.badge-danger]="row.estatusId  === 8">
                  {{row.estatus}}
                </small>

                <ng-template #toLength>
                  <small class="badge badge-pill badge-info" [class.badge-warning]="row.estatusId  === 4"
                    [class.badge-primary]="row.estatusId  === 5" [class.badge-info]="row.estatusId  === 6 || row.estatusId >= 29"
                    [class.badge-success]="row.estatusId  === 7" [class.badge-danger]="row.estatusId  === 8" placement="bottom"
                    tooltip="{{row.estatus | uppercase}}"> {{row.estatus | slice:0:8 | uppercase }} ...
                  </small>
                </ng-template>
              </td>
              <td>{{row.fch_Modificacion | date:'dd/MM/yyyy'}}</td>
              <td> {{row.tipoReclutamiento}}</td>    
              <td> {{row.claseReclutamiento}}</td>             
              <td> {{row.comentarios_solicitante}}</td>  
              <td> {{row.comentarios_reclutador}}</td>  
            </tr>
         
       
          </div>
              </ng-scrollbar>
          </tbody>

        </table>
 </div>
         </ng-scrollbar>
</div>


    <br>
    <div class="row">
      <div class="col-md-12 clearfix">
        <pagination *ngIf="config.paging" class="pagination-sm float-left" [(ngModel)]="page" [totalItems]="length"
          [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
          (numPages)="numPages = $event"></pagination>
        <pre *ngIf="config.paging" class="text-muted float-right"><small>P&aacute;gina: {{page}} / {{numPages}}  Total Registros: {{registros}}</small></pre>
      </div>
    </div>

</div>
<!--mensaje cuando esta vacio la tabla-->
<ng-template #NotCandidatos>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <alert type="info">
            <strong>Oops!</strong> A&uacute;n no cuentas con candidatos en proceso / apartados.
          </alert>
    </div>
  </div>
</ng-template>