<mat-form-field class="fieldautocomplete-full-width">
  <input matInput placeholder="Persona con discapacidad" aria-label="Personadiscapacidad" [matAutocomplete]="auto" [formControl]="pdiscapacidadCtrl" (blur)="SendIdPd()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let pdiscapacidad of filteredpdiscapacidad| async" [value]="pdiscapacidad.tipoDiscapacidad">
        <div class="row">
          <div class="col-md-4">
            <small>{{ pdiscapacidad.tipoDiscapacidad }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
