<form [formGroup]="PsicometriasArray">
  <section class="col-12">
    <!-- <em class="fa fa-close text-danger em-button" (click)="CancelarEscolaridad()"></em> -->
    <strong class="text-warning">Psicometr&iacute;as DAMSA</strong>
    <span class="fa fa-plus em-button text-primary float-right"
      (click)="AddPsicometria()"></span>
    <mat-divider></mat-divider>
  </section>
  <section>
    <div *ngFor="let psicometria of PsicometriasArray['controls'].psicometria['controls']; let i=index">
      <div formArrayName="psicometria">
        <form [formGroupName]="i">
          <app-pst-damsa [IdFormato]="IdFormato" [psicometria]="PsicometriasArray.controls.psicometria.controls[i]" [index]="i"
            (Add)="Agregar($event)" (remove)="removePsicometria($event)" (Registros)="getRegistros($event)">
          </app-pst-damsa>
        </form>
      </div>
    </div>
  </section>
</form>
