<mat-form-field class="fieldautocomplete-full-width">
  <input matInput placeholder="Tipo de licencia" aria-label="tplicencia" [matAutocomplete]="auto" [formControl]="tplicCtrl" (blur)="SendIdTpLic()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let tplicencia of filteredtplicencia| async" [value]="tplicencia.descripcion">
        <div class="row">
          <div class="col-md-4">
            <small>{{ tplicencia.descripcion }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
